my-workflow-2-Y7SOeUJk7FrsJibP.json
{"createdAt":"2025-07-04T03:31:22.207Z","updatedAt":"2025-07-04T03:36:19.000Z","id":"Y7SOeUJk7FrsJibP","name":"My workflow 2","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1980,320],"id":"bf70478c-6e0b-43eb-b302-442dbac10a29","name":"Gatilho Programado"},{"parameters":{"options":{}},"id":"1b17991d-26a4-40f3-b433-ae15ac6109a6","name":"Registrador de Data","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1760,320]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"c821a7df-6dee-46a8-b85a-d5e79dd0e402","name":"Formatador de Data","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1540,320]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"={{ $json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $json['Repository Name'] }}","mode":"name"},"filePath":"="},"id":"4fd68a12-24a0-441d-85c8-b4bea155cd22","name":"Listador de Arquivos","type":"n8n-nodes-base.github","typeVersion":1,"position":[-1100,320],"alwaysOutputData":true,"webhookId":"595c5180-b26e-4955-a7ef-161019309c98","credentials":{"githubOAuth2Api":{"id":"DDVN9y8faUK2xz3I","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"d7292407-6157-4237-ae30-d8385aeda84c","name":"Combinador de Arquivos","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-880,320]},{"parameters":{"filters":{},"requestOptions":{}},"id":"c37f7371-15d6-4eee-b3e1-deda5d9ca2f6","name":"Captura de Workflows","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-660,320],"credentials":{"n8nApi":{"id":"x3ExTTlnB3XUXUo7","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"622fc380-def5-44b9-aa82-440013c07c1b","name":"Conversão de Dados","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-440,320]},{"parameters":{"assignments":{"assignments":[{"id":"a1d52ea6-5912-4988-94c2-115ad59c1996","name":"Repository Owner","value":"aipracima","type":"string"},{"id":"1c15b2e1-bf09-4643-8bba-3215119d2d6b","name":"Repository Name","value":"dark","type":"string"},{"id":"712f49ff-8f02-4ac3-aee8-11db8ebe5843","name":"commitDate","value":"={{ $json.formattedDate }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1320,320],"id":"fddd1f27-b636-445c-8d03-3af07628fef0","name":"Edit Fields"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-220,320],"id":"f25e86ac-8b43-4163-b213-34be95c70703","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[0,0],"id":"d148a17c-391d-4d7f-a66a-e30c30d347c5","name":"No Operation, do nothing"},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combinador de Arquivos'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"a09c0bce-5236-4b7a-856a-42860b1ab859","name":"Verificação de Arquivo","type":"n8n-nodes-base.if","typeVersion":1,"position":[0,240]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{ $('Edit Fields').item.json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Edit Fields').item.json['Repository Name'] }}","mode":"name"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ $('Edit Fields').item.json.commitDate }}"},"id":"32fc04dd-0f30-4803-a40b-d612d5682ab2","name":"Atualizador de Arquivos","type":"n8n-nodes-base.github","typeVersion":1,"position":[220,320],"webhookId":"bd449cd0-e760-45ed-8626-953598ec6a3e","credentials":{"githubOAuth2Api":{"id":"DDVN9y8faUK2xz3I","name":"GitHub account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"={{ $('Edit Fields').item.json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Edit Fields').item.json['Repository Name'] }}","mode":"name"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ $('Edit Fields').item.json.commitDate }}"},"id":"5de2e623-dcef-4d8c-a8c4-40908ffc0bef","name":"Uploader de Arquivos","type":"n8n-nodes-base.github","typeVersion":1,"position":[220,520],"webhookId":"00e47570-1039-4bd1-8866-75c8b889ccfa","retryOnFail":true,"credentials":{"githubOAuth2Api":{"id":"DDVN9y8faUK2xz3I","name":"GitHub account"}}}],"connections":{"Gatilho Programado":{"main":[[{"node":"Registrador de Data","type":"main","index":0}]]},"Registrador de Data":{"main":[[{"node":"Formatador de Data","type":"main","index":0}]]},"Formatador de Data":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Listador de Arquivos":{"main":[[{"node":"Combinador de Arquivos","type":"main","index":0}]]},"Combinador de Arquivos":{"main":[[{"node":"Captura de Workflows","type":"main","index":0}]]},"Captura de Workflows":{"main":[[{"node":"Conversão de Dados","type":"main","index":0}]]},"Conversão de Dados":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Listador de Arquivos","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Verificação de Arquivo","type":"main","index":0}]]},"Verificação de Arquivo":{"main":[[{"node":"Atualizador de Arquivos","type":"main","index":0}],[{"node":"Uploader de Arquivos","type":"main","index":0}]]},"Atualizador de Arquivos":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Uploader de Arquivos":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Gatilho Programado":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f0cf6941-ffd3-45d4-80c1-f3e16ee082c5","triggerCount":1,"tags":[]}