wf02---reescreve-titulo---eng---@threadsfate-ZqP5gB8paa2caTV2.json
{"createdAt":"2025-06-22T12:06:43.550Z","updatedAt":"2025-06-28T14:22:55.000Z","id":"ZqP5gB8paa2caTV2","name":"WF02 - REESCREVE TITULO - ENG - @threadsfate","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"getAll","tableId":"Humilhação em Transporte Familiar","returnAll":true},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[220,460],"id":"c69f5d12-0a9e-421c-a48e-b00edc3a390f","name":"Buscar Títulos do Banco de Dados","credentials":{"supabaseApi":{"id":"rCOnRzljvfnK8IL8","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d8b02342-4479-48a1-bba6-407f096191a5","leftValue":"={{ $json.en }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[440,400],"id":"0fa5a6e6-25ff-4ad4-a9b7-c2d7d4f0673b","name":"Filtrar Títulos Não Processados"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[660,400],"id":"f6383cb8-fcdd-46a1-9aa2-43d85b575517","name":"Selecionar Um Título por Vez"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=COPIE O TITULO NA INTEGRA."},{"content":"={{ $json.title }}","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[880,400],"id":"b9147e5a-1841-40cb-94f4-d3cc551d41d6","name":" Gerar Título Sensacionalista","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84c3207c-9512-4e47-845b-59c4beb13873","leftValue":"={{ $json.message.content.length }}","rightValue":100,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1480,320],"id":"15d0589d-5ee9-45c6-964a-9d92dabc99ad","name":"Verificar Tamanho do Título"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=# Gerador Automático de Premissas Narrativas\n\nVocê é um sofisticado gerador de premissas narrativas. Ao receber uma frase do usuário, execute automaticamente todas as seguintes etapas internamente. O processo deve ocorrer sem solicitar interação do usuário, e apenas a premissa final deve ser apresentada como resultado.\n\n## PROCESSO AUTOMÁTICO DE TRANSFORMAÇÃO (INTERNO):\n\n### ETAPA 01: CONSTRUÇÃO DO CONCEITO BASE\n- **História obrigatoriamente em primeira pessoa, com uma mulher como narradora**\n- Transforme a frase original em um conceito narrativo central\n- Identifique o potencial dramático e os elementos que podem ser expandidos\n- Esta etapa serve de estrutura para o desenvolvimento da premissa\n\n### ETAPA 02: DESENVOLVIMENTO DO RESUMO INICIAL\n- **História obrigatoriamente em primeira pessoa, com uma mulher como narradora**\n- Expanda o conceito em um resumo inicial de um parágrafo\n- Incorpore elementos de um dos cinco grupos temáticos:\n  1. Vulnerabilidade e Impacto Social\n  2. Sobrenatural e Coincidências\n  3. Segredos Familiares\n  4. Transformação Pessoal\n  5. Compromissos Surpreendentes\n- Adicione personagens bem definidos\n- Estabeleça um contexto específico\n- Crie uma situação dramática inicial\n\n### ETAPA 03: IDENTIFICAÇÃO DE ELEMENTOS AUSENTES\n- Analise o resumo inicial e identifique:\n  - Conflitos pouco desenvolvidos\n  - Motivações superficiais dos personagens\n  - Reviravoltas insuficientes\n  - Elementos de tensão ausentes\n  - Potencial dramático inexplorado\n  - Conexões emocionais fracas\n\n### ETAPA 04: ENRIQUECIMENTO DA PREMISSA\n- **História obrigatoriamente em primeira pessoa, com uma mulher como narradora**\n- Reescreva o resumo incorporando os elementos identificados como ausentes\n- Adicione:\n  - Um conflito interno para o protagonista\n  - Um antagonista ou força de oposição clara\n  - Uma reviravolta central inesperada\n  - Consequências emocionais significativas\n  - Um elemento de mistério ou segredo a ser revelado\n  - Stakes (o que está em jogo) elevados e pessoais\n\n### ETAPA 05: REFINAMENTO E INTENSIFICAÇÃO\n- **Garantir que a narrativa permaneça em primeira pessoa com narradora feminina**\n- Aprimorar a premissa para maximizar impacto emocional e narrativo:\n  - Fortalecer motivações dos personagens\n  - Intensificar conflitos\n  - Tornar reviravoltas mais surpreendentes\n  - Elevar consequências e riscos\n  - Aprofundar conexões entre personagens\n  - Adicionar camadas de complexidade à situação principal\n\n### ETAPA 06: FINALIZAÇÃO DA PREMISSA\n- **História obrigatoriamente em primeira pessoa, com uma mulher como narradora**\n- Reescrever a premissa como texto corrido fluido e envolvente\n- Garantir equilíbrio entre:\n  - Profundidade emocional e psicológica\n  - Plausibilidade dentro do mundo da história\n  - Potencial para desenvolvimento narrativo\n  - Clareza da linha narrativa principal\n  - Gancho final que estimula curiosidade\n\n### ETAPA 07: POLIMENTO FINAL\n- **Confirmar que a narrativa está estruturada em primeira pessoa com protagonista feminina**\n- Revisar a premissa completa, garantindo:\n  - Ritmo narrativo fluido\n  - Ausência de inconsistências internas\n  - Linguagem vívida e envolvente\n  - Coerência temática\n  - Impacto emocional máximo\n  - Originalidade e frescor na abordagem\n\n**Apresente ao usuário SOMENTE a premissa final completa em texto corrido (resultado da Etapa 07). Não inclua título, explicações, etapas intermediárias ou qualquer outro elemento além da premissa em si.**"},{"content":"=Título: '{{ $json.message.content }}',\nResumo: '{{ $('Selecionar Um Título por Vez').item.json.resume }}'.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1700,260],"id":"6edfe930-0d97-4040-ab58-c5ab8efb420a","name":"Criar Premissa Narrativa","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"operation":"update","tableId":"Humilhação em Transporte Familiar","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Selecionar Um Título por Vez').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"en","fieldValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2080,260],"id":"dc4b6cba-0572-40f3-b645-dbff83ca7469","name":"Marcar Título como Processado","credentials":{"supabaseApi":{"id":"rCOnRzljvfnK8IL8","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"48754bcf-db07-4dbb-9d03-7d71f6000f93","name":"título","value":"={{ $(' Gerar Título Sensacionalista').item.json.message.content }}","type":"string"},{"id":"43af08df-430c-4eb2-80b8-69c994358632","name":"premissa","value":"={{ $('Criar Premissa Narrativa').item.json.message.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2300,260],"id":"fbc9089d-22e0-4813-ac17-d82663290780","name":"Organizar Título e Premissa"},{"parameters":{"workflowId":{"__rl":true,"value":"YvmX2kkBpqvNPK4D","mode":"list","cachedResultName":"WF03 - CRIAR ROTEIRO - ENG - @"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2520,260],"id":"60a263ce-a5cb-4011-b8b2-d4e5df512720","name":"Iniciar Criação de Roteiro"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1780,520],"id":"b7989eef-9a49-4a4a-8b50-9a8317d98485","name":"Aguardar e Reiniciar Processo","webhookId":"129ae251-69ae-4186-8946-a7911eb7543a"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,0],"id":"f425007e-f39b-4d3b-a60e-d26007d9b57c","name":"Detector de Falhas","disabled":true},{"parameters":{"chatId":"-1002628528187","text":"=02 - REESCREVE TÍTULOS - PT","additionalFields":{"appendAttribution":false,"message_thread_id":3}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[220,0],"id":"032869b2-7b10-4dda-8e37-ce40905a3b29","name":"Notificação de Erro no Telegram","webhookId":"e2a8bd44-c8ac-43a3-a171-cce89193e534","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"89158140-3df0-4eaa-ac2b-f829796ad08e","leftValue":"={{ $json.message.content }}","rightValue":"MILIONÁRIO","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1260,400],"id":"342c1dc4-0e9a-4682-b23d-7c99a4f49a31","name":"Verificar Palavra-chave no Título","disabled":true},{"parameters":{"rule":{"interval":[{"triggerAtMinute":3},{"triggerAtHour":8,"triggerAtMinute":3},{"triggerAtHour":16,"triggerAtMinute":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,460],"id":"eb36354c-f4b3-4e53-8581-788459b12d44","name":"00:03"}],"connections":{"Buscar Títulos do Banco de Dados":{"main":[[{"node":"Filtrar Títulos Não Processados","type":"main","index":0}]]},"Filtrar Títulos Não Processados":{"main":[[{"node":"Selecionar Um Título por Vez","type":"main","index":0}]]},"Selecionar Um Título por Vez":{"main":[[{"node":" Gerar Título Sensacionalista","type":"main","index":0}]]}," Gerar Título Sensacionalista":{"main":[[{"node":"Verificar Palavra-chave no Título","type":"main","index":0}]]},"Verificar Tamanho do Título":{"main":[[{"node":"Criar Premissa Narrativa","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]},"Criar Premissa Narrativa":{"main":[[{"node":"Marcar Título como Processado","type":"main","index":0}]]},"Marcar Título como Processado":{"main":[[{"node":"Organizar Título e Premissa","type":"main","index":0}]]},"Organizar Título e Premissa":{"main":[[{"node":"Iniciar Criação de Roteiro","type":"main","index":0}]]},"Aguardar e Reiniciar Processo":{"main":[[{"node":"Buscar Títulos do Banco de Dados","type":"main","index":0}]]},"Detector de Falhas":{"main":[[{"node":"Notificação de Erro no Telegram","type":"main","index":0}]]},"Verificar Palavra-chave no Título":{"main":[[{"node":"Verificar Tamanho do Título","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]},"00:03":{"main":[[{"node":"Buscar Títulos do Banco de Dados","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:06:27":{"recurrenceRules":[]},"node:00:03":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"e75a71ff-ce9f-44cd-b93d-f1145a87cec8","triggerCount":1,"tags":[]}