wf02---reescreve-titulo---eng---@threadsfate-manhã-2-XRQKcWLxgnuziV0D.json
{"createdAt":"2025-06-25T02:04:27.184Z","updatedAt":"2025-06-25T03:32:23.000Z","id":"XRQKcWLxgnuziV0D","name":"WF02 - REESCREVE TITULO - ENG - @threadsfate MANHÃ 2","active":false,"isArchived":true,"nodes":[{"parameters":{"operation":"getAll","tableId":"NICHO 01 - Humilhação em Transporte Familiar","returnAll":true},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[220,460],"id":"727a63ca-33a8-4997-a605-a3ac426a9a28","name":"Buscar Títulos do Banco de Dados","credentials":{"supabaseApi":{"id":"rCOnRzljvfnK8IL8","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d8b02342-4479-48a1-bba6-407f096191a5","leftValue":"={{ $json.en }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[440,400],"id":"171bed60-c615-4451-b90b-d145aabc7972","name":"Filtrar Títulos Não Processados"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[660,400],"id":"fc7ef21b-d144-42f9-8e5d-3762373cfdc9","name":"Selecionar Um Título por Vez"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=COPIE O TITULO NA INTEGRA."},{"content":"={{ $json.title }}","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[880,400],"id":"c1152549-a140-452a-8e5e-edf5898c36ee","name":" Gerar Título Sensacionalista","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84c3207c-9512-4e47-845b-59c4beb13873","leftValue":"={{ $json.message.content.length }}","rightValue":100,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1480,320],"id":"61f78bc3-a291-42c5-ae39-71eee03931c5","name":"Verificar Tamanho do Título"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=# Gerador Automático de Premissas Narrativas\n\nVocê é um sofisticado gerador de premissas narrativas. Ao receber uma frase do usuário, execute automaticamente todas as seguintes etapas internamente. O processo deve ocorrer sem solicitar interação do usuário, e apenas a premissa final deve ser apresentada como resultado.\n\nPROCESSO AUTOMÁTICO DE TRANSFORMAÇÃO (INTERNO):\n\nETAPA 01: CONSTRUÇÃO DO CONCEITO BASE\n- História em primeira pessoa, com uma mulher como narradora\n- Transforme a frase original em um conceito narrativo central\n- Identifique o potencial dramático e os elementos que podem ser expandidos\n- Esta etapa serve de estrutura para o desenvolvimento da premissa\n\nETAPA 02: DESENVOLVIMENTO DO RESUMO INICIAL\n- História em primeira pessoa, com uma mulher como narradora\n- Expanda o conceito em um resumo inicial de um parágrafo\n- Incorpore elementos de um dos cinco grupos temáticos:\n  1. Vulnerabilidade e Impacto Social\n  2. Sobrenatural e Coincidências\n  3. Segredos Familiares\n  4. Transformação Pessoal\n  5. Compromissos Surpreendentes\n- Adicione personagens bem definidos\n- Estabeleça um contexto específico\n- Crie uma situação dramática inicial\n\nETAPA 03: IDENTIFICAÇÃO DE ELEMENTOS AUSENTES\n- Analise o resumo inicial e identifique:\n  - Conflitos pouco desenvolvidos\n  - Motivações superficiais dos personagens\n  - Reviravoltas insuficientes\n  - Elementos de tensão ausentes\n  - Potencial dramático inexplorado\n  - Conexões emocionais fracas\n\nETAPA 04: ENRIQUECIMENTO DA PREMISSA\n- História em primeira pessoa, com uma mulher como narradora\n- Reescreva o resumo incorporando os elementos identificados como ausentes\n- Adicione:\n  - Um conflito interno para o protagonista\n  - Um antagonista ou força de oposição clara\n  - Uma reviravolta central inesperada\n  - Consequências emocionais significativas\n  - Um elemento de mistério ou segredo a ser revelado\n  - Stakes (o que está em jogo) elevados e pessoais\n\nETAPA 05: REFINAMENTO E INTENSIFICAÇÃO\n- Aprimorar a premissa para maximizar impacto emocional e narrativo:\n  - Fortalecer motivações dos personagens\n  - Intensificar conflitos\n  - Tornar reviravoltas mais surpreendentes\n  - Elevar consequências e riscos\n  - Aprofundar conexões entre personagens\n  - Adicionar camadas de complexidade à situação principal\n\nETAPA 06: FINALIZAÇÃO DA PREMISSA\n- História em primeira pessoa, com uma mulher como narradora\n- Reescrever a premissa como texto corrido fluido e envolvente\n- Garantir equilíbrio entre:\n  - Profundidade emocional e psicológica\n  - Plausibilidade dentro do mundo da história\n  - Potencial para desenvolvimento narrativo\n  - Clareza da linha narrativa principal\n  - Gancho final que estimula curiosidade\n\nETAPA 07: POLIMENTO FINAL\n- Revisar a premissa completa, garantindo:\n  - Ritmo narrativo fluido\n  - Ausência de inconsistências internas\n  - Linguagem vívida e envolvente\n  - Coerência temática\n  - Impacto emocional máximo\n  - Originalidade e frescor na abordagem\n\nApresente ao usuário SOMENTE a premissa final completa em texto corrido (resultado da Etapa 07). Não inclua título, explicações, etapas intermediárias ou qualquer outro elemento além da premissa em si."},{"content":"=Título: '{{ $json.message.content }}',\nResumo: '{{ $('Selecionar Um Título por Vez').item.json.resume }}'.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1700,260],"id":"e7098aec-3197-445f-9ba7-8f7b36422e67","name":"Criar Premissa Narrativa","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"operation":"update","tableId":"NICHO 01 - Humilhação em Transporte Familiar","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Selecionar Um Título por Vez').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"en","fieldValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2080,260],"id":"faefab68-f9b3-45bf-abc1-ec78bff48e45","name":"Marcar Título como Processado","credentials":{"supabaseApi":{"id":"rCOnRzljvfnK8IL8","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"48754bcf-db07-4dbb-9d03-7d71f6000f93","name":"título","value":"={{ $(' Gerar Título Sensacionalista').item.json.message.content }}","type":"string"},{"id":"43af08df-430c-4eb2-80b8-69c994358632","name":"premissa","value":"={{ $('Criar Premissa Narrativa').item.json.message.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2300,260],"id":"dd0bd0fe-d3a6-4054-82d5-e1ecbc6569cf","name":"Organizar Título e Premissa"},{"parameters":{"workflowId":{"__rl":true,"value":"YvmX2kkBpqvNPK4D","mode":"list","cachedResultName":"WF03 - CRIAR ROTEIRO - ENG - @"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2520,260],"id":"3a9fbedd-7340-4bc7-a59d-67b99d04d2d3","name":"Iniciar Criação de Roteiro"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1780,520],"id":"4c50d0ad-a9ea-436a-9a1e-bd5408b1fa7b","name":"Aguardar e Reiniciar Processo","webhookId":"08d4e71e-8754-49ec-bd90-cae8e0296179"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,0],"id":"a29d1422-7fe9-4121-9eee-dd034a52927a","name":"Detector de Falhas","disabled":true},{"parameters":{"chatId":"-1002628528187","text":"=02 - REESCREVE TÍTULOS - PT","additionalFields":{"appendAttribution":false,"message_thread_id":3}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[220,0],"id":"612b48b2-05f4-4435-8780-c0a021a94615","name":"Notificação de Erro no Telegram","webhookId":"83a64e27-1f5c-406f-bee0-026b3cc8c93a","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"89158140-3df0-4eaa-ac2b-f829796ad08e","leftValue":"={{ $json.message.content }}","rightValue":"MILIONÁRIO","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1260,400],"id":"2a7d68d5-ae09-4430-987c-13f69759d50c","name":"Verificar Palavra-chave no Título","disabled":true},{"parameters":{"rule":{"interval":[{"triggerAtHour":8,"triggerAtMinute":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,460],"id":"6478ba42-6933-4041-bfcd-701e03c928e7","name":"08:03"}],"connections":{"Buscar Títulos do Banco de Dados":{"main":[[{"node":"Filtrar Títulos Não Processados","type":"main","index":0}]]},"Filtrar Títulos Não Processados":{"main":[[{"node":"Selecionar Um Título por Vez","type":"main","index":0}]]},"Selecionar Um Título por Vez":{"main":[[{"node":" Gerar Título Sensacionalista","type":"main","index":0}]]}," Gerar Título Sensacionalista":{"main":[[{"node":"Verificar Palavra-chave no Título","type":"main","index":0}]]},"Verificar Tamanho do Título":{"main":[[{"node":"Criar Premissa Narrativa","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]},"Criar Premissa Narrativa":{"main":[[{"node":"Marcar Título como Processado","type":"main","index":0}]]},"Marcar Título como Processado":{"main":[[{"node":"Organizar Título e Premissa","type":"main","index":0}]]},"Organizar Título e Premissa":{"main":[[{"node":"Iniciar Criação de Roteiro","type":"main","index":0}]]},"Aguardar e Reiniciar Processo":{"main":[[{"node":"Buscar Títulos do Banco de Dados","type":"main","index":0}]]},"Detector de Falhas":{"main":[[{"node":"Notificação de Erro no Telegram","type":"main","index":0}]]},"Verificar Palavra-chave no Título":{"main":[[{"node":"Verificar Tamanho do Título","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]},"08:03":{"main":[[{"node":"Buscar Títulos do Banco de Dados","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:06:27":{"recurrenceRules":[]},"node:08:03":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"835d9cec-697d-4191-875a-673c83e6a0c9","triggerCount":1,"tags":[]}