wf02---reescreve-titulo---filip---@nextchaptertalesx-AnD7BPq6s2QMOe0H.json
{"createdAt":"2025-06-27T19:58:09.133Z","updatedAt":"2025-07-03T01:03:56.000Z","id":"AnD7BPq6s2QMOe0H","name":"WF02 - REESCREVE TITULO - FILIP - @NextChapterTalesx","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"getAll","tableId":"C03 - FILIPINO","returnAll":true},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[220,460],"id":"efc910c5-57be-47d6-b860-97ed4445c64f","name":"Buscar Títulos do Banco de Dados","credentials":{"supabaseApi":{"id":"rCOnRzljvfnK8IL8","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d8b02342-4479-48a1-bba6-407f096191a5","leftValue":"={{ $json.tl }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[440,400],"id":"3794fa74-88d8-4f0c-b41c-1b13bade9226","name":"Filtrar Títulos Não Processados"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[660,400],"id":"442da3f5-a23f-4ecb-8ccf-1fc8820451bc","name":"Selecionar Um Título por Vez"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=COPIE O TITULO NA INTEGRA."},{"content":"={{ $json.title }}","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[880,400],"id":"97b7bc99-71ea-4a23-8357-2ff8702dc654","name":" Gerar Título Sensacionalista","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84c3207c-9512-4e47-845b-59c4beb13873","leftValue":"={{ $json.message.content.length }}","rightValue":100,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1480,320],"id":"8850e24a-ff8c-4297-96b8-7a07ea9d0b6b","name":"Verificar Tamanho do Título"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\n# Gerador Automático de Premissas Narrativas\n\nVocê é um sofisticado gerador de premissas narrativas. Ao receber uma frase do usuário, execute automaticamente todas as seguintes etapas internamente. O processo deve ocorrer sem solicitar interação do usuário, e apenas a premissa final deve ser apresentada como resultado.\n\n## PROCESSO AUTOMÁTICO DE TRANSFORMAÇÃO (INTERNO):\n\n### ETAPA 01: CONSTRUÇÃO DO CONCEITO BASE\n\n* **História obrigatoriamente em terceira pessoa**\n* Transforme a frase original em um conceito narrativo central\n* Identifique o potencial dramático e os elementos que podem ser expandidos\n* Esta etapa serve de estrutura para o desenvolvimento da premissa\n\n### ETAPA 02: DESENVOLVIMENTO DO RESUMO INICIAL\n\n* **História obrigatoriamente em terceira pessoa**\n* Expanda o conceito em um resumo inicial de um parágrafo\n* Incorpore elementos de um dos cinco grupos temáticos:\n\n  1. Lendas e Mistérios Antigos\n  2. Encontros Sobrenaturais\n  3. Tradições e Segredos Ancestrais\n  4. Maldições e Promessas Quebradas\n  5. Espíritos, Criaturas e Entidades Esquecidas\n* Adicione personagens bem definidos\n* Estabeleça um contexto específico (temporal, geográfico, cultural)\n* Crie uma situação dramática inicial\n\n### ETAPA 03: IDENTIFICAÇÃO DE ELEMENTOS AUSENTES\n\n* Analise o resumo inicial e identifique:\n\n  * Conflitos pouco desenvolvidos\n  * Motivações superficiais dos personagens\n  * Reviravoltas insuficientes\n  * Elementos de tensão ausentes\n  * Potencial dramático inexplorado\n  * Conexões emocionais ou míticas fracas\n\n### ETAPA 04: ENRIQUECIMENTO DA PREMISSA\n\n* **História obrigatoriamente em terceira pessoa**\n* Reescreva o resumo incorporando os elementos identificados como ausentes\n* Adicione:\n\n  * Um conflito interno ou ancestral para o protagonista\n  * Um antagonista ou força mística de oposição clara\n  * Uma reviravolta central inesperada\n  * Consequências emocionais ou espirituais significativas\n  * Um elemento de mistério, lenda ou segredo a ser revelado\n  * Stakes elevados: pessoais, familiares, comunitários ou míticos\n\n### ETAPA 05: REFINAMENTO E INTENSIFICAÇÃO\n\n* **Garantir que a narrativa permaneça em terceira pessoa**\n* Aprimorar a premissa para maximizar impacto emocional e mitológico:\n\n  * Fortalecer motivações dos personagens\n  * Intensificar conflitos e dilemas\n  * Tornar reviravoltas mais surpreendentes\n  * Elevar consequências e riscos (inclusive sobrenaturais)\n  * Aprofundar conexões entre personagens e a lenda em questão\n  * Adicionar camadas de complexidade simbólica ou mística à situação principal\n\n### ETAPA 06: FINALIZAÇÃO DA PREMISSA\n\n* **História obrigatoriamente em terceira pessoa**\n* Reescrever a premissa como texto corrido fluido e envolvente\n* Garantir equilíbrio entre:\n\n  * Profundidade emocional e simbólica\n  * Plausibilidade dentro do universo narrativo\n  * Potencial para desenvolvimento épico ou intimista\n  * Clareza da linha narrativa principal\n  * Gancho final que estimula curiosidade\n\n### ETAPA 07: POLIMENTO FINAL\n\n* **Confirmar que a narrativa está estruturada em terceira pessoa**\n* Revisar a premissa completa, garantindo:\n\n  * Ritmo narrativo fluido\n  * Ausência de inconsistências internas\n  * Linguagem vívida e evocativa\n  * Coerência temática e mitológica\n  * Impacto emocional e narrativo máximo\n  * Originalidade e frescor na abordagem da lenda\n\n**Apresente ao usuário SOMENTE a premissa final completa em texto corrido (resultado da Etapa 07). Não inclua título, explicações, etapas intermediárias ou qualquer outro elemento além da premissa em si.**\n\n---\n\nSe quiser, já posso começar gerando uma premissa com base em uma frase que você me enviar. Deseja testar?\n"},{"content":"=Título: '{{ $json.message.content }}',\nResumo: '{{ $('Selecionar Um Título por Vez').item.json.resume }}'.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1700,260],"id":"46dbd7d5-c748-4629-a728-07a303f7fa40","name":"Criar Premissa Narrativa","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"operation":"update","tableId":"C03 - FILIPINO","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Selecionar Um Título por Vez').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"tl","fieldValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2080,260],"id":"e1fe70e8-c1fe-423c-9dca-92989d0b7a56","name":"Marcar Título como Processado","credentials":{"supabaseApi":{"id":"rCOnRzljvfnK8IL8","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"48754bcf-db07-4dbb-9d03-7d71f6000f93","name":"título","value":"={{ $(' Gerar Título Sensacionalista').item.json.message.content }}","type":"string"},{"id":"43af08df-430c-4eb2-80b8-69c994358632","name":"premissa","value":"={{ $('Criar Premissa Narrativa').item.json.message.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2300,260],"id":"6a79366e-4aae-49f5-bbef-afd7c4bc3c3d","name":"Organizar Título e Premissa"},{"parameters":{"workflowId":{"__rl":true,"value":"5DxlWOM9NQ10KyTp","mode":"list","cachedResultName":"WF03 - CRIAR ROTEIRO - FILIP  - @NextChapterTalesx"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2520,260],"id":"cf2882d3-3a08-44a7-a65f-1fcc983de9a0","name":"Iniciar Criação de Roteiro"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1780,520],"id":"f4190ec5-03e1-4dbe-b43e-3295bf160d0e","name":"Aguardar e Reiniciar Processo","webhookId":"d735c44b-116a-45a3-9c22-398b4acbe54c"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,0],"id":"7632c99d-4699-4010-bff5-e759748f971e","name":"Detector de Falhas","disabled":true},{"parameters":{"chatId":"-1002628528187","text":"=02 - REESCREVE TÍTULOS - PT","additionalFields":{"appendAttribution":false,"message_thread_id":3}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[220,0],"id":"33d61dc1-0129-4595-887a-ff025c1d6d70","name":"Notificação de Erro no Telegram","webhookId":"696bdfd0-909e-460e-97a1-33791032e6c1","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"89158140-3df0-4eaa-ac2b-f829796ad08e","leftValue":"={{ $json.message.content }}","rightValue":"MILIONÁRIO","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1260,400],"id":"5e73ee51-71db-4523-a594-40a71b21e722","name":"Verificar Palavra-chave no Título","disabled":true},{"parameters":{"rule":{"interval":[{"triggerAtMinute":10},{"triggerAtHour":6,"triggerAtMinute":35}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,460],"id":"7e0908ff-e9d5-46d2-a4ba-95371b29a904","name":"00:03"}],"connections":{"Buscar Títulos do Banco de Dados":{"main":[[{"node":"Filtrar Títulos Não Processados","type":"main","index":0}]]},"Filtrar Títulos Não Processados":{"main":[[{"node":"Selecionar Um Título por Vez","type":"main","index":0}]]},"Selecionar Um Título por Vez":{"main":[[{"node":" Gerar Título Sensacionalista","type":"main","index":0}]]}," Gerar Título Sensacionalista":{"main":[[{"node":"Verificar Palavra-chave no Título","type":"main","index":0}]]},"Verificar Tamanho do Título":{"main":[[{"node":"Criar Premissa Narrativa","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]},"Criar Premissa Narrativa":{"main":[[{"node":"Marcar Título como Processado","type":"main","index":0}]]},"Marcar Título como Processado":{"main":[[{"node":"Organizar Título e Premissa","type":"main","index":0}]]},"Organizar Título e Premissa":{"main":[[{"node":"Iniciar Criação de Roteiro","type":"main","index":0}]]},"Aguardar e Reiniciar Processo":{"main":[[{"node":"Buscar Títulos do Banco de Dados","type":"main","index":0}]]},"Detector de Falhas":{"main":[[{"node":"Notificação de Erro no Telegram","type":"main","index":0}]]},"Verificar Palavra-chave no Título":{"main":[[{"node":"Verificar Tamanho do Título","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]},"00:03":{"main":[[{"node":"Buscar Títulos do Banco de Dados","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:06:27":{"recurrenceRules":[]},"node:00:03":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"bfc7e7c4-25a7-44f4-abf4-66babfa40e7f","triggerCount":1,"tags":[]}