wf02---reescreve-titulo---eng---@wavestruth-5QeL7h5zhRsanI0i.json
{"createdAt":"2025-06-25T00:38:02.886Z","updatedAt":"2025-06-28T14:22:45.000Z","id":"5QeL7h5zhRsanI0i","name":"WF02 - REESCREVE TITULO - ENG - @wavestruth","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"getAll","tableId":"Humilhação Durante Refeição Familiar + Retirada Digna","returnAll":true},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[220,460],"id":"6f8f3373-a9c9-4e8b-9c08-76632f42768e","name":"Buscar Títulos do Banco de Dados","credentials":{"supabaseApi":{"id":"rCOnRzljvfnK8IL8","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d8b02342-4479-48a1-bba6-407f096191a5","leftValue":"={{ $json.en }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[440,400],"id":"4d1f2a8f-7589-407c-970d-0794230a28de","name":"Filtrar Títulos Não Processados"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[660,400],"id":"246310ba-c01d-426b-934a-849168c016dc","name":"Selecionar Um Título por Vez"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=COPIE O TITULO NA INTEGRA."},{"content":"={{ $json.title }}","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[880,400],"id":"24611606-074a-4314-b8f8-9cbb0d7b6e40","name":" Gerar Título Sensacionalista","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84c3207c-9512-4e47-845b-59c4beb13873","leftValue":"={{ $json.message.content.length }}","rightValue":100,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1480,320],"id":"809cb5e5-f355-4b85-977b-7c3487bf633d","name":"Verificar Tamanho do Título"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=# Gerador Automático de Premissas Narrativas\n\nVocê é um sofisticado gerador de premissas narrativas. Ao receber uma frase do usuário, execute automaticamente todas as seguintes etapas internamente. O processo deve ocorrer sem solicitar interação do usuário, e apenas a premissa final deve ser apresentada como resultado.\n\n## PROCESSO AUTOMÁTICO DE TRANSFORMAÇÃO (INTERNO):\n\n### ETAPA 01: CONSTRUÇÃO DO CONCEITO BASE\n- **História obrigatoriamente em primeira pessoa, com uma mulher como narradora**\n- Transforme a frase original em um conceito narrativo central\n- Identifique o potencial dramático e os elementos que podem ser expandidos\n- Esta etapa serve de estrutura para o desenvolvimento da premissa\n\n### ETAPA 02: DESENVOLVIMENTO DO RESUMO INICIAL\n- **História obrigatoriamente em primeira pessoa, com uma mulher como narradora**\n- Expanda o conceito em um resumo inicial de um parágrafo\n- Incorpore elementos de um dos cinco grupos temáticos:\n  1. Vulnerabilidade e Impacto Social\n  2. Sobrenatural e Coincidências\n  3. Segredos Familiares\n  4. Transformação Pessoal\n  5. Compromissos Surpreendentes\n- Adicione personagens bem definidos\n- Estabeleça um contexto específico\n- Crie uma situação dramática inicial\n\n### ETAPA 03: IDENTIFICAÇÃO DE ELEMENTOS AUSENTES\n- Analise o resumo inicial e identifique:\n  - Conflitos pouco desenvolvidos\n  - Motivações superficiais dos personagens\n  - Reviravoltas insuficientes\n  - Elementos de tensão ausentes\n  - Potencial dramático inexplorado\n  - Conexões emocionais fracas\n\n### ETAPA 04: ENRIQUECIMENTO DA PREMISSA\n- **História obrigatoriamente em primeira pessoa, com uma mulher como narradora**\n- Reescreva o resumo incorporando os elementos identificados como ausentes\n- Adicione:\n  - Um conflito interno para o protagonista\n  - Um antagonista ou força de oposição clara\n  - Uma reviravolta central inesperada\n  - Consequências emocionais significativas\n  - Um elemento de mistério ou segredo a ser revelado\n  - Stakes (o que está em jogo) elevados e pessoais\n\n### ETAPA 05: REFINAMENTO E INTENSIFICAÇÃO\n- **Garantir que a narrativa permaneça em primeira pessoa com narradora feminina**\n- Aprimorar a premissa para maximizar impacto emocional e narrativo:\n  - Fortalecer motivações dos personagens\n  - Intensificar conflitos\n  - Tornar reviravoltas mais surpreendentes\n  - Elevar consequências e riscos\n  - Aprofundar conexões entre personagens\n  - Adicionar camadas de complexidade à situação principal\n\n### ETAPA 06: FINALIZAÇÃO DA PREMISSA\n- **História obrigatoriamente em primeira pessoa, com uma mulher como narradora**\n- Reescrever a premissa como texto corrido fluido e envolvente\n- Garantir equilíbrio entre:\n  - Profundidade emocional e psicológica\n  - Plausibilidade dentro do mundo da história\n  - Potencial para desenvolvimento narrativo\n  - Clareza da linha narrativa principal\n  - Gancho final que estimula curiosidade\n\n### ETAPA 07: POLIMENTO FINAL\n- **Confirmar que a narrativa está estruturada em primeira pessoa com protagonista feminina**\n- Revisar a premissa completa, garantindo:\n  - Ritmo narrativo fluido\n  - Ausência de inconsistências internas\n  - Linguagem vívida e envolvente\n  - Coerência temática\n  - Impacto emocional máximo\n  - Originalidade e frescor na abordagem\n\n**Apresente ao usuário SOMENTE a premissa final completa em texto corrido (resultado da Etapa 07). Não inclua título, explicações, etapas intermediárias ou qualquer outro elemento além da premissa em si.**"},{"content":"=Título: '{{ $json.message.content }}',\nResumo: '{{ $('Selecionar Um Título por Vez').item.json.resume }}'.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1700,260],"id":"8dd1e394-2894-47e4-9b60-8bd6ec103cee","name":"Criar Premissa Narrativa","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"operation":"update","tableId":"Humilhação Durante Refeição Familiar + Retirada Digna","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Selecionar Um Título por Vez').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"en","fieldValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2080,260],"id":"0f9ce809-5df4-49c1-992a-e376db48c2ce","name":"Marcar Título como Processado","credentials":{"supabaseApi":{"id":"rCOnRzljvfnK8IL8","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"48754bcf-db07-4dbb-9d03-7d71f6000f93","name":"título","value":"={{ $(' Gerar Título Sensacionalista').item.json.message.content }}","type":"string"},{"id":"43af08df-430c-4eb2-80b8-69c994358632","name":"premissa","value":"={{ $('Criar Premissa Narrativa').item.json.message.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2300,260],"id":"9f359fd0-ad67-4f44-a66d-45e67fe8aff2","name":"Organizar Título e Premissa"},{"parameters":{"workflowId":{"__rl":true,"value":"0YxI0D6aQFdAaeqU","mode":"list","cachedResultName":"WF03 - CRIAR ROTEIRO - ENG - @threadsfate copy"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2520,260],"id":"0844c1ea-4955-4aee-ad6c-049249acd8ac","name":"Iniciar Criação de Roteiro"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1780,520],"id":"0f20d047-57e2-4f5f-a6c0-ac4ddeb11c7d","name":"Aguardar e Reiniciar Processo","webhookId":"a0d2f522-2e24-4fbf-bd80-e1df935f12ad"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,0],"id":"f42aa8ee-c124-4a07-bfb0-d0a5904be047","name":"Detector de Falhas","disabled":true},{"parameters":{"chatId":"-1002628528187","text":"=02 - REESCREVE TÍTULOS - PT","additionalFields":{"appendAttribution":false,"message_thread_id":3}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[220,0],"id":"d10af85e-f1bd-42de-a175-c80b34d94158","name":"Notificação de Erro no Telegram","webhookId":"ff0f2131-fc7f-4e26-9ebc-85ec63b21c54","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"89158140-3df0-4eaa-ac2b-f829796ad08e","leftValue":"={{ $json.message.content }}","rightValue":"MILIONÁRIO","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1260,400],"id":"483e0195-a7a3-435c-b550-fb5df5fbc942","name":"Verificar Palavra-chave no Título","disabled":true},{"parameters":{"rule":{"interval":[{"triggerAtHour":1,"triggerAtMinute":32},{"triggerAtHour":9,"triggerAtMinute":35},{"triggerAtHour":17,"triggerAtMinute":37}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,460],"id":"e9b55f8f-e358-4a31-abb9-798b78b1d6b2","name":"01:36"}],"connections":{"Buscar Títulos do Banco de Dados":{"main":[[{"node":"Filtrar Títulos Não Processados","type":"main","index":0}]]},"Filtrar Títulos Não Processados":{"main":[[{"node":"Selecionar Um Título por Vez","type":"main","index":0}]]},"Selecionar Um Título por Vez":{"main":[[{"node":" Gerar Título Sensacionalista","type":"main","index":0}]]}," Gerar Título Sensacionalista":{"main":[[{"node":"Verificar Palavra-chave no Título","type":"main","index":0}]]},"Verificar Tamanho do Título":{"main":[[{"node":"Criar Premissa Narrativa","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]},"Criar Premissa Narrativa":{"main":[[{"node":"Marcar Título como Processado","type":"main","index":0}]]},"Marcar Título como Processado":{"main":[[{"node":"Organizar Título e Premissa","type":"main","index":0}]]},"Organizar Título e Premissa":{"main":[[{"node":"Iniciar Criação de Roteiro","type":"main","index":0}]]},"Aguardar e Reiniciar Processo":{"main":[[{"node":"Buscar Títulos do Banco de Dados","type":"main","index":0}]]},"Detector de Falhas":{"main":[[{"node":"Notificação de Erro no Telegram","type":"main","index":0}]]},"Verificar Palavra-chave no Título":{"main":[[{"node":"Verificar Tamanho do Título","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]},"01:36":{"main":[[{"node":"Buscar Títulos do Banco de Dados","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:06:27":{"recurrenceRules":[]},"node:01:36":{"recurrenceRules":[]}},"meta":null,"pinData":{"Detector de Falhas":[{"json":{"execution":{"id":"212","url":"https://n8n-n8n.k1nrlp.easypanel.host/workflow/5QeL7h5zhRsanI0i/executions/212","error":{"level":"warning","tags":{},"context":{},"functionality":"regular","name":"NodeApiError","timestamp":1750858517743,"node":{"parameters":{"useCustomSchema":false,"resource":"row","operation":"update","tableId":"NICHO 01 - Humilhação em Transporte Familiar","filterType":"manual","matchType":"anyFilter","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Selecionar Um Título por Vez').item.json.id }}"}]},"dataToSend":"defineBelow","fieldsUi":{"fieldValues":[{"fieldId":"en","fieldValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2080,260],"id":"0f9ce809-5df4-49c1-992a-e376db48c2ce","name":"Marcar Título como Processado","credentials":{"supabaseApi":{"id":"rCOnRzljvfnK8IL8","name":"Supabase account"}}},"messages":["404 - {}"],"httpCode":"404","description":"404 - {}","message":"The resource you are requesting could not be found: 404 - {}","stack":"NodeApiError: The resource you are requesting could not be found: 404 - {}\n    at ExecuteContext.requestWithAuthentication (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_openai@4.78.1_encoding@0.1.13_zod@3.24.1_/node_modules/n8n-core/src/execution-engine/node-execution-context/utils/request-helper-functions.ts:1476:10)\n    at processTicksAndRejections (node:internal/process/task_queues:105:5)\n    at ExecuteContext.requestWithAuthentication (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_openai@4.78.1_encoding@0.1.13_zod@3.24.1_/node_modules/n8n-core/src/execution-engine/node-execution-context/utils/request-helper-functions.ts:1762:11)\n    at ExecuteContext.supabaseApiRequest (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_12b981d6b49d407a163f4d5244314033/node_modules/n8n-nodes-base/nodes/Supabase/GenericFunctions.ts:56:10)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_12b981d6b49d407a163f4d5244314033/node_modules/n8n-nodes-base/nodes/Supabase/Supabase.node.ts:417:20)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_openai@4.78.1_encoding@0.1.13_zod@3.24.1_/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1187:9)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_openai@4.78.1_encoding@0.1.13_zod@3.24.1_/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1536:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_openai@4.78.1_encoding@0.1.13_zod@3.24.1_/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2100:11"},"lastNodeExecuted":"Marcar Título como Processado","mode":"trigger"},"workflow":{"id":"5QeL7h5zhRsanI0i","name":"WF02 - REESCREVE TITULO - ENG - @wavestruth"}}}]},"versionId":"3b38718b-d807-4860-8008-0fc058009123","triggerCount":1,"tags":[]}