wf02---reescreve-titulo---cro---@mojaobiteljx-MD3tiNMLyc6wwNBX.json
{"createdAt":"2025-06-30T23:17:45.137Z","updatedAt":"2025-07-03T01:09:37.000Z","id":"MD3tiNMLyc6wwNBX","name":"WF02 - REESCREVE TITULO - CRO - @mojaobiteljx","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"getAll","tableId":"C04 - CROATA - TEST GIOVANI","returnAll":true},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[220,460],"id":"e822f62f-46f8-4562-a721-3429ff3e95a5","name":"Buscar Títulos do Banco de Dados","credentials":{"supabaseApi":{"id":"rCOnRzljvfnK8IL8","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d8b02342-4479-48a1-bba6-407f096191a5","leftValue":"={{ $json.tr }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[440,400],"id":"0823cb70-3240-4b6c-9647-e432db83e548","name":"Filtrar Títulos Não Processados"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[660,400],"id":"849977fe-d196-4cc9-9836-d921e9166aef","name":"Selecionar Um Título por Vez"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=COPIE O TITULO NA INTEGRA."},{"content":"={{ $json.title }}","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[880,400],"id":"a42ebdb6-ade1-4e20-9788-74b0a30a1f0c","name":" Gerar Título Sensacionalista","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84c3207c-9512-4e47-845b-59c4beb13873","leftValue":"={{ $json.message.content.length }}","rightValue":100,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1480,320],"id":"1e647593-5cb2-4af6-b141-21d78597b1d2","name":"Verificar Tamanho do Título"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=# Gerador Automático de Premissas Narrativas\n\nVocê é um sofisticado gerador de premissas narrativas. Ao receber uma frase do usuário, execute automaticamente todas as seguintes etapas internamente. O processo deve ocorrer sem solicitar interação do usuário, e apenas a premissa final deve ser apresentada como resultado.\n\n## PROCESSO AUTOMÁTICO DE TRANSFORMAÇÃO (INTERNO):\n\n### ETAPA 01: CONSTRUÇÃO DO CONCEITO BASE\n- **História obrigatoriamente em primeira pessoa, com uma mulher como narradora**\n- Transforme a frase original em um conceito narrativo central\n- Identifique o potencial dramático e os elementos que podem ser expandidos\n- Esta etapa serve de estrutura para o desenvolvimento da premissa\n\n### ETAPA 02: DESENVOLVIMENTO DO RESUMO INICIAL\n- **História obrigatoriamente em primeira pessoa, com uma mulher como narradora**\n- Expanda o conceito em um resumo inicial de um parágrafo\n- Incorpore elementos de um dos cinco grupos temáticos:\n  1. Vulnerabilidade e Impacto Social\n  2. Sobrenatural e Coincidências\n  3. Segredos Familiares\n  4. Transformação Pessoal\n  5. Compromissos Surpreendentes\n- Adicione personagens bem definidos\n- Estabeleça um contexto específico\n- Crie uma situação dramática inicial\n\n### ETAPA 03: IDENTIFICAÇÃO DE ELEMENTOS AUSENTES\n- Analise o resumo inicial e identifique:\n  - Conflitos pouco desenvolvidos\n  - Motivações superficiais dos personagens\n  - Reviravoltas insuficientes\n  - Elementos de tensão ausentes\n  - Potencial dramático inexplorado\n  - Conexões emocionais fracas\n\n### ETAPA 04: ENRIQUECIMENTO DA PREMISSA\n- **História obrigatoriamente em primeira pessoa, com uma mulher como narradora**\n- Reescreva o resumo incorporando os elementos identificados como ausentes\n- Adicione:\n  - Um conflito interno para o protagonista\n  - Um antagonista ou força de oposição clara\n  - Uma reviravolta central inesperada\n  - Consequências emocionais significativas\n  - Um elemento de mistério ou segredo a ser revelado\n  - Stakes (o que está em jogo) elevados e pessoais\n\n### ETAPA 05: REFINAMENTO E INTENSIFICAÇÃO\n- **Garantir que a narrativa permaneça em primeira pessoa com narradora feminina**\n- Aprimorar a premissa para maximizar impacto emocional e narrativo:\n  - Fortalecer motivações dos personagens\n  - Intensificar conflitos\n  - Tornar reviravoltas mais surpreendentes\n  - Elevar consequências e riscos\n  - Aprofundar conexões entre personagens\n  - Adicionar camadas de complexidade à situação principal\n\n### ETAPA 06: FINALIZAÇÃO DA PREMISSA\n- **História obrigatoriamente em primeira pessoa, com uma mulher como narradora**\n- Reescrever a premissa como texto corrido fluido e envolvente\n- Garantir equilíbrio entre:\n  - Profundidade emocional e psicológica\n  - Plausibilidade dentro do mundo da história\n  - Potencial para desenvolvimento narrativo\n  - Clareza da linha narrativa principal\n  - Gancho final que estimula curiosidade\n\n### ETAPA 07: POLIMENTO FINAL\n- **Confirmar que a narrativa está estruturada em primeira pessoa com protagonista feminina**\n- Revisar a premissa completa, garantindo:\n  - Ritmo narrativo fluido\n  - Ausência de inconsistências internas\n  - Linguagem vívida e envolvente\n  - Coerência temática\n  - Impacto emocional máximo\n  - Originalidade e frescor na abordagem\n\n**Apresente ao usuário SOMENTE a premissa final completa em texto corrido (resultado da Etapa 07). Não inclua título, explicações, etapas intermediárias ou qualquer outro elemento além da premissa em si.**"},{"content":"=Título: '{{ $json.message.content }}',\nResumo: '{{ $('Selecionar Um Título por Vez').item.json.resume }}'.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1700,260],"id":"bab7c03f-aa31-4054-9054-aff1ca562e21","name":"Criar Premissa Narrativa","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"operation":"update","tableId":"C04 - CROATA - TEST GIOVANI","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Selecionar Um Título por Vez').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"hr","fieldValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2080,260],"id":"8bf8ac0f-f802-4c4d-bdd0-2e1ec018ba15","name":"Marcar Título como Processado","credentials":{"supabaseApi":{"id":"rCOnRzljvfnK8IL8","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"48754bcf-db07-4dbb-9d03-7d71f6000f93","name":"título","value":"={{ $(' Gerar Título Sensacionalista').item.json.message.content }}","type":"string"},{"id":"43af08df-430c-4eb2-80b8-69c994358632","name":"premissa","value":"={{ $('Criar Premissa Narrativa').item.json.message.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2300,260],"id":"c6e002e0-b860-487b-8de8-1633cc1f4d2f","name":"Organizar Título e Premissa"},{"parameters":{"workflowId":{"__rl":true,"value":"E3qmcmvG8xZgdlAt","mode":"list","cachedResultName":"WF03 - CRIAR ROTEIRO - CRO - @mojaobiteljx"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2520,260],"id":"5191f3f3-de62-4cfe-9a67-ceeade8c7b5d","name":"Iniciar Criação de Roteiro"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1780,520],"id":"c4deb183-6ca4-4805-870c-f817aa8a7a7f","name":"Aguardar e Reiniciar Processo","webhookId":"4406de0e-bdae-4d3b-9d54-22322d634262"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,0],"id":"8643bb7a-0a3d-4dda-95f6-ac909c9db72e","name":"Detector de Falhas","disabled":true},{"parameters":{"chatId":"-1002628528187","text":"=02 - REESCREVE TÍTULOS - PT","additionalFields":{"appendAttribution":false,"message_thread_id":3}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[220,0],"id":"0a55ecc7-8386-44fc-90f1-15ba53062021","name":"Notificação de Erro no Telegram","webhookId":"50cf63c7-4e19-43a3-a28f-bd1fa1df2326","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"89158140-3df0-4eaa-ac2b-f829796ad08e","leftValue":"={{ $json.message.content }}","rightValue":"MILIONÁRIO","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1260,400],"id":"f09093f6-02ff-4e09-b686-d379d9f1d571","name":"Verificar Palavra-chave no Título","disabled":true},{"parameters":{"rule":{"interval":[{"triggerAtMinute":15},{"triggerAtHour":6,"triggerAtMinute":40}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,460],"id":"34c5ca58-e635-4969-bca5-36e21a331eaa","name":"00:03"}],"connections":{"Buscar Títulos do Banco de Dados":{"main":[[{"node":"Filtrar Títulos Não Processados","type":"main","index":0}]]},"Filtrar Títulos Não Processados":{"main":[[{"node":"Selecionar Um Título por Vez","type":"main","index":0}]]},"Selecionar Um Título por Vez":{"main":[[{"node":" Gerar Título Sensacionalista","type":"main","index":0}]]}," Gerar Título Sensacionalista":{"main":[[{"node":"Verificar Palavra-chave no Título","type":"main","index":0}]]},"Verificar Tamanho do Título":{"main":[[{"node":"Criar Premissa Narrativa","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]},"Criar Premissa Narrativa":{"main":[[{"node":"Marcar Título como Processado","type":"main","index":0}]]},"Marcar Título como Processado":{"main":[[{"node":"Organizar Título e Premissa","type":"main","index":0}]]},"Organizar Título e Premissa":{"main":[[{"node":"Iniciar Criação de Roteiro","type":"main","index":0}]]},"Aguardar e Reiniciar Processo":{"main":[[{"node":"Buscar Títulos do Banco de Dados","type":"main","index":0}]]},"Detector de Falhas":{"main":[[{"node":"Notificação de Erro no Telegram","type":"main","index":0}]]},"Verificar Palavra-chave no Título":{"main":[[{"node":"Verificar Tamanho do Título","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]},"00:03":{"main":[[{"node":"Buscar Títulos do Banco de Dados","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:06:27":{"recurrenceRules":[]},"node:00:03":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"d7e2811d-177d-4d1e-806e-011669f9f4d1","triggerCount":1,"tags":[]}