wf02---reescreve-titulo---eng---@unfairstories-i7nVGwQyAH4o592I.json
{"createdAt":"2025-07-03T01:32:42.320Z","updatedAt":"2025-07-03T01:35:39.000Z","id":"i7nVGwQyAH4o592I","name":"WF02 - REESCREVE TITULO - ENG - @unfairstories","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"getAll","tableId":"C15 - EUA - @unfairstories","returnAll":true},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[220,460],"id":"32b29561-2dff-45d6-8a89-0e3ae34dd9d1","name":"Buscar Títulos do Banco de Dados","credentials":{"supabaseApi":{"id":"rCOnRzljvfnK8IL8","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d8b02342-4479-48a1-bba6-407f096191a5","leftValue":"={{ $json.en }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[440,400],"id":"838d7868-a576-41d5-ae32-47b0cddf730a","name":"Filtrar Títulos Não Processados"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[660,400],"id":"a40a0c86-8989-4c19-bd14-00df05daac4b","name":"Selecionar Um Título por Vez"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=COPIE O TITULO NA INTEGRA."},{"content":"={{ $json.title }}","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[880,400],"id":"d2691265-4232-4bf8-9b49-bb67a314a425","name":" Gerar Título Sensacionalista","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84c3207c-9512-4e47-845b-59c4beb13873","leftValue":"={{ $json.message.content.length }}","rightValue":100,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1480,320],"id":"b1c67a8d-916f-47b1-af1a-b3bbf6ddf6f5","name":"Verificar Tamanho do Título"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=# Gerador Automático de Premissas Narrativas\n\nVocê é um sofisticado gerador de premissas narrativas. Ao receber uma frase do usuário, execute automaticamente todas as seguintes etapas internamente. O processo deve ocorrer sem solicitar interação do usuário, e apenas a premissa final deve ser apresentada como resultado.\n\nPROCESSO AUTOMÁTICO DE TRANSFORMAÇÃO (INTERNO):\n\nETAPA 01: CONSTRUÇÃO DO CONCEITO BASE\n- História em primeira pessoa, com uma mulher como narradora\n- Transforme a frase original em um conceito narrativo central\n- Identifique o potencial dramático e os elementos que podem ser expandidos\n- Esta etapa serve de estrutura para o desenvolvimento da premissa\n\nETAPA 02: DESENVOLVIMENTO DO RESUMO INICIAL\n- História em primeira pessoa, com uma mulher como narradora\n- Expanda o conceito em um resumo inicial de um parágrafo\n- Incorpore elementos de um dos cinco grupos temáticos:\n  1. Vulnerabilidade e Impacto Social\n  2. Sobrenatural e Coincidências\n  3. Segredos Familiares\n  4. Transformação Pessoal\n  5. Compromissos Surpreendentes\n- Adicione personagens bem definidos\n- Estabeleça um contexto específico\n- Crie uma situação dramática inicial\n\nETAPA 03: IDENTIFICAÇÃO DE ELEMENTOS AUSENTES\n- Analise o resumo inicial e identifique:\n  - Conflitos pouco desenvolvidos\n  - Motivações superficiais dos personagens\n  - Reviravoltas insuficientes\n  - Elementos de tensão ausentes\n  - Potencial dramático inexplorado\n  - Conexões emocionais fracas\n\nETAPA 04: ENRIQUECIMENTO DA PREMISSA\n- História em primeira pessoa, com uma mulher como narradora\n- Reescreva o resumo incorporando os elementos identificados como ausentes\n- Adicione:\n  - Um conflito interno para o protagonista\n  - Um antagonista ou força de oposição clara\n  - Uma reviravolta central inesperada\n  - Consequências emocionais significativas\n  - Um elemento de mistério ou segredo a ser revelado\n  - Stakes (o que está em jogo) elevados e pessoais\n\nETAPA 05: REFINAMENTO E INTENSIFICAÇÃO\n- Aprimorar a premissa para maximizar impacto emocional e narrativo:\n  - Fortalecer motivações dos personagens\n  - Intensificar conflitos\n  - Tornar reviravoltas mais surpreendentes\n  - Elevar consequências e riscos\n  - Aprofundar conexões entre personagens\n  - Adicionar camadas de complexidade à situação principal\n\nETAPA 06: FINALIZAÇÃO DA PREMISSA\n- História em primeira pessoa, com uma mulher como narradora\n- Reescrever a premissa como texto corrido fluido e envolvente\n- Garantir equilíbrio entre:\n  - Profundidade emocional e psicológica\n  - Plausibilidade dentro do mundo da história\n  - Potencial para desenvolvimento narrativo\n  - Clareza da linha narrativa principal\n  - Gancho final que estimula curiosidade\n\nETAPA 07: POLIMENTO FINAL\n- Revisar a premissa completa, garantindo:\n  - Ritmo narrativo fluido\n  - Ausência de inconsistências internas\n  - Linguagem vívida e envolvente\n  - Coerência temática\n  - Impacto emocional máximo\n  - Originalidade e frescor na abordagem\n\nApresente ao usuário SOMENTE a premissa final completa em texto corrido (resultado da Etapa 07). Não inclua título, explicações, etapas intermediárias ou qualquer outro elemento além da premissa em si."},{"content":"=Título: '{{ $json.message.content }}',\nResumo: '{{ $('Selecionar Um Título por Vez').item.json.resume }}'.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1700,260],"id":"ada0e0a4-4a12-4f76-af98-e252eb112ac4","name":"Criar Premissa Narrativa","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"operation":"update","tableId":"C15 - EUA - @unfairstories","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Selecionar Um Título por Vez').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"en","fieldValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2080,260],"id":"e3f41d78-44eb-4c50-9500-1fbe8a7e42e2","name":"Marcar Título como Processado","credentials":{"supabaseApi":{"id":"rCOnRzljvfnK8IL8","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"48754bcf-db07-4dbb-9d03-7d71f6000f93","name":"título","value":"={{ $(' Gerar Título Sensacionalista').item.json.message.content }}","type":"string"},{"id":"43af08df-430c-4eb2-80b8-69c994358632","name":"premissa","value":"={{ $('Criar Premissa Narrativa').item.json.message.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2300,260],"id":"71cbd9f0-174d-4c2e-8376-1d36ce01b667","name":"Organizar Título e Premissa"},{"parameters":{"workflowId":{"__rl":true,"value":"fW2rPofdGOzsdpLH","mode":"list","cachedResultName":"WF03 - CRIAR ROTEIRO - ENG - @unfairstories"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2520,260],"id":"a880a0bf-e608-41de-9c0c-d5e2b1fc15f3","name":"Iniciar Criação de Roteiro"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1780,520],"id":"72513132-d4f3-41fa-9e97-193e4f0cfd3f","name":"Aguardar e Reiniciar Processo","webhookId":"2f9d7d77-8ff4-4f2e-b41f-df225b47e0d3"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,0],"id":"4e2073b6-f512-4c69-9e27-e9fa55160336","name":"Detector de Falhas","disabled":true},{"parameters":{"chatId":"-1002628528187","text":"=02 - REESCREVE TÍTULOS - PT","additionalFields":{"appendAttribution":false,"message_thread_id":3}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[220,0],"id":"e8633eea-caf7-4693-98e7-d38a09a2efa0","name":"Notificação de Erro no Telegram","webhookId":"0037cb46-2e6d-4a97-98de-32229d687c2d","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"89158140-3df0-4eaa-ac2b-f829796ad08e","leftValue":"={{ $json.message.content }}","rightValue":"MILIONÁRIO","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1260,400],"id":"ed23c949-4b1a-4543-9b31-cd5eddd6e3e6","name":"Verificar Palavra-chave no Título","disabled":true},{"parameters":{"rule":{"interval":[{"triggerAtMinute":40},{"triggerAtHour":7,"triggerAtMinute":5}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,460],"id":"0b6da57c-d513-4aaa-ac91-ae68b8bb3f73","name":"00:03"}],"connections":{"Buscar Títulos do Banco de Dados":{"main":[[{"node":"Filtrar Títulos Não Processados","type":"main","index":0}]]},"Filtrar Títulos Não Processados":{"main":[[{"node":"Selecionar Um Título por Vez","type":"main","index":0}]]},"Selecionar Um Título por Vez":{"main":[[{"node":" Gerar Título Sensacionalista","type":"main","index":0}]]}," Gerar Título Sensacionalista":{"main":[[{"node":"Verificar Palavra-chave no Título","type":"main","index":0}]]},"Verificar Tamanho do Título":{"main":[[{"node":"Criar Premissa Narrativa","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]},"Criar Premissa Narrativa":{"main":[[{"node":"Marcar Título como Processado","type":"main","index":0}]]},"Marcar Título como Processado":{"main":[[{"node":"Organizar Título e Premissa","type":"main","index":0}]]},"Organizar Título e Premissa":{"main":[[{"node":"Iniciar Criação de Roteiro","type":"main","index":0}]]},"Aguardar e Reiniciar Processo":{"main":[[{"node":"Buscar Títulos do Banco de Dados","type":"main","index":0}]]},"Detector de Falhas":{"main":[[{"node":"Notificação de Erro no Telegram","type":"main","index":0}]]},"Verificar Palavra-chave no Título":{"main":[[{"node":"Verificar Tamanho do Título","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]},"00:03":{"main":[[{"node":"Buscar Títulos do Banco de Dados","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:06:27":{"recurrenceRules":[]},"node:00:03":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"c0023b04-d006-487f-8824-f2130b85a683","triggerCount":1,"tags":[]}