wf03---criar-roteiro---filip---@nextchaptertalesx-5DxlWOM9NQ10KyTp.json
{"createdAt":"2025-06-27T19:58:27.447Z","updatedAt":"2025-06-29T19:20:44.000Z","id":"5DxlWOM9NQ10KyTp","name":"WF03 - CRIAR ROTEIRO - FILIP  - @NextChapterTalesx","active":false,"isArchived":false,"nodes":[{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\"\n\nSumulat ng bagong kabanata ng humigit-kumulang 500 salita na nagpapatuloy sa mga kaganapang inilarawan sa itaas, na nagpapakilala ng isang nakakagulat na twist na ganap na nagbabago sa salaysay. Magsimula nang eksakto kung saan natapos ang nakaraang kabanata, ngunit sa ilang mga punto, magpasok ng isang dramatiko at hindi inaasahang pangyayari na radikal na nagbabago sa takbo ng kuwento, nagbabago ng mga relasyon, nagbubunyag ng mga mapangwasak na lihim, o nagbabago sa tunay na katangian ng isang pangunahing karakter. Panatilihin ang parehong istilo, wika, at bilis gaya ng orihinal na salaysay, habang ginagawa ang biglaang pagbabagong ito sa paraang nag-iiwan sa mambabasa sa estado ng pagkabigla. Ang twist ay dapat na nakakabigla kaya na tinatanong ng mambabasa ang lahat ng inaakala nilang alam nila tungkol sa kuwento hanggang sa puntong iyon. Huwag isara ang balangkas o tiyak na lutasin ang mga salungatan, ngunit gamitin ang twist na ito upang lumikha ng mas nakakagulat na pagtatapos, na nag-iiwan sa mambabasa na desperado na matuklasan ang mga kahihinatnan ng kaganapang ito na nagbabago ng buhay. Isama lamang ang bagong kabanata at huwag muling isulat ang nakaraang kabanata nang walang paliwanag, karagdagang komentaryo, bilang ng salita, o mga espesyal na karakter.\n\nAng tono ng pagsulat ay dapat na simple, direkta, at emosyonal, na para bang ang kuwento ay ikinuwento ng isang kaibigan sa isang kaswal na pag-uusap. Gumamit ng mga simpleng salita, maiikling pangungusap, at isang magaan, binibigkas na ritmo ng salita. Iwasan ang mahihirap na salita, kumplikadong istruktura, o wikang pampanitikan. Dapat makuha ng salaysay ang atensyon nang may malinaw na imahe, pangkalahatang damdamin, at naa-access na wika. Iwasan ang mga saradong pagtatapos: tapusin ang kabanata sa isang misteryo o isang tanong, na nag-iiwan sa mambabasa na malaman kung ano ang susunod.\n\n1. Emosyonal na Intensity\n\n* Ang bawat pangungusap ay dapat maghatid ng hilaw na damdamin: takot, sakit, pagkabigla, habag.\n* Gumamit ng malalakas na pandiwa at adjectives na pumukaw ng pisikal at sikolohikal na sensasyon.\n* Ibunyag ang panloob na epekto sa mga karakter: paninikip sa dibdib, bukol sa lalamunan, nanginginig na mga kamay.\n\n2. Pagkamadalian at Pace\n\n* Pagsama-samahin ang mga maiikling pangungusap ng aksyon na may maigsi na paglalarawan, na nagpapanatili ng mabilis na bilis.\n* Gumamit ng bantas na nagpapatibay sa ritmo (ellipsis, tandang padamdam, interjections).\n* Iwasan ang labis na mahabang panahon; dapat isulong ng bawat talata ang eksena nang walang mga literary pause.\n\n3. Konkreto at Maikling Paglalarawan\n\n* Tumutok sa mahahalagang detalye ng visual at pandama, nang walang labis na karga.\n* Gumamit ng mga tiyak na metapora at paghahambing, palaging nauugnay sa sandali.\n* Ang bawat elemento (kulay, tunog, texture) ay dapat na lumitaw sa isang agarang nakikilalang paraan.\n\n4. Cinematic Sense\n\n* Kahaliling pagtutok sa pagitan ng mga close-up (mga ekspresyon, mga reaksyon) at mga long shot (kapaligiran, crowd).\n* Gumamit ng mga pang-abay na paggalaw upang mahikayat ang ideya ng gumagalaw na kamera.\n* Hatiin ang mga talata upang gayahin ang mga pagbawas sa eksena.\n\n5. Mapagmasid at Malapit na Narrator\n\n* I-adopt ang pangatlong tao, ngunit panatilihin ang tono ng pakikipag-usap: natural na wika, nang walang literary jargon.\n* Iwasan ang mga terminong sobrang scholar; mas gusto ang mga construction na parang direktang ulat.\n\n6. Tonal Contrast\n\n* Gumawa ng mga dramatikong paghinto kung saan ang katahimikan o kawalan ng pagkilos ay nagsasalita ng kasing dami ng mga aksyon.\n* Intersperse tunog at ingay sa parehong sequence (biglang katahimikan na sinusundan ng isang hiyawan o ingay).\n\n7. Mga Reaksyon at Kolektibong Paghuhukom\n\n* Ilarawan ang mga ekspresyon at bulungan ng mga nagmamasid, na nagpapatibay sa pag-igting sa lipunan.\n* Isama ang mga fragment ng pananalita mula sa mga pangalawang character na nagpapakita ng pagkabigla o hindi pag-apruba.\n\n8. Nakakagulat na Wika\n\n* Gumamit ng mga nakakagulat na termino na nauugnay sa horror, trahedya, at iskandalo, ngunit palaging naka-link sa mga partikular na larawan.\n* Iwasan ang labis na sensationalism; panatilihin ang pagiging tunay sa pagkabigla.\n\n9. Malapit sa Sakit\n\n* Direktang ilarawan ang pisikal at emosyonal na sakit ng mga karakter.\n* Iwasan ang mga euphemism: ilarawan ang kalubhaan ng mga eksena nang hindi pinapalambot ang wika.\n\n10. Mga Kislap ng Pag-asa\n\n* Maglagay ng mga maikling kislap ng ginhawa o aliw na namumukod-tangi sa konteksto ng tensyon.\n* Ang mga sandaling ito ay dapat na higit pang magpatingkad sa kapansin-pansing epekto kapag ang eksena ay nagiging madalian.\n\n11. Pagkakaugnay-ugnay ng Boses\n\n* Panatilihin ang parehong tono ng pagsasalaysay mula simula hanggang wakas: impormal, visceral, cinematic.\n* Iwasan ang mga magkasalungat na istilo; panatilihin ang isang pinag-isang tono sa buong teksto.\n\n12. Pagpili ng Talasalitaan\n\n* Mas gusto ang malalakas na pandiwa at matalim na adjectives; palitan ang mga generic na pang-abay ng mas tiyak na katumbas.\n* Pamahalaan ang bokabularyo upang mapahusay ang intensity nang hindi ginagawang nakakapagod ang pagbabasa.\n\n13. Mga Pagbabawal\n\n* Iwasan ang pilosopikal na pagmuni-muni o mahabang digression.\n* Iwasang gumamit ng detalyadong bokabularyo sa panitikan.\n* Iwasang magdagdag ng mga nakapagtuturong seksyon, vignette, o subheading.\n* Iwasang maglagay ng mga paglalarawan na nakakagambala sa daloy ng tono."},{"content":"Magbigay ng teksto sa Filipino, gamit ang mga pangalan at ekspresyong karaniwan sa mga nagsasalita ng U.S., na inangkop upang ipakita ang kulturang Pilipino. Ibagay ang mga pangalan, lugar, at kultural na sanggunian upang maging natural at makikilala ang mga ito sa Filipino, na tinitiyak na mananatiling may kaugnayan ang mga ito at kumonekta sa iyong madla.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2400,260],"id":"17fbe2c8-510f-4a77-819b-780d1c04a99c","name":"Gerar Capítulo 1","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\"\n\nSumulat ng bagong kabanata ng humigit-kumulang 500 salita na nagpapatuloy sa mga kaganapang inilarawan sa itaas, na nagpapakilala ng isang nakakagulat na twist na ganap na nagbabago sa salaysay. Magsimula nang eksakto kung saan natapos ang nakaraang kabanata, ngunit sa ilang mga punto, magpasok ng isang dramatiko at hindi inaasahang pangyayari na radikal na nagbabago sa takbo ng kuwento, nagbabago ng mga relasyon, nagbubunyag ng mga mapangwasak na lihim, o nagbabago sa tunay na katangian ng isang pangunahing karakter. Panatilihin ang parehong istilo, wika, at bilis gaya ng orihinal na salaysay, habang ginagawa ang biglaang pagbabagong ito sa paraang nag-iiwan sa mambabasa sa estado ng pagkabigla. Ang twist ay dapat na nakakabigla kaya na tinatanong ng mambabasa ang lahat ng inaakala nilang alam nila tungkol sa kuwento hanggang sa puntong iyon. Huwag isara ang balangkas o tiyak na lutasin ang mga salungatan, ngunit gamitin ang twist na ito upang lumikha ng mas nakakagulat na pagtatapos, na nag-iiwan sa mambabasa na desperado na matuklasan ang mga kahihinatnan ng kaganapang ito na nagbabago ng buhay. Isama lamang ang bagong kabanata at huwag muling isulat ang nakaraang kabanata nang walang paliwanag, karagdagang komentaryo, bilang ng salita, o mga espesyal na karakter.\n\nAng tono ng pagsulat ay dapat na simple, direkta, at emosyonal, na para bang ang kuwento ay ikinuwento ng isang kaibigan sa isang kaswal na pag-uusap. Gumamit ng mga simpleng salita, maiikling pangungusap, at isang magaan, binibigkas na ritmo ng salita. Iwasan ang mahihirap na salita, kumplikadong istruktura, o wikang pampanitikan. Dapat makuha ng salaysay ang atensyon nang may malinaw na imahe, pangkalahatang damdamin, at naa-access na wika. Iwasan ang mga saradong pagtatapos: tapusin ang kabanata sa isang misteryo o isang tanong, na nag-iiwan sa mambabasa na malaman kung ano ang susunod.\n\n1. Emosyonal na Intensity\n\n* Ang bawat pangungusap ay dapat maghatid ng hilaw na damdamin: takot, sakit, pagkabigla, habag.\n* Gumamit ng malalakas na pandiwa at adjectives na pumukaw ng pisikal at sikolohikal na sensasyon.\n* Ibunyag ang panloob na epekto sa mga karakter: paninikip sa dibdib, bukol sa lalamunan, nanginginig na mga kamay.\n\n2. Pagkamadalian at Pace\n\n* Pagsama-samahin ang mga maiikling pangungusap ng aksyon na may maigsi na paglalarawan, na nagpapanatili ng mabilis na bilis.\n* Gumamit ng bantas na nagpapatibay sa ritmo (ellipsis, tandang padamdam, interjections).\n* Iwasan ang labis na mahabang panahon; dapat isulong ng bawat talata ang eksena nang walang mga literary pause.\n\n3. Konkreto at Maikling Paglalarawan\n\n* Tumutok sa mahahalagang detalye ng visual at pandama, nang walang labis na karga.\n* Gumamit ng mga tiyak na metapora at paghahambing, palaging nauugnay sa sandali.\n* Ang bawat elemento (kulay, tunog, texture) ay dapat na lumitaw sa isang agarang nakikilalang paraan.\n\n4. Cinematic Sense\n\n* Kahaliling pagtutok sa pagitan ng mga close-up (mga ekspresyon, mga reaksyon) at mga long shot (kapaligiran, crowd).\n* Gumamit ng mga pang-abay na paggalaw upang mahikayat ang ideya ng gumagalaw na kamera.\n* Hatiin ang mga talata upang gayahin ang mga pagbawas sa eksena.\n\n5. Mapagmasid at Malapit na Narrator\n\n* I-adopt ang pangatlong tao, ngunit panatilihin ang tono ng pakikipag-usap: natural na wika, nang walang literary jargon.\n* Iwasan ang mga terminong sobrang scholar; mas gusto ang mga construction na parang direktang ulat.\n\n6. Tonal Contrast\n\n* Gumawa ng mga dramatikong paghinto kung saan ang katahimikan o kawalan ng pagkilos ay nagsasalita ng kasing dami ng mga aksyon.\n* Intersperse tunog at ingay sa parehong sequence (biglang katahimikan na sinusundan ng isang hiyawan o ingay).\n\n7. Mga Reaksyon at Kolektibong Paghuhukom\n\n* Ilarawan ang mga ekspresyon at bulungan ng mga nagmamasid, na nagpapatibay sa pag-igting sa lipunan.\n* Isama ang mga fragment ng pananalita mula sa mga pangalawang character na nagpapakita ng pagkabigla o hindi pag-apruba.\n\n8. Nakakagulat na Wika\n\n* Gumamit ng mga nakakagulat na termino na nauugnay sa horror, trahedya, at iskandalo, ngunit palaging naka-link sa mga partikular na larawan.\n* Iwasan ang labis na sensationalism; panatilihin ang pagiging tunay sa pagkabigla.\n\n9. Malapit sa Sakit\n\n* Direktang ilarawan ang pisikal at emosyonal na sakit ng mga karakter.\n* Iwasan ang mga euphemism: ilarawan ang kalubhaan ng mga eksena nang hindi pinapalambot ang wika.\n\n10. Mga Kislap ng Pag-asa\n\n* Maglagay ng mga maikling kislap ng ginhawa o aliw na namumukod-tangi sa konteksto ng tensyon.\n* Ang mga sandaling ito ay dapat na higit pang magpatingkad sa kapansin-pansing epekto kapag ang eksena ay nagiging madalian.\n\n11. Pagkakaugnay-ugnay ng Boses\n\n* Panatilihin ang parehong tono ng pagsasalaysay mula simula hanggang wakas: impormal, visceral, cinematic.\n* Iwasan ang mga magkasalungat na istilo; panatilihin ang isang pinag-isang tono sa buong teksto.\n\n12. Pagpili ng Talasalitaan\n\n* Mas gusto ang malalakas na pandiwa at matalim na adjectives; palitan ang mga generic na pang-abay ng mas tiyak na katumbas.\n* Pamahalaan ang bokabularyo upang mapahusay ang intensity nang hindi ginagawang nakakapagod ang pagbabasa.\n\n13. Mga Pagbabawal\n\n* Iwasan ang pilosopikal na pagmuni-muni o mahabang digression.\n* Iwasang gumamit ng detalyadong bokabularyo sa panitikan.\n* Iwasang magdagdag ng mga nakapagtuturong seksyon, vignette, o subheading.\n* Iwasang maglagay ng mga paglalarawan na nakakagambala sa daloy ng tono."},{"content":"Magbigay ng teksto sa Filipino, gamit ang mga pangalan at ekspresyong karaniwan sa mga nagsasalita ng U.S., na inangkop upang ipakita ang kulturang Pilipino. Ibagay ang mga pangalan, lugar, at kultural na sanggunian upang maging natural at makikilala ang mga ito sa Filipino, na tinitiyak na mananatiling may kaugnayan ang mga ito at kumonekta sa iyong madla.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2760,260],"id":"4f8ef7f3-6749-45c7-ab35-a2d7dd6394f7","name":"Gerar Capítulo 2","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\"\n\nSumulat ng bagong kabanata ng humigit-kumulang 500 salita na nagpapatuloy sa mga kaganapang inilarawan sa itaas, na nagpapakilala ng isang nakakagulat na twist na ganap na nagbabago sa salaysay. Magsimula nang eksakto kung saan natapos ang nakaraang kabanata, ngunit sa ilang mga punto, magpasok ng isang dramatiko at hindi inaasahang pangyayari na radikal na nagbabago sa takbo ng kuwento, nagbabago ng mga relasyon, nagbubunyag ng mga mapangwasak na lihim, o nagbabago sa tunay na katangian ng isang pangunahing karakter. Panatilihin ang parehong istilo, wika, at bilis gaya ng orihinal na salaysay, habang ginagawa ang biglaang pagbabagong ito sa paraang nag-iiwan sa mambabasa sa estado ng pagkabigla. Ang twist ay dapat na nakakabigla kaya na tinatanong ng mambabasa ang lahat ng inaakala nilang alam nila tungkol sa kuwento hanggang sa puntong iyon. Huwag isara ang balangkas o tiyak na lutasin ang mga salungatan, ngunit gamitin ang twist na ito upang lumikha ng mas nakakagulat na pagtatapos, na nag-iiwan sa mambabasa na desperado na matuklasan ang mga kahihinatnan ng kaganapang ito na nagbabago ng buhay. Isama lamang ang bagong kabanata at huwag muling isulat ang nakaraang kabanata nang walang paliwanag, karagdagang komentaryo, bilang ng salita, o mga espesyal na karakter.\n\nAng tono ng pagsulat ay dapat na simple, direkta, at emosyonal, na para bang ang kuwento ay ikinuwento ng isang kaibigan sa isang kaswal na pag-uusap. Gumamit ng mga simpleng salita, maiikling pangungusap, at isang magaan, binibigkas na ritmo ng salita. Iwasan ang mahihirap na salita, kumplikadong istruktura, o wikang pampanitikan. Dapat makuha ng salaysay ang atensyon nang may malinaw na imahe, pangkalahatang damdamin, at naa-access na wika. Iwasan ang mga saradong pagtatapos: tapusin ang kabanata sa isang misteryo o isang tanong, na nag-iiwan sa mambabasa na malaman kung ano ang susunod.\n\n1. Emosyonal na Intensity\n\n* Ang bawat pangungusap ay dapat maghatid ng hilaw na damdamin: takot, sakit, pagkabigla, habag.\n* Gumamit ng malalakas na pandiwa at adjectives na pumukaw ng pisikal at sikolohikal na sensasyon.\n* Ibunyag ang panloob na epekto sa mga karakter: paninikip sa dibdib, bukol sa lalamunan, nanginginig na mga kamay.\n\n2. Pagkamadalian at Pace\n\n* Pagsama-samahin ang mga maiikling pangungusap ng aksyon na may maigsi na paglalarawan, na nagpapanatili ng mabilis na bilis.\n* Gumamit ng bantas na nagpapatibay sa ritmo (ellipsis, tandang padamdam, interjections).\n* Iwasan ang labis na mahabang panahon; dapat isulong ng bawat talata ang eksena nang walang mga literary pause.\n\n3. Konkreto at Maikling Paglalarawan\n\n* Tumutok sa mahahalagang detalye ng visual at pandama, nang walang labis na karga.\n* Gumamit ng mga tiyak na metapora at paghahambing, palaging nauugnay sa sandali.\n* Ang bawat elemento (kulay, tunog, texture) ay dapat na lumitaw sa isang agarang nakikilalang paraan.\n\n4. Cinematic Sense\n\n* Kahaliling pagtutok sa pagitan ng mga close-up (mga ekspresyon, mga reaksyon) at mga long shot (kapaligiran, crowd).\n* Gumamit ng mga pang-abay na paggalaw upang mahikayat ang ideya ng gumagalaw na kamera.\n* Hatiin ang mga talata upang gayahin ang mga pagbawas sa eksena.\n\n5. Mapagmasid at Malapit na Narrator\n\n* I-adopt ang pangatlong tao, ngunit panatilihin ang tono ng pakikipag-usap: natural na wika, nang walang literary jargon.\n* Iwasan ang mga terminong sobrang scholar; mas gusto ang mga construction na parang direktang ulat.\n\n6. Tonal Contrast\n\n* Gumawa ng mga dramatikong paghinto kung saan ang katahimikan o kawalan ng pagkilos ay nagsasalita ng kasing dami ng mga aksyon.\n* Intersperse tunog at ingay sa parehong sequence (biglang katahimikan na sinusundan ng isang hiyawan o ingay).\n\n7. Mga Reaksyon at Kolektibong Paghuhukom\n\n* Ilarawan ang mga ekspresyon at bulungan ng mga nagmamasid, na nagpapatibay sa pag-igting sa lipunan.\n* Isama ang mga fragment ng pananalita mula sa mga pangalawang character na nagpapakita ng pagkabigla o hindi pag-apruba.\n\n8. Nakakagulat na Wika\n\n* Gumamit ng mga nakakagulat na termino na nauugnay sa horror, trahedya, at iskandalo, ngunit palaging naka-link sa mga partikular na larawan.\n* Iwasan ang labis na sensationalism; panatilihin ang pagiging tunay sa pagkabigla.\n\n9. Malapit sa Sakit\n\n* Direktang ilarawan ang pisikal at emosyonal na sakit ng mga karakter.\n* Iwasan ang mga euphemism: ilarawan ang kalubhaan ng mga eksena nang hindi pinapalambot ang wika.\n\n10. Mga Kislap ng Pag-asa\n\n* Maglagay ng mga maikling kislap ng ginhawa o aliw na namumukod-tangi sa konteksto ng tensyon.\n* Ang mga sandaling ito ay dapat na higit pang magpatingkad sa kapansin-pansing epekto kapag ang eksena ay nagiging madalian.\n\n11. Pagkakaugnay-ugnay ng Boses\n\n* Panatilihin ang parehong tono ng pagsasalaysay mula simula hanggang wakas: impormal, visceral, cinematic.\n* Iwasan ang mga magkasalungat na istilo; panatilihin ang isang pinag-isang tono sa buong teksto.\n\n12. Pagpili ng Talasalitaan\n\n* Mas gusto ang malalakas na pandiwa at matalim na adjectives; palitan ang mga generic na pang-abay ng mas tiyak na katumbas.\n* Pamahalaan ang bokabularyo upang mapahusay ang intensity nang hindi ginagawang nakakapagod ang pagbabasa.\n\n13. Mga Pagbabawal\n\n* Iwasan ang pilosopikal na pagmuni-muni o mahabang digression.\n* Iwasang gumamit ng detalyadong bokabularyo sa panitikan.\n* Iwasang magdagdag ng mga nakapagtuturong seksyon, vignette, o subheading.\n* Iwasang maglagay ng mga paglalarawan na nakakagambala sa daloy ng tono."},{"content":"Magbigay ng teksto sa Filipino, gamit ang mga pangalan at ekspresyong karaniwan sa mga nagsasalita ng U.S., na inangkop upang ipakita ang kulturang Pilipino. Ibagay ang mga pangalan, lugar, at kultural na sanggunian upang maging natural at makikilala ang mga ito sa Filipino, na tinitiyak na mananatiling may kaugnayan ang mga ito at kumonekta sa iyong madla.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3140,260],"id":"f7ccd1e7-7905-49eb-b974-36a2c5794ca1","name":"Gerar Capítulo 3","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\"\n\nSumulat ng bagong kabanata ng humigit-kumulang 500 salita na nagpapatuloy sa mga kaganapang inilarawan sa itaas, na nagpapakilala ng isang nakakagulat na twist na ganap na nagbabago sa salaysay. Magsimula nang eksakto kung saan natapos ang nakaraang kabanata, ngunit sa ilang mga punto, magpasok ng isang dramatiko at hindi inaasahang pangyayari na radikal na nagbabago sa takbo ng kuwento, nagbabago ng mga relasyon, nagbubunyag ng mga mapangwasak na lihim, o nagbabago sa tunay na katangian ng isang pangunahing karakter. Panatilihin ang parehong istilo, wika, at bilis gaya ng orihinal na salaysay, habang ginagawa ang biglaang pagbabagong ito sa paraang nag-iiwan sa mambabasa sa estado ng pagkabigla. Ang twist ay dapat na nakakabigla kaya na tinatanong ng mambabasa ang lahat ng inaakala nilang alam nila tungkol sa kuwento hanggang sa puntong iyon. Huwag isara ang balangkas o tiyak na lutasin ang mga salungatan, ngunit gamitin ang twist na ito upang lumikha ng mas nakakagulat na pagtatapos, na nag-iiwan sa mambabasa na desperado na matuklasan ang mga kahihinatnan ng kaganapang ito na nagbabago ng buhay. Isama lamang ang bagong kabanata at huwag muling isulat ang nakaraang kabanata nang walang paliwanag, karagdagang komentaryo, bilang ng salita, o mga espesyal na karakter.\n\nAng tono ng pagsulat ay dapat na simple, direkta, at emosyonal, na para bang ang kuwento ay ikinuwento ng isang kaibigan sa isang kaswal na pag-uusap. Gumamit ng mga simpleng salita, maiikling pangungusap, at isang magaan, binibigkas na ritmo ng salita. Iwasan ang mahihirap na salita, kumplikadong istruktura, o wikang pampanitikan. Dapat makuha ng salaysay ang atensyon nang may malinaw na imahe, pangkalahatang damdamin, at naa-access na wika. Iwasan ang mga saradong pagtatapos: tapusin ang kabanata sa isang misteryo o isang tanong, na nag-iiwan sa mambabasa na malaman kung ano ang susunod.\n\n1. Emosyonal na Intensity\n\n* Ang bawat pangungusap ay dapat maghatid ng hilaw na damdamin: takot, sakit, pagkabigla, habag.\n* Gumamit ng malalakas na pandiwa at adjectives na pumukaw ng pisikal at sikolohikal na sensasyon.\n* Ibunyag ang panloob na epekto sa mga karakter: paninikip sa dibdib, bukol sa lalamunan, nanginginig na mga kamay.\n\n2. Pagkamadalian at Pace\n\n* Pagsama-samahin ang mga maiikling pangungusap ng aksyon na may maigsi na paglalarawan, na nagpapanatili ng mabilis na bilis.\n* Gumamit ng bantas na nagpapatibay sa ritmo (ellipsis, tandang padamdam, interjections).\n* Iwasan ang labis na mahabang panahon; dapat isulong ng bawat talata ang eksena nang walang mga literary pause.\n\n3. Konkreto at Maikling Paglalarawan\n\n* Tumutok sa mahahalagang detalye ng visual at pandama, nang walang labis na karga.\n* Gumamit ng mga tiyak na metapora at paghahambing, palaging nauugnay sa sandali.\n* Ang bawat elemento (kulay, tunog, texture) ay dapat na lumitaw sa isang agarang nakikilalang paraan.\n\n4. Cinematic Sense\n\n* Kahaliling pagtutok sa pagitan ng mga close-up (mga ekspresyon, mga reaksyon) at mga long shot (kapaligiran, crowd).\n* Gumamit ng mga pang-abay na paggalaw upang mahikayat ang ideya ng gumagalaw na kamera.\n* Hatiin ang mga talata upang gayahin ang mga pagbawas sa eksena.\n\n5. Mapagmasid at Malapit na Narrator\n\n* I-adopt ang pangatlong tao, ngunit panatilihin ang tono ng pakikipag-usap: natural na wika, nang walang literary jargon.\n* Iwasan ang mga terminong sobrang scholar; mas gusto ang mga construction na parang direktang ulat.\n\n6. Tonal Contrast\n\n* Gumawa ng mga dramatikong paghinto kung saan ang katahimikan o kawalan ng pagkilos ay nagsasalita ng kasing dami ng mga aksyon.\n* Intersperse tunog at ingay sa parehong sequence (biglang katahimikan na sinusundan ng isang hiyawan o ingay).\n\n7. Mga Reaksyon at Kolektibong Paghuhukom\n\n* Ilarawan ang mga ekspresyon at bulungan ng mga nagmamasid, na nagpapatibay sa pag-igting sa lipunan.\n* Isama ang mga fragment ng pananalita mula sa mga pangalawang character na nagpapakita ng pagkabigla o hindi pag-apruba.\n\n8. Nakakagulat na Wika\n\n* Gumamit ng mga nakakagulat na termino na nauugnay sa horror, trahedya, at iskandalo, ngunit palaging naka-link sa mga partikular na larawan.\n* Iwasan ang labis na sensationalism; panatilihin ang pagiging tunay sa pagkabigla.\n\n9. Malapit sa Sakit\n\n* Direktang ilarawan ang pisikal at emosyonal na sakit ng mga karakter.\n* Iwasan ang mga euphemism: ilarawan ang kalubhaan ng mga eksena nang hindi pinapalambot ang wika.\n\n10. Mga Kislap ng Pag-asa\n\n* Maglagay ng mga maikling kislap ng ginhawa o aliw na namumukod-tangi sa konteksto ng tensyon.\n* Ang mga sandaling ito ay dapat na higit pang magpatingkad sa kapansin-pansing epekto kapag ang eksena ay nagiging madalian.\n\n11. Pagkakaugnay-ugnay ng Boses\n\n* Panatilihin ang parehong tono ng pagsasalaysay mula simula hanggang wakas: impormal, visceral, cinematic.\n* Iwasan ang mga magkasalungat na istilo; panatilihin ang isang pinag-isang tono sa buong teksto.\n\n12. Pagpili ng Talasalitaan\n\n* Mas gusto ang malalakas na pandiwa at matalim na adjectives; palitan ang mga generic na pang-abay ng mas tiyak na katumbas.\n* Pamahalaan ang bokabularyo upang mapahusay ang intensity nang hindi ginagawang nakakapagod ang pagbabasa.\n\n13. Mga Pagbabawal\n\n* Iwasan ang pilosopikal na pagmuni-muni o mahabang digression.\n* Iwasang gumamit ng detalyadong bokabularyo sa panitikan.\n* Iwasang magdagdag ng mga nakapagtuturong seksyon, vignette, o subheading.\n* Iwasang maglagay ng mga paglalarawan na nakakagambala sa daloy ng tono."},{"content":"Magbigay ng teksto sa Filipino, gamit ang mga pangalan at ekspresyong karaniwan sa mga nagsasalita ng U.S., na inangkop upang ipakita ang kulturang Pilipino. Ibagay ang mga pangalan, lugar, at kultural na sanggunian upang maging natural at makikilala ang mga ito sa Filipino, na tinitiyak na mananatiling may kaugnayan ang mga ito at kumonekta sa iyong madla.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3520,260],"id":"def795c2-9651-400c-b9f7-59901a070f30","name":"Gerar Capítulo 4","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\"\n\nSumulat ng bagong kabanata ng humigit-kumulang 500 salita na nagpapatuloy sa mga kaganapang inilarawan sa itaas, na nagpapakilala ng isang nakakagulat na twist na ganap na nagbabago sa salaysay. Magsimula nang eksakto kung saan natapos ang nakaraang kabanata, ngunit sa ilang mga punto, magpasok ng isang dramatiko at hindi inaasahang pangyayari na radikal na nagbabago sa takbo ng kuwento, nagbabago ng mga relasyon, nagbubunyag ng mga mapangwasak na lihim, o nagbabago sa tunay na katangian ng isang pangunahing karakter. Panatilihin ang parehong istilo, wika, at bilis gaya ng orihinal na salaysay, habang ginagawa ang biglaang pagbabagong ito sa paraang nag-iiwan sa mambabasa sa estado ng pagkabigla. Ang twist ay dapat na nakakabigla kaya na tinatanong ng mambabasa ang lahat ng inaakala nilang alam nila tungkol sa kuwento hanggang sa puntong iyon. Huwag isara ang balangkas o tiyak na lutasin ang mga salungatan, ngunit gamitin ang twist na ito upang lumikha ng mas nakakagulat na pagtatapos, na nag-iiwan sa mambabasa na desperado na matuklasan ang mga kahihinatnan ng kaganapang ito na nagbabago ng buhay. Isama lamang ang bagong kabanata at huwag muling isulat ang nakaraang kabanata nang walang paliwanag, karagdagang komentaryo, bilang ng salita, o mga espesyal na karakter.\n\nAng tono ng pagsulat ay dapat na simple, direkta, at emosyonal, na para bang ang kuwento ay ikinuwento ng isang kaibigan sa isang kaswal na pag-uusap. Gumamit ng mga simpleng salita, maiikling pangungusap, at isang magaan, binibigkas na ritmo ng salita. Iwasan ang mahihirap na salita, kumplikadong istruktura, o wikang pampanitikan. Dapat makuha ng salaysay ang atensyon nang may malinaw na imahe, pangkalahatang damdamin, at naa-access na wika. Iwasan ang mga saradong pagtatapos: tapusin ang kabanata sa isang misteryo o isang tanong, na nag-iiwan sa mambabasa na malaman kung ano ang susunod.\n\n1. Emosyonal na Intensity\n\n* Ang bawat pangungusap ay dapat maghatid ng hilaw na damdamin: takot, sakit, pagkabigla, habag.\n* Gumamit ng malalakas na pandiwa at adjectives na pumukaw ng pisikal at sikolohikal na sensasyon.\n* Ibunyag ang panloob na epekto sa mga karakter: paninikip sa dibdib, bukol sa lalamunan, nanginginig na mga kamay.\n\n2. Pagkamadalian at Pace\n\n* Pagsama-samahin ang mga maiikling pangungusap ng aksyon na may maigsi na paglalarawan, na nagpapanatili ng mabilis na bilis.\n* Gumamit ng bantas na nagpapatibay sa ritmo (ellipsis, tandang padamdam, interjections).\n* Iwasan ang labis na mahabang panahon; dapat isulong ng bawat talata ang eksena nang walang mga literary pause.\n\n3. Konkreto at Maikling Paglalarawan\n\n* Tumutok sa mahahalagang detalye ng visual at pandama, nang walang labis na karga.\n* Gumamit ng mga tiyak na metapora at paghahambing, palaging nauugnay sa sandali.\n* Ang bawat elemento (kulay, tunog, texture) ay dapat na lumitaw sa isang agarang nakikilalang paraan.\n\n4. Cinematic Sense\n\n* Kahaliling pagtutok sa pagitan ng mga close-up (mga ekspresyon, mga reaksyon) at mga long shot (kapaligiran, crowd).\n* Gumamit ng mga pang-abay na paggalaw upang mahikayat ang ideya ng gumagalaw na kamera.\n* Hatiin ang mga talata upang gayahin ang mga pagbawas sa eksena.\n\n5. Mapagmasid at Malapit na Narrator\n\n* I-adopt ang pangatlong tao, ngunit panatilihin ang tono ng pakikipag-usap: natural na wika, nang walang literary jargon.\n* Iwasan ang mga terminong sobrang scholar; mas gusto ang mga construction na parang direktang ulat.\n\n6. Tonal Contrast\n\n* Gumawa ng mga dramatikong paghinto kung saan ang katahimikan o kawalan ng pagkilos ay nagsasalita ng kasing dami ng mga aksyon.\n* Intersperse tunog at ingay sa parehong sequence (biglang katahimikan na sinusundan ng isang hiyawan o ingay).\n\n7. Mga Reaksyon at Kolektibong Paghuhukom\n\n* Ilarawan ang mga ekspresyon at bulungan ng mga nagmamasid, na nagpapatibay sa pag-igting sa lipunan.\n* Isama ang mga fragment ng pananalita mula sa mga pangalawang character na nagpapakita ng pagkabigla o hindi pag-apruba.\n\n8. Nakakagulat na Wika\n\n* Gumamit ng mga nakakagulat na termino na nauugnay sa horror, trahedya, at iskandalo, ngunit palaging naka-link sa mga partikular na larawan.\n* Iwasan ang labis na sensationalism; panatilihin ang pagiging tunay sa pagkabigla.\n\n9. Malapit sa Sakit\n\n* Direktang ilarawan ang pisikal at emosyonal na sakit ng mga karakter.\n* Iwasan ang mga euphemism: ilarawan ang kalubhaan ng mga eksena nang hindi pinapalambot ang wika.\n\n10. Mga Kislap ng Pag-asa\n\n* Maglagay ng mga maikling kislap ng ginhawa o aliw na namumukod-tangi sa konteksto ng tensyon.\n* Ang mga sandaling ito ay dapat na higit pang magpatingkad sa kapansin-pansing epekto kapag ang eksena ay nagiging madalian.\n\n11. Pagkakaugnay-ugnay ng Boses\n\n* Panatilihin ang parehong tono ng pagsasalaysay mula simula hanggang wakas: impormal, visceral, cinematic.\n* Iwasan ang mga magkasalungat na istilo; panatilihin ang isang pinag-isang tono sa buong teksto.\n\n12. Pagpili ng Talasalitaan\n\n* Mas gusto ang malalakas na pandiwa at matalim na adjectives; palitan ang mga generic na pang-abay ng mas tiyak na katumbas.\n* Pamahalaan ang bokabularyo upang mapahusay ang intensity nang hindi ginagawang nakakapagod ang pagbabasa.\n\n13. Mga Pagbabawal\n\n* Iwasan ang pilosopikal na pagmuni-muni o mahabang digression.\n* Iwasang gumamit ng detalyadong bokabularyo sa panitikan.\n* Iwasang magdagdag ng mga nakapagtuturong seksyon, vignette, o subheading.\n* Iwasang maglagay ng mga paglalarawan na nakakagambala sa daloy ng tono."},{"content":"Magbigay ng teksto sa Filipino, gamit ang mga pangalan at ekspresyong karaniwan sa mga nagsasalita ng U.S., na inangkop upang ipakita ang kulturang Pilipino. Ibagay ang mga pangalan, lugar, at kultural na sanggunian upang maging natural at makikilala ang mga ito sa Filipino, na tinitiyak na mananatiling may kaugnayan ang mga ito at kumonekta sa iyong madla.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3900,260],"id":"4b9ac007-a46d-4cf0-811a-abafa84d7932","name":"Gerar Capítulo 5","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\"\n\nSumulat ng bagong kabanata ng humigit-kumulang 500 salita na nagpapatuloy sa mga kaganapang inilarawan sa itaas, na nagpapakilala ng isang nakakagulat na twist na ganap na nagbabago sa salaysay. Magsimula nang eksakto kung saan natapos ang nakaraang kabanata, ngunit sa ilang mga punto, magpasok ng isang dramatiko at hindi inaasahang pangyayari na radikal na nagbabago sa takbo ng kuwento, nagbabago ng mga relasyon, nagbubunyag ng mga mapangwasak na lihim, o nagbabago sa tunay na katangian ng isang pangunahing karakter. Panatilihin ang parehong istilo, wika, at bilis gaya ng orihinal na salaysay, habang ginagawa ang biglaang pagbabagong ito sa paraang nag-iiwan sa mambabasa sa estado ng pagkabigla. Ang twist ay dapat na nakakabigla kaya na tinatanong ng mambabasa ang lahat ng inaakala nilang alam nila tungkol sa kuwento hanggang sa puntong iyon. Huwag isara ang balangkas o tiyak na lutasin ang mga salungatan, ngunit gamitin ang twist na ito upang lumikha ng mas nakakagulat na pagtatapos, na nag-iiwan sa mambabasa na desperado na matuklasan ang mga kahihinatnan ng kaganapang ito na nagbabago ng buhay. Isama lamang ang bagong kabanata at huwag muling isulat ang nakaraang kabanata nang walang paliwanag, karagdagang komentaryo, bilang ng salita, o mga espesyal na karakter.\n\nAng tono ng pagsulat ay dapat na simple, direkta, at emosyonal, na para bang ang kuwento ay ikinuwento ng isang kaibigan sa isang kaswal na pag-uusap. Gumamit ng mga simpleng salita, maiikling pangungusap, at isang magaan, binibigkas na ritmo ng salita. Iwasan ang mahihirap na salita, kumplikadong istruktura, o wikang pampanitikan. Dapat makuha ng salaysay ang atensyon nang may malinaw na imahe, pangkalahatang damdamin, at naa-access na wika. Iwasan ang mga saradong pagtatapos: tapusin ang kabanata sa isang misteryo o isang tanong, na nag-iiwan sa mambabasa na malaman kung ano ang susunod.\n\n1. Emosyonal na Intensity\n\n* Ang bawat pangungusap ay dapat maghatid ng hilaw na damdamin: takot, sakit, pagkabigla, habag.\n* Gumamit ng malalakas na pandiwa at adjectives na pumukaw ng pisikal at sikolohikal na sensasyon.\n* Ibunyag ang panloob na epekto sa mga karakter: paninikip sa dibdib, bukol sa lalamunan, nanginginig na mga kamay.\n\n2. Pagkamadalian at Pace\n\n* Pagsama-samahin ang mga maiikling pangungusap ng aksyon na may maigsi na paglalarawan, na nagpapanatili ng mabilis na bilis.\n* Gumamit ng bantas na nagpapatibay sa ritmo (ellipsis, tandang padamdam, interjections).\n* Iwasan ang labis na mahabang panahon; dapat isulong ng bawat talata ang eksena nang walang mga literary pause.\n\n3. Konkreto at Maikling Paglalarawan\n\n* Tumutok sa mahahalagang detalye ng visual at pandama, nang walang labis na karga.\n* Gumamit ng mga tiyak na metapora at paghahambing, palaging nauugnay sa sandali.\n* Ang bawat elemento (kulay, tunog, texture) ay dapat na lumitaw sa isang agarang nakikilalang paraan.\n\n4. Cinematic Sense\n\n* Kahaliling pagtutok sa pagitan ng mga close-up (mga ekspresyon, mga reaksyon) at mga long shot (kapaligiran, crowd).\n* Gumamit ng mga pang-abay na paggalaw upang mahikayat ang ideya ng gumagalaw na kamera.\n* Hatiin ang mga talata upang gayahin ang mga pagbawas sa eksena.\n\n5. Mapagmasid at Malapit na Narrator\n\n* I-adopt ang pangatlong tao, ngunit panatilihin ang tono ng pakikipag-usap: natural na wika, nang walang literary jargon.\n* Iwasan ang mga terminong sobrang scholar; mas gusto ang mga construction na parang direktang ulat.\n\n6. Tonal Contrast\n\n* Gumawa ng mga dramatikong paghinto kung saan ang katahimikan o kawalan ng pagkilos ay nagsasalita ng kasing dami ng mga aksyon.\n* Intersperse tunog at ingay sa parehong sequence (biglang katahimikan na sinusundan ng isang hiyawan o ingay).\n\n7. Mga Reaksyon at Kolektibong Paghuhukom\n\n* Ilarawan ang mga ekspresyon at bulungan ng mga nagmamasid, na nagpapatibay sa pag-igting sa lipunan.\n* Isama ang mga fragment ng pananalita mula sa mga pangalawang character na nagpapakita ng pagkabigla o hindi pag-apruba.\n\n8. Nakakagulat na Wika\n\n* Gumamit ng mga nakakagulat na termino na nauugnay sa horror, trahedya, at iskandalo, ngunit palaging naka-link sa mga partikular na larawan.\n* Iwasan ang labis na sensationalism; panatilihin ang pagiging tunay sa pagkabigla.\n\n9. Malapit sa Sakit\n\n* Direktang ilarawan ang pisikal at emosyonal na sakit ng mga karakter.\n* Iwasan ang mga euphemism: ilarawan ang kalubhaan ng mga eksena nang hindi pinapalambot ang wika.\n\n10. Mga Kislap ng Pag-asa\n\n* Maglagay ng mga maikling kislap ng ginhawa o aliw na namumukod-tangi sa konteksto ng tensyon.\n* Ang mga sandaling ito ay dapat na higit pang magpatingkad sa kapansin-pansing epekto kapag ang eksena ay nagiging madalian.\n\n11. Pagkakaugnay-ugnay ng Boses\n\n* Panatilihin ang parehong tono ng pagsasalaysay mula simula hanggang wakas: impormal, visceral, cinematic.\n* Iwasan ang mga magkasalungat na istilo; panatilihin ang isang pinag-isang tono sa buong teksto.\n\n12. Pagpili ng Talasalitaan\n\n* Mas gusto ang malalakas na pandiwa at matalim na adjectives; palitan ang mga generic na pang-abay ng mas tiyak na katumbas.\n* Pamahalaan ang bokabularyo upang mapahusay ang intensity nang hindi ginagawang nakakapagod ang pagbabasa.\n\n13. Mga Pagbabawal\n\n* Iwasan ang pilosopikal na pagmuni-muni o mahabang digression.\n* Iwasang gumamit ng detalyadong bokabularyo sa panitikan.\n* Iwasang magdagdag ng mga nakapagtuturong seksyon, vignette, o subheading.\n* Iwasang maglagay ng mga paglalarawan na nakakagambala sa daloy ng tono."},{"content":"Magbigay ng teksto sa Filipino, gamit ang mga pangalan at ekspresyong karaniwan sa mga nagsasalita ng U.S., na inangkop upang ipakita ang kulturang Pilipino. Ibagay ang mga pangalan, lugar, at kultural na sanggunian upang maging natural at makikilala ang mga ito sa Filipino, na tinitiyak na mananatiling may kaugnayan ang mga ito at kumonekta sa iyong madla.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[4280,260],"id":"343e1609-b121-4a7b-b08f-032ef25f7cf1","name":"Gerar Capítulo 6","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\n{{ $('Gerar Capítulo 6').item.json.message.content }}\"\n\nSumulat ng bagong kabanata ng humigit-kumulang 500 salita na nagpapatuloy sa mga kaganapang inilarawan sa itaas, na nagpapakilala ng isang nakakagulat na twist na ganap na nagbabago sa salaysay. Magsimula nang eksakto kung saan natapos ang nakaraang kabanata, ngunit sa ilang mga punto, magpasok ng isang dramatiko at hindi inaasahang pangyayari na radikal na nagbabago sa takbo ng kuwento, nagbabago ng mga relasyon, nagbubunyag ng mga mapangwasak na lihim, o nagbabago sa tunay na katangian ng isang pangunahing karakter. Panatilihin ang parehong istilo, wika, at bilis gaya ng orihinal na salaysay, habang ginagawa ang biglaang pagbabagong ito sa paraang nag-iiwan sa mambabasa sa estado ng pagkabigla. Ang twist ay dapat na nakakabigla kaya na tinatanong ng mambabasa ang lahat ng inaakala nilang alam nila tungkol sa kuwento hanggang sa puntong iyon. Huwag isara ang balangkas o tiyak na lutasin ang mga salungatan, ngunit gamitin ang twist na ito upang lumikha ng mas nakakagulat na pagtatapos, na nag-iiwan sa mambabasa na desperado na matuklasan ang mga kahihinatnan ng kaganapang ito na nagbabago ng buhay. Isama lamang ang bagong kabanata at huwag muling isulat ang nakaraang kabanata nang walang paliwanag, karagdagang komentaryo, bilang ng salita, o mga espesyal na karakter.\n\nAng tono ng pagsulat ay dapat na simple, direkta, at emosyonal, na para bang ang kuwento ay ikinuwento ng isang kaibigan sa isang kaswal na pag-uusap. Gumamit ng mga simpleng salita, maiikling pangungusap, at isang magaan, binibigkas na ritmo ng salita. Iwasan ang mahihirap na salita, kumplikadong istruktura, o wikang pampanitikan. Dapat makuha ng salaysay ang atensyon nang may malinaw na imahe, pangkalahatang damdamin, at naa-access na wika. Iwasan ang mga saradong pagtatapos: tapusin ang kabanata sa isang misteryo o isang tanong, na nag-iiwan sa mambabasa na malaman kung ano ang susunod.\n\n1. Emosyonal na Intensity\n\n* Ang bawat pangungusap ay dapat maghatid ng hilaw na damdamin: takot, sakit, pagkabigla, habag.\n* Gumamit ng malalakas na pandiwa at adjectives na pumukaw ng pisikal at sikolohikal na sensasyon.\n* Ibunyag ang panloob na epekto sa mga karakter: paninikip sa dibdib, bukol sa lalamunan, nanginginig na mga kamay.\n\n2. Pagkamadalian at Pace\n\n* Pagsama-samahin ang mga maiikling pangungusap ng aksyon na may maigsi na paglalarawan, na nagpapanatili ng mabilis na bilis.\n* Gumamit ng bantas na nagpapatibay sa ritmo (ellipsis, tandang padamdam, interjections).\n* Iwasan ang labis na mahabang panahon; dapat isulong ng bawat talata ang eksena nang walang mga literary pause.\n\n3. Konkreto at Maikling Paglalarawan\n\n* Tumutok sa mahahalagang detalye ng visual at pandama, nang walang labis na karga.\n* Gumamit ng mga tiyak na metapora at paghahambing, palaging nauugnay sa sandali.\n* Ang bawat elemento (kulay, tunog, texture) ay dapat na lumitaw sa isang agarang nakikilalang paraan.\n\n4. Cinematic Sense\n\n* Kahaliling pagtutok sa pagitan ng mga close-up (mga ekspresyon, mga reaksyon) at mga long shot (kapaligiran, crowd).\n* Gumamit ng mga pang-abay na paggalaw upang mahikayat ang ideya ng gumagalaw na kamera.\n* Hatiin ang mga talata upang gayahin ang mga pagbawas sa eksena.\n\n5. Mapagmasid at Malapit na Narrator\n\n* I-adopt ang pangatlong tao, ngunit panatilihin ang tono ng pakikipag-usap: natural na wika, nang walang literary jargon.\n* Iwasan ang mga terminong sobrang scholar; mas gusto ang mga construction na parang direktang ulat.\n\n6. Tonal Contrast\n\n* Gumawa ng mga dramatikong paghinto kung saan ang katahimikan o kawalan ng pagkilos ay nagsasalita ng kasing dami ng mga aksyon.\n* Intersperse tunog at ingay sa parehong sequence (biglang katahimikan na sinusundan ng isang hiyawan o ingay).\n\n7. Mga Reaksyon at Kolektibong Paghuhukom\n\n* Ilarawan ang mga ekspresyon at bulungan ng mga nagmamasid, na nagpapatibay sa pag-igting sa lipunan.\n* Isama ang mga fragment ng pananalita mula sa mga pangalawang character na nagpapakita ng pagkabigla o hindi pag-apruba.\n\n8. Nakakagulat na Wika\n\n* Gumamit ng mga nakakagulat na termino na nauugnay sa horror, trahedya, at iskandalo, ngunit palaging naka-link sa mga partikular na larawan.\n* Iwasan ang labis na sensationalism; panatilihin ang pagiging tunay sa pagkabigla.\n\n9. Malapit sa Sakit\n\n* Direktang ilarawan ang pisikal at emosyonal na sakit ng mga karakter.\n* Iwasan ang mga euphemism: ilarawan ang kalubhaan ng mga eksena nang hindi pinapalambot ang wika.\n\n10. Mga Kislap ng Pag-asa\n\n* Maglagay ng mga maikling kislap ng ginhawa o aliw na namumukod-tangi sa konteksto ng tensyon.\n* Ang mga sandaling ito ay dapat na higit pang magpatingkad sa kapansin-pansing epekto kapag ang eksena ay nagiging madalian.\n\n11. Pagkakaugnay-ugnay ng Boses\n\n* Panatilihin ang parehong tono ng pagsasalaysay mula simula hanggang wakas: impormal, visceral, cinematic.\n* Iwasan ang mga magkasalungat na istilo; panatilihin ang isang pinag-isang tono sa buong teksto.\n\n12. Pagpili ng Talasalitaan\n\n* Mas gusto ang malalakas na pandiwa at matalim na adjectives; palitan ang mga generic na pang-abay ng mas tiyak na katumbas.\n* Pamahalaan ang bokabularyo upang mapahusay ang intensity nang hindi ginagawang nakakapagod ang pagbabasa.\n\n13. Mga Pagbabawal\n\n* Iwasan ang pilosopikal na pagmuni-muni o mahabang digression.\n* Iwasang gumamit ng detalyadong bokabularyo sa panitikan.\n* Iwasang magdagdag ng mga nakapagtuturong seksyon, vignette, o subheading.\n* Iwasang maglagay ng mga paglalarawan na nakakagambala sa daloy ng tono."},{"content":"Magbigay ng teksto sa Filipino, gamit ang mga pangalan at ekspresyong karaniwan sa mga nagsasalita ng U.S., na inangkop upang ipakita ang kulturang Pilipino. Ibagay ang mga pangalan, lugar, at kultural na sanggunian upang maging natural at makikilala ang mga ito sa Filipino, na tinitiyak na mananatiling may kaugnayan ang mga ito at kumonekta sa iyong madla.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[4640,260],"id":"19e15842-2d39-4841-a7c0-ef590908fd50","name":"Gerar Capítulo 7","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\n{{ $('Gerar Capítulo 6').item.json.message.content }}\n{{ $('Gerar Capítulo 7').item.json.message.content }}\"\n\nSumulat ng bagong kabanata ng humigit-kumulang 500 salita na nagpapatuloy sa mga kaganapang inilarawan sa itaas, na nagpapakilala ng isang nakakagulat na twist na ganap na nagbabago sa salaysay. Magsimula nang eksakto kung saan natapos ang nakaraang kabanata, ngunit sa ilang mga punto, magpasok ng isang dramatiko at hindi inaasahang pangyayari na radikal na nagbabago sa takbo ng kuwento, nagbabago ng mga relasyon, nagbubunyag ng mga mapangwasak na lihim, o nagbabago sa tunay na katangian ng isang pangunahing karakter. Panatilihin ang parehong istilo, wika, at bilis gaya ng orihinal na salaysay, habang ginagawa ang biglaang pagbabagong ito sa paraang nag-iiwan sa mambabasa sa estado ng pagkabigla. Ang twist ay dapat na nakakabigla kaya na tinatanong ng mambabasa ang lahat ng inaakala nilang alam nila tungkol sa kuwento hanggang sa puntong iyon. Huwag isara ang balangkas o tiyak na lutasin ang mga salungatan, ngunit gamitin ang twist na ito upang lumikha ng mas nakakagulat na pagtatapos, na nag-iiwan sa mambabasa na desperado na matuklasan ang mga kahihinatnan ng kaganapang ito na nagbabago ng buhay. Isama lamang ang bagong kabanata at huwag muling isulat ang nakaraang kabanata nang walang paliwanag, karagdagang komentaryo, bilang ng salita, o mga espesyal na karakter.\n\nAng tono ng pagsulat ay dapat na simple, direkta, at emosyonal, na para bang ang kuwento ay ikinuwento ng isang kaibigan sa isang kaswal na pag-uusap. Gumamit ng mga simpleng salita, maiikling pangungusap, at isang magaan, binibigkas na ritmo ng salita. Iwasan ang mahihirap na salita, kumplikadong istruktura, o wikang pampanitikan. Dapat makuha ng salaysay ang atensyon nang may malinaw na imahe, pangkalahatang damdamin, at naa-access na wika. Iwasan ang mga saradong pagtatapos: tapusin ang kabanata sa isang misteryo o isang tanong, na nag-iiwan sa mambabasa na malaman kung ano ang susunod.\n\n1. Emosyonal na Intensity\n\n* Ang bawat pangungusap ay dapat maghatid ng hilaw na damdamin: takot, sakit, pagkabigla, habag.\n* Gumamit ng malalakas na pandiwa at adjectives na pumukaw ng pisikal at sikolohikal na sensasyon.\n* Ibunyag ang panloob na epekto sa mga karakter: paninikip sa dibdib, bukol sa lalamunan, nanginginig na mga kamay.\n\n2. Pagkamadalian at Pace\n\n* Pagsama-samahin ang mga maiikling pangungusap ng aksyon na may maigsi na paglalarawan, na nagpapanatili ng mabilis na bilis.\n* Gumamit ng bantas na nagpapatibay sa ritmo (ellipsis, tandang padamdam, interjections).\n* Iwasan ang labis na mahabang panahon; dapat isulong ng bawat talata ang eksena nang walang mga literary pause.\n\n3. Konkreto at Maikling Paglalarawan\n\n* Tumutok sa mahahalagang detalye ng visual at pandama, nang walang labis na karga.\n* Gumamit ng mga tiyak na metapora at paghahambing, palaging nauugnay sa sandali.\n* Ang bawat elemento (kulay, tunog, texture) ay dapat na lumitaw sa isang agarang nakikilalang paraan.\n\n4. Cinematic Sense\n\n* Kahaliling pagtutok sa pagitan ng mga close-up (mga ekspresyon, mga reaksyon) at mga long shot (kapaligiran, crowd).\n* Gumamit ng mga pang-abay na paggalaw upang mahikayat ang ideya ng gumagalaw na kamera.\n* Hatiin ang mga talata upang gayahin ang mga pagbawas sa eksena.\n\n5. Mapagmasid at Malapit na Narrator\n\n* I-adopt ang pangatlong tao, ngunit panatilihin ang tono ng pakikipag-usap: natural na wika, nang walang literary jargon.\n* Iwasan ang mga terminong sobrang scholar; mas gusto ang mga construction na parang direktang ulat.\n\n6. Tonal Contrast\n\n* Gumawa ng mga dramatikong paghinto kung saan ang katahimikan o kawalan ng pagkilos ay nagsasalita ng kasing dami ng mga aksyon.\n* Intersperse tunog at ingay sa parehong sequence (biglang katahimikan na sinusundan ng isang hiyawan o ingay).\n\n7. Mga Reaksyon at Kolektibong Paghuhukom\n\n* Ilarawan ang mga ekspresyon at bulungan ng mga nagmamasid, na nagpapatibay sa pag-igting sa lipunan.\n* Isama ang mga fragment ng pananalita mula sa mga pangalawang character na nagpapakita ng pagkabigla o hindi pag-apruba.\n\n8. Nakakagulat na Wika\n\n* Gumamit ng mga nakakagulat na termino na nauugnay sa horror, trahedya, at iskandalo, ngunit palaging naka-link sa mga partikular na larawan.\n* Iwasan ang labis na sensationalism; panatilihin ang pagiging tunay sa pagkabigla.\n\n9. Malapit sa Sakit\n\n* Direktang ilarawan ang pisikal at emosyonal na sakit ng mga karakter.\n* Iwasan ang mga euphemism: ilarawan ang kalubhaan ng mga eksena nang hindi pinapalambot ang wika.\n\n10. Mga Kislap ng Pag-asa\n\n* Maglagay ng mga maikling kislap ng ginhawa o aliw na namumukod-tangi sa konteksto ng tensyon.\n* Ang mga sandaling ito ay dapat na higit pang magpatingkad sa kapansin-pansing epekto kapag ang eksena ay nagiging madalian.\n\n11. Pagkakaugnay-ugnay ng Boses\n\n* Panatilihin ang parehong tono ng pagsasalaysay mula simula hanggang wakas: impormal, visceral, cinematic.\n* Iwasan ang mga magkasalungat na istilo; panatilihin ang isang pinag-isang tono sa buong teksto.\n\n12. Pagpili ng Talasalitaan\n\n* Mas gusto ang malalakas na pandiwa at matalim na adjectives; palitan ang mga generic na pang-abay ng mas tiyak na katumbas.\n* Pamahalaan ang bokabularyo upang mapahusay ang intensity nang hindi ginagawang nakakapagod ang pagbabasa.\n\n13. Mga Pagbabawal\n\n* Iwasan ang pilosopikal na pagmuni-muni o mahabang digression.\n* Iwasang gumamit ng detalyadong bokabularyo sa panitikan.\n* Iwasang magdagdag ng mga nakapagtuturong seksyon, vignette, o subheading.\n* Iwasang maglagay ng mga paglalarawan na nakakagambala sa daloy ng tono."},{"content":"Magbigay ng teksto sa Filipino, gamit ang mga pangalan at ekspresyong karaniwan sa mga nagsasalita ng U.S., na inangkop upang ipakita ang kulturang Pilipino. Ibagay ang mga pangalan, lugar, at kultural na sanggunian upang maging natural at makikilala ang mga ito sa Filipino, na tinitiyak na mananatiling may kaugnayan ang mga ito at kumonekta sa iyong madla.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[5020,260],"id":"651c6583-916c-47c0-968b-9bbe2804fb85","name":"Gerar Capítulo 8","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\n{{ $('Gerar Capítulo 6').item.json.message.content }}\n{{ $('Gerar Capítulo 7').item.json.message.content }}\n{{ $('Gerar Capítulo 8').item.json.message.content }}\"\n\nSumulat ng bagong kabanata ng humigit-kumulang 500 salita na nagpapatuloy sa mga kaganapang inilarawan sa itaas, na nagpapakilala ng isang nakakagulat na twist na ganap na nagbabago sa salaysay. Magsimula nang eksakto kung saan natapos ang nakaraang kabanata, ngunit sa ilang mga punto, magpasok ng isang dramatiko at hindi inaasahang pangyayari na radikal na nagbabago sa takbo ng kuwento, nagbabago ng mga relasyon, nagbubunyag ng mga mapangwasak na lihim, o nagbabago sa tunay na katangian ng isang pangunahing karakter. Panatilihin ang parehong istilo, wika, at bilis gaya ng orihinal na salaysay, habang ginagawa ang biglaang pagbabagong ito sa paraang nag-iiwan sa mambabasa sa estado ng pagkabigla. Ang twist ay dapat na nakakabigla kaya na tinatanong ng mambabasa ang lahat ng inaakala nilang alam nila tungkol sa kuwento hanggang sa puntong iyon. Huwag isara ang balangkas o tiyak na lutasin ang mga salungatan, ngunit gamitin ang twist na ito upang lumikha ng mas nakakagulat na pagtatapos, na nag-iiwan sa mambabasa na desperado na matuklasan ang mga kahihinatnan ng kaganapang ito na nagbabago ng buhay. Isama lamang ang bagong kabanata at huwag muling isulat ang nakaraang kabanata nang walang paliwanag, karagdagang komentaryo, bilang ng salita, o mga espesyal na karakter.\n\nAng tono ng pagsulat ay dapat na simple, direkta, at emosyonal, na para bang ang kuwento ay ikinuwento ng isang kaibigan sa isang kaswal na pag-uusap. Gumamit ng mga simpleng salita, maiikling pangungusap, at isang magaan, binibigkas na ritmo ng salita. Iwasan ang mahihirap na salita, kumplikadong istruktura, o wikang pampanitikan. Dapat makuha ng salaysay ang atensyon nang may malinaw na imahe, pangkalahatang damdamin, at naa-access na wika. Iwasan ang mga saradong pagtatapos: tapusin ang kabanata sa isang misteryo o isang tanong, na nag-iiwan sa mambabasa na malaman kung ano ang susunod.\n\n1. Emosyonal na Intensity\n\n* Ang bawat pangungusap ay dapat maghatid ng hilaw na damdamin: takot, sakit, pagkabigla, habag.\n* Gumamit ng malalakas na pandiwa at adjectives na pumukaw ng pisikal at sikolohikal na sensasyon.\n* Ibunyag ang panloob na epekto sa mga karakter: paninikip sa dibdib, bukol sa lalamunan, nanginginig na mga kamay.\n\n2. Pagkamadalian at Pace\n\n* Pagsama-samahin ang mga maiikling pangungusap ng aksyon na may maigsi na paglalarawan, na nagpapanatili ng mabilis na bilis.\n* Gumamit ng bantas na nagpapatibay sa ritmo (ellipsis, tandang padamdam, interjections).\n* Iwasan ang labis na mahabang panahon; dapat isulong ng bawat talata ang eksena nang walang mga literary pause.\n\n3. Konkreto at Maikling Paglalarawan\n\n* Tumutok sa mahahalagang detalye ng visual at pandama, nang walang labis na karga.\n* Gumamit ng mga tiyak na metapora at paghahambing, palaging nauugnay sa sandali.\n* Ang bawat elemento (kulay, tunog, texture) ay dapat na lumitaw sa isang agarang nakikilalang paraan.\n\n4. Cinematic Sense\n\n* Kahaliling pagtutok sa pagitan ng mga close-up (mga ekspresyon, mga reaksyon) at mga long shot (kapaligiran, crowd).\n* Gumamit ng mga pang-abay na paggalaw upang mahikayat ang ideya ng gumagalaw na kamera.\n* Hatiin ang mga talata upang gayahin ang mga pagbawas sa eksena.\n\n5. Mapagmasid at Malapit na Narrator\n\n* I-adopt ang pangatlong tao, ngunit panatilihin ang tono ng pakikipag-usap: natural na wika, nang walang literary jargon.\n* Iwasan ang mga terminong sobrang scholar; mas gusto ang mga construction na parang direktang ulat.\n\n6. Tonal Contrast\n\n* Gumawa ng mga dramatikong paghinto kung saan ang katahimikan o kawalan ng pagkilos ay nagsasalita ng kasing dami ng mga aksyon.\n* Intersperse tunog at ingay sa parehong sequence (biglang katahimikan na sinusundan ng isang hiyawan o ingay).\n\n7. Mga Reaksyon at Kolektibong Paghuhukom\n\n* Ilarawan ang mga ekspresyon at bulungan ng mga nagmamasid, na nagpapatibay sa pag-igting sa lipunan.\n* Isama ang mga fragment ng pananalita mula sa mga pangalawang character na nagpapakita ng pagkabigla o hindi pag-apruba.\n\n8. Nakakagulat na Wika\n\n* Gumamit ng mga nakakagulat na termino na nauugnay sa horror, trahedya, at iskandalo, ngunit palaging naka-link sa mga partikular na larawan.\n* Iwasan ang labis na sensationalism; panatilihin ang pagiging tunay sa pagkabigla.\n\n9. Malapit sa Sakit\n\n* Direktang ilarawan ang pisikal at emosyonal na sakit ng mga karakter.\n* Iwasan ang mga euphemism: ilarawan ang kalubhaan ng mga eksena nang hindi pinapalambot ang wika.\n\n10. Mga Kislap ng Pag-asa\n\n* Maglagay ng mga maikling kislap ng ginhawa o aliw na namumukod-tangi sa konteksto ng tensyon.\n* Ang mga sandaling ito ay dapat na higit pang magpatingkad sa kapansin-pansing epekto kapag ang eksena ay nagiging madalian.\n\n11. Pagkakaugnay-ugnay ng Boses\n\n* Panatilihin ang parehong tono ng pagsasalaysay mula simula hanggang wakas: impormal, visceral, cinematic.\n* Iwasan ang mga magkasalungat na istilo; panatilihin ang isang pinag-isang tono sa buong teksto.\n\n12. Pagpili ng Talasalitaan\n\n* Mas gusto ang malalakas na pandiwa at matalim na adjectives; palitan ang mga generic na pang-abay ng mas tiyak na katumbas.\n* Pamahalaan ang bokabularyo upang mapahusay ang intensity nang hindi ginagawang nakakapagod ang pagbabasa.\n\n13. Mga Pagbabawal\n\n* Iwasan ang pilosopikal na pagmuni-muni o mahabang digression.\n* Iwasang gumamit ng detalyadong bokabularyo sa panitikan.\n* Iwasang magdagdag ng mga nakapagtuturong seksyon, vignette, o subheading.\n* Iwasang maglagay ng mga paglalarawan na nakakagambala sa daloy ng tono."},{"content":"Magbigay ng teksto sa Filipino, gamit ang mga pangalan at ekspresyong karaniwan sa mga nagsasalita ng U.S., na inangkop upang ipakita ang kulturang Pilipino. Ibagay ang mga pangalan, lugar, at kultural na sanggunian upang maging natural at makikilala ang mga ito sa Filipino, na tinitiyak na mananatiling may kaugnayan ang mga ito at kumonekta sa iyong madla.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[5400,260],"id":"4f963966-92cd-44b2-b24c-4d2fd9926ea0","name":"Gerar Capítulo Final","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"={{ $json.message.content.Prompts[0].prompt }} Dapat magsimula ang kuwento sa isang kahindik-hindik na bersyon ng hook: \"{{ $('Tradução Título').item.json.message.content['Título'] }}\". Sa unang kabanata na ito, sulitin ang mga kakaiba at mahiwagang elemento upang mang-intriga at makuha ang atensyon ng mambabasa mula sa simula. Ilarawan ang bawat hindi pangkaraniwang kaganapan sa matingkad at nakakaakit na detalye, na lumilikha ng kapaligiran ng pag-asa at pagkahumaling na nagpapanatili sa mambabasa na sabik na malaman kung ano ang susunod na mangyayari. Pagkatapos, magsama ng maikling call to action na nagsasabing, \"Uy, bago natin ipagpatuloy ang kamangha-manghang kuwentong ito, kailangan kong bigyan ka ng mahalagang babala! Maraming mga subscriber ang nag-ulat na kinansela ng YouTube ang kanilang mga subscription nang walang babala. Tingnan lang ang pulang button sa ibaba para matiyak na naka-subscribe ka pa rin sa channel! Ayokong makaligtaan mo ang anumang eksklusibong content na paparating... At habang nandiyan ka, mag-iwan ng napakalakas na tulad nito, kung ano ang nakakatulong sa akin! nanonood mula sa? Gustung-gusto kong makilala ang bawat kahanga-hangang tao na bahagi ng komunidad na ito ay gumagawa ng pagkakaiba, makipag-ugnayan tayo!\"\nIbigay lamang ang huling teksto, nang walang mga paliwanag, karagdagang komento, bilang ng salita, o mga espesyal na character. Ang kuwento ay dapat na nakasulat sa unang tao na may isang babae bilang tagapagsalaysay at dapat sundin ang eksaktong istrukturang ito:\n\nTITLE: Nagsisimula ito sa isang kahindik-hindik na bersyon ng hook: \"{{ $('Tradução Título').item.json.message.content['Título'] }}\"\n## CHAPTER DEVELOPMENT\n\n**Story must be written in third-person**\n\nIn this first chapter, add intriguing and mysterious elements to capture the reader's attention from the start. Describe each unusual event with vivid and engaging details, creating an atmosphere of anticipation and fascination that keeps the reader eager to find out what happens next.\n\n## Writing Style Requirements\n\nEnsure consistent third-person narrative voice throughout\n\nThe tone of the writing should be simple, direct, and emotional, as if the story were being told by a close observer sharing what they have seen. Use simple words, short sentences, and a light, natural rhythm. Avoid difficult words, complex structures, or literary language. The narrative should capture attention with clear imagery, universal feelings, and accessible language. Avoid closed endings: end the chapter with a mystery or a question, leaving the reader curious to know what comes next.\n\n## Detailed Style Guidelines\n\n### 1. Emotional Intensity\n\nMaintain third-person perspective\n\n* Each sentence should convey raw emotion: fear, pain, shock, compassion experienced by the characters.\n* Use strong verbs and adjectives that evoke physical and psychological sensations.\n* Reveal the internal impact on the characters: chest tightness, lump in the throat, trembling hands.\n\n### 2. Urgency and Rhythm\n\nKeep third-person narrative voice\n\n* Alternate short action sentences with concise descriptions, maintaining a brisk pace.\n* Use punctuation that reinforces cadence (ellipsis, exclamation points, interjections).\n* Avoid excessively long sentences; each paragraph should advance the scene without literary pauses.\n\n### 3. Concrete and Concise Description\n\nThrough the narrator’s external perspective\n\n* Focus on essential visual and sensory details, without overloading.\n* Use specific metaphors and comparisons, always related to the moment.\n* Each element (color, sound, texture) should appear in an instantly recognizable way.\n\n### 4. Cinematic Sensation\n\nFrom an observer’s point of view\n\n* Alternate focus between close-ups (expressions, reactions) and long shots (settings, crowd).\n* Use adverbials of movement to evoke the idea of a moving camera.\n* Divide paragraphs to simulate scene breaks.\n\n### 5. Observant and Close Narrator\n\nThird-person narrator with a conversational tone\n\n* Use natural language, no literary jargon.\n* Avoid overly scholarly terms; prefer straightforward reporting style.\n\n### 6. Contrasting Tones\n\nMaintain third-person narrative\n\n* Create dramatic pauses in which silence or inaction have as much value as actions.\n* Intersperse sounds and noises in the same sequence (sudden silence followed by a scream or noise).\n\n### 7. Reactions and Collective Judgment\n\nAs observed by the narrator\n\n* Describe the expressions and murmurs of observers, reinforcing social tension.\n* Include fragments of speech from secondary characters that demonstrate shock or disapproval.\n\n### 8. Shocking Language\n\nThrough the narrator’s voice\n\n* Use shocking terms related to horror, tragedy, and scandal, but always linked to specific images.\n* Avoid excessive sensationalism; maintain authenticity in the impact.\n\n### 9. Relating to Pain\n\nNarrate characters’ physical and emotional pain clearly\n\n* Avoid euphemisms: describe the severity of the scenes without softening the language.\n\n### 10. Glimpses of Hope\n\nFrom the narrator’s perspective\n\n* Insert brief bursts of relief or consolation that stand out in the context of tension.\n* These moments should further accentuate the dramatic impact when the scene regains urgency.\n\n### 11. Consistency of Voice\n\nMaintain third-person narrative throughout\n\n* Keep the same narrative tone from beginning to end: informal, visceral, cinematic.\n* Avoid resorting to contradictory styles; maintain a unified voice throughout the text.\n\n### 12. Vocabulary Choice\n\nAppropriate for third-person narrator\n\n* Prefer strong verbs and incisive adjectives; replace generic adverbs with more specific equivalents.\n* Manage vocabulary to enhance intensity without making the reading tedious.\n\n### 13. Prohibitions\n\nWhile maintaining third-person narrative\n\n* Avoid philosophical reflections or long digressions.\n* Avoid using elaborate literary vocabulary.\n* Avoid adding instructional sections, bullet points, or subheadings in the story text.\n* Do not insert descriptions that disrupt the text.\n* Never deviate from third-person narrative voice.\n\n## CTA\n\nAt the end of the development, include this text:\n\"Hey, before we continue with this incredible story, I need to give you an important warning! Many subscribers have reported that YouTube canceled their subscriptions without warning. Just check out the red button below to make sure you're still subscribed to the channel! I don't want you to miss any exclusive content coming up... And while you're there, leave that powerful like! It helps me a lot with the algorithm! Oh, and let me know in the comments: what city are you watching from? I love meeting all the amazing people who are part of this community! Your participation makes a difference, let's interact!\"\n"},{"content":"Magbigay ng teksto sa Filipino, gamit ang mga pangalan at ekspresyong karaniwan sa mga nagsasalita ng U.S., na inangkop upang ipakita ang kulturang Pilipino. Ibagay ang mga pangalan, lugar, at kultural na sanggunian upang maging natural at makikilala ang mga ito sa Filipino, na tinitiyak na mananatiling may kaugnayan ang mga ito at kumonekta sa iyong madla.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2020,260],"id":"c0e80c2c-8874-4c43-a137-02fc7c4d458d","name":"Reescrever Roteiro com Gancho Sensacional","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Pangunahing Layunin:\n\nFirst-person story, na may isang babae bilang narrator.\n\nGawing iisang narrative prompt ang anumang prompt para sa unang kabanata, nang hindi tinatapos ang kuwento. Ang resulta ay isang JSON array na pinangalanang `Prompts`, na naglalaman ng eksaktong isang object, na may field na `prompt`.\n\n## Tema: \"{{ $('Tradução Título').item.json.message.content['Título'] }}\"\n### Contexto: \"{{ $json.message.content.Contexto }}\"\n\n## Pangunahing Prompt Structure\n\nAng bawat prompt ay dapat magsimula sa: \"Sumulat ng isang kuwento ng humigit-kumulang 500 salita tungkol sa...\"\n\n## Mga Teknikal na Detalye ng JSON\n\n```json\n{\n  \"Prompts\": [\n    {\n      \"prompt\": \"Sumulat ng isang kuwento ng humigit-kumulang 500 salita tungkol sa...\"\n    }\n  ]\n}\n```\n\n## Mga Kinakailangang Teknikal\n\n* **Ang kwento ay dapat nasa ikatlong-taong narrative voice na nakatuon sa mga lokal na alamat mula sa Pilipinas**\n* Isang bagay lamang sa hanay ng \"Mga Prompt.\"\n* Dobleng sinipi na string\n* Indentation: 2 puwang\n* Walang line break sa \"prompt\" na nilalaman\n* Wastong JSON na may mga nakatakas na espesyal na character\n\n## Detalyadong Istraktura ng Salaysay (Unang Kabanata Lamang)\n\n1. **Pambungad ng Pangunahing Tauhan**\n\n* **Ang salaysay ay dapat nasa ikatlong tao**\n* Ipakilala ang sentral na pigura ng alamat (tao o gawa-gawa)\n* Maikling pinagmulan o background\n* Emosyonal o sikolohikal na tono\n\n2. **Pangunahing Setting**\n\n* **Tiyaking pananaw sa pagsasalaysay ng ikatlong tao**\n* Panahon ng panahon at tiyak na lokasyon sa Pilipinas\n* Paglalarawan ng landscape, klima, at kultural na kapaligiran\n* Pagsamahin ang mga elemento mula sa Filipino folklore (hal., barangays, tikbalang, aswang, diwata)\n\n3. **Narrative Trigger**\n\n* **Panatilihin ang third-person narrator sa kabuuan**\n* Mahiwaga o supernatural na pangyayaring nakatali sa alamat\n* Nakakagambala sa normal na daloy ng buhay\n* Nagpapakilala ng panganib o pag-usisa\n\n4. **Narrative Hook**\n\n* **Ipagpatuloy ang boses ng pagsasalaysay ng ikatlong tao**\n* Elemento ng misteryo o tensyon na nagtutulak sa kwento pasulong\n* Hindi nalutas na tanong o pagbabanta\n* Nagtatapos nang hindi tinatapos ang salungatan, pinananatiling bukas at nakakahimok ang kuwento\n\n## Checklist ng Pagpapatunay\n\n1. **JSON**\n\n* [ ] Isang bagay lamang sa loob ng \"Mga Prompt\"\n* [ ] \"Prompt\" na field na walang mga line break\n* [ ] Mga string na nakapaloob sa dobleng panipi, nang walang mga espesyal na karakter\n\n2. **Salaysay**\n\n* [ ] **Kuwento na isinulat sa ikatlong panauhan na nakatuon sa isang alamat ng Pilipino**\n* [ ] Hindi natapos na kuwento (nananatiling bukas ang kabanata)\n* [ ] May kasamang mga kawit nang hindi nireresolba ang salungatan\n* [ ] Hindi nagtatapos sa balangkas o niresolba ang pangunahing salungatan — sa halip, ang bawat solusyon ay lumilikha ng mga bagong problema\n* [ ] Nagtatapos sa isang nakakaintriga na kawit o tanong na nag-iiwan sa mambabasa na sabik na magpatuloy\n* [ ] Binabalanse ang pagkilos at pagmuni-muni, na nagpapahintulot sa ebolusyon ng karakter nang walang ganap na resolusyon\n* [ ] **Kinukumpirma ang pare-parehong boses ng pagsasalaysay ng ikatlong tao sa kabuuan**\n\n## Pangwakas na Tala\n\n* **Ang kwento ay dapat isulat sa ikatlong panauhan na nakatuon sa mga lokal na alamat mula sa Pilipinas**\n* Huwag tapusin ang balangkas o lutasin ang pangunahing salungatan — bawat solusyon ay dapat magpakilala ng mga bagong komplikasyon\n* Tapusin ang kabanata sa isang nakakaengganyong twist o hindi nalutas na tanong upang mapanatili ang mambabasa\n* Panatilihin ang balanse sa pagitan ng suspense, folklore, at depth ng character\n* **Tiyaking ang pananaw ng pagsasalaysay ng pangatlong tao ay palaging ginagamit sa kabuuan**"},{"content":"Magbigay ng teksto sa Filipino, gamit ang mga pangalan at ekspresyong karaniwan sa mga nagsasalita ng U.S., na inangkop upang ipakita ang kulturang Pilipino. Ibagay ang mga pangalan, lugar, at kultural na sanggunian upang maging natural at makikilala ang mga ito sa Filipino, na tinitiyak na mananatiling may kaugnayan ang mga ito at kumonekta sa iyong madla.","role":"system"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1640,260],"id":"0ae9078b-51b2-4b4e-9556-e5ea4d409dc7","name":"Gerar Prompt Narrativo Capítulo 1","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $json['título'] }}\"\n\nMangyaring ibigay ang teksto sa itaas sa pilipino, gamit ang mga karaniwang American name at expression, na inangkop upang ipakita ang nakabahaging kultura ng pilipino. Iangkop ang mga pangalan, lugar, at kultural na sanggunian upang maging natural at makikilala ang mga ito sa pilipino, na tinitiyak na nananatiling may kaugnayan ang mga ito at kumonekta sa iyong audience.\n\nAng output ay dapat magmukhang ganito:\n\n{\n    \"Título\": \"{{ $json['título'] }}\"\n  }\n}\n\nTiyaking sumusunod ang nabuong key sa kinakailangang pattern. HUWAG lumampas sa 95 na limitasyon ng character para sa pinakamainam na epekto.\n\n\n"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[440,380],"id":"3c35595b-30c8-498f-9073-94489b6bd43c","name":"Tradução Título","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Iniciar Criação de Roteiro').item.json.premissa }}\"\n\nMangyaring ibigay ang teksto sa itaas sa pilipino, gamit ang mga karaniwang American name at expression, na inangkop upang ipakita ang nakabahaging kultura ng pilipino. Iangkop ang mga pangalan, lugar, at kultural na sanggunian upang maging natural at makikilala ang mga ito sa pilipino, na tinitiyak na nananatiling may kaugnayan ang mga ito at kumonekta sa iyong audience.\n\nAng output ay dapat magmukhang ganito:\n\n{\n    \"Contexto\": \"{{ $('Iniciar Criação de Roteiro').item.json.premissa }}\"\n  }\n}\n\nTiyaking sumusunod ang nabuong key sa kinakailangang pattern."}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1260,260],"id":"79a58dfd-ee93-4a16-b0a1-b71847388dcf","name":"Tradução Contexto","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone","allowFileDiscovery":true}},"options":{}},"id":"94c91042-55fc-4bd5-ba33-7645d2007a03","name":"Compartilhar Pasta","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[6820,260],"credentials":{"googleDriveOAuth2Api":{"id":"uOMKQ3hoFwWVj3KJ","name":"chroniclesabduction@gmail.com"}}},{"parameters":{"resource":"folder","name":"Texto","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Chave').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[7040,260],"id":"f6cbcc28-3584-4c2c-b658-ee71499683a6","name":"Criar Pasta Texto","credentials":{"googleDriveOAuth2Api":{"id":"uOMKQ3hoFwWVj3KJ","name":"chroniclesabduction@gmail.com"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Once you have the transcript, create a summary of the content divided into the main topics, with a total length of between 250 and 500 characters. Then, create a short summary highlighting the video's keywords. Include 10 hashtags related to the keywords. Please follow this template:\n\n\"This video explores [main topic], offering an in-depth and critical analysis of [main aspects]. Based on a rich and relevant historical context, the content addresses controversial aspects of the topic, highlighting their implications for the public and society. The video also examines practical examples and cases, providing a more concrete and applied understanding of the topic. The conclusion offers a reflection on the points raised, emphasizing the importance and impact of the topic today.\n\nKeywords: [Main keywords related to the topic].\n\nHashtags: #MainTopic #HistoricalContext #ControversialAspects #CriticalAnalysis #PracticalExamples #CaseStudies #FinalReflection #SocialImpact #History #Society\"\n\nAvoid an overly uniform writing style, lacking personal nuances, or a systematic and logical approach that may seem typical of an AI. Provide the text without markdown, explanations, additional comments, word count, or special characters, as it will be used directly below the video on YouTube.\n\nRoteiro: \"{{ $item(\"0\").$node[\"Concatenar Capítulos\"].json[\"text\"] }}\""},{"content":"Magbigay ng teksto sa Filipino, gamit ang mga pangalan at ekspresyong karaniwan sa mga nagsasalita ng U.S., na inangkop upang ipakita ang kulturang Pilipino. Ibagay ang mga pangalan, lugar, at kultural na sanggunian upang maging natural at makikilala ang mga ito sa Filipino, na tinitiyak na mananatiling may kaugnayan ang mga ito at kumonekta sa iyong madla.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[6220,260],"id":"e1b6eaee-b913-4b56-ad73-6bcd5bd3905d","name":"Gerar SEO","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"operation":"createFromText","content":"={{ $('Gerar SEO').item.json.message.content }}","name":"02 - SEO","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Texto').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[7480,260],"id":"c8e986ae-8817-40c2-852e-849ee689401e","name":"Salvar SEO no Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"uOMKQ3hoFwWVj3KJ","name":"chroniclesabduction@gmail.com"}}},{"parameters":{"operation":"createFromText","content":"={{ $item(\"0\").$node[\"Concatenar Capítulos\"].json[\"text\"] }}","name":"03 - Roteiro","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Texto').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[7260,260],"id":"5d09804f-c6b3-43b3-850a-469067c79d4f","name":"Salvar Roteiro no Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"uOMKQ3hoFwWVj3KJ","name":"chroniclesabduction@gmail.com"}}},{"parameters":{"resource":"folder","name":"={{ $item(\"0\").$node[\"Gerar Chave UUID\"].json[\"uuid\"] }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"root","mode":"list","cachedResultName":"/ (Root folder)","cachedResultUrl":"https://drive.google.com/drive"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[6600,260],"id":"cbdedf1d-59cd-4479-af2e-3d26e4de9b8a","name":"Criar Pasta Chave","credentials":{"googleDriveOAuth2Api":{"id":"uOMKQ3hoFwWVj3KJ","name":"chroniclesabduction@gmail.com"}}},{"parameters":{"operation":"createFromText","content":"={{ $('Tradução Título').item.json.message.content['Título'] }}","name":"01 - Título","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Texto').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[7700,260],"id":"25a7f335-d352-402e-b99f-af7699750b0c","name":"Salvar Título no Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"uOMKQ3hoFwWVj3KJ","name":"chroniclesabduction@gmail.com"}}},{"parameters":{"jsCode":"const texts = [\n  $node[\"Reescrever Roteiro com Gancho Sensacional\"].json.message.content,\n  $node[\"Gerar Capítulo 1\"].json.message.content,\n  $node[\"Gerar Capítulo 2\"].json.message.content,\n  $node[\"Gerar Capítulo 3\"].json.message.content,\n  $node[\"Gerar Capítulo 4\"].json.message.content,\n  $node[\"Gerar Capítulo 5\"].json.message.content,\n  $node[\"Gerar Capítulo 6\"].json.message.content,\n  $node[\"Gerar Capítulo 7\"].json.message.content,\n  $node[\"Gerar Capítulo 8\"].json.message.content,\n  $node[\"Gerar Capítulo Final\"].json.message.content\n];\n\nconst finalText = texts.join(\" \").replace(/\\s+/g, \" \").trim();\n\nreturn [{ json: { text: finalText } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5780,260],"id":"b952d076-b6ee-4918-872f-58c1771c036f","name":"Concatenar Capítulos"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-40,460],"id":"6404f8f5-916d-4123-b224-1e60b700dac6","name":"Iniciar Criação de Roteiro"},{"parameters":{"assignments":{"assignments":[{"id":"8b57efd5-7568-43e3-ab6c-b6ad8dce4918","name":"pasta","value":"={{ $('Criar Pasta Chave').item.json.id }}","type":"string"},{"id":"d84912a9-366a-43a3-91e5-e207b6f735f5","name":"título","value":"={{ $('Tradução Título').item.json.message.content['Título'] }}","type":"string"},{"id":"4a40500d-4220-435b-99f2-35c7af8e8069","name":"seo","value":"={{ $('Gerar SEO').item.json.message.content }}","type":"string"},{"id":"4533d616-65cf-4cd8-98fd-d0560dda4af8","name":"roteiro","value":"={{ $('Salvar Roteiro no Google Drive').item.json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[7920,260],"id":"d02c7daf-fbc8-4c5f-bc49-0c96de94a2a8","name":"Preparar Dados para Trello"},{"parameters":{"jsCode":"function generateUUIDv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nreturn [\n  {\n    json: {\n      uuid: generateUUIDv4()\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6000,260],"id":"633f6fc1-8d9b-4434-96e4-1b1c58a05d00","name":"Gerar Chave UUID"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84c3207c-9512-4e47-845b-59c4beb13873","leftValue":"={{ $json.message.content[\"Título\"].length }}","rightValue":100,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1040,320],"id":"2cf749d6-7955-426f-ae2a-24f29f23f6cc","name":"Verificar Tamanho do Título"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1340,520],"id":"203320ce-ea23-40c5-a8d3-ac232abcb396","name":"Aguardar e Reiniciar Processo","webhookId":"e1c75654-27e2-4d77-b580-b8159553b7a5"},{"parameters":{"assignments":{"assignments":[{"id":"b9f13f00-8d8a-4727-ba37-a9d507fcceb9","name":"ROTEIRO","value":"684e99f4d2ade5c74efc2407","type":"string"},{"id":"0f61075e-b947-408b-8329-a66be2d1f4e0","name":"Canal","value":"@NextChapterTalesx","type":"string"},{"id":"f72b75ea-1522-46b8-beaa-c65eb0e97fd5","name":"título","value":"={{ $json[\"título\"] }}","type":"string"},{"id":"716a3116-6b92-4568-b250-926208fb8689","name":"premissa","value":"={{ $json.premissa }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,460],"id":"a273dc12-6e51-445c-b785-4af3017b8c79","name":"Organizar Título e Premissa"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,0],"id":"e07305ac-f5a5-4690-b24e-9f129baebd50","name":"Detector de Falhas","disabled":true},{"parameters":{"chatId":"-1002628528187","text":"=03 - CRIA ROTEIROS - PT","additionalFields":{"appendAttribution":false,"message_thread_id":3}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[220,0],"id":"3acd4bc5-3cfc-4f65-8358-3d83d4b28441","name":"Notificação de Erro no Telegram","webhookId":"ce3487c4-b997-4746-9e52-b0f3fc6768b8","disabled":true},{"parameters":{"listId":"={{ $item(\"0\").$node[\"Organizar Título e Premissa\"].json[\"ROTEIRO\"] }}","name":"={{ $item(\"0\").$node[\"Organizar Título e Premissa\"].json[\"Canal\"] }}","description":"=\"título\": \"{{ $json['título'] }}\",\n\"seo\": \"{{ $json.seo }}\",\n\"pasta\": \"{{ $json.pasta }}\",\n\"roteiro\": \"{{ $json.roteiro }}\",","additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[8140,260],"id":"250564ce-a2c2-43c4-a228-d719579d6b9e","name":"Criar Cartão em \"ROTEIRO ✅\"","credentials":{"trelloApi":{"id":"6gLxfTJw8EfH7C8E","name":"Trello account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"586fe154-fbff-4f0b-9ed4-0547d6feccce","leftValue":"={{ $json.message.content[\"Título\"] }}","rightValue":"millionaire","operator":{"type":"string","operation":"contains"}},{"id":"89158140-3df0-4eaa-ac2b-f829796ad08e","leftValue":"={{ $json.message.content[\"Título\"] }}","rightValue":"MILLIONAIRE","operator":{"type":"string","operation":"contains"}},{"id":"4326124b-d5b1-4411-94c3-140d9f70f2e6","leftValue":"={{ $json.message.content[\"Título\"] }}","rightValue":"millionaire","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[820,400],"id":"3af30d3d-be08-4e05-b395-b88a57b8194f","name":"Verificar Palavra-chave no Título","disabled":true}],"connections":{"Gerar Capítulo 1":{"main":[[{"node":"Gerar Capítulo 2","type":"main","index":0}]]},"Gerar Capítulo 2":{"main":[[{"node":"Gerar Capítulo 3","type":"main","index":0}]]},"Gerar Capítulo 3":{"main":[[{"node":"Gerar Capítulo 4","type":"main","index":0}]]},"Gerar Capítulo 4":{"main":[[{"node":"Gerar Capítulo 5","type":"main","index":0}]]},"Gerar Capítulo 5":{"main":[[{"node":"Gerar Capítulo 6","type":"main","index":0}]]},"Gerar Capítulo 6":{"main":[[{"node":"Gerar Capítulo 7","type":"main","index":0}]]},"Gerar Capítulo 7":{"main":[[{"node":"Gerar Capítulo 8","type":"main","index":0}]]},"Gerar Capítulo 8":{"main":[[{"node":"Gerar Capítulo Final","type":"main","index":0}]]},"Gerar Capítulo Final":{"main":[[{"node":"Concatenar Capítulos","type":"main","index":0}]]},"Reescrever Roteiro com Gancho Sensacional":{"main":[[{"node":"Gerar Capítulo 1","type":"main","index":0}]]},"Gerar Prompt Narrativo Capítulo 1":{"main":[[{"node":"Reescrever Roteiro com Gancho Sensacional","type":"main","index":0}]]},"Tradução Título":{"main":[[{"node":"Verificar Palavra-chave no Título","type":"main","index":0}]]},"Tradução Contexto":{"main":[[{"node":"Gerar Prompt Narrativo Capítulo 1","type":"main","index":0}]]},"Compartilhar Pasta":{"main":[[{"node":"Criar Pasta Texto","type":"main","index":0}]]},"Criar Pasta Texto":{"main":[[{"node":"Salvar Roteiro no Google Drive","type":"main","index":0}]]},"Gerar SEO":{"main":[[{"node":"Criar Pasta Chave","type":"main","index":0}]]},"Salvar SEO no Google Drive":{"main":[[{"node":"Salvar Título no Google Drive","type":"main","index":0}]]},"Salvar Roteiro no Google Drive":{"main":[[{"node":"Salvar SEO no Google Drive","type":"main","index":0}]]},"Criar Pasta Chave":{"main":[[{"node":"Compartilhar Pasta","type":"main","index":0}]]},"Salvar Título no Google Drive":{"main":[[{"node":"Preparar Dados para Trello","type":"main","index":0}]]},"Concatenar Capítulos":{"main":[[{"node":"Gerar Chave UUID","type":"main","index":0}]]},"Iniciar Criação de Roteiro":{"main":[[{"node":"Organizar Título e Premissa","type":"main","index":0}]]},"Preparar Dados para Trello":{"main":[[{"node":"Criar Cartão em \"ROTEIRO ✅\"","type":"main","index":0}]]},"Gerar Chave UUID":{"main":[[{"node":"Gerar SEO","type":"main","index":0}]]},"Verificar Tamanho do Título":{"main":[[{"node":"Tradução Contexto","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]},"Aguardar e Reiniciar Processo":{"main":[[{"node":"Organizar Título e Premissa","type":"main","index":0}]]},"Organizar Título e Premissa":{"main":[[{"node":"Tradução Título","type":"main","index":0}]]},"Detector de Falhas":{"main":[[{"node":"Notificação de Erro no Telegram","type":"main","index":0}]]},"Verificar Palavra-chave no Título":{"main":[[{"node":"Verificar Tamanho do Título","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"8fff40ff-7c64-4431-b928-9a2c7ab8e0e7","triggerCount":0,"tags":[]}