wf03---criar-roteiro---cro---@najboljelegende-9PlXM3JMsRELGZFX.json
{"createdAt":"2025-07-01T02:25:28.631Z","updatedAt":"2025-07-01T02:59:10.000Z","id":"9PlXM3JMsRELGZFX","name":"WF03 - CRIAR ROTEIRO - CRO - @Najboljelegende","active":false,"isArchived":false,"nodes":[{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\"\n\nNapišite novo poglavlje od otprilike 500 riječi koje nastavlja gore opisane događaje, uvodeći šokantan obrat koji potpuno mijenja narativ. Počnite točno tamo gdje je završilo prethodno poglavlje, ali u nekom trenutku umetnite dramatičan i neočekivan događaj koji radikalno mijenja tijek priče, mijenjajući odnose, otkrivajući razorne tajne ili transformirajući pravu prirodu glavnog lika. Zadržite isti stil, jezik i tempo kao i izvorna naracija, dok gradite na toj nagloj promjeni na način koji čitatelja ostavlja u stanju šoka. Preokret bi trebao biti toliko šokantan da čitatelja navede da preispita sve što je mislio da zna o priči do tog trenutka. Nemojte zatvarati radnju niti konačno rješavati sukobe, već iskoristite ovaj preokret kako biste stvorili još šokantniji završetak, ostavljajući čitatelja očajnim da otkrije posljedice ovog događaja koji mijenja život. Uključite samo novo poglavlje i nemojte prepisivati ​​prethodno poglavlje bez objašnjenja, dodatnih komentara, broja riječi ili posebnih znakova.\n\nTon pisanja trebao bi biti jednostavan, izravan i emotivan, kao da priču priča prijatelj u ležernom razgovoru. Koristite jednostavne riječi, kratke rečenice i lagani ritam izgovorene riječi. Izbjegavajte teške riječi, složene strukture ili književni jezik. Naracija treba privući pažnju jasnim slikama, univerzalnim osjećajima i pristupačnim jezikom. Izbjegavajte zatvorene završetke: završite poglavlje misterijom ili pitanjem, ostavljajući čitatelja znatiželjnim da sazna što je sljedeće.\n\n1. Emocionalni intenzitet\n- Svaka rečenica treba prenijeti sirovu emociju: strah, bol, šok, suosjećanje.\n- Koristite snažne glagole i pridjeve koji izazivaju fizičke i psihičke osjećaje.\n- Otkrijte unutarnji utjecaj na likove: stezanje u prsima, knedla u grlu, drhtanje ruku.\n\n2. Hitnost i tempo\n- Isprekidajte kratke rečenice radnje sažetim opisima, održavajući brz tempo.\n- Koristite interpunkciju koja pojačava ritam (elipsa, uskličnici, uzvici).\n- Izbjegavajte preduga razdoblja; svaki odlomak treba napredovati kroz scenu bez književnih pauza.\n\n3. Konkretan i sažet opis\n- Usredotočite se na bitne vizualne i senzorne detalje, bez preopterećenja.\n- Koristite specifične metafore i usporedbe, uvijek povezane s trenutkom.\n- Svaki element (boja, zvuk, tekstura) trebao bi se pojaviti na odmah prepoznatljiv način.\n\n4. Filmski smisao\n- Naizmjenično fokusirajte krupne planove (izrazi lica, reakcije) i kadrove iz daljine (okoliš, gomila).\n- Koristite priloške oznake kretanja kako biste potaknuli ideju kamere u pokretu.\n- Razbijte odlomke kako biste simulirali rezove scena.\n\n5. Promatranje i bliski pripovjedač\n- Usvojite treće lice, ali zadržite konverzacijski ton: prirodni jezik, bez književnog žargona.\n- Izbjegavajte previše znanstvene izraze; preferirajte konstrukcije koje zvuče kao izravno izvješće.\n\n6. Tonski kontrast\n- Stvorite dramatične pauze u kojima tišina ili neaktivnost govore koliko i radnje. - Isprekidajte zvukove i buku u istom slijedu (iznenadna tišina nakon koje slijedi vrisak ili buka).\n\n7. Reakcije i kolektivni sud\n- Opišite izraze lica i mrmljanje promatrača, pojačavajući društvenu napetost.\n- Uključite fragmente govora sporednih likova koji pokazuju šok ili neodobravanje.\n\n8. Šokantan jezik\n- Koristite šokantne izraze povezane s hororom, tragedijom i skandalom, ali uvijek povezane s određenim slikama.\n- Izbjegavajte pretjerani senzacionalizam; zadržite autentičnost u šoku.\n\n9. Blizina boli\n- Izravno prikažite fizičku i emocionalnu bol likova.\n- Izbjegavajte eufemizme: opišite ozbiljnost scena bez ublažavanja jezika.\n\n10. Tračci nade\n- Umetnite kratke bljeskove olakšanja ili utjehe koji se ističu u kontekstu napetosti.\n\n- Ovi trenuci trebali bi dodatno naglasiti dramatičan utjecaj kada scena dobije na hitnosti.\n\n11. Koherentnost glasa\n- Održavajte isti narativni ton od početka do kraja: neformalan, visceralan, filmski.\n- Izbjegavajte kontradiktorne stilove; održavajte jedinstven ton u cijelom tekstu.\n\n12. Izbor vokabulara\n- Dajte prednost jakim glagolima i oštrim pridjevima; zamijenite generičke priloge specifičnijim ekvivalentima.\n- Upravljajte vokabularom kako biste pojačali intenzitet, a da pritom čitanje ne bude iscrpljujuće.\n\n13. Zabrane\n- Izbjegavajte filozofska razmišljanja ili duge digresije.\n- Izbjegavajte korištenje opsežnog književnog vokabulara.\n- Izbjegavajte dodavanje poučnih odjeljaka, vinjeta ili podnaslova.\n- Izbjegavajte umetanje opisa koji remete tok tona."},{"content":"Navedite tekst na hrvatskom jeziku, koristeći imena i izraze uobičajene za govornike hrvatskog jezika, prilagođene hrvatskoj kulturi. Prilagodite imena, mjesta i kulturne reference tako da budu prirodni i prepoznatljivi na hrvatskom jeziku, osiguravajući da ostanu relevantni i povezani s vašom publikom.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2400,260],"id":"695ac15b-3267-4b93-8eec-26537e238672","name":"Gerar Capítulo 1","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\"\n\nNapišite novo poglavlje od otprilike 500 riječi koje nastavlja gore opisane događaje, uvodeći šokantan obrat koji potpuno mijenja narativ. Počnite točno tamo gdje je završilo prethodno poglavlje, ali u nekom trenutku umetnite dramatičan i neočekivan događaj koji radikalno mijenja tijek priče, mijenjajući odnose, otkrivajući razorne tajne ili transformirajući pravu prirodu glavnog lika. Zadržite isti stil, jezik i tempo kao i izvorna naracija, dok gradite na toj nagloj promjeni na način koji čitatelja ostavlja u stanju šoka. Preokret bi trebao biti toliko šokantan da čitatelja navede da preispita sve što je mislio da zna o priči do tog trenutka. Nemojte zatvarati radnju niti konačno rješavati sukobe, već iskoristite ovaj preokret kako biste stvorili još šokantniji završetak, ostavljajući čitatelja očajnim da otkrije posljedice ovog događaja koji mijenja život. Uključite samo novo poglavlje i nemojte prepisivati ​​prethodno poglavlje bez objašnjenja, dodatnih komentara, broja riječi ili posebnih znakova.\n\nTon pisanja trebao bi biti jednostavan, izravan i emotivan, kao da priču priča prijatelj u ležernom razgovoru. Koristite jednostavne riječi, kratke rečenice i lagani ritam izgovorene riječi. Izbjegavajte teške riječi, složene strukture ili književni jezik. Naracija treba privući pažnju jasnim slikama, univerzalnim osjećajima i pristupačnim jezikom. Izbjegavajte zatvorene završetke: završite poglavlje misterijom ili pitanjem, ostavljajući čitatelja znatiželjnim da sazna što je sljedeće.\n\n1. Emocionalni intenzitet\n- Svaka rečenica treba prenijeti sirovu emociju: strah, bol, šok, suosjećanje.\n- Koristite snažne glagole i pridjeve koji izazivaju fizičke i psihičke osjećaje.\n- Otkrijte unutarnji utjecaj na likove: stezanje u prsima, knedla u grlu, drhtanje ruku.\n\n2. Hitnost i tempo\n- Isprekidajte kratke rečenice radnje sažetim opisima, održavajući brz tempo.\n- Koristite interpunkciju koja pojačava ritam (elipsa, uskličnici, uzvici).\n- Izbjegavajte preduga razdoblja; svaki odlomak treba napredovati kroz scenu bez književnih pauza.\n\n3. Konkretan i sažet opis\n- Usredotočite se na bitne vizualne i senzorne detalje, bez preopterećenja.\n- Koristite specifične metafore i usporedbe, uvijek povezane s trenutkom.\n- Svaki element (boja, zvuk, tekstura) trebao bi se pojaviti na odmah prepoznatljiv način.\n\n4. Filmski smisao\n- Naizmjenično fokusirajte krupne planove (izrazi lica, reakcije) i kadrove iz daljine (okoliš, gomila).\n- Koristite priloške oznake kretanja kako biste potaknuli ideju kamere u pokretu.\n- Razbijte odlomke kako biste simulirali rezove scena.\n\n5. Promatranje i bliski pripovjedač\n- Usvojite treće lice, ali zadržite konverzacijski ton: prirodni jezik, bez književnog žargona.\n- Izbjegavajte previše znanstvene izraze; preferirajte konstrukcije koje zvuče kao izravno izvješće.\n\n6. Tonski kontrast\n- Stvorite dramatične pauze u kojima tišina ili neaktivnost govore koliko i radnje. - Isprekidajte zvukove i buku u istom slijedu (iznenadna tišina nakon koje slijedi vrisak ili buka).\n\n7. Reakcije i kolektivni sud\n- Opišite izraze lica i mrmljanje promatrača, pojačavajući društvenu napetost.\n- Uključite fragmente govora sporednih likova koji pokazuju šok ili neodobravanje.\n\n8. Šokantan jezik\n- Koristite šokantne izraze povezane s hororom, tragedijom i skandalom, ali uvijek povezane s određenim slikama.\n- Izbjegavajte pretjerani senzacionalizam; zadržite autentičnost u šoku.\n\n9. Blizina boli\n- Izravno prikažite fizičku i emocionalnu bol likova.\n- Izbjegavajte eufemizme: opišite ozbiljnost scena bez ublažavanja jezika.\n\n10. Tračci nade\n- Umetnite kratke bljeskove olakšanja ili utjehe koji se ističu u kontekstu napetosti.\n\n- Ovi trenuci trebali bi dodatno naglasiti dramatičan utjecaj kada scena dobije na hitnosti.\n\n11. Koherentnost glasa\n- Održavajte isti narativni ton od početka do kraja: neformalan, visceralan, filmski.\n- Izbjegavajte kontradiktorne stilove; održavajte jedinstven ton u cijelom tekstu.\n\n12. Izbor vokabulara\n- Dajte prednost jakim glagolima i oštrim pridjevima; zamijenite generičke priloge specifičnijim ekvivalentima.\n- Upravljajte vokabularom kako biste pojačali intenzitet, a da pritom čitanje ne bude iscrpljujuće.\n\n13. Zabrane\n- Izbjegavajte filozofska razmišljanja ili duge digresije.\n- Izbjegavajte korištenje opsežnog književnog vokabulara.\n- Izbjegavajte dodavanje poučnih odjeljaka, vinjeta ili podnaslova.\n- Izbjegavajte umetanje opisa koji remete tok tona."},{"content":"Navedite tekst na hrvatskom jeziku, koristeći imena i izraze uobičajene za govornike hrvatskog jezika, prilagođene hrvatskoj kulturi. Prilagodite imena, mjesta i kulturne reference tako da budu prirodni i prepoznatljivi na hrvatskom jeziku, osiguravajući da ostanu relevantni i povezani s vašom publikom.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2760,260],"id":"11b5168a-f257-4a97-8dbd-d27f09804649","name":"Gerar Capítulo 2","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\"\n\nNapišite novo poglavlje od otprilike 500 riječi koje nastavlja gore opisane događaje, uvodeći šokantan obrat koji potpuno mijenja narativ. Počnite točno tamo gdje je završilo prethodno poglavlje, ali u nekom trenutku umetnite dramatičan i neočekivan događaj koji radikalno mijenja tijek priče, mijenjajući odnose, otkrivajući razorne tajne ili transformirajući pravu prirodu glavnog lika. Zadržite isti stil, jezik i tempo kao i izvorna naracija, dok gradite na toj nagloj promjeni na način koji čitatelja ostavlja u stanju šoka. Preokret bi trebao biti toliko šokantan da čitatelja navede da preispita sve što je mislio da zna o priči do tog trenutka. Nemojte zatvarati radnju niti konačno rješavati sukobe, već iskoristite ovaj preokret kako biste stvorili još šokantniji završetak, ostavljajući čitatelja očajnim da otkrije posljedice ovog događaja koji mijenja život. Uključite samo novo poglavlje i nemojte prepisivati ​​prethodno poglavlje bez objašnjenja, dodatnih komentara, broja riječi ili posebnih znakova.\n\nTon pisanja trebao bi biti jednostavan, izravan i emotivan, kao da priču priča prijatelj u ležernom razgovoru. Koristite jednostavne riječi, kratke rečenice i lagani ritam izgovorene riječi. Izbjegavajte teške riječi, složene strukture ili književni jezik. Naracija treba privući pažnju jasnim slikama, univerzalnim osjećajima i pristupačnim jezikom. Izbjegavajte zatvorene završetke: završite poglavlje misterijom ili pitanjem, ostavljajući čitatelja znatiželjnim da sazna što je sljedeće.\n\n1. Emocionalni intenzitet\n- Svaka rečenica treba prenijeti sirovu emociju: strah, bol, šok, suosjećanje.\n- Koristite snažne glagole i pridjeve koji izazivaju fizičke i psihičke osjećaje.\n- Otkrijte unutarnji utjecaj na likove: stezanje u prsima, knedla u grlu, drhtanje ruku.\n\n2. Hitnost i tempo\n- Isprekidajte kratke rečenice radnje sažetim opisima, održavajući brz tempo.\n- Koristite interpunkciju koja pojačava ritam (elipsa, uskličnici, uzvici).\n- Izbjegavajte preduga razdoblja; svaki odlomak treba napredovati kroz scenu bez književnih pauza.\n\n3. Konkretan i sažet opis\n- Usredotočite se na bitne vizualne i senzorne detalje, bez preopterećenja.\n- Koristite specifične metafore i usporedbe, uvijek povezane s trenutkom.\n- Svaki element (boja, zvuk, tekstura) trebao bi se pojaviti na odmah prepoznatljiv način.\n\n4. Filmski smisao\n- Naizmjenično fokusirajte krupne planove (izrazi lica, reakcije) i kadrove iz daljine (okoliš, gomila).\n- Koristite priloške oznake kretanja kako biste potaknuli ideju kamere u pokretu.\n- Razbijte odlomke kako biste simulirali rezove scena.\n\n5. Promatranje i bliski pripovjedač\n- Usvojite treće lice, ali zadržite konverzacijski ton: prirodni jezik, bez književnog žargona.\n- Izbjegavajte previše znanstvene izraze; preferirajte konstrukcije koje zvuče kao izravno izvješće.\n\n6. Tonski kontrast\n- Stvorite dramatične pauze u kojima tišina ili neaktivnost govore koliko i radnje. - Isprekidajte zvukove i buku u istom slijedu (iznenadna tišina nakon koje slijedi vrisak ili buka).\n\n7. Reakcije i kolektivni sud\n- Opišite izraze lica i mrmljanje promatrača, pojačavajući društvenu napetost.\n- Uključite fragmente govora sporednih likova koji pokazuju šok ili neodobravanje.\n\n8. Šokantan jezik\n- Koristite šokantne izraze povezane s hororom, tragedijom i skandalom, ali uvijek povezane s određenim slikama.\n- Izbjegavajte pretjerani senzacionalizam; zadržite autentičnost u šoku.\n\n9. Blizina boli\n- Izravno prikažite fizičku i emocionalnu bol likova.\n- Izbjegavajte eufemizme: opišite ozbiljnost scena bez ublažavanja jezika.\n\n10. Tračci nade\n- Umetnite kratke bljeskove olakšanja ili utjehe koji se ističu u kontekstu napetosti.\n\n- Ovi trenuci trebali bi dodatno naglasiti dramatičan utjecaj kada scena dobije na hitnosti.\n\n11. Koherentnost glasa\n- Održavajte isti narativni ton od početka do kraja: neformalan, visceralan, filmski.\n- Izbjegavajte kontradiktorne stilove; održavajte jedinstven ton u cijelom tekstu.\n\n12. Izbor vokabulara\n- Dajte prednost jakim glagolima i oštrim pridjevima; zamijenite generičke priloge specifičnijim ekvivalentima.\n- Upravljajte vokabularom kako biste pojačali intenzitet, a da pritom čitanje ne bude iscrpljujuće.\n\n13. Zabrane\n- Izbjegavajte filozofska razmišljanja ili duge digresije.\n- Izbjegavajte korištenje opsežnog književnog vokabulara.\n- Izbjegavajte dodavanje poučnih odjeljaka, vinjeta ili podnaslova.\n- Izbjegavajte umetanje opisa koji remete tok tona."},{"content":"Navedite tekst na hrvatskom jeziku, koristeći imena i izraze uobičajene za govornike hrvatskog jezika, prilagođene hrvatskoj kulturi. Prilagodite imena, mjesta i kulturne reference tako da budu prirodni i prepoznatljivi na hrvatskom jeziku, osiguravajući da ostanu relevantni i povezani s vašom publikom.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3140,260],"id":"a66dd688-f544-4131-a182-da62cfed10ec","name":"Gerar Capítulo 3","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\"\n\nNapišite novo poglavlje od otprilike 500 riječi koje nastavlja gore opisane događaje, uvodeći šokantan obrat koji potpuno mijenja narativ. Počnite točno tamo gdje je završilo prethodno poglavlje, ali u nekom trenutku umetnite dramatičan i neočekivan događaj koji radikalno mijenja tijek priče, mijenjajući odnose, otkrivajući razorne tajne ili transformirajući pravu prirodu glavnog lika. Zadržite isti stil, jezik i tempo kao i izvorna naracija, dok gradite na toj nagloj promjeni na način koji čitatelja ostavlja u stanju šoka. Preokret bi trebao biti toliko šokantan da čitatelja navede da preispita sve što je mislio da zna o priči do tog trenutka. Nemojte zatvarati radnju niti konačno rješavati sukobe, već iskoristite ovaj preokret kako biste stvorili još šokantniji završetak, ostavljajući čitatelja očajnim da otkrije posljedice ovog događaja koji mijenja život. Uključite samo novo poglavlje i nemojte prepisivati ​​prethodno poglavlje bez objašnjenja, dodatnih komentara, broja riječi ili posebnih znakova.\n\nTon pisanja trebao bi biti jednostavan, izravan i emotivan, kao da priču priča prijatelj u ležernom razgovoru. Koristite jednostavne riječi, kratke rečenice i lagani ritam izgovorene riječi. Izbjegavajte teške riječi, složene strukture ili književni jezik. Naracija treba privući pažnju jasnim slikama, univerzalnim osjećajima i pristupačnim jezikom. Izbjegavajte zatvorene završetke: završite poglavlje misterijom ili pitanjem, ostavljajući čitatelja znatiželjnim da sazna što je sljedeće.\n\n1. Emocionalni intenzitet\n- Svaka rečenica treba prenijeti sirovu emociju: strah, bol, šok, suosjećanje.\n- Koristite snažne glagole i pridjeve koji izazivaju fizičke i psihičke osjećaje.\n- Otkrijte unutarnji utjecaj na likove: stezanje u prsima, knedla u grlu, drhtanje ruku.\n\n2. Hitnost i tempo\n- Isprekidajte kratke rečenice radnje sažetim opisima, održavajući brz tempo.\n- Koristite interpunkciju koja pojačava ritam (elipsa, uskličnici, uzvici).\n- Izbjegavajte preduga razdoblja; svaki odlomak treba napredovati kroz scenu bez književnih pauza.\n\n3. Konkretan i sažet opis\n- Usredotočite se na bitne vizualne i senzorne detalje, bez preopterećenja.\n- Koristite specifične metafore i usporedbe, uvijek povezane s trenutkom.\n- Svaki element (boja, zvuk, tekstura) trebao bi se pojaviti na odmah prepoznatljiv način.\n\n4. Filmski smisao\n- Naizmjenično fokusirajte krupne planove (izrazi lica, reakcije) i kadrove iz daljine (okoliš, gomila).\n- Koristite priloške oznake kretanja kako biste potaknuli ideju kamere u pokretu.\n- Razbijte odlomke kako biste simulirali rezove scena.\n\n5. Promatranje i bliski pripovjedač\n- Usvojite treće lice, ali zadržite konverzacijski ton: prirodni jezik, bez književnog žargona.\n- Izbjegavajte previše znanstvene izraze; preferirajte konstrukcije koje zvuče kao izravno izvješće.\n\n6. Tonski kontrast\n- Stvorite dramatične pauze u kojima tišina ili neaktivnost govore koliko i radnje. - Isprekidajte zvukove i buku u istom slijedu (iznenadna tišina nakon koje slijedi vrisak ili buka).\n\n7. Reakcije i kolektivni sud\n- Opišite izraze lica i mrmljanje promatrača, pojačavajući društvenu napetost.\n- Uključite fragmente govora sporednih likova koji pokazuju šok ili neodobravanje.\n\n8. Šokantan jezik\n- Koristite šokantne izraze povezane s hororom, tragedijom i skandalom, ali uvijek povezane s određenim slikama.\n- Izbjegavajte pretjerani senzacionalizam; zadržite autentičnost u šoku.\n\n9. Blizina boli\n- Izravno prikažite fizičku i emocionalnu bol likova.\n- Izbjegavajte eufemizme: opišite ozbiljnost scena bez ublažavanja jezika.\n\n10. Tračci nade\n- Umetnite kratke bljeskove olakšanja ili utjehe koji se ističu u kontekstu napetosti.\n\n- Ovi trenuci trebali bi dodatno naglasiti dramatičan utjecaj kada scena dobije na hitnosti.\n\n11. Koherentnost glasa\n- Održavajte isti narativni ton od početka do kraja: neformalan, visceralan, filmski.\n- Izbjegavajte kontradiktorne stilove; održavajte jedinstven ton u cijelom tekstu.\n\n12. Izbor vokabulara\n- Dajte prednost jakim glagolima i oštrim pridjevima; zamijenite generičke priloge specifičnijim ekvivalentima.\n- Upravljajte vokabularom kako biste pojačali intenzitet, a da pritom čitanje ne bude iscrpljujuće.\n\n13. Zabrane\n- Izbjegavajte filozofska razmišljanja ili duge digresije.\n- Izbjegavajte korištenje opsežnog književnog vokabulara.\n- Izbjegavajte dodavanje poučnih odjeljaka, vinjeta ili podnaslova.\n- Izbjegavajte umetanje opisa koji remete tok tona."},{"content":"Navedite tekst na hrvatskom jeziku, koristeći imena i izraze uobičajene za govornike hrvatskog jezika, prilagođene hrvatskoj kulturi. Prilagodite imena, mjesta i kulturne reference tako da budu prirodni i prepoznatljivi na hrvatskom jeziku, osiguravajući da ostanu relevantni i povezani s vašom publikom.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3520,260],"id":"9e738221-b1f0-4838-a9b8-d599ed16baa3","name":"Gerar Capítulo 4","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\"\n\nNapišite novo poglavlje od otprilike 500 riječi koje nastavlja gore opisane događaje, uvodeći šokantan obrat koji potpuno mijenja narativ. Počnite točno tamo gdje je završilo prethodno poglavlje, ali u nekom trenutku umetnite dramatičan i neočekivan događaj koji radikalno mijenja tijek priče, mijenjajući odnose, otkrivajući razorne tajne ili transformirajući pravu prirodu glavnog lika. Zadržite isti stil, jezik i tempo kao i izvorna naracija, dok gradite na toj nagloj promjeni na način koji čitatelja ostavlja u stanju šoka. Preokret bi trebao biti toliko šokantan da čitatelja navede da preispita sve što je mislio da zna o priči do tog trenutka. Nemojte zatvarati radnju niti konačno rješavati sukobe, već iskoristite ovaj preokret kako biste stvorili još šokantniji završetak, ostavljajući čitatelja očajnim da otkrije posljedice ovog događaja koji mijenja život. Uključite samo novo poglavlje i nemojte prepisivati ​​prethodno poglavlje bez objašnjenja, dodatnih komentara, broja riječi ili posebnih znakova.\n\nTon pisanja trebao bi biti jednostavan, izravan i emotivan, kao da priču priča prijatelj u ležernom razgovoru. Koristite jednostavne riječi, kratke rečenice i lagani ritam izgovorene riječi. Izbjegavajte teške riječi, složene strukture ili književni jezik. Naracija treba privući pažnju jasnim slikama, univerzalnim osjećajima i pristupačnim jezikom. Izbjegavajte zatvorene završetke: završite poglavlje misterijom ili pitanjem, ostavljajući čitatelja znatiželjnim da sazna što je sljedeće.\n\n1. Emocionalni intenzitet\n- Svaka rečenica treba prenijeti sirovu emociju: strah, bol, šok, suosjećanje.\n- Koristite snažne glagole i pridjeve koji izazivaju fizičke i psihičke osjećaje.\n- Otkrijte unutarnji utjecaj na likove: stezanje u prsima, knedla u grlu, drhtanje ruku.\n\n2. Hitnost i tempo\n- Isprekidajte kratke rečenice radnje sažetim opisima, održavajući brz tempo.\n- Koristite interpunkciju koja pojačava ritam (elipsa, uskličnici, uzvici).\n- Izbjegavajte preduga razdoblja; svaki odlomak treba napredovati kroz scenu bez književnih pauza.\n\n3. Konkretan i sažet opis\n- Usredotočite se na bitne vizualne i senzorne detalje, bez preopterećenja.\n- Koristite specifične metafore i usporedbe, uvijek povezane s trenutkom.\n- Svaki element (boja, zvuk, tekstura) trebao bi se pojaviti na odmah prepoznatljiv način.\n\n4. Filmski smisao\n- Naizmjenično fokusirajte krupne planove (izrazi lica, reakcije) i kadrove iz daljine (okoliš, gomila).\n- Koristite priloške oznake kretanja kako biste potaknuli ideju kamere u pokretu.\n- Razbijte odlomke kako biste simulirali rezove scena.\n\n5. Promatranje i bliski pripovjedač\n- Usvojite treće lice, ali zadržite konverzacijski ton: prirodni jezik, bez književnog žargona.\n- Izbjegavajte previše znanstvene izraze; preferirajte konstrukcije koje zvuče kao izravno izvješće.\n\n6. Tonski kontrast\n- Stvorite dramatične pauze u kojima tišina ili neaktivnost govore koliko i radnje. - Isprekidajte zvukove i buku u istom slijedu (iznenadna tišina nakon koje slijedi vrisak ili buka).\n\n7. Reakcije i kolektivni sud\n- Opišite izraze lica i mrmljanje promatrača, pojačavajući društvenu napetost.\n- Uključite fragmente govora sporednih likova koji pokazuju šok ili neodobravanje.\n\n8. Šokantan jezik\n- Koristite šokantne izraze povezane s hororom, tragedijom i skandalom, ali uvijek povezane s određenim slikama.\n- Izbjegavajte pretjerani senzacionalizam; zadržite autentičnost u šoku.\n\n9. Blizina boli\n- Izravno prikažite fizičku i emocionalnu bol likova.\n- Izbjegavajte eufemizme: opišite ozbiljnost scena bez ublažavanja jezika.\n\n10. Tračci nade\n- Umetnite kratke bljeskove olakšanja ili utjehe koji se ističu u kontekstu napetosti.\n\n- Ovi trenuci trebali bi dodatno naglasiti dramatičan utjecaj kada scena dobije na hitnosti.\n\n11. Koherentnost glasa\n- Održavajte isti narativni ton od početka do kraja: neformalan, visceralan, filmski.\n- Izbjegavajte kontradiktorne stilove; održavajte jedinstven ton u cijelom tekstu.\n\n12. Izbor vokabulara\n- Dajte prednost jakim glagolima i oštrim pridjevima; zamijenite generičke priloge specifičnijim ekvivalentima.\n- Upravljajte vokabularom kako biste pojačali intenzitet, a da pritom čitanje ne bude iscrpljujuće.\n\n13. Zabrane\n- Izbjegavajte filozofska razmišljanja ili duge digresije.\n- Izbjegavajte korištenje opsežnog književnog vokabulara.\n- Izbjegavajte dodavanje poučnih odjeljaka, vinjeta ili podnaslova.\n- Izbjegavajte umetanje opisa koji remete tok tona."},{"content":"Navedite tekst na hrvatskom jeziku, koristeći imena i izraze uobičajene za govornike hrvatskog jezika, prilagođene hrvatskoj kulturi. Prilagodite imena, mjesta i kulturne reference tako da budu prirodni i prepoznatljivi na hrvatskom jeziku, osiguravajući da ostanu relevantni i povezani s vašom publikom.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3900,260],"id":"37cee01b-7552-4951-ad37-85baa95ec37b","name":"Gerar Capítulo 5","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\"\n\nNapišite novo poglavlje od otprilike 500 riječi koje nastavlja gore opisane događaje, uvodeći šokantan obrat koji potpuno mijenja narativ. Počnite točno tamo gdje je završilo prethodno poglavlje, ali u nekom trenutku umetnite dramatičan i neočekivan događaj koji radikalno mijenja tijek priče, mijenjajući odnose, otkrivajući razorne tajne ili transformirajući pravu prirodu glavnog lika. Zadržite isti stil, jezik i tempo kao i izvorna naracija, dok gradite na toj nagloj promjeni na način koji čitatelja ostavlja u stanju šoka. Preokret bi trebao biti toliko šokantan da čitatelja navede da preispita sve što je mislio da zna o priči do tog trenutka. Nemojte zatvarati radnju niti konačno rješavati sukobe, već iskoristite ovaj preokret kako biste stvorili još šokantniji završetak, ostavljajući čitatelja očajnim da otkrije posljedice ovog događaja koji mijenja život. Uključite samo novo poglavlje i nemojte prepisivati ​​prethodno poglavlje bez objašnjenja, dodatnih komentara, broja riječi ili posebnih znakova.\n\nTon pisanja trebao bi biti jednostavan, izravan i emotivan, kao da priču priča prijatelj u ležernom razgovoru. Koristite jednostavne riječi, kratke rečenice i lagani ritam izgovorene riječi. Izbjegavajte teške riječi, složene strukture ili književni jezik. Naracija treba privući pažnju jasnim slikama, univerzalnim osjećajima i pristupačnim jezikom. Izbjegavajte zatvorene završetke: završite poglavlje misterijom ili pitanjem, ostavljajući čitatelja znatiželjnim da sazna što je sljedeće.\n\n1. Emocionalni intenzitet\n- Svaka rečenica treba prenijeti sirovu emociju: strah, bol, šok, suosjećanje.\n- Koristite snažne glagole i pridjeve koji izazivaju fizičke i psihičke osjećaje.\n- Otkrijte unutarnji utjecaj na likove: stezanje u prsima, knedla u grlu, drhtanje ruku.\n\n2. Hitnost i tempo\n- Isprekidajte kratke rečenice radnje sažetim opisima, održavajući brz tempo.\n- Koristite interpunkciju koja pojačava ritam (elipsa, uskličnici, uzvici).\n- Izbjegavajte preduga razdoblja; svaki odlomak treba napredovati kroz scenu bez književnih pauza.\n\n3. Konkretan i sažet opis\n- Usredotočite se na bitne vizualne i senzorne detalje, bez preopterećenja.\n- Koristite specifične metafore i usporedbe, uvijek povezane s trenutkom.\n- Svaki element (boja, zvuk, tekstura) trebao bi se pojaviti na odmah prepoznatljiv način.\n\n4. Filmski smisao\n- Naizmjenično fokusirajte krupne planove (izrazi lica, reakcije) i kadrove iz daljine (okoliš, gomila).\n- Koristite priloške oznake kretanja kako biste potaknuli ideju kamere u pokretu.\n- Razbijte odlomke kako biste simulirali rezove scena.\n\n5. Promatranje i bliski pripovjedač\n- Usvojite treće lice, ali zadržite konverzacijski ton: prirodni jezik, bez književnog žargona.\n- Izbjegavajte previše znanstvene izraze; preferirajte konstrukcije koje zvuče kao izravno izvješće.\n\n6. Tonski kontrast\n- Stvorite dramatične pauze u kojima tišina ili neaktivnost govore koliko i radnje. - Isprekidajte zvukove i buku u istom slijedu (iznenadna tišina nakon koje slijedi vrisak ili buka).\n\n7. Reakcije i kolektivni sud\n- Opišite izraze lica i mrmljanje promatrača, pojačavajući društvenu napetost.\n- Uključite fragmente govora sporednih likova koji pokazuju šok ili neodobravanje.\n\n8. Šokantan jezik\n- Koristite šokantne izraze povezane s hororom, tragedijom i skandalom, ali uvijek povezane s određenim slikama.\n- Izbjegavajte pretjerani senzacionalizam; zadržite autentičnost u šoku.\n\n9. Blizina boli\n- Izravno prikažite fizičku i emocionalnu bol likova.\n- Izbjegavajte eufemizme: opišite ozbiljnost scena bez ublažavanja jezika.\n\n10. Tračci nade\n- Umetnite kratke bljeskove olakšanja ili utjehe koji se ističu u kontekstu napetosti.\n\n- Ovi trenuci trebali bi dodatno naglasiti dramatičan utjecaj kada scena dobije na hitnosti.\n\n11. Koherentnost glasa\n- Održavajte isti narativni ton od početka do kraja: neformalan, visceralan, filmski.\n- Izbjegavajte kontradiktorne stilove; održavajte jedinstven ton u cijelom tekstu.\n\n12. Izbor vokabulara\n- Dajte prednost jakim glagolima i oštrim pridjevima; zamijenite generičke priloge specifičnijim ekvivalentima.\n- Upravljajte vokabularom kako biste pojačali intenzitet, a da pritom čitanje ne bude iscrpljujuće.\n\n13. Zabrane\n- Izbjegavajte filozofska razmišljanja ili duge digresije.\n- Izbjegavajte korištenje opsežnog književnog vokabulara.\n- Izbjegavajte dodavanje poučnih odjeljaka, vinjeta ili podnaslova.\n- Izbjegavajte umetanje opisa koji remete tok tona."},{"content":"Navedite tekst na hrvatskom jeziku, koristeći imena i izraze uobičajene za govornike hrvatskog jezika, prilagođene hrvatskoj kulturi. Prilagodite imena, mjesta i kulturne reference tako da budu prirodni i prepoznatljivi na hrvatskom jeziku, osiguravajući da ostanu relevantni i povezani s vašom publikom.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[4280,260],"id":"96962c6b-ffb4-47c1-b8e4-1bbc09d87542","name":"Gerar Capítulo 6","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\n{{ $('Gerar Capítulo 6').item.json.message.content }}\"\n\nNapišite novo poglavlje od otprilike 500 riječi koje nastavlja gore opisane događaje, uvodeći šokantan obrat koji potpuno mijenja narativ. Počnite točno tamo gdje je završilo prethodno poglavlje, ali u nekom trenutku umetnite dramatičan i neočekivan događaj koji radikalno mijenja tijek priče, mijenjajući odnose, otkrivajući razorne tajne ili transformirajući pravu prirodu glavnog lika. Zadržite isti stil, jezik i tempo kao i izvorna naracija, dok gradite na toj nagloj promjeni na način koji čitatelja ostavlja u stanju šoka. Preokret bi trebao biti toliko šokantan da čitatelja navede da preispita sve što je mislio da zna o priči do tog trenutka. Nemojte zatvarati radnju niti konačno rješavati sukobe, već iskoristite ovaj preokret kako biste stvorili još šokantniji završetak, ostavljajući čitatelja očajnim da otkrije posljedice ovog događaja koji mijenja život. Uključite samo novo poglavlje i nemojte prepisivati ​​prethodno poglavlje bez objašnjenja, dodatnih komentara, broja riječi ili posebnih znakova.\n\nTon pisanja trebao bi biti jednostavan, izravan i emotivan, kao da priču priča prijatelj u ležernom razgovoru. Koristite jednostavne riječi, kratke rečenice i lagani ritam izgovorene riječi. Izbjegavajte teške riječi, složene strukture ili književni jezik. Naracija treba privući pažnju jasnim slikama, univerzalnim osjećajima i pristupačnim jezikom. Izbjegavajte zatvorene završetke: završite poglavlje misterijom ili pitanjem, ostavljajući čitatelja znatiželjnim da sazna što je sljedeće.\n\n1. Emocionalni intenzitet\n- Svaka rečenica treba prenijeti sirovu emociju: strah, bol, šok, suosjećanje.\n- Koristite snažne glagole i pridjeve koji izazivaju fizičke i psihičke osjećaje.\n- Otkrijte unutarnji utjecaj na likove: stezanje u prsima, knedla u grlu, drhtanje ruku.\n\n2. Hitnost i tempo\n- Isprekidajte kratke rečenice radnje sažetim opisima, održavajući brz tempo.\n- Koristite interpunkciju koja pojačava ritam (elipsa, uskličnici, uzvici).\n- Izbjegavajte preduga razdoblja; svaki odlomak treba napredovati kroz scenu bez književnih pauza.\n\n3. Konkretan i sažet opis\n- Usredotočite se na bitne vizualne i senzorne detalje, bez preopterećenja.\n- Koristite specifične metafore i usporedbe, uvijek povezane s trenutkom.\n- Svaki element (boja, zvuk, tekstura) trebao bi se pojaviti na odmah prepoznatljiv način.\n\n4. Filmski smisao\n- Naizmjenično fokusirajte krupne planove (izrazi lica, reakcije) i kadrove iz daljine (okoliš, gomila).\n- Koristite priloške oznake kretanja kako biste potaknuli ideju kamere u pokretu.\n- Razbijte odlomke kako biste simulirali rezove scena.\n\n5. Promatranje i bliski pripovjedač\n- Usvojite treće lice, ali zadržite konverzacijski ton: prirodni jezik, bez književnog žargona.\n- Izbjegavajte previše znanstvene izraze; preferirajte konstrukcije koje zvuče kao izravno izvješće.\n\n6. Tonski kontrast\n- Stvorite dramatične pauze u kojima tišina ili neaktivnost govore koliko i radnje. - Isprekidajte zvukove i buku u istom slijedu (iznenadna tišina nakon koje slijedi vrisak ili buka).\n\n7. Reakcije i kolektivni sud\n- Opišite izraze lica i mrmljanje promatrača, pojačavajući društvenu napetost.\n- Uključite fragmente govora sporednih likova koji pokazuju šok ili neodobravanje.\n\n8. Šokantan jezik\n- Koristite šokantne izraze povezane s hororom, tragedijom i skandalom, ali uvijek povezane s određenim slikama.\n- Izbjegavajte pretjerani senzacionalizam; zadržite autentičnost u šoku.\n\n9. Blizina boli\n- Izravno prikažite fizičku i emocionalnu bol likova.\n- Izbjegavajte eufemizme: opišite ozbiljnost scena bez ublažavanja jezika.\n\n10. Tračci nade\n- Umetnite kratke bljeskove olakšanja ili utjehe koji se ističu u kontekstu napetosti.\n\n- Ovi trenuci trebali bi dodatno naglasiti dramatičan utjecaj kada scena dobije na hitnosti.\n\n11. Koherentnost glasa\n- Održavajte isti narativni ton od početka do kraja: neformalan, visceralan, filmski.\n- Izbjegavajte kontradiktorne stilove; održavajte jedinstven ton u cijelom tekstu.\n\n12. Izbor vokabulara\n- Dajte prednost jakim glagolima i oštrim pridjevima; zamijenite generičke priloge specifičnijim ekvivalentima.\n- Upravljajte vokabularom kako biste pojačali intenzitet, a da pritom čitanje ne bude iscrpljujuće.\n\n13. Zabrane\n- Izbjegavajte filozofska razmišljanja ili duge digresije.\n- Izbjegavajte korištenje opsežnog književnog vokabulara.\n- Izbjegavajte dodavanje poučnih odjeljaka, vinjeta ili podnaslova.\n- Izbjegavajte umetanje opisa koji remete tok tona."},{"content":"Navedite tekst na hrvatskom jeziku, koristeći imena i izraze uobičajene za govornike hrvatskog jezika, prilagođene hrvatskoj kulturi. Prilagodite imena, mjesta i kulturne reference tako da budu prirodni i prepoznatljivi na hrvatskom jeziku, osiguravajući da ostanu relevantni i povezani s vašom publikom.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[4640,260],"id":"2782b5dd-6bac-48b5-a20b-dcd4aa3eec4a","name":"Gerar Capítulo 7","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\n{{ $('Gerar Capítulo 6').item.json.message.content }}\n{{ $('Gerar Capítulo 7').item.json.message.content }}\"\n\nNapišite novo poglavlje od otprilike 500 riječi koje nastavlja gore opisane događaje, uvodeći šokantan obrat koji potpuno mijenja narativ. Počnite točno tamo gdje je završilo prethodno poglavlje, ali u nekom trenutku umetnite dramatičan i neočekivan događaj koji radikalno mijenja tijek priče, mijenjajući odnose, otkrivajući razorne tajne ili transformirajući pravu prirodu glavnog lika. Zadržite isti stil, jezik i tempo kao i izvorna naracija, dok gradite na toj nagloj promjeni na način koji čitatelja ostavlja u stanju šoka. Preokret bi trebao biti toliko šokantan da čitatelja navede da preispita sve što je mislio da zna o priči do tog trenutka. Nemojte zatvarati radnju niti konačno rješavati sukobe, već iskoristite ovaj preokret kako biste stvorili još šokantniji završetak, ostavljajući čitatelja očajnim da otkrije posljedice ovog događaja koji mijenja život. Uključite samo novo poglavlje i nemojte prepisivati ​​prethodno poglavlje bez objašnjenja, dodatnih komentara, broja riječi ili posebnih znakova.\n\nTon pisanja trebao bi biti jednostavan, izravan i emotivan, kao da priču priča prijatelj u ležernom razgovoru. Koristite jednostavne riječi, kratke rečenice i lagani ritam izgovorene riječi. Izbjegavajte teške riječi, složene strukture ili književni jezik. Naracija treba privući pažnju jasnim slikama, univerzalnim osjećajima i pristupačnim jezikom. Izbjegavajte zatvorene završetke: završite poglavlje misterijom ili pitanjem, ostavljajući čitatelja znatiželjnim da sazna što je sljedeće.\n\n1. Emocionalni intenzitet\n- Svaka rečenica treba prenijeti sirovu emociju: strah, bol, šok, suosjećanje.\n- Koristite snažne glagole i pridjeve koji izazivaju fizičke i psihičke osjećaje.\n- Otkrijte unutarnji utjecaj na likove: stezanje u prsima, knedla u grlu, drhtanje ruku.\n\n2. Hitnost i tempo\n- Isprekidajte kratke rečenice radnje sažetim opisima, održavajući brz tempo.\n- Koristite interpunkciju koja pojačava ritam (elipsa, uskličnici, uzvici).\n- Izbjegavajte preduga razdoblja; svaki odlomak treba napredovati kroz scenu bez književnih pauza.\n\n3. Konkretan i sažet opis\n- Usredotočite se na bitne vizualne i senzorne detalje, bez preopterećenja.\n- Koristite specifične metafore i usporedbe, uvijek povezane s trenutkom.\n- Svaki element (boja, zvuk, tekstura) trebao bi se pojaviti na odmah prepoznatljiv način.\n\n4. Filmski smisao\n- Naizmjenično fokusirajte krupne planove (izrazi lica, reakcije) i kadrove iz daljine (okoliš, gomila).\n- Koristite priloške oznake kretanja kako biste potaknuli ideju kamere u pokretu.\n- Razbijte odlomke kako biste simulirali rezove scena.\n\n5. Promatranje i bliski pripovjedač\n- Usvojite treće lice, ali zadržite konverzacijski ton: prirodni jezik, bez književnog žargona.\n- Izbjegavajte previše znanstvene izraze; preferirajte konstrukcije koje zvuče kao izravno izvješće.\n\n6. Tonski kontrast\n- Stvorite dramatične pauze u kojima tišina ili neaktivnost govore koliko i radnje. - Isprekidajte zvukove i buku u istom slijedu (iznenadna tišina nakon koje slijedi vrisak ili buka).\n\n7. Reakcije i kolektivni sud\n- Opišite izraze lica i mrmljanje promatrača, pojačavajući društvenu napetost.\n- Uključite fragmente govora sporednih likova koji pokazuju šok ili neodobravanje.\n\n8. Šokantan jezik\n- Koristite šokantne izraze povezane s hororom, tragedijom i skandalom, ali uvijek povezane s određenim slikama.\n- Izbjegavajte pretjerani senzacionalizam; zadržite autentičnost u šoku.\n\n9. Blizina boli\n- Izravno prikažite fizičku i emocionalnu bol likova.\n- Izbjegavajte eufemizme: opišite ozbiljnost scena bez ublažavanja jezika.\n\n10. Tračci nade\n- Umetnite kratke bljeskove olakšanja ili utjehe koji se ističu u kontekstu napetosti.\n\n- Ovi trenuci trebali bi dodatno naglasiti dramatičan utjecaj kada scena dobije na hitnosti.\n\n11. Koherentnost glasa\n- Održavajte isti narativni ton od početka do kraja: neformalan, visceralan, filmski.\n- Izbjegavajte kontradiktorne stilove; održavajte jedinstven ton u cijelom tekstu.\n\n12. Izbor vokabulara\n- Dajte prednost jakim glagolima i oštrim pridjevima; zamijenite generičke priloge specifičnijim ekvivalentima.\n- Upravljajte vokabularom kako biste pojačali intenzitet, a da pritom čitanje ne bude iscrpljujuće.\n\n13. Zabrane\n- Izbjegavajte filozofska razmišljanja ili duge digresije.\n- Izbjegavajte korištenje opsežnog književnog vokabulara.\n- Izbjegavajte dodavanje poučnih odjeljaka, vinjeta ili podnaslova.\n- Izbjegavajte umetanje opisa koji remete tok tona."},{"content":"Navedite tekst na hrvatskom jeziku, koristeći imena i izraze uobičajene za govornike hrvatskog jezika, prilagođene hrvatskoj kulturi. Prilagodite imena, mjesta i kulturne reference tako da budu prirodni i prepoznatljivi na hrvatskom jeziku, osiguravajući da ostanu relevantni i povezani s vašom publikom.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[5020,260],"id":"8c110a55-0283-4457-872b-125f9396303e","name":"Gerar Capítulo 8","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\n{{ $('Gerar Capítulo 6').item.json.message.content }}\n{{ $('Gerar Capítulo 7').item.json.message.content }}\n{{ $('Gerar Capítulo 8').item.json.message.content }}\"\n\nNapišite novo poglavlje od otprilike 500 riječi koje nastavlja gore opisane događaje, uvodeći šokantan obrat koji potpuno mijenja narativ. Počnite točno tamo gdje je završilo prethodno poglavlje, ali u nekom trenutku umetnite dramatičan i neočekivan događaj koji radikalno mijenja tijek priče, mijenjajući odnose, otkrivajući razorne tajne ili transformirajući pravu prirodu glavnog lika. Zadržite isti stil, jezik i tempo kao i izvorna naracija, dok gradite na toj nagloj promjeni na način koji čitatelja ostavlja u stanju šoka. Preokret bi trebao biti toliko šokantan da čitatelja navede da preispita sve što je mislio da zna o priči do tog trenutka. Nemojte zatvarati radnju niti konačno rješavati sukobe, već iskoristite ovaj preokret kako biste stvorili još šokantniji završetak, ostavljajući čitatelja očajnim da otkrije posljedice ovog događaja koji mijenja život. Uključite samo novo poglavlje i nemojte prepisivati ​​prethodno poglavlje bez objašnjenja, dodatnih komentara, broja riječi ili posebnih znakova.\n\nTon pisanja trebao bi biti jednostavan, izravan i emotivan, kao da priču priča prijatelj u ležernom razgovoru. Koristite jednostavne riječi, kratke rečenice i lagani ritam izgovorene riječi. Izbjegavajte teške riječi, složene strukture ili književni jezik. Naracija treba privući pažnju jasnim slikama, univerzalnim osjećajima i pristupačnim jezikom. Izbjegavajte zatvorene završetke: završite poglavlje misterijom ili pitanjem, ostavljajući čitatelja znatiželjnim da sazna što je sljedeće.\n\n1. Emocionalni intenzitet\n- Svaka rečenica treba prenijeti sirovu emociju: strah, bol, šok, suosjećanje.\n- Koristite snažne glagole i pridjeve koji izazivaju fizičke i psihičke osjećaje.\n- Otkrijte unutarnji utjecaj na likove: stezanje u prsima, knedla u grlu, drhtanje ruku.\n\n2. Hitnost i tempo\n- Isprekidajte kratke rečenice radnje sažetim opisima, održavajući brz tempo.\n- Koristite interpunkciju koja pojačava ritam (elipsa, uskličnici, uzvici).\n- Izbjegavajte preduga razdoblja; svaki odlomak treba napredovati kroz scenu bez književnih pauza.\n\n3. Konkretan i sažet opis\n- Usredotočite se na bitne vizualne i senzorne detalje, bez preopterećenja.\n- Koristite specifične metafore i usporedbe, uvijek povezane s trenutkom.\n- Svaki element (boja, zvuk, tekstura) trebao bi se pojaviti na odmah prepoznatljiv način.\n\n4. Filmski smisao\n- Naizmjenično fokusirajte krupne planove (izrazi lica, reakcije) i kadrove iz daljine (okoliš, gomila).\n- Koristite priloške oznake kretanja kako biste potaknuli ideju kamere u pokretu.\n- Razbijte odlomke kako biste simulirali rezove scena.\n\n5. Promatranje i bliski pripovjedač\n- Usvojite treće lice, ali zadržite konverzacijski ton: prirodni jezik, bez književnog žargona.\n- Izbjegavajte previše znanstvene izraze; preferirajte konstrukcije koje zvuče kao izravno izvješće.\n\n6. Tonski kontrast\n- Stvorite dramatične pauze u kojima tišina ili neaktivnost govore koliko i radnje. - Isprekidajte zvukove i buku u istom slijedu (iznenadna tišina nakon koje slijedi vrisak ili buka).\n\n7. Reakcije i kolektivni sud\n- Opišite izraze lica i mrmljanje promatrača, pojačavajući društvenu napetost.\n- Uključite fragmente govora sporednih likova koji pokazuju šok ili neodobravanje.\n\n8. Šokantan jezik\n- Koristite šokantne izraze povezane s hororom, tragedijom i skandalom, ali uvijek povezane s određenim slikama.\n- Izbjegavajte pretjerani senzacionalizam; zadržite autentičnost u šoku.\n\n9. Blizina boli\n- Izravno prikažite fizičku i emocionalnu bol likova.\n- Izbjegavajte eufemizme: opišite ozbiljnost scena bez ublažavanja jezika.\n\n10. Tračci nade\n- Umetnite kratke bljeskove olakšanja ili utjehe koji se ističu u kontekstu napetosti.\n\n- Ovi trenuci trebali bi dodatno naglasiti dramatičan utjecaj kada scena dobije na hitnosti.\n\n11. Koherentnost glasa\n- Održavajte isti narativni ton od početka do kraja: neformalan, visceralan, filmski.\n- Izbjegavajte kontradiktorne stilove; održavajte jedinstven ton u cijelom tekstu.\n\n12. Izbor vokabulara\n- Dajte prednost jakim glagolima i oštrim pridjevima; zamijenite generičke priloge specifičnijim ekvivalentima.\n- Upravljajte vokabularom kako biste pojačali intenzitet, a da pritom čitanje ne bude iscrpljujuće.\n\n13. Zabrane\n- Izbjegavajte filozofska razmišljanja ili duge digresije.\n- Izbjegavajte korištenje opsežnog književnog vokabulara.\n- Izbjegavajte dodavanje poučnih odjeljaka, vinjeta ili podnaslova.\n- Izbjegavajte umetanje opisa koji remete tok tona."},{"content":"Navedite tekst na hrvatskom jeziku, koristeći imena i izraze uobičajene za govornike hrvatskog jezika, prilagođene hrvatskoj kulturi. Prilagodite imena, mjesta i kulturne reference tako da budu prirodni i prepoznatljivi na hrvatskom jeziku, osiguravajući da ostanu relevantni i povezani s vašom publikom.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[5400,260],"id":"587465b8-f9cc-455a-abba-518b7f058843","name":"Gerar Capítulo Final","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"={{ $json.message.content.Prompts[0].prompt }} Priča bi trebala započeti senzacionalnom verzijom udice: \"{{ $('Tradução Título').item.json.message.content['Título'] }}\". U ovom prvom poglavlju maksimalno iskoristite znatiželjne i tajanstvene elemente kako biste zaintrigirali i privukli čitateljevu pažnju od samog početka. Opišite svaki neobičan događaj živopisnim i zanimljivim detaljima, stvarajući atmosferu iščekivanja i fascinacije koja čitatelja drži željnim saznati što se sljedeće događa. Zatim uključite kratki poziv na akciju koji kaže: \"Hej, prije nego što nastavimo s ovom nevjerojatnom pričom, moram vam dati važno upozorenje! Mnogi pretplatnici su izvijestili da im je YouTube otkazao pretplate bez upozorenja. Samo provjerite crveni gumb ispod kako biste bili sigurni da ste još uvijek pretplaćeni na kanal! Ne želim da propustite bilo kakav ekskluzivni sadržaj koji dolazi... I dok ste tamo, ostavite taj snažan lajk! To mi puno pomaže s algoritmom! Oh, i recite mi u komentarima: iz kojeg grada gledate? Volim upoznati svaku nevjerojatnu osobu koja je dio ove zajednice! Vaše sudjelovanje čini razliku, hajde da komuniciramo!\" Navedite samo konačni tekst, bez objašnjenja, dodatnih komentara, broja riječi ili posebnih znakova. Priča bi trebala slijediti ovu točnu strukturu:\n\nTITLE: It begins with a sensational version of the hook: \"{{ $('Tradução Título').item.json.message.content['Título'] }}\"\nRAZVOJ POGLAVLJA: U ovom prvom poglavlju dodajte intrigantne i tajanstvene elemente kako biste od samog početka privukli čitateljevu pažnju. Opišite svaki neobičan događaj živopisnim i zanimljivim detaljima, stvarajući atmosferu iščekivanja i fascinacije koja čitatelja drži željnim saznati što će se sljedeće dogoditi.\n\nPoziv na akciju: Na kraju razvoja uključite ovaj tekst: \"Hej, prije nego što nastavimo s ovom nevjerojatnom pričom, moram vam dati važno upozorenje! Mnogi pretplatnici su izvijestili da im je YouTube otkazao pretplate bez upozorenja. Samo provjerite crveni gumb ispod kako biste bili sigurni da ste još uvijek pretplaćeni na kanal! Ne želim da propustite bilo kakav ekskluzivni sadržaj koji dolazi... I dok ste tamo, ostavite taj snažan lajk! Puno mi pomaže s algoritmom! Oh, i javite mi u komentarima: iz kojeg grada gledate? Volim upoznavati sve nevjerojatne ljude koji su dio ove zajednice! Vaše sudjelovanje čini razliku, hajde da komuniciramo!\"\n\nNavedite samo konačni tekst, strogo se pridržavajući ovog redoslijeda: naslov, nacrt poglavlja, a zatim poziv na akciju. Nemojte uključivati ​​objašnjenja, dodatne komentare, broj riječi ili posebne znakove. U konačnom tekstu nemojte pisati \"NASLOV:\", \"NACRT POGLAVLJA:\" ili \"POZIV NA AKCIJU:\".\n\nTon pisanja trebao bi biti jednostavan, izravan i emotivan, kao da priču priča prijatelj u ležernom razgovoru. Koristite jednostavne riječi, kratke rečenice i lagan ritam sličan govoru. Izbjegavajte teške riječi, složene strukture ili književni jezik. Narativ bi trebao privući pažnju jasnim slikama, univerzalnim osjećajima i pristupačnim jezikom. Izbjegavajte zatvorene završetke: završite poglavlje misterijom ili pitanjem, ostavljajući čitatelja znatiželjnim da sazna što slijedi.\n\n1. Emocionalni intenzitet\n- Svaka rečenica trebala bi prenijeti sirovu emociju: strah, bol, šok, suosjećanje.\n- Koristite snažne glagole i pridjeve koji izazivaju fizičke i psihičke osjećaje.\n\n- Otkrijte unutarnji utjecaj na likove: stezanje u prsima, knedla u grlu, drhtanje ruku.\n\n2. Hitnost i ritam\n- Izmjenjujte kratke rečenice radnje s sažetim opisima, održavajući brz tempo.\n- Koristite interpunkciju koja pojačava kadencu (elipsa, uskličnici, uzvici).\n- Izbjegavajte preduge rečenice; svaki odlomak treba pomicati scenu bez književnih pauza.\n\n3. Konkretan i sažet opis\n- Usredotočite se na bitne vizualne i senzorne detalje, bez preopterećenja.\n- Koristite specifične metafore i usporedbe, uvijek povezane s trenutkom.\n- Svaki element (boja, zvuk, tekstura) treba se pojaviti na odmah prepoznatljiv način.\n\n4. Filmski osjećaj\n- Naizmjenično fokusirajte krupne planove (izrazi lica, reakcije) i kadrove iz daljine (ambijent, gomila).\n- Koristite priloge kretanja kako biste evocirali ideju kamere u pokretu. - Podijelite odlomke kako biste simulirali pauze u scenama.\n\n5. Pažljivi i bliski pripovjedač\n- Koristite treće lice, ali održavajte konverzacijski ton: prirodni jezik, bez književnog žargona.\n- Izbjegavajte previše znanstvene izraze; preferirajte konstrukcije koje zvuče kao izravni izvjestitelj.\n\n6. Kontrastni tonovi\n- Stvarajte dramatične pauze u kojima tišina ili neaktivnost imaju jednaku vrijednost kao i radnje.\n- Isprekidajte zvukove i buke u istom slijedu (iznenadna tišina nakon koje slijedi vrisak ili buka).\n\n7. Reakcije i kolektivna prosudba\n- Opišite izraze lica i mrmljanje promatrača, pojačavajući društvenu napetost.\n- Uključite fragmente govora sporednih likova koji pokazuju šok ili neodobravanje.\n\n8. Šokantan jezik\n- Koristite šokantne izraze povezane s užasom, tragedijom i skandalom, ali uvijek povezane s određenim slikama.\n\n- Izbjegavajte pretjerani senzacionalizam; Održavajte autentičnost u utjecaju.\n\n9. Povezivanje s boli\n- Izravno predstavljajte fizičku i emocionalnu bol likova. - Izbjegavajte eufemizme: opišite ozbiljnost scena bez ublažavanja jezika.\n\n10. Tračci nade\n- Umetnite kratke izljeve olakšanja ili utjehe koji se ističu u kontekstu napetosti.\n- Ovi trenuci trebali bi dodatno naglasiti dramatičan utjecaj kada scena ponovno dobije hitnost.\n\n11. Dosljednost glasa\n- Održavajte isti narativni ton od početka do kraja: neformalan, visceralan, filmski.\n- Izbjegavajte pribjegavanje kontradiktornim stilovima; održavajte jedinstven ton u cijelom tekstu.\n\n12. Izbor vokabulara\n- Dajte prednost jakim glagolima i oštrim pridjevima; zamijenite generičke priloge specifičnijim ekvivalentima.\n\n- Upravljajte vokabularom kako biste pojačali intenzitet, a da čitanje ne bude zamorno.\n\n13. Zabrane\n- Izbjegavajte filozofska razmišljanja ili duge digresije.\n- Izbjegavajte korištenje složenog književnog vokabulara.\n- Izbjegavajte dodavanje uputa, grafičkih natuknica ili podnaslova. - Nemojte umetati opise koji remete tekst."},{"content":"Navedite tekst na hrvatskom jeziku, koristeći imena i izraze uobičajene za govornike hrvatskog jezika, prilagođene hrvatskoj kulturi. Prilagodite imena, mjesta i kulturne reference tako da budu prirodni i prepoznatljivi na hrvatskom jeziku, osiguravajući da ostanu relevantni i povezani s vašom publikom.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2020,260],"id":"bbb005eb-cf5c-4693-96cf-d1b9a2751cfb","name":"Reescrever Roteiro com Gancho Sensacional","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Glavni cilj:\nPriča u trećem licu, sa ženom kao protagonisticom.\n\nPretvorite bilo koji promptni uputni u jedan narativni promptni uputni u prvom poglavlju, bez završetka priče. Rezultat će biti JSON niz pod nazivom Prompts, koji sadrži točno jedan objekt, s poljem promptni.\n\n## Tema: \"{{ $('Tradução Título').item.json.message.content['Título'] }}\"\n### Contexto: \"{{ $json.message.content.Contexto }}\"\n\n## Basic Prompt Structure\n\nEach prompt should begin with: \"Write a story of approximately 500 words about...\"\n\n## JSON Technical Specifications\n\n```json\n{\n  \"Prompts\": [\n    {\n      \"prompt\": \"Write a story of approximately 500 words about...\"\n    }\n  ]\n}\n```\n\n## Tehnički zahtjevi\n- Priča u trećem licu, sa ženom kao protagonisticom\n- Samo jedan objekt u nizu \"Prompts\"\n- String u dvostrukim navodnicima\n- Uvlaka: 2 razmaka\n- Bez prijeloma redaka u sadržaju \"prompt\"\n- Valjan JSON s escapiranim posebnim znakovima\n\n## Detaljirana struktura narativa (samo prvo poglavlje)\n1. Predstavljanje protagonistice\n- Ime i glavne karakteristike\n- Socio-profesionalni kontekst\n- Početno emocionalno stanje\n\n2. Glavno okruženje\n- Vremenska i prostorna lokacija\n- Atmosfera i okolina\n- Jedinstveni elementi narativnog svijeta\n\n3. **Narativni okidač**\n- Katalizatorski događaj koji prekida normalnost\n- Pokреće početni konflikt ili glavnu dilemu\n\n4. **Narativna kuka**\n- Element misterije ili napetosti koji pojašnjava nastavak\n- Neriješeno pitanje\n- Završetak bez zaključivanja konflikta, čuvajući priču nezavršenom\n\n## Lista za provjeru\n1. **JSON**\n- [ ] Samo jedan objekt u \"Prompts\" - [ ] Polje \"Prompt\" bez prijeloma redaka\n- [ ] Stringovi zatvoreni u dvostruke navodnike, bez posebnih znakova\n\n2. **Narativ**\n- [ ] Nezavršena priča (poglavlje ostaje otvoreno)\n- [ ] Uključujući kuke bez rješavanja konflikta\n- [ ] Ne zaključivati radnju ili riješiti glavni konflikt. Umjesto toga, stvorite problem iz svakog rješenja, dajući čitatelju osjećaj da se priča mora nastaviti. Konačni osjećaj treba biti da ima više toga što slijedi, nikad definitivan zaključak.\n- [ ] Osigurajte da se poglavlje završi intrigantnom kukom, stvarajući misterij ili pitanje koje čitatelja ostavlja željnog čitanja sljedećeg poglavlja, nesposobnog da odloži knjigu.\n- [ ] Održite ravnotežu između akcije i refleksije, omogućavajući liku da se razvije, ali bez pružanja konačnih odgovora ili zaključaka koji rješavaju nerješene dileme.\n\n## Završna napomena\n- Ne zaključivati radnju ili riješiti glavni konflikt. Umjesto toga, stvorite problem iz svakog rješenja, dajući čitatelju osjećaj da se priča mora nastaviti. Konačni osjećaj treba biti da ima više toga što slijedi, nikad definitivan zaključak.\n- Osigurajte da se poglavlje završi intrigantnim preokretom, stvarajući misterij ili pitanje koje čitatelja ostavlja željnog čitanja sljedećeg poglavlja, nesposobnog da odloži knjigu.\n- Održite ravnotežu između akcije i refleksije, omogućavajući liku da se razvije, ali bez pružanja konačnih odgovora ili zaključaka koji rješavaju nerješene dileme.\n- Priča u trećem licu, sa ženom kao protagonisticom"},{"content":"Navedite tekst na hrvatskom jeziku, koristeći imena i izraze uobičajene za govornike hrvatskog jezika, prilagođene hrvatskoj kulturi. Prilagodite imena, mjesta i kulturne reference tako da budu prirodni i prepoznatljivi na hrvatskom jeziku, osiguravajući da ostanu relevantni i povezani s vašom publikom.","role":"system"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1640,260],"id":"cc77d318-cd00-4f8e-906a-c47e24e70fee","name":"Gerar Prompt Narrativo Capítulo 1","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $json['título'] }}\"\n\nMolimo vas da gornji tekst navedete na hrvatskom jeziku, koristeći uobičajena američka imena i izraze, prilagođene kako bi odražavali zajedničku kulturu Hrvatske. Prilagodite imena, mjesta i kulturne reference tako da budu prirodni i prepoznatljivi na hrvatskom jeziku, osiguravajući da ostanu relevantni i povezani s vašom publikom.\n\nIzlaz bi trebao izgledati ovako:\n\n{\n    \"Título\": \"{{ $json['título'] }}\"\n  }\n}\n\nProvjerite da generirani ključ slijedi traženi uzorak. NIKADA ne prekoračujte ograničenje od 95 znakova za optimalni učinak.\n\n"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[440,380],"id":"62c74da9-896a-450e-8ff2-9ee69e911d47","name":"Tradução Título","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Iniciar Criação de Roteiro').item.json.premissa }}\"\n\nMolimo vas da gornji tekst navedete na hrvatskom jeziku, koristeći uobičajena američka imena i izraze, prilagođene kako bi odražavali zajedničku kulturu Hrvatske. Prilagodite imena, mjesta i kulturne reference tako da budu prirodni i prepoznatljivi na hrvatskom jeziku, osiguravajući da ostanu relevantni i povezani s vašom publikom.\n\nIzlaz bi trebao izgledati ovako:\n{\n    \"Contexto\": \"{{ $('Iniciar Criação de Roteiro').item.json.premissa }}\"\n  }\n}\n\nProvjerite da generirani ključ slijedi traženi uzorak."}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1260,260],"id":"f0e30461-970d-42ae-a100-93ae35f84ecc","name":"Tradução Contexto","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone","allowFileDiscovery":true}},"options":{}},"id":"d61c3cc5-39ab-48ef-ae70-48cdf82313b6","name":"Compartilhar Pasta","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[6820,260],"credentials":{"googleDriveOAuth2Api":{"id":"uOMKQ3hoFwWVj3KJ","name":"chroniclesabduction@gmail.com"}}},{"parameters":{"resource":"folder","name":"Texto","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Chave').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[7040,260],"id":"a5bc9744-aa4d-4c23-b34f-310842b2190c","name":"Criar Pasta Texto","credentials":{"googleDriveOAuth2Api":{"id":"uOMKQ3hoFwWVj3KJ","name":"chroniclesabduction@gmail.com"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Nakon što imate transkript, stvorite sažetak sadržaja podijeljenog na glavne teme, ukupne duljine između 250 i 500 znakova. Zatim stvorite kratki sažetak ističući ključne riječi videa. Uključite 10 hashtagova povezanih s ključnim riječima. Molimo slijedite ovaj predložak:\n\n\"Ovaj video istražuje [glavnu temu], nudeći dubinsku i kritičku analizu [glavnih aspekata]. Na temelju bogatog i relevantnog povijesnog konteksta, sadržaj se bavi kontroverznim aspektima teme, ističući njihove implikacije za javnost i društvo. Video također ispituje praktične primjere i slučajeve, pružajući konkretnije i primijenjenije razumijevanje teme. Zaključak nudi razmišljanje o iznesenim točkama, naglašavajući važnost i utjecaj teme danas.\n\nKljučne riječi: [Glavne ključne riječi povezane s temom].\n\nHashtagovi: #GlavnaTema #PovijesniKontekst #KontroverzniAspekti #KritičkaAnaliza #PraktičniPrimjeri #StudijeSlučaja #ZavršnaRefleksija #DruštveniUtjecaj #Povijest #Društvo\"\n\nIzbjegavajte previše ujednačen stil pisanja, nedostatak osobnih nijansi ili sustavan i logičan pristup koji se može činiti tipičnim za umjetnu inteligenciju. Navedite tekst bez snižavanja vrijednosti, objašnjenja, dodatnih komentara, broja riječi ili posebnih znakova, jer će se koristiti izravno ispod videa na YouTubeu.\n\nRoteiro: \"{{ $item(\"0\").$node[\"Concatenar Capítulos\"].json[\"text\"] }}\""},{"content":"Navedite tekst na hrvatskom jeziku, koristeći imena i izraze uobičajene za govornike hrvatskog jezika, prilagođene hrvatskoj kulturi. Prilagodite imena, mjesta i kulturne reference tako da budu prirodni i prepoznatljivi na hrvatskom jeziku, osiguravajući da ostanu relevantni i povezani s vašom publikom.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[6220,260],"id":"3ee344bc-0fdf-4f64-9a4b-a4043c3bc2bb","name":"Gerar SEO","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"operation":"createFromText","content":"={{ $('Gerar SEO').item.json.message.content }}","name":"02 - SEO","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Texto').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[7480,260],"id":"b7de2cc0-6b21-415b-b54b-823d9e23bb99","name":"Salvar SEO no Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"uOMKQ3hoFwWVj3KJ","name":"chroniclesabduction@gmail.com"}}},{"parameters":{"operation":"createFromText","content":"={{ $item(\"0\").$node[\"Concatenar Capítulos\"].json[\"text\"] }}","name":"03 - Roteiro","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Texto').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[7260,260],"id":"ab4d1867-b890-4269-be70-f093f3f20fcb","name":"Salvar Roteiro no Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"uOMKQ3hoFwWVj3KJ","name":"chroniclesabduction@gmail.com"}}},{"parameters":{"resource":"folder","name":"={{ $item(\"0\").$node[\"Gerar Chave UUID\"].json[\"uuid\"] }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"root","mode":"list","cachedResultName":"/ (Root folder)","cachedResultUrl":"https://drive.google.com/drive"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[6600,260],"id":"bcfbc969-7ac6-4131-bf16-c20c4a1371e1","name":"Criar Pasta Chave","credentials":{"googleDriveOAuth2Api":{"id":"uOMKQ3hoFwWVj3KJ","name":"chroniclesabduction@gmail.com"}}},{"parameters":{"operation":"createFromText","content":"={{ $('Tradução Título').item.json.message.content['Título'] }}","name":"01 - Título","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Texto').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[7700,260],"id":"de74df79-2f56-4e41-858e-67d178ec32bf","name":"Salvar Título no Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"uOMKQ3hoFwWVj3KJ","name":"chroniclesabduction@gmail.com"}}},{"parameters":{"jsCode":"const texts = [\n  $node[\"Reescrever Roteiro com Gancho Sensacional\"].json.message.content,\n  $node[\"Gerar Capítulo 1\"].json.message.content,\n  $node[\"Gerar Capítulo 2\"].json.message.content,\n  $node[\"Gerar Capítulo 3\"].json.message.content,\n  $node[\"Gerar Capítulo 4\"].json.message.content,\n  $node[\"Gerar Capítulo 5\"].json.message.content,\n  $node[\"Gerar Capítulo 6\"].json.message.content,\n  $node[\"Gerar Capítulo 7\"].json.message.content,\n  $node[\"Gerar Capítulo 8\"].json.message.content,\n  $node[\"Gerar Capítulo Final\"].json.message.content\n];\n\nconst finalText = texts.join(\" \").replace(/\\s+/g, \" \").trim();\n\nreturn [{ json: { text: finalText } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5780,260],"id":"fa70a2c9-2823-49e3-ae69-933265c9e0a3","name":"Concatenar Capítulos"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-40,460],"id":"a8d0c4a1-5db3-42a8-9f63-c33f68d0ee43","name":"Iniciar Criação de Roteiro"},{"parameters":{"assignments":{"assignments":[{"id":"8b57efd5-7568-43e3-ab6c-b6ad8dce4918","name":"pasta","value":"={{ $('Criar Pasta Chave').item.json.id }}","type":"string"},{"id":"d84912a9-366a-43a3-91e5-e207b6f735f5","name":"título","value":"={{ $('Tradução Título').item.json.message.content['Título'] }}","type":"string"},{"id":"4a40500d-4220-435b-99f2-35c7af8e8069","name":"seo","value":"={{ $('Gerar SEO').item.json.message.content }}","type":"string"},{"id":"4533d616-65cf-4cd8-98fd-d0560dda4af8","name":"roteiro","value":"={{ $('Salvar Roteiro no Google Drive').item.json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[7920,260],"id":"e0074a57-24d2-4ad2-a9c1-f60113d821f4","name":"Preparar Dados para Trello"},{"parameters":{"jsCode":"function generateUUIDv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nreturn [\n  {\n    json: {\n      uuid: generateUUIDv4()\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6000,260],"id":"a8c1221d-2589-42df-ad0f-9565ee8b11cb","name":"Gerar Chave UUID"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84c3207c-9512-4e47-845b-59c4beb13873","leftValue":"={{ $json.message.content[\"Título\"].length }}","rightValue":100,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1040,320],"id":"705d54cb-07e6-44d1-9d2e-c4167f682c2d","name":"Verificar Tamanho do Título"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1340,520],"id":"c88c4fd9-298f-4420-ba1b-498790468287","name":"Aguardar e Reiniciar Processo","webhookId":"a9594ef1-6300-4f88-a874-2c679a52e698"},{"parameters":{"assignments":{"assignments":[{"id":"b9f13f00-8d8a-4727-ba37-a9d507fcceb9","name":"ROTEIRO","value":"684e99f4d2ade5c74efc2407","type":"string"},{"id":"0f61075e-b947-408b-8329-a66be2d1f4e0","name":"Canal","value":"@Najboljelegende","type":"string"},{"id":"f72b75ea-1522-46b8-beaa-c65eb0e97fd5","name":"título","value":"={{ $json[\"título\"] }}","type":"string"},{"id":"716a3116-6b92-4568-b250-926208fb8689","name":"premissa","value":"={{ $json.premissa }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,460],"id":"5d928a0e-7a6e-4058-9bb7-33acb662bb3b","name":"Organizar Título e Premissa"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,0],"id":"d35765b7-cf5e-4a2f-be14-0185f2644ce2","name":"Detector de Falhas","disabled":true},{"parameters":{"chatId":"-1002628528187","text":"=03 - CRIA ROTEIROS - PT","additionalFields":{"appendAttribution":false,"message_thread_id":3}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[220,0],"id":"b375b884-4b63-42c8-b402-7b28967b6217","name":"Notificação de Erro no Telegram","webhookId":"88d838f2-2b4a-4821-a7e5-2d205fc70f70","disabled":true},{"parameters":{"listId":"={{ $item(\"0\").$node[\"Organizar Título e Premissa\"].json[\"ROTEIRO\"] }}","name":"={{ $item(\"0\").$node[\"Organizar Título e Premissa\"].json[\"Canal\"] }}","description":"=\"título\": \"{{ $json['título'] }}\",\n\"seo\": \"{{ $json.seo }}\",\n\"pasta\": \"{{ $json.pasta }}\",\n\"roteiro\": \"{{ $json.roteiro }}\",","additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[8140,260],"id":"9d35aab2-f021-403c-ace2-3526e52213aa","name":"Criar Cartão em \"ROTEIRO ✅\"","credentials":{"trelloApi":{"id":"6gLxfTJw8EfH7C8E","name":"Trello account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"586fe154-fbff-4f0b-9ed4-0547d6feccce","leftValue":"={{ $json.message.content[\"Título\"] }}","rightValue":"millionaire","operator":{"type":"string","operation":"contains"}},{"id":"89158140-3df0-4eaa-ac2b-f829796ad08e","leftValue":"={{ $json.message.content[\"Título\"] }}","rightValue":"MILLIONAIRE","operator":{"type":"string","operation":"contains"}},{"id":"4326124b-d5b1-4411-94c3-140d9f70f2e6","leftValue":"={{ $json.message.content[\"Título\"] }}","rightValue":"millionaire","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[820,400],"id":"183e24de-2fbd-4c4f-8dca-5400b2cbf73a","name":"Verificar Palavra-chave no Título","disabled":true}],"connections":{"Gerar Capítulo 1":{"main":[[{"node":"Gerar Capítulo 2","type":"main","index":0}]]},"Gerar Capítulo 2":{"main":[[{"node":"Gerar Capítulo 3","type":"main","index":0}]]},"Gerar Capítulo 3":{"main":[[{"node":"Gerar Capítulo 4","type":"main","index":0}]]},"Gerar Capítulo 4":{"main":[[{"node":"Gerar Capítulo 5","type":"main","index":0}]]},"Gerar Capítulo 5":{"main":[[{"node":"Gerar Capítulo 6","type":"main","index":0}]]},"Gerar Capítulo 6":{"main":[[{"node":"Gerar Capítulo 7","type":"main","index":0}]]},"Gerar Capítulo 7":{"main":[[{"node":"Gerar Capítulo 8","type":"main","index":0}]]},"Gerar Capítulo 8":{"main":[[{"node":"Gerar Capítulo Final","type":"main","index":0}]]},"Gerar Capítulo Final":{"main":[[{"node":"Concatenar Capítulos","type":"main","index":0}]]},"Reescrever Roteiro com Gancho Sensacional":{"main":[[{"node":"Gerar Capítulo 1","type":"main","index":0}]]},"Gerar Prompt Narrativo Capítulo 1":{"main":[[{"node":"Reescrever Roteiro com Gancho Sensacional","type":"main","index":0}]]},"Tradução Título":{"main":[[{"node":"Verificar Palavra-chave no Título","type":"main","index":0}]]},"Tradução Contexto":{"main":[[{"node":"Gerar Prompt Narrativo Capítulo 1","type":"main","index":0}]]},"Compartilhar Pasta":{"main":[[{"node":"Criar Pasta Texto","type":"main","index":0}]]},"Criar Pasta Texto":{"main":[[{"node":"Salvar Roteiro no Google Drive","type":"main","index":0}]]},"Gerar SEO":{"main":[[{"node":"Criar Pasta Chave","type":"main","index":0}]]},"Salvar SEO no Google Drive":{"main":[[{"node":"Salvar Título no Google Drive","type":"main","index":0}]]},"Salvar Roteiro no Google Drive":{"main":[[{"node":"Salvar SEO no Google Drive","type":"main","index":0}]]},"Criar Pasta Chave":{"main":[[{"node":"Compartilhar Pasta","type":"main","index":0}]]},"Salvar Título no Google Drive":{"main":[[{"node":"Preparar Dados para Trello","type":"main","index":0}]]},"Concatenar Capítulos":{"main":[[{"node":"Gerar Chave UUID","type":"main","index":0}]]},"Iniciar Criação de Roteiro":{"main":[[{"node":"Organizar Título e Premissa","type":"main","index":0}]]},"Preparar Dados para Trello":{"main":[[{"node":"Criar Cartão em \"ROTEIRO ✅\"","type":"main","index":0}]]},"Gerar Chave UUID":{"main":[[{"node":"Gerar SEO","type":"main","index":0}]]},"Verificar Tamanho do Título":{"main":[[{"node":"Tradução Contexto","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]},"Aguardar e Reiniciar Processo":{"main":[[{"node":"Organizar Título e Premissa","type":"main","index":0}]]},"Organizar Título e Premissa":{"main":[[{"node":"Tradução Título","type":"main","index":0}]]},"Detector de Falhas":{"main":[[{"node":"Notificação de Erro no Telegram","type":"main","index":0}]]},"Verificar Palavra-chave no Título":{"main":[[{"node":"Verificar Tamanho do Título","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Iniciar Criação de Roteiro":[{"json":{"título":"Zabranjeno Ogledalo iz 1923. – Svi koji su se pogledali, nestali su... (Baba Jaga)","premissa":"Desde que herdei o antigo espelho da minha avó, uma peculiaridade me atormenta: todos que se olham nele desaparecem sem deixar rastro. Sou uma artista plástica que sempre lutou contra a pressão familiar e a necessidade de aprovação, e agora, com um objeto tão enigmático em mãos, minha vida se tornou um turbilhão. Enquanto minha avó contava histórias sobre a Baba Jaga e as maldições que podem advir de um reflexo distorcido da alma, as ocorrências começaram. O primeiro desaparecido foi meu melhor amigo, um artista promissor que, após uma visita, simplesmente evaporou do nosso mundo. A dor e a culpa me corroem. A cada dia que passa, sinto que o espelho não é apenas um objeto, mas uma extensão da minha própria insegurança e medos.\n\nDecido então investigar mais sobre a origem do espelho e seus segredos, mas sou confrontada por Mariana, uma mulher misteriosa que afirma ser uma guardiã do espelho e que me adverte sobre suas consequências. Conforme nossas interações se intensificam, descubro que ela também tem uma conexão pessoal com o objeto, feita pela culpa de um amor perdido que, acredita, foi engolido por ele. Nossas histórias se entrelaçam em uma espiral de traumas e revelações, levando a reviravoltas inesperadas. O que se apossou do espelho não era apenas uma maldição; era um reflexo da nossa própria luta entre a arte e o que somos, uma luta que culmina em uma escolha fatídica. Assim, a tensão aumenta à medida que descobrimos que para quebrar a maldição, uma deve sacrificar algo precioso: a própria identidade. Enquanto a linha entre sanidade e loucura se desfaz, percebo que a única maneira de salvar aqueles que amo pode ser me perder completamente."}}]},"versionId":"1fabd0ed-0e3f-4e78-90cc-6e78673e6356","triggerCount":0,"tags":[]}