wf03---criar-roteiro---eng---@almasheridasx-mu1Vk0Y9kjE147b2.json
{"createdAt":"2025-06-30T18:40:51.149Z","updatedAt":"2025-06-30T19:48:46.000Z","id":"mu1Vk0Y9kjE147b2","name":"WF03 - CRIAR ROTEIRO - ENG - @almasheridasx","active":false,"isArchived":false,"nodes":[{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\"\n\nEscribe un nuevo capítulo de aproximadamente 500 palabras que continúe los eventos descritos anteriormente, introduciendo un giro impactante que transforme por completo la narrativa. Comienza exactamente donde terminó el capítulo anterior, pero en algún momento, inserta un evento dramático e inesperado que cambie radicalmente el curso de la historia, alterando relaciones, revelando secretos devastadores o transformando la verdadera naturaleza de un personaje principal. Mantén el mismo estilo, lenguaje y ritmo que la narrativa original, mientras construyes este cambio abrupto de una manera que deje al lector en estado de shock. El giro debe ser tan impactante que haga al lector cuestionar todo lo que creía saber sobre la historia hasta ese momento. No cierres la trama ni resuelvas conflictos definitivamente, sino que uses este giro para crear un final aún más impactante, dejando al lector desesperado por descubrir las consecuencias de este evento que le cambió la vida. Incluye solo el nuevo capítulo y no reescribas el capítulo anterior sin explicación, comentarios adicionales, recuento de palabras o caracteres especiales.\n\nEl tono de la escritura debe ser simple, directo y emotivo, como si la historia la contara un amigo en una conversación informal. Use palabras sencillas, oraciones cortas y un ritmo ligero, como el de la palabra hablada. Evite palabras difíciles, estructuras complejas o lenguaje literario. La narrativa debe captar la atención con imágenes claras, sentimientos universales y un lenguaje accesible. Evite los finales cerrados: termine el capítulo con un misterio o una pregunta, dejando al lector con curiosidad por saber qué sigue.\n\n1. Intensidad emocional\n- Cada oración debe transmitir una emoción directa: miedo, dolor, conmoción, compasión.\n- Use verbos y adjetivos contundentes que evoquen sensaciones físicas y psicológicas.\n- Revele el impacto interno en los personajes: opresión en el pecho, nudo en la garganta, manos temblorosas.\n\n2. Urgencia y ritmo\n- Intercale oraciones cortas de acción con descripciones concisas, manteniendo un ritmo rápido.\n- Use puntuación que refuerce la cadencia (puntos suspensivos, signos de exclamación, interjecciones). - Evite los párrafos excesivamente largos; cada párrafo debe avanzar la escena sin pausas literarias.\n\n3. Descripción concreta y concisa\n- Céntrese en los detalles visuales y sensoriales esenciales, sin sobrecargar.\n- Utilice metáforas y comparaciones específicas, siempre relacionadas con el momento.\n- Cada elemento (color, sonido, textura) debe aparecer de forma reconocible al instante.\n\n4. Sentido cinematográfico\n- Alterne el enfoque entre primeros planos (expresiones, reacciones) y planos generales (entorno, multitud).\n- Utilice adverbios de movimiento para inducir la idea de una cámara en movimiento.\n- Divida los párrafos para simular cortes de escena.\n\n5. Narrador observador y cercano\n- Adopte la tercera persona, pero mantenga un tono conversacional: lenguaje natural, sin jerga literaria.\n- Evite los términos excesivamente académicos; prefiera construcciones que suenen a un informe directo.\n\n6. Contraste tonal\n- Cree pausas dramáticas en las que el silencio o la inacción hablen tanto como las acciones. - Intercalar sonidos y ruidos en la misma secuencia (silencio repentino seguido de un grito o ruido).\n\n7. Reacciones y juicio colectivo\n- Describir las expresiones y murmullos de los observadores, reforzando la tensión social.\n- Incluir fragmentos de diálogos de personajes secundarios que demuestren conmoción o desaprobación.\n\n8. Lenguaje impactante\n- Utilizar términos impactantes relacionados con el horror, la tragedia y el escándalo, pero siempre vinculados a imágenes específicas.\n- Evitar el sensacionalismo excesivo; mantener la autenticidad en la conmoción.\n\n9. Proximidad al dolor\n- Retratar directamente el dolor físico y emocional de los personajes.\n- Evitar eufemismos: describir la gravedad de las escenas sin suavizar el lenguaje.\n\n10. Destellos de esperanza\n- Insertar breves destellos de alivio o consuelo que destaquen en el contexto de la tensión.\n\n- Estos momentos deben acentuar aún más el impacto dramático cuando la escena cobra urgencia.\n\n11. Coherencia de la voz\n- Mantener el mismo tono narrativo de principio a fin: informal, visceral, cinematográfico.\n- Evitar estilos contradictorios; mantener un tono uniforme a lo largo del texto.\n\n12. Elección de vocabulario\n- Preferir verbos contundentes y adjetivos incisivos; sustituir los adverbios genéricos por equivalentes más específicos.\n- Gestionar el vocabulario para aumentar la intensidad sin que la lectura resulte agotadora.\n\n13. Prohibiciones\n- Evitar reflexiones filosóficas o digresiones largas.\n- Evitar el uso de vocabulario literario elaborado.\n- Evitar añadir secciones instructivas, viñetas o subtítulos.\n- Evitar insertar descripciones que interrumpan la fluidez del tono."},{"content":"Proporciona texto en español mexicano, utilizando nombres y expresiones comunes entre los hablantes de mexicanos, adaptados para reflejar la cultura mexicana. Adapta nombres, lugares y referencias culturales para que sean naturales y reconocibles en español mexicano, asegurándote de que sigan siendo relevantes y conecten con tu audiencia.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2400,260],"id":"7ca658d3-de75-4141-b48d-8bbe119d93c7","name":"Gerar Capítulo 1","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\"\n\nEscribe un nuevo capítulo de aproximadamente 500 palabras que continúe los eventos descritos anteriormente, introduciendo un giro impactante que transforme por completo la narrativa. Comienza exactamente donde terminó el capítulo anterior, pero en algún momento, inserta un evento dramático e inesperado que cambie radicalmente el curso de la historia, alterando relaciones, revelando secretos devastadores o transformando la verdadera naturaleza de un personaje principal. Mantén el mismo estilo, lenguaje y ritmo que la narrativa original, mientras construyes este cambio abrupto de una manera que deje al lector en estado de shock. El giro debe ser tan impactante que haga al lector cuestionar todo lo que creía saber sobre la historia hasta ese momento. No cierres la trama ni resuelvas conflictos definitivamente, sino que uses este giro para crear un final aún más impactante, dejando al lector desesperado por descubrir las consecuencias de este evento que le cambió la vida. Incluye solo el nuevo capítulo y no reescribas el capítulo anterior sin explicación, comentarios adicionales, recuento de palabras o caracteres especiales.\n\nEl tono de la escritura debe ser simple, directo y emotivo, como si la historia la contara un amigo en una conversación informal. Use palabras sencillas, oraciones cortas y un ritmo ligero, como el de la palabra hablada. Evite palabras difíciles, estructuras complejas o lenguaje literario. La narrativa debe captar la atención con imágenes claras, sentimientos universales y un lenguaje accesible. Evite los finales cerrados: termine el capítulo con un misterio o una pregunta, dejando al lector con curiosidad por saber qué sigue.\n\n1. Intensidad emocional\n- Cada oración debe transmitir una emoción directa: miedo, dolor, conmoción, compasión.\n- Use verbos y adjetivos contundentes que evoquen sensaciones físicas y psicológicas.\n- Revele el impacto interno en los personajes: opresión en el pecho, nudo en la garganta, manos temblorosas.\n\n2. Urgencia y ritmo\n- Intercale oraciones cortas de acción con descripciones concisas, manteniendo un ritmo rápido.\n- Use puntuación que refuerce la cadencia (puntos suspensivos, signos de exclamación, interjecciones). - Evite los párrafos excesivamente largos; cada párrafo debe avanzar la escena sin pausas literarias.\n\n3. Descripción concreta y concisa\n- Céntrese en los detalles visuales y sensoriales esenciales, sin sobrecargar.\n- Utilice metáforas y comparaciones específicas, siempre relacionadas con el momento.\n- Cada elemento (color, sonido, textura) debe aparecer de forma reconocible al instante.\n\n4. Sentido cinematográfico\n- Alterne el enfoque entre primeros planos (expresiones, reacciones) y planos generales (entorno, multitud).\n- Utilice adverbios de movimiento para inducir la idea de una cámara en movimiento.\n- Divida los párrafos para simular cortes de escena.\n\n5. Narrador observador y cercano\n- Adopte la tercera persona, pero mantenga un tono conversacional: lenguaje natural, sin jerga literaria.\n- Evite los términos excesivamente académicos; prefiera construcciones que suenen a un informe directo.\n\n6. Contraste tonal\n- Cree pausas dramáticas en las que el silencio o la inacción hablen tanto como las acciones. - Intercalar sonidos y ruidos en la misma secuencia (silencio repentino seguido de un grito o ruido).\n\n7. Reacciones y juicio colectivo\n- Describir las expresiones y murmullos de los observadores, reforzando la tensión social.\n- Incluir fragmentos de diálogos de personajes secundarios que demuestren conmoción o desaprobación.\n\n8. Lenguaje impactante\n- Utilizar términos impactantes relacionados con el horror, la tragedia y el escándalo, pero siempre vinculados a imágenes específicas.\n- Evitar el sensacionalismo excesivo; mantener la autenticidad en la conmoción.\n\n9. Proximidad al dolor\n- Retratar directamente el dolor físico y emocional de los personajes.\n- Evitar eufemismos: describir la gravedad de las escenas sin suavizar el lenguaje.\n\n10. Destellos de esperanza\n- Insertar breves destellos de alivio o consuelo que destaquen en el contexto de la tensión.\n\n- Estos momentos deben acentuar aún más el impacto dramático cuando la escena cobra urgencia.\n\n11. Coherencia de la voz\n- Mantener el mismo tono narrativo de principio a fin: informal, visceral, cinematográfico.\n- Evitar estilos contradictorios; mantener un tono uniforme a lo largo del texto.\n\n12. Elección de vocabulario\n- Preferir verbos contundentes y adjetivos incisivos; sustituir los adverbios genéricos por equivalentes más específicos.\n- Gestionar el vocabulario para aumentar la intensidad sin que la lectura resulte agotadora.\n\n13. Prohibiciones\n- Evitar reflexiones filosóficas o digresiones largas.\n- Evitar el uso de vocabulario literario elaborado.\n- Evitar añadir secciones instructivas, viñetas o subtítulos.\n- Evitar insertar descripciones que interrumpan la fluidez del tono."},{"content":"Proporciona texto en español mexicano, utilizando nombres y expresiones comunes entre los hablantes de mexicanos, adaptados para reflejar la cultura mexicana. Adapta nombres, lugares y referencias culturales para que sean naturales y reconocibles en español mexicano, asegurándote de que sigan siendo relevantes y conecten con tu audiencia.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2760,260],"id":"d4cba2b5-c058-4794-9422-ba13108392ad","name":"Gerar Capítulo 2","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\"\n\nEscribe un nuevo capítulo de aproximadamente 500 palabras que continúe los eventos descritos anteriormente, introduciendo un giro impactante que transforme por completo la narrativa. Comienza exactamente donde terminó el capítulo anterior, pero en algún momento, inserta un evento dramático e inesperado que cambie radicalmente el curso de la historia, alterando relaciones, revelando secretos devastadores o transformando la verdadera naturaleza de un personaje principal. Mantén el mismo estilo, lenguaje y ritmo que la narrativa original, mientras construyes este cambio abrupto de una manera que deje al lector en estado de shock. El giro debe ser tan impactante que haga al lector cuestionar todo lo que creía saber sobre la historia hasta ese momento. No cierres la trama ni resuelvas conflictos definitivamente, sino que uses este giro para crear un final aún más impactante, dejando al lector desesperado por descubrir las consecuencias de este evento que le cambió la vida. Incluye solo el nuevo capítulo y no reescribas el capítulo anterior sin explicación, comentarios adicionales, recuento de palabras o caracteres especiales.\n\nEl tono de la escritura debe ser simple, directo y emotivo, como si la historia la contara un amigo en una conversación informal. Use palabras sencillas, oraciones cortas y un ritmo ligero, como el de la palabra hablada. Evite palabras difíciles, estructuras complejas o lenguaje literario. La narrativa debe captar la atención con imágenes claras, sentimientos universales y un lenguaje accesible. Evite los finales cerrados: termine el capítulo con un misterio o una pregunta, dejando al lector con curiosidad por saber qué sigue.\n\n1. Intensidad emocional\n- Cada oración debe transmitir una emoción directa: miedo, dolor, conmoción, compasión.\n- Use verbos y adjetivos contundentes que evoquen sensaciones físicas y psicológicas.\n- Revele el impacto interno en los personajes: opresión en el pecho, nudo en la garganta, manos temblorosas.\n\n2. Urgencia y ritmo\n- Intercale oraciones cortas de acción con descripciones concisas, manteniendo un ritmo rápido.\n- Use puntuación que refuerce la cadencia (puntos suspensivos, signos de exclamación, interjecciones). - Evite los párrafos excesivamente largos; cada párrafo debe avanzar la escena sin pausas literarias.\n\n3. Descripción concreta y concisa\n- Céntrese en los detalles visuales y sensoriales esenciales, sin sobrecargar.\n- Utilice metáforas y comparaciones específicas, siempre relacionadas con el momento.\n- Cada elemento (color, sonido, textura) debe aparecer de forma reconocible al instante.\n\n4. Sentido cinematográfico\n- Alterne el enfoque entre primeros planos (expresiones, reacciones) y planos generales (entorno, multitud).\n- Utilice adverbios de movimiento para inducir la idea de una cámara en movimiento.\n- Divida los párrafos para simular cortes de escena.\n\n5. Narrador observador y cercano\n- Adopte la tercera persona, pero mantenga un tono conversacional: lenguaje natural, sin jerga literaria.\n- Evite los términos excesivamente académicos; prefiera construcciones que suenen a un informe directo.\n\n6. Contraste tonal\n- Cree pausas dramáticas en las que el silencio o la inacción hablen tanto como las acciones. - Intercalar sonidos y ruidos en la misma secuencia (silencio repentino seguido de un grito o ruido).\n\n7. Reacciones y juicio colectivo\n- Describir las expresiones y murmullos de los observadores, reforzando la tensión social.\n- Incluir fragmentos de diálogos de personajes secundarios que demuestren conmoción o desaprobación.\n\n8. Lenguaje impactante\n- Utilizar términos impactantes relacionados con el horror, la tragedia y el escándalo, pero siempre vinculados a imágenes específicas.\n- Evitar el sensacionalismo excesivo; mantener la autenticidad en la conmoción.\n\n9. Proximidad al dolor\n- Retratar directamente el dolor físico y emocional de los personajes.\n- Evitar eufemismos: describir la gravedad de las escenas sin suavizar el lenguaje.\n\n10. Destellos de esperanza\n- Insertar breves destellos de alivio o consuelo que destaquen en el contexto de la tensión.\n\n- Estos momentos deben acentuar aún más el impacto dramático cuando la escena cobra urgencia.\n\n11. Coherencia de la voz\n- Mantener el mismo tono narrativo de principio a fin: informal, visceral, cinematográfico.\n- Evitar estilos contradictorios; mantener un tono uniforme a lo largo del texto.\n\n12. Elección de vocabulario\n- Preferir verbos contundentes y adjetivos incisivos; sustituir los adverbios genéricos por equivalentes más específicos.\n- Gestionar el vocabulario para aumentar la intensidad sin que la lectura resulte agotadora.\n\n13. Prohibiciones\n- Evitar reflexiones filosóficas o digresiones largas.\n- Evitar el uso de vocabulario literario elaborado.\n- Evitar añadir secciones instructivas, viñetas o subtítulos.\n- Evitar insertar descripciones que interrumpan la fluidez del tono."},{"content":"Proporciona texto en español mexicano, utilizando nombres y expresiones comunes entre los hablantes de mexicanos, adaptados para reflejar la cultura mexicana. Adapta nombres, lugares y referencias culturales para que sean naturales y reconocibles en español mexicano, asegurándote de que sigan siendo relevantes y conecten con tu audiencia.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3140,260],"id":"7bc3ab44-8bdb-4d7c-9d2d-4716c174b745","name":"Gerar Capítulo 3","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\"\n\nEscribe un nuevo capítulo de aproximadamente 500 palabras que continúe los eventos descritos anteriormente, introduciendo un giro impactante que transforme por completo la narrativa. Comienza exactamente donde terminó el capítulo anterior, pero en algún momento, inserta un evento dramático e inesperado que cambie radicalmente el curso de la historia, alterando relaciones, revelando secretos devastadores o transformando la verdadera naturaleza de un personaje principal. Mantén el mismo estilo, lenguaje y ritmo que la narrativa original, mientras construyes este cambio abrupto de una manera que deje al lector en estado de shock. El giro debe ser tan impactante que haga al lector cuestionar todo lo que creía saber sobre la historia hasta ese momento. No cierres la trama ni resuelvas conflictos definitivamente, sino que uses este giro para crear un final aún más impactante, dejando al lector desesperado por descubrir las consecuencias de este evento que le cambió la vida. Incluye solo el nuevo capítulo y no reescribas el capítulo anterior sin explicación, comentarios adicionales, recuento de palabras o caracteres especiales.\n\nEl tono de la escritura debe ser simple, directo y emotivo, como si la historia la contara un amigo en una conversación informal. Use palabras sencillas, oraciones cortas y un ritmo ligero, como el de la palabra hablada. Evite palabras difíciles, estructuras complejas o lenguaje literario. La narrativa debe captar la atención con imágenes claras, sentimientos universales y un lenguaje accesible. Evite los finales cerrados: termine el capítulo con un misterio o una pregunta, dejando al lector con curiosidad por saber qué sigue.\n\n1. Intensidad emocional\n- Cada oración debe transmitir una emoción directa: miedo, dolor, conmoción, compasión.\n- Use verbos y adjetivos contundentes que evoquen sensaciones físicas y psicológicas.\n- Revele el impacto interno en los personajes: opresión en el pecho, nudo en la garganta, manos temblorosas.\n\n2. Urgencia y ritmo\n- Intercale oraciones cortas de acción con descripciones concisas, manteniendo un ritmo rápido.\n- Use puntuación que refuerce la cadencia (puntos suspensivos, signos de exclamación, interjecciones). - Evite los párrafos excesivamente largos; cada párrafo debe avanzar la escena sin pausas literarias.\n\n3. Descripción concreta y concisa\n- Céntrese en los detalles visuales y sensoriales esenciales, sin sobrecargar.\n- Utilice metáforas y comparaciones específicas, siempre relacionadas con el momento.\n- Cada elemento (color, sonido, textura) debe aparecer de forma reconocible al instante.\n\n4. Sentido cinematográfico\n- Alterne el enfoque entre primeros planos (expresiones, reacciones) y planos generales (entorno, multitud).\n- Utilice adverbios de movimiento para inducir la idea de una cámara en movimiento.\n- Divida los párrafos para simular cortes de escena.\n\n5. Narrador observador y cercano\n- Adopte la tercera persona, pero mantenga un tono conversacional: lenguaje natural, sin jerga literaria.\n- Evite los términos excesivamente académicos; prefiera construcciones que suenen a un informe directo.\n\n6. Contraste tonal\n- Cree pausas dramáticas en las que el silencio o la inacción hablen tanto como las acciones. - Intercalar sonidos y ruidos en la misma secuencia (silencio repentino seguido de un grito o ruido).\n\n7. Reacciones y juicio colectivo\n- Describir las expresiones y murmullos de los observadores, reforzando la tensión social.\n- Incluir fragmentos de diálogos de personajes secundarios que demuestren conmoción o desaprobación.\n\n8. Lenguaje impactante\n- Utilizar términos impactantes relacionados con el horror, la tragedia y el escándalo, pero siempre vinculados a imágenes específicas.\n- Evitar el sensacionalismo excesivo; mantener la autenticidad en la conmoción.\n\n9. Proximidad al dolor\n- Retratar directamente el dolor físico y emocional de los personajes.\n- Evitar eufemismos: describir la gravedad de las escenas sin suavizar el lenguaje.\n\n10. Destellos de esperanza\n- Insertar breves destellos de alivio o consuelo que destaquen en el contexto de la tensión.\n\n- Estos momentos deben acentuar aún más el impacto dramático cuando la escena cobra urgencia.\n\n11. Coherencia de la voz\n- Mantener el mismo tono narrativo de principio a fin: informal, visceral, cinematográfico.\n- Evitar estilos contradictorios; mantener un tono uniforme a lo largo del texto.\n\n12. Elección de vocabulario\n- Preferir verbos contundentes y adjetivos incisivos; sustituir los adverbios genéricos por equivalentes más específicos.\n- Gestionar el vocabulario para aumentar la intensidad sin que la lectura resulte agotadora.\n\n13. Prohibiciones\n- Evitar reflexiones filosóficas o digresiones largas.\n- Evitar el uso de vocabulario literario elaborado.\n- Evitar añadir secciones instructivas, viñetas o subtítulos.\n- Evitar insertar descripciones que interrumpan la fluidez del tono."},{"content":"Proporciona texto en español mexicano, utilizando nombres y expresiones comunes entre los hablantes de mexicanos, adaptados para reflejar la cultura mexicana. Adapta nombres, lugares y referencias culturales para que sean naturales y reconocibles en español mexicano, asegurándote de que sigan siendo relevantes y conecten con tu audiencia.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3520,260],"id":"4d01aaf5-0059-4ab9-8207-4ed2000e52d7","name":"Gerar Capítulo 4","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\"\n\nEscribe un nuevo capítulo de aproximadamente 500 palabras que continúe los eventos descritos anteriormente, introduciendo un giro impactante que transforme por completo la narrativa. Comienza exactamente donde terminó el capítulo anterior, pero en algún momento, inserta un evento dramático e inesperado que cambie radicalmente el curso de la historia, alterando relaciones, revelando secretos devastadores o transformando la verdadera naturaleza de un personaje principal. Mantén el mismo estilo, lenguaje y ritmo que la narrativa original, mientras construyes este cambio abrupto de una manera que deje al lector en estado de shock. El giro debe ser tan impactante que haga al lector cuestionar todo lo que creía saber sobre la historia hasta ese momento. No cierres la trama ni resuelvas conflictos definitivamente, sino que uses este giro para crear un final aún más impactante, dejando al lector desesperado por descubrir las consecuencias de este evento que le cambió la vida. Incluye solo el nuevo capítulo y no reescribas el capítulo anterior sin explicación, comentarios adicionales, recuento de palabras o caracteres especiales.\n\nEl tono de la escritura debe ser simple, directo y emotivo, como si la historia la contara un amigo en una conversación informal. Use palabras sencillas, oraciones cortas y un ritmo ligero, como el de la palabra hablada. Evite palabras difíciles, estructuras complejas o lenguaje literario. La narrativa debe captar la atención con imágenes claras, sentimientos universales y un lenguaje accesible. Evite los finales cerrados: termine el capítulo con un misterio o una pregunta, dejando al lector con curiosidad por saber qué sigue.\n\n1. Intensidad emocional\n- Cada oración debe transmitir una emoción directa: miedo, dolor, conmoción, compasión.\n- Use verbos y adjetivos contundentes que evoquen sensaciones físicas y psicológicas.\n- Revele el impacto interno en los personajes: opresión en el pecho, nudo en la garganta, manos temblorosas.\n\n2. Urgencia y ritmo\n- Intercale oraciones cortas de acción con descripciones concisas, manteniendo un ritmo rápido.\n- Use puntuación que refuerce la cadencia (puntos suspensivos, signos de exclamación, interjecciones). - Evite los párrafos excesivamente largos; cada párrafo debe avanzar la escena sin pausas literarias.\n\n3. Descripción concreta y concisa\n- Céntrese en los detalles visuales y sensoriales esenciales, sin sobrecargar.\n- Utilice metáforas y comparaciones específicas, siempre relacionadas con el momento.\n- Cada elemento (color, sonido, textura) debe aparecer de forma reconocible al instante.\n\n4. Sentido cinematográfico\n- Alterne el enfoque entre primeros planos (expresiones, reacciones) y planos generales (entorno, multitud).\n- Utilice adverbios de movimiento para inducir la idea de una cámara en movimiento.\n- Divida los párrafos para simular cortes de escena.\n\n5. Narrador observador y cercano\n- Adopte la tercera persona, pero mantenga un tono conversacional: lenguaje natural, sin jerga literaria.\n- Evite los términos excesivamente académicos; prefiera construcciones que suenen a un informe directo.\n\n6. Contraste tonal\n- Cree pausas dramáticas en las que el silencio o la inacción hablen tanto como las acciones. - Intercalar sonidos y ruidos en la misma secuencia (silencio repentino seguido de un grito o ruido).\n\n7. Reacciones y juicio colectivo\n- Describir las expresiones y murmullos de los observadores, reforzando la tensión social.\n- Incluir fragmentos de diálogos de personajes secundarios que demuestren conmoción o desaprobación.\n\n8. Lenguaje impactante\n- Utilizar términos impactantes relacionados con el horror, la tragedia y el escándalo, pero siempre vinculados a imágenes específicas.\n- Evitar el sensacionalismo excesivo; mantener la autenticidad en la conmoción.\n\n9. Proximidad al dolor\n- Retratar directamente el dolor físico y emocional de los personajes.\n- Evitar eufemismos: describir la gravedad de las escenas sin suavizar el lenguaje.\n\n10. Destellos de esperanza\n- Insertar breves destellos de alivio o consuelo que destaquen en el contexto de la tensión.\n\n- Estos momentos deben acentuar aún más el impacto dramático cuando la escena cobra urgencia.\n\n11. Coherencia de la voz\n- Mantener el mismo tono narrativo de principio a fin: informal, visceral, cinematográfico.\n- Evitar estilos contradictorios; mantener un tono uniforme a lo largo del texto.\n\n12. Elección de vocabulario\n- Preferir verbos contundentes y adjetivos incisivos; sustituir los adverbios genéricos por equivalentes más específicos.\n- Gestionar el vocabulario para aumentar la intensidad sin que la lectura resulte agotadora.\n\n13. Prohibiciones\n- Evitar reflexiones filosóficas o digresiones largas.\n- Evitar el uso de vocabulario literario elaborado.\n- Evitar añadir secciones instructivas, viñetas o subtítulos.\n- Evitar insertar descripciones que interrumpan la fluidez del tono."},{"content":"Proporciona texto en español mexicano, utilizando nombres y expresiones comunes entre los hablantes de mexicanos, adaptados para reflejar la cultura mexicana. Adapta nombres, lugares y referencias culturales para que sean naturales y reconocibles en español mexicano, asegurándote de que sigan siendo relevantes y conecten con tu audiencia.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3900,260],"id":"5273fa51-b7bf-4b5a-8d3c-ad8737f6c365","name":"Gerar Capítulo 5","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\"\n\nEscribe un nuevo capítulo de aproximadamente 500 palabras que continúe los eventos descritos anteriormente, introduciendo un giro impactante que transforme por completo la narrativa. Comienza exactamente donde terminó el capítulo anterior, pero en algún momento, inserta un evento dramático e inesperado que cambie radicalmente el curso de la historia, alterando relaciones, revelando secretos devastadores o transformando la verdadera naturaleza de un personaje principal. Mantén el mismo estilo, lenguaje y ritmo que la narrativa original, mientras construyes este cambio abrupto de una manera que deje al lector en estado de shock. El giro debe ser tan impactante que haga al lector cuestionar todo lo que creía saber sobre la historia hasta ese momento. No cierres la trama ni resuelvas conflictos definitivamente, sino que uses este giro para crear un final aún más impactante, dejando al lector desesperado por descubrir las consecuencias de este evento que le cambió la vida. Incluye solo el nuevo capítulo y no reescribas el capítulo anterior sin explicación, comentarios adicionales, recuento de palabras o caracteres especiales.\n\nEl tono de la escritura debe ser simple, directo y emotivo, como si la historia la contara un amigo en una conversación informal. Use palabras sencillas, oraciones cortas y un ritmo ligero, como el de la palabra hablada. Evite palabras difíciles, estructuras complejas o lenguaje literario. La narrativa debe captar la atención con imágenes claras, sentimientos universales y un lenguaje accesible. Evite los finales cerrados: termine el capítulo con un misterio o una pregunta, dejando al lector con curiosidad por saber qué sigue.\n\n1. Intensidad emocional\n- Cada oración debe transmitir una emoción directa: miedo, dolor, conmoción, compasión.\n- Use verbos y adjetivos contundentes que evoquen sensaciones físicas y psicológicas.\n- Revele el impacto interno en los personajes: opresión en el pecho, nudo en la garganta, manos temblorosas.\n\n2. Urgencia y ritmo\n- Intercale oraciones cortas de acción con descripciones concisas, manteniendo un ritmo rápido.\n- Use puntuación que refuerce la cadencia (puntos suspensivos, signos de exclamación, interjecciones). - Evite los párrafos excesivamente largos; cada párrafo debe avanzar la escena sin pausas literarias.\n\n3. Descripción concreta y concisa\n- Céntrese en los detalles visuales y sensoriales esenciales, sin sobrecargar.\n- Utilice metáforas y comparaciones específicas, siempre relacionadas con el momento.\n- Cada elemento (color, sonido, textura) debe aparecer de forma reconocible al instante.\n\n4. Sentido cinematográfico\n- Alterne el enfoque entre primeros planos (expresiones, reacciones) y planos generales (entorno, multitud).\n- Utilice adverbios de movimiento para inducir la idea de una cámara en movimiento.\n- Divida los párrafos para simular cortes de escena.\n\n5. Narrador observador y cercano\n- Adopte la tercera persona, pero mantenga un tono conversacional: lenguaje natural, sin jerga literaria.\n- Evite los términos excesivamente académicos; prefiera construcciones que suenen a un informe directo.\n\n6. Contraste tonal\n- Cree pausas dramáticas en las que el silencio o la inacción hablen tanto como las acciones. - Intercalar sonidos y ruidos en la misma secuencia (silencio repentino seguido de un grito o ruido).\n\n7. Reacciones y juicio colectivo\n- Describir las expresiones y murmullos de los observadores, reforzando la tensión social.\n- Incluir fragmentos de diálogos de personajes secundarios que demuestren conmoción o desaprobación.\n\n8. Lenguaje impactante\n- Utilizar términos impactantes relacionados con el horror, la tragedia y el escándalo, pero siempre vinculados a imágenes específicas.\n- Evitar el sensacionalismo excesivo; mantener la autenticidad en la conmoción.\n\n9. Proximidad al dolor\n- Retratar directamente el dolor físico y emocional de los personajes.\n- Evitar eufemismos: describir la gravedad de las escenas sin suavizar el lenguaje.\n\n10. Destellos de esperanza\n- Insertar breves destellos de alivio o consuelo que destaquen en el contexto de la tensión.\n\n- Estos momentos deben acentuar aún más el impacto dramático cuando la escena cobra urgencia.\n\n11. Coherencia de la voz\n- Mantener el mismo tono narrativo de principio a fin: informal, visceral, cinematográfico.\n- Evitar estilos contradictorios; mantener un tono uniforme a lo largo del texto.\n\n12. Elección de vocabulario\n- Preferir verbos contundentes y adjetivos incisivos; sustituir los adverbios genéricos por equivalentes más específicos.\n- Gestionar el vocabulario para aumentar la intensidad sin que la lectura resulte agotadora.\n\n13. Prohibiciones\n- Evitar reflexiones filosóficas o digresiones largas.\n- Evitar el uso de vocabulario literario elaborado.\n- Evitar añadir secciones instructivas, viñetas o subtítulos.\n- Evitar insertar descripciones que interrumpan la fluidez del tono."},{"content":"Proporciona texto en español mexicano, utilizando nombres y expresiones comunes entre los hablantes de mexicanos, adaptados para reflejar la cultura mexicana. Adapta nombres, lugares y referencias culturales para que sean naturales y reconocibles en español mexicano, asegurándote de que sigan siendo relevantes y conecten con tu audiencia.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[4280,260],"id":"38c3b971-eb7c-48a8-8247-ff363e4e0b1d","name":"Gerar Capítulo 6","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\n{{ $('Gerar Capítulo 6').item.json.message.content }}\"\n\nEscribe un nuevo capítulo de aproximadamente 500 palabras que continúe los eventos descritos anteriormente, introduciendo un giro impactante que transforme por completo la narrativa. Comienza exactamente donde terminó el capítulo anterior, pero en algún momento, inserta un evento dramático e inesperado que cambie radicalmente el curso de la historia, alterando relaciones, revelando secretos devastadores o transformando la verdadera naturaleza de un personaje principal. Mantén el mismo estilo, lenguaje y ritmo que la narrativa original, mientras construyes este cambio abrupto de una manera que deje al lector en estado de shock. El giro debe ser tan impactante que haga al lector cuestionar todo lo que creía saber sobre la historia hasta ese momento. No cierres la trama ni resuelvas conflictos definitivamente, sino que uses este giro para crear un final aún más impactante, dejando al lector desesperado por descubrir las consecuencias de este evento que le cambió la vida. Incluye solo el nuevo capítulo y no reescribas el capítulo anterior sin explicación, comentarios adicionales, recuento de palabras o caracteres especiales.\n\nEl tono de la escritura debe ser simple, directo y emotivo, como si la historia la contara un amigo en una conversación informal. Use palabras sencillas, oraciones cortas y un ritmo ligero, como el de la palabra hablada. Evite palabras difíciles, estructuras complejas o lenguaje literario. La narrativa debe captar la atención con imágenes claras, sentimientos universales y un lenguaje accesible. Evite los finales cerrados: termine el capítulo con un misterio o una pregunta, dejando al lector con curiosidad por saber qué sigue.\n\n1. Intensidad emocional\n- Cada oración debe transmitir una emoción directa: miedo, dolor, conmoción, compasión.\n- Use verbos y adjetivos contundentes que evoquen sensaciones físicas y psicológicas.\n- Revele el impacto interno en los personajes: opresión en el pecho, nudo en la garganta, manos temblorosas.\n\n2. Urgencia y ritmo\n- Intercale oraciones cortas de acción con descripciones concisas, manteniendo un ritmo rápido.\n- Use puntuación que refuerce la cadencia (puntos suspensivos, signos de exclamación, interjecciones). - Evite los párrafos excesivamente largos; cada párrafo debe avanzar la escena sin pausas literarias.\n\n3. Descripción concreta y concisa\n- Céntrese en los detalles visuales y sensoriales esenciales, sin sobrecargar.\n- Utilice metáforas y comparaciones específicas, siempre relacionadas con el momento.\n- Cada elemento (color, sonido, textura) debe aparecer de forma reconocible al instante.\n\n4. Sentido cinematográfico\n- Alterne el enfoque entre primeros planos (expresiones, reacciones) y planos generales (entorno, multitud).\n- Utilice adverbios de movimiento para inducir la idea de una cámara en movimiento.\n- Divida los párrafos para simular cortes de escena.\n\n5. Narrador observador y cercano\n- Adopte la tercera persona, pero mantenga un tono conversacional: lenguaje natural, sin jerga literaria.\n- Evite los términos excesivamente académicos; prefiera construcciones que suenen a un informe directo.\n\n6. Contraste tonal\n- Cree pausas dramáticas en las que el silencio o la inacción hablen tanto como las acciones. - Intercalar sonidos y ruidos en la misma secuencia (silencio repentino seguido de un grito o ruido).\n\n7. Reacciones y juicio colectivo\n- Describir las expresiones y murmullos de los observadores, reforzando la tensión social.\n- Incluir fragmentos de diálogos de personajes secundarios que demuestren conmoción o desaprobación.\n\n8. Lenguaje impactante\n- Utilizar términos impactantes relacionados con el horror, la tragedia y el escándalo, pero siempre vinculados a imágenes específicas.\n- Evitar el sensacionalismo excesivo; mantener la autenticidad en la conmoción.\n\n9. Proximidad al dolor\n- Retratar directamente el dolor físico y emocional de los personajes.\n- Evitar eufemismos: describir la gravedad de las escenas sin suavizar el lenguaje.\n\n10. Destellos de esperanza\n- Insertar breves destellos de alivio o consuelo que destaquen en el contexto de la tensión.\n\n- Estos momentos deben acentuar aún más el impacto dramático cuando la escena cobra urgencia.\n\n11. Coherencia de la voz\n- Mantener el mismo tono narrativo de principio a fin: informal, visceral, cinematográfico.\n- Evitar estilos contradictorios; mantener un tono uniforme a lo largo del texto.\n\n12. Elección de vocabulario\n- Preferir verbos contundentes y adjetivos incisivos; sustituir los adverbios genéricos por equivalentes más específicos.\n- Gestionar el vocabulario para aumentar la intensidad sin que la lectura resulte agotadora.\n\n13. Prohibiciones\n- Evitar reflexiones filosóficas o digresiones largas.\n- Evitar el uso de vocabulario literario elaborado.\n- Evitar añadir secciones instructivas, viñetas o subtítulos.\n- Evitar insertar descripciones que interrumpan la fluidez del tono."},{"content":"Proporciona texto en español mexicano, utilizando nombres y expresiones comunes entre los hablantes de mexicanos, adaptados para reflejar la cultura mexicana. Adapta nombres, lugares y referencias culturales para que sean naturales y reconocibles en español mexicano, asegurándote de que sigan siendo relevantes y conecten con tu audiencia.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[4640,260],"id":"46d23dd1-919e-46c6-ab1f-5fac71ba9426","name":"Gerar Capítulo 7","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\n{{ $('Gerar Capítulo 6').item.json.message.content }}\n{{ $('Gerar Capítulo 7').item.json.message.content }}\"\n\nEscribe un nuevo capítulo de aproximadamente 500 palabras que continúe los eventos descritos anteriormente, introduciendo un giro impactante que transforme por completo la narrativa. Comienza exactamente donde terminó el capítulo anterior, pero en algún momento, inserta un evento dramático e inesperado que cambie radicalmente el curso de la historia, alterando relaciones, revelando secretos devastadores o transformando la verdadera naturaleza de un personaje principal. Mantén el mismo estilo, lenguaje y ritmo que la narrativa original, mientras construyes este cambio abrupto de una manera que deje al lector en estado de shock. El giro debe ser tan impactante que haga al lector cuestionar todo lo que creía saber sobre la historia hasta ese momento. No cierres la trama ni resuelvas conflictos definitivamente, sino que uses este giro para crear un final aún más impactante, dejando al lector desesperado por descubrir las consecuencias de este evento que le cambió la vida. Incluye solo el nuevo capítulo y no reescribas el capítulo anterior sin explicación, comentarios adicionales, recuento de palabras o caracteres especiales.\n\nEl tono de la escritura debe ser simple, directo y emotivo, como si la historia la contara un amigo en una conversación informal. Use palabras sencillas, oraciones cortas y un ritmo ligero, como el de la palabra hablada. Evite palabras difíciles, estructuras complejas o lenguaje literario. La narrativa debe captar la atención con imágenes claras, sentimientos universales y un lenguaje accesible. Evite los finales cerrados: termine el capítulo con un misterio o una pregunta, dejando al lector con curiosidad por saber qué sigue.\n\n1. Intensidad emocional\n- Cada oración debe transmitir una emoción directa: miedo, dolor, conmoción, compasión.\n- Use verbos y adjetivos contundentes que evoquen sensaciones físicas y psicológicas.\n- Revele el impacto interno en los personajes: opresión en el pecho, nudo en la garganta, manos temblorosas.\n\n2. Urgencia y ritmo\n- Intercale oraciones cortas de acción con descripciones concisas, manteniendo un ritmo rápido.\n- Use puntuación que refuerce la cadencia (puntos suspensivos, signos de exclamación, interjecciones). - Evite los párrafos excesivamente largos; cada párrafo debe avanzar la escena sin pausas literarias.\n\n3. Descripción concreta y concisa\n- Céntrese en los detalles visuales y sensoriales esenciales, sin sobrecargar.\n- Utilice metáforas y comparaciones específicas, siempre relacionadas con el momento.\n- Cada elemento (color, sonido, textura) debe aparecer de forma reconocible al instante.\n\n4. Sentido cinematográfico\n- Alterne el enfoque entre primeros planos (expresiones, reacciones) y planos generales (entorno, multitud).\n- Utilice adverbios de movimiento para inducir la idea de una cámara en movimiento.\n- Divida los párrafos para simular cortes de escena.\n\n5. Narrador observador y cercano\n- Adopte la tercera persona, pero mantenga un tono conversacional: lenguaje natural, sin jerga literaria.\n- Evite los términos excesivamente académicos; prefiera construcciones que suenen a un informe directo.\n\n6. Contraste tonal\n- Cree pausas dramáticas en las que el silencio o la inacción hablen tanto como las acciones. - Intercalar sonidos y ruidos en la misma secuencia (silencio repentino seguido de un grito o ruido).\n\n7. Reacciones y juicio colectivo\n- Describir las expresiones y murmullos de los observadores, reforzando la tensión social.\n- Incluir fragmentos de diálogos de personajes secundarios que demuestren conmoción o desaprobación.\n\n8. Lenguaje impactante\n- Utilizar términos impactantes relacionados con el horror, la tragedia y el escándalo, pero siempre vinculados a imágenes específicas.\n- Evitar el sensacionalismo excesivo; mantener la autenticidad en la conmoción.\n\n9. Proximidad al dolor\n- Retratar directamente el dolor físico y emocional de los personajes.\n- Evitar eufemismos: describir la gravedad de las escenas sin suavizar el lenguaje.\n\n10. Destellos de esperanza\n- Insertar breves destellos de alivio o consuelo que destaquen en el contexto de la tensión.\n\n- Estos momentos deben acentuar aún más el impacto dramático cuando la escena cobra urgencia.\n\n11. Coherencia de la voz\n- Mantener el mismo tono narrativo de principio a fin: informal, visceral, cinematográfico.\n- Evitar estilos contradictorios; mantener un tono uniforme a lo largo del texto.\n\n12. Elección de vocabulario\n- Preferir verbos contundentes y adjetivos incisivos; sustituir los adverbios genéricos por equivalentes más específicos.\n- Gestionar el vocabulario para aumentar la intensidad sin que la lectura resulte agotadora.\n\n13. Prohibiciones\n- Evitar reflexiones filosóficas o digresiones largas.\n- Evitar el uso de vocabulario literario elaborado.\n- Evitar añadir secciones instructivas, viñetas o subtítulos.\n- Evitar insertar descripciones que interrumpan la fluidez del tono."},{"content":"Proporciona texto en español mexicano, utilizando nombres y expresiones comunes entre los hablantes de mexicanos, adaptados para reflejar la cultura mexicana. Adapta nombres, lugares y referencias culturales para que sean naturales y reconocibles en español mexicano, asegurándote de que sigan siendo relevantes y conecten con tu audiencia.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[5020,260],"id":"b3112c1b-64ad-4352-8a6f-afe95a94916b","name":"Gerar Capítulo 8","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\n{{ $('Gerar Capítulo 6').item.json.message.content }}\n{{ $('Gerar Capítulo 7').item.json.message.content }}\n{{ $('Gerar Capítulo 8').item.json.message.content }}\"\n\nEscribe un nuevo capítulo de aproximadamente 500 palabras que continúe los eventos descritos anteriormente, introduciendo un giro impactante que transforme por completo la narrativa. Comienza exactamente donde terminó el capítulo anterior, pero en algún momento, inserta un evento dramático e inesperado que cambie radicalmente el curso de la historia, alterando relaciones, revelando secretos devastadores o transformando la verdadera naturaleza de un personaje principal. Mantén el mismo estilo, lenguaje y ritmo que la narrativa original, mientras construyes este cambio abrupto de una manera que deje al lector en estado de shock. El giro debe ser tan impactante que haga al lector cuestionar todo lo que creía saber sobre la historia hasta ese momento. No cierres la trama ni resuelvas conflictos definitivamente, sino que uses este giro para crear un final aún más impactante, dejando al lector desesperado por descubrir las consecuencias de este evento que le cambió la vida. Incluye solo el nuevo capítulo y no reescribas el capítulo anterior sin explicación, comentarios adicionales, recuento de palabras o caracteres especiales.\n\nEl tono de la escritura debe ser simple, directo y emotivo, como si la historia la contara un amigo en una conversación informal. Use palabras sencillas, oraciones cortas y un ritmo ligero, como el de la palabra hablada. Evite palabras difíciles, estructuras complejas o lenguaje literario. La narrativa debe captar la atención con imágenes claras, sentimientos universales y un lenguaje accesible. Evite los finales cerrados: termine el capítulo con un misterio o una pregunta, dejando al lector con curiosidad por saber qué sigue.\n\n1. Intensidad emocional\n- Cada oración debe transmitir una emoción directa: miedo, dolor, conmoción, compasión.\n- Use verbos y adjetivos contundentes que evoquen sensaciones físicas y psicológicas.\n- Revele el impacto interno en los personajes: opresión en el pecho, nudo en la garganta, manos temblorosas.\n\n2. Urgencia y ritmo\n- Intercale oraciones cortas de acción con descripciones concisas, manteniendo un ritmo rápido.\n- Use puntuación que refuerce la cadencia (puntos suspensivos, signos de exclamación, interjecciones). - Evite los párrafos excesivamente largos; cada párrafo debe avanzar la escena sin pausas literarias.\n\n3. Descripción concreta y concisa\n- Céntrese en los detalles visuales y sensoriales esenciales, sin sobrecargar.\n- Utilice metáforas y comparaciones específicas, siempre relacionadas con el momento.\n- Cada elemento (color, sonido, textura) debe aparecer de forma reconocible al instante.\n\n4. Sentido cinematográfico\n- Alterne el enfoque entre primeros planos (expresiones, reacciones) y planos generales (entorno, multitud).\n- Utilice adverbios de movimiento para inducir la idea de una cámara en movimiento.\n- Divida los párrafos para simular cortes de escena.\n\n5. Narrador observador y cercano\n- Adopte la tercera persona, pero mantenga un tono conversacional: lenguaje natural, sin jerga literaria.\n- Evite los términos excesivamente académicos; prefiera construcciones que suenen a un informe directo.\n\n6. Contraste tonal\n- Cree pausas dramáticas en las que el silencio o la inacción hablen tanto como las acciones. - Intercalar sonidos y ruidos en la misma secuencia (silencio repentino seguido de un grito o ruido).\n\n7. Reacciones y juicio colectivo\n- Describir las expresiones y murmullos de los observadores, reforzando la tensión social.\n- Incluir fragmentos de diálogos de personajes secundarios que demuestren conmoción o desaprobación.\n\n8. Lenguaje impactante\n- Utilizar términos impactantes relacionados con el horror, la tragedia y el escándalo, pero siempre vinculados a imágenes específicas.\n- Evitar el sensacionalismo excesivo; mantener la autenticidad en la conmoción.\n\n9. Proximidad al dolor\n- Retratar directamente el dolor físico y emocional de los personajes.\n- Evitar eufemismos: describir la gravedad de las escenas sin suavizar el lenguaje.\n\n10. Destellos de esperanza\n- Insertar breves destellos de alivio o consuelo que destaquen en el contexto de la tensión.\n\n- Estos momentos deben acentuar aún más el impacto dramático cuando la escena cobra urgencia.\n\n11. Coherencia de la voz\n- Mantener el mismo tono narrativo de principio a fin: informal, visceral, cinematográfico.\n- Evitar estilos contradictorios; mantener un tono uniforme a lo largo del texto.\n\n12. Elección de vocabulario\n- Preferir verbos contundentes y adjetivos incisivos; sustituir los adverbios genéricos por equivalentes más específicos.\n- Gestionar el vocabulario para aumentar la intensidad sin que la lectura resulte agotadora.\n\n13. Prohibiciones\n- Evitar reflexiones filosóficas o digresiones largas.\n- Evitar el uso de vocabulario literario elaborado.\n- Evitar añadir secciones instructivas, viñetas o subtítulos.\n- Evitar insertar descripciones que interrumpan la fluidez del tono."},{"content":"Proporciona texto en español mexicano, utilizando nombres y expresiones comunes entre los hablantes de mexicanos, adaptados para reflejar la cultura mexicana. Adapta nombres, lugares y referencias culturales para que sean naturales y reconocibles en español mexicano, asegurándote de que sigan siendo relevantes y conecten con tu audiencia.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[5400,260],"id":"96be8c9d-8d71-4577-b127-6e68b2d07b79","name":"Gerar Capítulo Final","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"={{ $json.message.content.Prompts[0].prompt }} La historia debería comenzar con una versión sensacionalista del gancho: \"{{ $('Tradução Título').item.json.message.content['Título'] }}\". En este primer capítulo, aprovecha al máximo los elementos curiosos y misteriosos para intrigar y captar la atención del lector desde el principio. Describe cada evento inusual con detalles vívidos y atractivos, creando una atmósfera de anticipación y fascinación que mantenga al lector ansioso por descubrir qué sucederá después. Luego, incluye una breve llamada a la acción que diga: \"¡Oye, antes de continuar con esta increíble historia, necesito darte una advertencia importante! Muchos suscriptores han informado que YouTube canceló sus suscripciones sin previo aviso. ¡Solo revisa el botón rojo de abajo para asegurarte de que sigues suscrito al canal! No quiero que te pierdas ningún contenido exclusivo que esté por llegar... Y ya que estás ahí, ¡deja ese poderoso \"me gusta\"! ¡Me ayuda muchísimo con el algoritmo! Ah, y dime en los comentarios: ¿desde qué ciudad lo estás viendo? ¡Me encanta conocer a cada persona increíble que forma parte de esta comunidad! ¡Tu participación marca la diferencia, interactuemos!\"\nProporciona solo el texto final, sin explicaciones, comentarios adicionales, recuento de palabras ni caracteres especiales. La historia debe estar escrita en primera persona con una mujer como narradora y debe seguir exactamente esta estructura:\n\nTÍTULO: Comienza con una versión sensacional del gancho: \"{{ $('Tradução Título').item.json.message.content['Título'] }}\"\n## DESARROLLO DEL CAPÍTULO\n**La historia debe estar escrita en primera persona con una narradora femenina**\n\nEn este primer capítulo, añade elementos intrigantes y misteriosos para captar la atención del lector desde el principio. Describe cada evento inusual con detalles vívidos y atractivos, creando una atmósfera de anticipación y fascinación que mantenga al lector ansioso por descubrir qué sucederá después.\n\n## CTA\nAl final del desarrollo, incluye este texto: \"¡Oye, antes de continuar con esta increíble historia, necesito darte una advertencia importante! Muchos suscriptores han reportado que YouTube canceló sus suscripciones sin previo aviso. ¡Solo revisa el botón rojo de abajo para asegurarte de que sigues suscrito al canal! No quiero que te pierdas ningún contenido exclusivo que esté por llegar... Y ya que estás ahí, ¡deja ese poderoso \"me gusta\"! ¡Me ayuda mucho con el algoritmo! Ah, y cuéntame en los comentarios: ¿desde qué ciudad lo estás viendo? ¡Me encanta conocer a todas las personas increíbles que forman parte de esta comunidad! Tu participación marca la diferencia, ¡interactuemos!\"\n\nProporcione únicamente el texto final, siguiendo estrictamente este orden: título, esquema del capítulo y luego CTA. No incluya explicaciones, comentarios adicionales, número de palabras ni caracteres especiales. No escriba \"TÍTULO:\", \"ESQUEMA DEL CAPÍTULO:\" ni \"CTA:\" en el texto final.\n\n## Requisitos de estilo de escritura\n**Asegúrese de que la voz narrativa en primera persona femenina sea consistente en todo el texto**\n\nEl tono del texto debe ser simple, directo y emotivo, como si la historia la contara una amiga en una conversación informal. Use palabras sencillas, oraciones cortas y un ritmo ligero, similar al de un discurso. Evite palabras difíciles, estructuras complejas o lenguaje literario. La narrativa debe captar la atención con imágenes claras, sentimientos universales y un lenguaje accesible. Evite los finales cerrados: termine el capítulo con un misterio o una pregunta, dejando al lector con curiosidad por saber qué sigue.\n\n## Pautas detalladas de estilo\n\n### 1. Intensidad emocional\n**Mantenga la perspectiva en primera persona femenina**\n- Cada oración debe transmitir una emoción intensa: miedo, dolor, conmoción, compasión. - Utiliza verbos y adjetivos contundentes que evoquen sensaciones físicas y psicológicas.\n- Revelar el impacto interno en los personajes: opresión en el pecho, nudo en la garganta, temblor en las manos.\n\n### 2. Urgencia y ritmo\n**Mantén la voz narrativa en primera persona**\n- Alterna frases cortas de acción con descripciones concisas, manteniendo un ritmo rápido.\n- Utiliza puntuación que refuerce la cadencia (puntos suspensivos, signos de exclamación, interjecciones).\n- Evita las frases excesivamente largas; cada párrafo debe avanzar la escena sin pausas literarias.\n\n### 3. Descripción concreta y concisa\n**A través de la narradora en primera persona**\n- Céntrate en los detalles visuales y sensoriales esenciales, sin sobrecargar.\n- Utiliza metáforas y comparaciones específicas, siempre relacionadas con el momento.\n- Cada elemento (color, sonido, textura) debe aparecer de forma reconocible al instante.\n\n### 4. Sensación Cinematográfica\n**Desde la perspectiva femenina en primera persona**\n- Alterna el enfoque entre primeros planos (expresiones, reacciones) y planos generales (escenarios, público).\n- Usa adverbios de movimiento para evocar la idea de una cámara en movimiento.\n- Divide los párrafos para simular cortes de escena.\n\n### 5. Narradora Observadora y Cercana\n**Narradora en primera persona con tono conversacional**\n- Usa la primera persona con un tono conversacional: lenguaje natural, sin jerga literaria.\n- Evita términos excesivamente académicos; prefiere construcciones que suenen como un informe directo.\n\n### 6. Tonos Contrastados\n**Mantén la voz femenina en primera persona**\n- Crea pausas dramáticas donde el silencio o la inacción tengan tanto valor como las acciones.\n- Intercala sonidos y ruidos en la misma secuencia (silencio repentino seguido de un grito o ruido).\n\n### 7. Reacciones y juicio colectivo\n**Según la observación de la narradora en primera persona**\n- Describa las expresiones y los murmullos de los observadores, reforzando la tensión social.\n- Incluya fragmentos de diálogos de personajes secundarios que demuestren conmoción o desaprobación.\n\n### 8. Lenguaje impactante\n**A través de la narradora en primera persona**\n- Use términos impactantes relacionados con el horror, la tragedia y el escándalo, pero siempre vinculados a imágenes específicas.\n- Evite el sensacionalismo excesivo; mantenga la autenticidad en el impacto.\n\n### 9. Relación con el dolor\n**Experiencia de la narradora en primera persona**\n- Represente directamente el dolor físico y emocional de los personajes.\n- Evite los eufemismos: describa la gravedad de las escenas sin suavizar el lenguaje.\n\n### 10. Destellos de esperanza\n**Desde la perspectiva femenina en primera persona**\n- Inserte breves estallidos de alivio o consuelo que destaquen en el contexto de la tensión. Estos momentos deberían acentuar aún más el impacto dramático cuando la escena cobra urgencia.\n\n### 11. Coherencia de la voz\n**Mantener la narración en primera persona femenina de principio a fin**\n- Mantener el mismo tono narrativo de principio a fin: informal, visceral, cinematográfico.\n- Evitar recurrir a estilos contradictorios; mantener una voz femenina en primera persona unificada a lo largo del texto.\n\n### 12. Elección de vocabulario\n**Apropiado para narradoras en primera persona**\n- Preferir verbos contundentes y adjetivos incisivos; sustituir los adverbios genéricos por equivalentes más específicos.\n- Gestionar el vocabulario para aumentar la intensidad sin hacer la lectura tediosa.\n\n### 13. Prohibiciones\n**Manteniendo la narración en primera persona femenina**\n- Evitar reflexiones filosóficas o digresiones largas.\n- Evitar el uso de vocabulario literario elaborado.\n- Evitar añadir secciones instructivas, viñetas o subtítulos.\n- No insertar descripciones que interrumpan el texto.\n- **Nunca desviarse de la voz narrativa femenina en primera persona**"},{"content":"Proporciona texto en español mexicano, utilizando nombres y expresiones comunes entre los hablantes de mexicanos, adaptados para reflejar la cultura mexicana. Adapta nombres, lugares y referencias culturales para que sean naturales y reconocibles en español mexicano, asegurándote de que sigan siendo relevantes y conecten con tu audiencia.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2020,260],"id":"0d58669e-18c7-46f6-bba1-18dc00231efb","name":"Reescrever Roteiro com Gancho Sensacional","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Objetivo principal:\n\nHistoria en primera persona, narrada por una mujer.\n\nConvierte cualquier mensaje en un mensaje narrativo único para el primer capítulo, sin finalizar la historia. El resultado será una matriz JSON llamada `Prompts`, que contiene exactamente un objeto con el campo `prompt`.\n\n## Tema: \"{{ $('Tradução Título').item.json.message.content['Título'] }}\"\n### Contexto: \"{{ $json.message.content.Contexto }}\"\n\n## Estructura básica de la consigna\n\nCada consigna debe comenzar con: \"Escribe una historia de aproximadamente 500 palabras sobre...\"\n\n## Especificaciones técnicas de JSON\n\n```json\n{\n  \"Prompts\": [\n    {\n      \"prompt\": \"Escribe una historia de aproximadamente 500 palabras sobre...\"\n    }\n  ]\n}\n```\n\n## Requisitos Técnicos\n- **La historia debe estar en primera persona con una narradora femenina**\n- Solo un objeto en la matriz \"Prompts\"\n- Cadena entre comillas dobles\n- Sangría: 2 espacios\n- Sin saltos de línea en el contenido de \"prompt\"\n- JSON válido con caracteres especiales de escape\n\n## Estructura Narrativa Detallada (Solo el Primer Capítulo)\n\n1. **Introducción del Protagonista**\n- **La historia debe estar en primera persona con una narradora femenina**\n- Nombre y características principales\n- Contexto socioprofesional\n- Estado emocional inicial\n\n2. **Ambiente Principal**\n- **Asegurar la perspectiva narrativa femenina en primera persona**\n- Ubicación temporal y espacial\n- Atmósfera y entorno\n- Elementos únicos del mundo narrativo\n\n3. **Desencadenante Narrativo**\n- **Mantener la narradora femenina en primera persona**\n- Evento catalizador que rompe la normalidad\n- Inicia el conflicto inicial o dilema principal\n\n4. **Gancho Narrativo**\n- **Continuar con narrador femenino en primera persona**\n- Elemento de misterio o tensión que aclara la continuación\n- Pregunta sin resolver\n- Finalizar sin concluir el conflicto, manteniendo la historia incompleta\n\n## Lista de verificación de validación\n\n1. **JSON**\n- [ ] Solo un objeto dentro de \"Prompts\"\n- [ ] Campo \"Prompt\" sin saltos de línea\n- [ ] Cadenas entre comillas dobles, sin caracteres especiales\n\n2. **Narrativa**\n- [ ] **Historia escrita en primera persona con narrador femenino**\n- [ ] Historia inconclusa (el capítulo permanece abierto)\n- [ ] Incluir ganchos sin resolver el conflicto\n- [ ] No concluir la trama ni resolver el conflicto principal. En cambio, crear un problema a partir de cada solución, haciendo que el lector sienta que la historia aún debe continuar. La sensación final debe ser que hay más por venir, nunca una conclusión definitiva. - [ ] Asegúrate de que el capítulo termine con un gancho intrigante, creando un misterio o una pregunta que deje al lector con ganas de leer el siguiente capítulo, sin poder soltarlo.\n- [ ] Mantén un equilibrio entre la acción y la reflexión, permitiendo que el personaje evolucione, pero sin ofrecer respuestas definitivas ni conclusiones que resuelvan dilemas pendientes.\n- [ ] **Confirma que se mantenga la perspectiva narrativa en primera persona femenina de principio a fin**\n\n## Nota final\n- **La historia debe estar escrita en primera persona con una narradora femenina**\n- No se debe concluir la trama ni resolver el conflicto principal. En su lugar, se debe crear un problema con cada solución, dando al lector la sensación de que la historia debe continuar. La sensación final debe ser que hay más por venir, nunca una conclusión definitiva.\n- Asegúrate de que el capítulo termine con un giro intrigante, creando un misterio o una pregunta que deje al lector con ganas de leer el siguiente capítulo, sin poder soltarlo.\n- Mantén un equilibrio entre la acción y la reflexión, permitiendo que el personaje evolucione, pero sin ofrecer respuestas definitivas ni conclusiones que resuelvan dilemas pendientes. - **Asegure una voz narrativa femenina en primera persona consistente a lo largo de toda la historia**"},{"content":"Proporciona texto en español mexicano, utilizando nombres y expresiones comunes entre los hablantes de mexicanos, adaptados para reflejar la cultura mexicana. Adapta nombres, lugares y referencias culturales para que sean naturales y reconocibles en español mexicano, asegurándote de que sigan siendo relevantes y conecten con tu audiencia.","role":"system"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1640,260],"id":"0b75bd93-e144-4b80-9953-755d30e52ca0","name":"Gerar Prompt Narrativo Capítulo 1","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $json['título'] }}\"\n\nPor favor, proporcione el texto anterior en español mexicano, utilizando nombres y expresiones comunes estadounidenses, adaptados para reflejar la cultura compartida de México. Adapte los nombres, lugares y referencias culturales para que sean naturales y reconocibles en español mexicano, asegurándose de que sigan siendo relevantes y conecten con su audiencia.\n\nEl resultado debería verse así:\n\n{\n    \"Título\": \"{{ $json['título'] }}\"\n  }\n}\n\nAsegúrese de que la clave generada siga el patrón requerido. NUNCA exceda el límite de 95 caracteres para un impacto óptimo.\n\n\n"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[440,380],"id":"620462a4-e60b-4d79-8fbc-d32888c4d081","name":"Tradução Título","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Iniciar Criação de Roteiro').item.json.premissa }}\"\n\nPor favor, proporcione el texto anterior en español mexicano, utilizando nombres y expresiones comunes estadounidenses, adaptados para reflejar la cultura compartida de México. Adapte los nombres, lugares y referencias culturales para que sean naturales y reconocibles en español mexicano, asegurándose de que sigan siendo relevantes y conecten con su audiencia.\n\nEl resultado debería verse así:\n\n{\n    \"Contexto\": \"{{ $('Iniciar Criação de Roteiro').item.json.premissa }}\"\n  }\n}\n\nAsegúrese de que la clave generada siga el patrón requerido."}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1260,260],"id":"61d68d84-2f68-426e-8cff-07aefb37f336","name":"Tradução Contexto","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone","allowFileDiscovery":true}},"options":{}},"id":"fb130e6b-0c41-4db9-913b-3b33e6a33bd4","name":"Compartilhar Pasta","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[6820,260],"credentials":{"googleDriveOAuth2Api":{"id":"uOMKQ3hoFwWVj3KJ","name":"chroniclesabduction@gmail.com"}}},{"parameters":{"resource":"folder","name":"Texto","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Chave').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[7040,260],"id":"a94f6339-4e34-4257-8361-d6c82b7d2b32","name":"Criar Pasta Texto","credentials":{"googleDriveOAuth2Api":{"id":"uOMKQ3hoFwWVj3KJ","name":"chroniclesabduction@gmail.com"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Una vez que tengas la transcripción, crea un resumen del contenido dividido en los temas principales, con una extensión total de entre 250 y 500 caracteres. Luego, crea un breve resumen que destaque las palabras clave del video. Incluye 10 hashtags relacionados con las palabras clave. Por favor, siga esta plantilla:\n\n\"Este video explora [tema principal], ofreciendo un análisis profundo y crítico de [aspectos principales]. Basado en un contexto histórico rico y relevante, el contenido aborda aspectos controvertidos del tema, destacando sus implicaciones para el público y la sociedad. El video también examina ejemplos y casos prácticos, proporcionando una comprensión más concreta y aplicada del tema. La conclusión ofrece una reflexión sobre los puntos planteados, enfatizando la importancia y el impacto del tema en la actualidad.\n\nPalabras clave: [Palabras clave principales relacionadas con el tema].\n\nHashtags: #TemaPrincipal #ContextoHistórico #AspectosControvertidos #AnálisisCrítico #EjemplosPrácticos #EstudiosDeCaso #ReflexiónFinal #ImpactoSocial #Historia #Sociedad\"\n\nEvite un estilo de escritura demasiado uniforme, sin matices personales, o un enfoque sistemático y lógico que pueda parecer típico de una IA. Proporcione el texto sin rebajas, explicaciones, comentarios adicionales, recuento de palabras o caracteres especiales, tal como se utilizará directamente debajo del video en YouTube.\n\nRoteiro: \"{{ $item(\"0\").$node[\"Concatenar Capítulos\"].json[\"text\"] }}\""},{"content":"Proporciona texto en español mexicano, utilizando nombres y expresiones comunes entre los hablantes de mexicanos, adaptados para reflejar la cultura mexicana. Adapta nombres, lugares y referencias culturales para que sean naturales y reconocibles en español mexicano, asegurándote de que sigan siendo relevantes y conecten con tu audiencia.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[6220,260],"id":"d85a721d-5cce-4bf2-8c41-7a49c28fcd07","name":"Gerar SEO","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"operation":"createFromText","content":"={{ $('Gerar SEO').item.json.message.content }}","name":"02 - SEO","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Texto').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[7480,260],"id":"f347ef5f-c56a-47db-b50b-f2adf9567829","name":"Salvar SEO no Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"uOMKQ3hoFwWVj3KJ","name":"chroniclesabduction@gmail.com"}}},{"parameters":{"operation":"createFromText","content":"={{ $item(\"0\").$node[\"Concatenar Capítulos\"].json[\"text\"] }}","name":"03 - Roteiro","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Texto').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[7260,260],"id":"d28053d6-89a0-4349-a18c-94d5b8fa7dc0","name":"Salvar Roteiro no Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"uOMKQ3hoFwWVj3KJ","name":"chroniclesabduction@gmail.com"}}},{"parameters":{"resource":"folder","name":"={{ $item(\"0\").$node[\"Gerar Chave UUID\"].json[\"uuid\"] }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"root","mode":"list","cachedResultName":"/ (Root folder)","cachedResultUrl":"https://drive.google.com/drive"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[6600,260],"id":"1adb6fcf-2bd0-4204-9d76-cd2a038005b2","name":"Criar Pasta Chave","credentials":{"googleDriveOAuth2Api":{"id":"uOMKQ3hoFwWVj3KJ","name":"chroniclesabduction@gmail.com"}}},{"parameters":{"operation":"createFromText","content":"={{ $('Tradução Título').item.json.message.content['Título'] }}","name":"01 - Título","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Texto').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[7700,260],"id":"694a8d63-bcef-4c1c-a26f-a0da27ce4af2","name":"Salvar Título no Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"uOMKQ3hoFwWVj3KJ","name":"chroniclesabduction@gmail.com"}}},{"parameters":{"jsCode":"const texts = [\n  $node[\"Reescrever Roteiro com Gancho Sensacional\"].json.message.content,\n  $node[\"Gerar Capítulo 1\"].json.message.content,\n  $node[\"Gerar Capítulo 2\"].json.message.content,\n  $node[\"Gerar Capítulo 3\"].json.message.content,\n  $node[\"Gerar Capítulo 4\"].json.message.content,\n  $node[\"Gerar Capítulo 5\"].json.message.content,\n  $node[\"Gerar Capítulo 6\"].json.message.content,\n  $node[\"Gerar Capítulo 7\"].json.message.content,\n  $node[\"Gerar Capítulo 8\"].json.message.content,\n  $node[\"Gerar Capítulo Final\"].json.message.content\n];\n\nconst finalText = texts.join(\" \").replace(/\\s+/g, \" \").trim();\n\nreturn [{ json: { text: finalText } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5780,260],"id":"bfc2ae0a-c37a-4ec8-a1da-6896a9898725","name":"Concatenar Capítulos"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-40,460],"id":"b00234fa-7bdd-4a88-a8d4-0fbc7f0e333e","name":"Iniciar Criação de Roteiro"},{"parameters":{"assignments":{"assignments":[{"id":"8b57efd5-7568-43e3-ab6c-b6ad8dce4918","name":"pasta","value":"={{ $('Criar Pasta Chave').item.json.id }}","type":"string"},{"id":"d84912a9-366a-43a3-91e5-e207b6f735f5","name":"título","value":"={{ $('Tradução Título').item.json.message.content['Título'] }}","type":"string"},{"id":"4a40500d-4220-435b-99f2-35c7af8e8069","name":"seo","value":"={{ $('Gerar SEO').item.json.message.content }}","type":"string"},{"id":"4533d616-65cf-4cd8-98fd-d0560dda4af8","name":"roteiro","value":"={{ $('Salvar Roteiro no Google Drive').item.json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[7920,260],"id":"34dd6eaf-1da3-488e-bf05-295563e77bd2","name":"Preparar Dados para Trello"},{"parameters":{"jsCode":"function generateUUIDv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nreturn [\n  {\n    json: {\n      uuid: generateUUIDv4()\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6000,260],"id":"7275cb7e-bc6a-4bd2-8d10-a9b9456babbd","name":"Gerar Chave UUID"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84c3207c-9512-4e47-845b-59c4beb13873","leftValue":"={{ $json.message.content[\"Título\"].length }}","rightValue":100,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1040,320],"id":"7e2a97c9-982b-4f0f-bd52-6a377d9c6aea","name":"Verificar Tamanho do Título"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1340,520],"id":"871fee1f-bc42-44ef-a31d-3fb897b35a34","name":"Aguardar e Reiniciar Processo","webhookId":"707640d3-13b6-40cb-8890-d30b5cb4b913"},{"parameters":{"assignments":{"assignments":[{"id":"b9f13f00-8d8a-4727-ba37-a9d507fcceb9","name":"ROTEIRO","value":"684e99f4d2ade5c74efc2407","type":"string"},{"id":"0f61075e-b947-408b-8329-a66be2d1f4e0","name":"Canal","value":"@almasheridasx","type":"string"},{"id":"f72b75ea-1522-46b8-beaa-c65eb0e97fd5","name":"título","value":"={{ $json[\"título\"] }}","type":"string"},{"id":"716a3116-6b92-4568-b250-926208fb8689","name":"premissa","value":"={{ $json.premissa }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,460],"id":"3925dbba-377f-4c58-a2fb-983d7b0877e3","name":"Organizar Título e Premissa"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,0],"id":"9333f66b-faeb-49b8-b30d-f1b4f9856943","name":"Detector de Falhas","disabled":true},{"parameters":{"chatId":"-1002628528187","text":"=03 - CRIA ROTEIROS - PT","additionalFields":{"appendAttribution":false,"message_thread_id":3}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[220,0],"id":"9551a3d0-e2a8-47c4-a34c-72db1b1cdd10","name":"Notificação de Erro no Telegram","webhookId":"0e304bfb-7fb7-4c88-9094-a5ea02f39d6b","disabled":true},{"parameters":{"listId":"={{ $item(\"0\").$node[\"Organizar Título e Premissa\"].json[\"ROTEIRO\"] }}","name":"={{ $item(\"0\").$node[\"Organizar Título e Premissa\"].json[\"Canal\"] }}","description":"=\"título\": \"{{ $json['título'] }}\",\n\"seo\": \"{{ $json.seo }}\",\n\"pasta\": \"{{ $json.pasta }}\",\n\"roteiro\": \"{{ $json.roteiro }}\",","additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[8140,260],"id":"de666fcb-42ce-47ac-8503-3e340e025ce3","name":"Criar Cartão em \"ROTEIRO ✅\"","credentials":{"trelloApi":{"id":"6gLxfTJw8EfH7C8E","name":"Trello account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"586fe154-fbff-4f0b-9ed4-0547d6feccce","leftValue":"={{ $json.message.content[\"Título\"] }}","rightValue":"millionaire","operator":{"type":"string","operation":"contains"}},{"id":"89158140-3df0-4eaa-ac2b-f829796ad08e","leftValue":"={{ $json.message.content[\"Título\"] }}","rightValue":"MILLIONAIRE","operator":{"type":"string","operation":"contains"}},{"id":"4326124b-d5b1-4411-94c3-140d9f70f2e6","leftValue":"={{ $json.message.content[\"Título\"] }}","rightValue":"millionaire","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[820,400],"id":"7ca20af7-194d-4927-a2d5-6c98315681a4","name":"Verificar Palavra-chave no Título","disabled":true}],"connections":{"Gerar Capítulo 1":{"main":[[{"node":"Gerar Capítulo 2","type":"main","index":0}]]},"Gerar Capítulo 2":{"main":[[{"node":"Gerar Capítulo 3","type":"main","index":0}]]},"Gerar Capítulo 3":{"main":[[{"node":"Gerar Capítulo 4","type":"main","index":0}]]},"Gerar Capítulo 4":{"main":[[{"node":"Gerar Capítulo 5","type":"main","index":0}]]},"Gerar Capítulo 5":{"main":[[{"node":"Gerar Capítulo 6","type":"main","index":0}]]},"Gerar Capítulo 6":{"main":[[{"node":"Gerar Capítulo 7","type":"main","index":0}]]},"Gerar Capítulo 7":{"main":[[{"node":"Gerar Capítulo 8","type":"main","index":0}]]},"Gerar Capítulo 8":{"main":[[{"node":"Gerar Capítulo Final","type":"main","index":0}]]},"Gerar Capítulo Final":{"main":[[{"node":"Concatenar Capítulos","type":"main","index":0}]]},"Reescrever Roteiro com Gancho Sensacional":{"main":[[{"node":"Gerar Capítulo 1","type":"main","index":0}]]},"Gerar Prompt Narrativo Capítulo 1":{"main":[[{"node":"Reescrever Roteiro com Gancho Sensacional","type":"main","index":0}]]},"Tradução Título":{"main":[[{"node":"Verificar Palavra-chave no Título","type":"main","index":0}]]},"Tradução Contexto":{"main":[[{"node":"Gerar Prompt Narrativo Capítulo 1","type":"main","index":0}]]},"Compartilhar Pasta":{"main":[[{"node":"Criar Pasta Texto","type":"main","index":0}]]},"Criar Pasta Texto":{"main":[[{"node":"Salvar Roteiro no Google Drive","type":"main","index":0}]]},"Gerar SEO":{"main":[[{"node":"Criar Pasta Chave","type":"main","index":0}]]},"Salvar SEO no Google Drive":{"main":[[{"node":"Salvar Título no Google Drive","type":"main","index":0}]]},"Salvar Roteiro no Google Drive":{"main":[[{"node":"Salvar SEO no Google Drive","type":"main","index":0}]]},"Criar Pasta Chave":{"main":[[{"node":"Compartilhar Pasta","type":"main","index":0}]]},"Salvar Título no Google Drive":{"main":[[{"node":"Preparar Dados para Trello","type":"main","index":0}]]},"Concatenar Capítulos":{"main":[[{"node":"Gerar Chave UUID","type":"main","index":0}]]},"Iniciar Criação de Roteiro":{"main":[[{"node":"Organizar Título e Premissa","type":"main","index":0}]]},"Preparar Dados para Trello":{"main":[[{"node":"Criar Cartão em \"ROTEIRO ✅\"","type":"main","index":0}]]},"Gerar Chave UUID":{"main":[[{"node":"Gerar SEO","type":"main","index":0}]]},"Verificar Tamanho do Título":{"main":[[{"node":"Tradução Contexto","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]},"Aguardar e Reiniciar Processo":{"main":[[{"node":"Organizar Título e Premissa","type":"main","index":0}]]},"Organizar Título e Premissa":{"main":[[{"node":"Tradução Título","type":"main","index":0}]]},"Detector de Falhas":{"main":[[{"node":"Notificação de Erro no Telegram","type":"main","index":0}]]},"Verificar Palavra-chave no Título":{"main":[[{"node":"Verificar Tamanho do Título","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Detector de Falhas":[{"json":{"execution":{"id":"793","url":"https://n8n-n8n.k1nrlp.easypanel.host/workflow/p8mnTVDOjTe4qpH5/executions/793","error":{"message":"Workflow did not finish, possible out-of-memory issue","timestamp":1751199090433,"name":"WorkflowCrashedError","context":{}},"lastNodeExecuted":"Verificar Palavra-chave no Título","mode":"integrated"},"workflow":{"id":"p8mnTVDOjTe4qpH5","name":"WF03 - CRIAR ROTEIRO - ENG - @susansstoriesx"}}}]},"versionId":"cc821e68-3e4f-41b5-8a38-bddeeb93a30d","triggerCount":0,"tags":[]}