wf03---criar-roteiro---eng---@blacklegendsoftheapaches-Dpu2HVN8kvBK444G.json
{"createdAt":"2025-06-26T15:26:44.151Z","updatedAt":"2025-06-28T18:24:45.000Z","id":"Dpu2HVN8kvBK444G","name":"WF03 - CRIAR ROTEIRO - ENG - @BlackLegendsoftheApaches","active":false,"isArchived":false,"nodes":[{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\"\n\nWrite a new chapter of approximately 500 words that continues the events described above, introducing a shocking twist that completely transforms the narrative. Begin exactly where the previous chapter ended, but at some point, insert a dramatic and unexpected event that radically changes the course of the story, altering relationships, revealing devastating secrets, or transforming the true nature of a main character. Maintain the same style, language, and pace as the original narrative, while building to this abrupt change in a way that leaves the reader in a state of shock. The twist should be so shocking that it makes the reader question everything they thought they knew about the story up to that point. Don't close the plot or definitively resolve conflicts, but use this twist to create an even more shocking ending, leaving the reader desperate to discover the consequences of this life-changing event. Include only the new chapter and don't rewrite the previous chapter without explanation, additional commentary, word count, or special characters.\n\nThe tone of the writing should be simple, direct, and emotional, as if the story were being told by a friend in a casual conversation. Use simple words, short sentences, and a light, spoken-word rhythm. Avoid difficult words, complex structures, or literary language. The narrative should capture attention with clear imagery, universal feelings, and accessible language. Avoid closed endings: end the chapter with a mystery or a question, leaving the reader curious to know what's next.\n\n1. Emotional Intensity\n- Each sentence should convey a raw emotion: fear, pain, shock, compassion.\n- Use strong verbs and adjectives that evoke physical and psychological sensations.\n- Reveal the internal impact on the characters: tightness in the chest, lump in the throat, trembling hands.\n\n2. Urgency and Pace\n- Intersperse short sentences of action with concise descriptions, maintaining a brisk pace.\n- Use punctuation that reinforces cadence (ellipsis, exclamation points, interjections).\n- Avoid excessively long periods; each paragraph should advance the scene without literary pauses.\n\n3. Concrete and Concise Description\n- Focus on essential visual and sensory details, without overloading.\n- Use specific metaphors and comparisons, always related to the moment.\n- Each element (color, sound, texture) should appear in an instantly recognizable way.\n\n4. Cinematic Sense\n- Alternate focus between close-ups (expressions, reactions) and long shots (environment, crowd).\n- Use adverbials of motion to induce the idea of ​​a moving camera.\n- Break up paragraphs to simulate scene cuts.\n\n5. Observant and Close Narrator\n- Adopt the third person, but maintain a conversational tone: natural language, without literary jargon.\n- Avoid overly scholarly terms; prefer constructions that sound like a direct report.\n\n6. Tonal Contrast\n- Create dramatic pauses in which silence or inaction speak as much as actions. - Intersperse sounds and noises in the same sequence (sudden silence followed by a scream or noise).\n\n7. Reactions and Collective Judgment\n- Describe the expressions and murmurs of observers, reinforcing social tension.\n- Include fragments of speech from secondary characters that demonstrate shock or disapproval.\n\n8. Shocking Language\n- Use shocking terms related to horror, tragedy, and scandal, but always linked to specific images.\n- Avoid excessive sensationalism; maintain authenticity in the shock.\n\n9. Proximity to Pain\n- Directly portray the characters' physical and emotional pain.\n- Avoid euphemisms: describe the severity of the scenes without softening the language.\n\n10. Glimmers of Hope\n- Insert brief flashes of relief or consolation that stand out in the context of the tension.\n\n- These moments should further accentuate the dramatic impact when the scene gains urgency.\n\n11. Coherence of Voice\n- Maintain the same narrative tone from beginning to end: informal, visceral, cinematic.\n- Avoid contradictory styles; maintain a unified tone throughout the text.\n\n12. Vocabulary Choice\n- Prefer strong verbs and incisive adjectives; replace generic adverbs with more specific equivalents.\n- Manage vocabulary to enhance intensity without making the reading exhausting.\n\n13. Prohibitions\n- Avoid philosophical reflections or long digressions.\n- Avoid using elaborate literary vocabulary.\n- Avoid adding instructive sections, vignettes, or subheadings.\n- Avoid inserting descriptions that disrupt the flow of the tone."},{"content":"Provide text in American English, using names and expressions common to U.S. speakers, adapted to reflect American culture. Adapt names, places, and cultural references so that they are natural and recognizable in American English, ensuring they remain relevant and connect with your audience.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2400,260],"id":"374bd87f-8bf1-4412-b798-443c3b211c57","name":"Gerar Capítulo 1","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\"\n\nWrite a new chapter of approximately 500 words that continues the events described above, introducing a shocking twist that completely transforms the narrative. Begin exactly where the previous chapter ended, but at some point, insert a dramatic and unexpected event that radically changes the course of the story, altering relationships, revealing devastating secrets, or transforming the true nature of a main character. Maintain the same style, language, and pace as the original narrative, while building to this abrupt change in a way that leaves the reader in a state of shock. The twist should be so shocking that it makes the reader question everything they thought they knew about the story up to that point. Don't close the plot or definitively resolve conflicts, but use this twist to create an even more shocking ending, leaving the reader desperate to discover the consequences of this life-changing event. Include only the new chapter and don't rewrite the previous chapter without explanation, additional commentary, word count, or special characters.\n\nThe tone of the writing should be simple, direct, and emotional, as if the story were being told by a friend in a casual conversation. Use simple words, short sentences, and a light, spoken-word rhythm. Avoid difficult words, complex structures, or literary language. The narrative should capture attention with clear imagery, universal feelings, and accessible language. Avoid closed endings: end the chapter with a mystery or a question, leaving the reader curious to know what's next.\n\n1. Emotional Intensity\n- Each sentence should convey a raw emotion: fear, pain, shock, compassion.\n- Use strong verbs and adjectives that evoke physical and psychological sensations.\n- Reveal the internal impact on the characters: tightness in the chest, lump in the throat, trembling hands.\n\n2. Urgency and Pace\n- Intersperse short sentences of action with concise descriptions, maintaining a brisk pace.\n- Use punctuation that reinforces cadence (ellipsis, exclamation points, interjections).\n- Avoid excessively long periods; each paragraph should advance the scene without literary pauses.\n\n3. Concrete and Concise Description\n- Focus on essential visual and sensory details, without overloading.\n- Use specific metaphors and comparisons, always related to the moment.\n- Each element (color, sound, texture) should appear in an instantly recognizable way.\n\n4. Cinematic Sense\n- Alternate focus between close-ups (expressions, reactions) and long shots (environment, crowd).\n- Use adverbials of motion to induce the idea of ​​a moving camera.\n- Break up paragraphs to simulate scene cuts.\n\n5. Observant and Close Narrator\n- Adopt the third person, but maintain a conversational tone: natural language, without literary jargon.\n- Avoid overly scholarly terms; prefer constructions that sound like a direct report.\n\n6. Tonal Contrast\n- Create dramatic pauses in which silence or inaction speak as much as actions. - Intersperse sounds and noises in the same sequence (sudden silence followed by a scream or noise).\n\n7. Reactions and Collective Judgment\n- Describe the expressions and murmurs of observers, reinforcing social tension.\n- Include fragments of speech from secondary characters that demonstrate shock or disapproval.\n\n8. Shocking Language\n- Use shocking terms related to horror, tragedy, and scandal, but always linked to specific images.\n- Avoid excessive sensationalism; maintain authenticity in the shock.\n\n9. Proximity to Pain\n- Directly portray the characters' physical and emotional pain.\n- Avoid euphemisms: describe the severity of the scenes without softening the language.\n\n10. Glimmers of Hope\n- Insert brief flashes of relief or consolation that stand out in the context of the tension.\n\n- These moments should further accentuate the dramatic impact when the scene gains urgency.\n\n11. Coherence of Voice\n- Maintain the same narrative tone from beginning to end: informal, visceral, cinematic.\n- Avoid contradictory styles; maintain a unified tone throughout the text.\n\n12. Vocabulary Choice\n- Prefer strong verbs and incisive adjectives; replace generic adverbs with more specific equivalents.\n- Manage vocabulary to enhance intensity without making the reading exhausting.\n\n13. Prohibitions\n- Avoid philosophical reflections or long digressions.\n- Avoid using elaborate literary vocabulary.\n- Avoid adding instructive sections, vignettes, or subheadings.\n- Avoid inserting descriptions that disrupt the flow of the tone."},{"content":"Provide text in American English, using names and expressions common to U.S. speakers, adapted to reflect American culture. Adapt names, places, and cultural references so that they are natural and recognizable in American English, ensuring they remain relevant and connect with your audience.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2760,260],"id":"412be427-b153-406c-9dd9-bf49d10dade4","name":"Gerar Capítulo 2","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\"\n\nWrite a new chapter of approximately 500 words that continues the events described above, introducing a shocking twist that completely transforms the narrative. Begin exactly where the previous chapter ended, but at some point, insert a dramatic and unexpected event that radically changes the course of the story, altering relationships, revealing devastating secrets, or transforming the true nature of a main character. Maintain the same style, language, and pace as the original narrative, while building to this abrupt change in a way that leaves the reader in a state of shock. The twist should be so shocking that it makes the reader question everything they thought they knew about the story up to that point. Don't close the plot or definitively resolve conflicts, but use this twist to create an even more shocking ending, leaving the reader desperate to discover the consequences of this life-changing event. Include only the new chapter and don't rewrite the previous chapter without explanation, additional commentary, word count, or special characters.\n\nThe tone of the writing should be simple, direct, and emotional, as if the story were being told by a friend in a casual conversation. Use simple words, short sentences, and a light, spoken-word rhythm. Avoid difficult words, complex structures, or literary language. The narrative should capture attention with clear imagery, universal feelings, and accessible language. Avoid closed endings: end the chapter with a mystery or a question, leaving the reader curious to know what's next.\n\n1. Emotional Intensity\n- Each sentence should convey a raw emotion: fear, pain, shock, compassion.\n- Use strong verbs and adjectives that evoke physical and psychological sensations.\n- Reveal the internal impact on the characters: tightness in the chest, lump in the throat, trembling hands.\n\n2. Urgency and Pace\n- Intersperse short sentences of action with concise descriptions, maintaining a brisk pace.\n- Use punctuation that reinforces cadence (ellipsis, exclamation points, interjections).\n- Avoid excessively long periods; each paragraph should advance the scene without literary pauses.\n\n3. Concrete and Concise Description\n- Focus on essential visual and sensory details, without overloading.\n- Use specific metaphors and comparisons, always related to the moment.\n- Each element (color, sound, texture) should appear in an instantly recognizable way.\n\n4. Cinematic Sense\n- Alternate focus between close-ups (expressions, reactions) and long shots (environment, crowd).\n- Use adverbials of motion to induce the idea of ​​a moving camera.\n- Break up paragraphs to simulate scene cuts.\n\n5. Observant and Close Narrator\n- Adopt the third person, but maintain a conversational tone: natural language, without literary jargon.\n- Avoid overly scholarly terms; prefer constructions that sound like a direct report.\n\n6. Tonal Contrast\n- Create dramatic pauses in which silence or inaction speak as much as actions. - Intersperse sounds and noises in the same sequence (sudden silence followed by a scream or noise).\n\n7. Reactions and Collective Judgment\n- Describe the expressions and murmurs of observers, reinforcing social tension.\n- Include fragments of speech from secondary characters that demonstrate shock or disapproval.\n\n8. Shocking Language\n- Use shocking terms related to horror, tragedy, and scandal, but always linked to specific images.\n- Avoid excessive sensationalism; maintain authenticity in the shock.\n\n9. Proximity to Pain\n- Directly portray the characters' physical and emotional pain.\n- Avoid euphemisms: describe the severity of the scenes without softening the language.\n\n10. Glimmers of Hope\n- Insert brief flashes of relief or consolation that stand out in the context of the tension.\n\n- These moments should further accentuate the dramatic impact when the scene gains urgency.\n\n11. Coherence of Voice\n- Maintain the same narrative tone from beginning to end: informal, visceral, cinematic.\n- Avoid contradictory styles; maintain a unified tone throughout the text.\n\n12. Vocabulary Choice\n- Prefer strong verbs and incisive adjectives; replace generic adverbs with more specific equivalents.\n- Manage vocabulary to enhance intensity without making the reading exhausting.\n\n13. Prohibitions\n- Avoid philosophical reflections or long digressions.\n- Avoid using elaborate literary vocabulary.\n- Avoid adding instructive sections, vignettes, or subheadings.\n- Avoid inserting descriptions that disrupt the flow of the tone."},{"content":"Provide text in American English, using names and expressions common to U.S. speakers, adapted to reflect American culture. Adapt names, places, and cultural references so that they are natural and recognizable in American English, ensuring they remain relevant and connect with your audience.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3140,260],"id":"497b02f9-4404-4ade-aed8-2761db5d340f","name":"Gerar Capítulo 3","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\"\n\nWrite a new chapter of approximately 500 words that continues the events described above, introducing a shocking twist that completely transforms the narrative. Begin exactly where the previous chapter ended, but at some point, insert a dramatic and unexpected event that radically changes the course of the story, altering relationships, revealing devastating secrets, or transforming the true nature of a main character. Maintain the same style, language, and pace as the original narrative, while building to this abrupt change in a way that leaves the reader in a state of shock. The twist should be so shocking that it makes the reader question everything they thought they knew about the story up to that point. Don't close the plot or definitively resolve conflicts, but use this twist to create an even more shocking ending, leaving the reader desperate to discover the consequences of this life-changing event. Include only the new chapter and don't rewrite the previous chapter without explanation, additional commentary, word count, or special characters.\n\nThe tone of the writing should be simple, direct, and emotional, as if the story were being told by a friend in a casual conversation. Use simple words, short sentences, and a light, spoken-word rhythm. Avoid difficult words, complex structures, or literary language. The narrative should capture attention with clear imagery, universal feelings, and accessible language. Avoid closed endings: end the chapter with a mystery or a question, leaving the reader curious to know what's next.\n\n1. Emotional Intensity\n- Each sentence should convey a raw emotion: fear, pain, shock, compassion.\n- Use strong verbs and adjectives that evoke physical and psychological sensations.\n- Reveal the internal impact on the characters: tightness in the chest, lump in the throat, trembling hands.\n\n2. Urgency and Pace\n- Intersperse short sentences of action with concise descriptions, maintaining a brisk pace.\n- Use punctuation that reinforces cadence (ellipsis, exclamation points, interjections).\n- Avoid excessively long periods; each paragraph should advance the scene without literary pauses.\n\n3. Concrete and Concise Description\n- Focus on essential visual and sensory details, without overloading.\n- Use specific metaphors and comparisons, always related to the moment.\n- Each element (color, sound, texture) should appear in an instantly recognizable way.\n\n4. Cinematic Sense\n- Alternate focus between close-ups (expressions, reactions) and long shots (environment, crowd).\n- Use adverbials of motion to induce the idea of ​​a moving camera.\n- Break up paragraphs to simulate scene cuts.\n\n5. Observant and Close Narrator\n- Adopt the third person, but maintain a conversational tone: natural language, without literary jargon.\n- Avoid overly scholarly terms; prefer constructions that sound like a direct report.\n\n6. Tonal Contrast\n- Create dramatic pauses in which silence or inaction speak as much as actions. - Intersperse sounds and noises in the same sequence (sudden silence followed by a scream or noise).\n\n7. Reactions and Collective Judgment\n- Describe the expressions and murmurs of observers, reinforcing social tension.\n- Include fragments of speech from secondary characters that demonstrate shock or disapproval.\n\n8. Shocking Language\n- Use shocking terms related to horror, tragedy, and scandal, but always linked to specific images.\n- Avoid excessive sensationalism; maintain authenticity in the shock.\n\n9. Proximity to Pain\n- Directly portray the characters' physical and emotional pain.\n- Avoid euphemisms: describe the severity of the scenes without softening the language.\n\n10. Glimmers of Hope\n- Insert brief flashes of relief or consolation that stand out in the context of the tension.\n\n- These moments should further accentuate the dramatic impact when the scene gains urgency.\n\n11. Coherence of Voice\n- Maintain the same narrative tone from beginning to end: informal, visceral, cinematic.\n- Avoid contradictory styles; maintain a unified tone throughout the text.\n\n12. Vocabulary Choice\n- Prefer strong verbs and incisive adjectives; replace generic adverbs with more specific equivalents.\n- Manage vocabulary to enhance intensity without making the reading exhausting.\n\n13. Prohibitions\n- Avoid philosophical reflections or long digressions.\n- Avoid using elaborate literary vocabulary.\n- Avoid adding instructive sections, vignettes, or subheadings.\n- Avoid inserting descriptions that disrupt the flow of the tone."},{"content":"Provide text in American English, using names and expressions common to U.S. speakers, adapted to reflect American culture. Adapt names, places, and cultural references so that they are natural and recognizable in American English, ensuring they remain relevant and connect with your audience.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3520,260],"id":"347291dc-9964-4091-b427-f43ce83ac424","name":"Gerar Capítulo 4","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\"\n\nWrite a new chapter of approximately 500 words that continues the events described above, introducing a shocking twist that completely transforms the narrative. Begin exactly where the previous chapter ended, but at some point, insert a dramatic and unexpected event that radically changes the course of the story, altering relationships, revealing devastating secrets, or transforming the true nature of a main character. Maintain the same style, language, and pace as the original narrative, while building to this abrupt change in a way that leaves the reader in a state of shock. The twist should be so shocking that it makes the reader question everything they thought they knew about the story up to that point. Don't close the plot or definitively resolve conflicts, but use this twist to create an even more shocking ending, leaving the reader desperate to discover the consequences of this life-changing event. Include only the new chapter and don't rewrite the previous chapter without explanation, additional commentary, word count, or special characters.\n\nThe tone of the writing should be simple, direct, and emotional, as if the story were being told by a friend in a casual conversation. Use simple words, short sentences, and a light, spoken-word rhythm. Avoid difficult words, complex structures, or literary language. The narrative should capture attention with clear imagery, universal feelings, and accessible language. Avoid closed endings: end the chapter with a mystery or a question, leaving the reader curious to know what's next.\n\n1. Emotional Intensity\n- Each sentence should convey a raw emotion: fear, pain, shock, compassion.\n- Use strong verbs and adjectives that evoke physical and psychological sensations.\n- Reveal the internal impact on the characters: tightness in the chest, lump in the throat, trembling hands.\n\n2. Urgency and Pace\n- Intersperse short sentences of action with concise descriptions, maintaining a brisk pace.\n- Use punctuation that reinforces cadence (ellipsis, exclamation points, interjections).\n- Avoid excessively long periods; each paragraph should advance the scene without literary pauses.\n\n3. Concrete and Concise Description\n- Focus on essential visual and sensory details, without overloading.\n- Use specific metaphors and comparisons, always related to the moment.\n- Each element (color, sound, texture) should appear in an instantly recognizable way.\n\n4. Cinematic Sense\n- Alternate focus between close-ups (expressions, reactions) and long shots (environment, crowd).\n- Use adverbials of motion to induce the idea of ​​a moving camera.\n- Break up paragraphs to simulate scene cuts.\n\n5. Observant and Close Narrator\n- Adopt the third person, but maintain a conversational tone: natural language, without literary jargon.\n- Avoid overly scholarly terms; prefer constructions that sound like a direct report.\n\n6. Tonal Contrast\n- Create dramatic pauses in which silence or inaction speak as much as actions. - Intersperse sounds and noises in the same sequence (sudden silence followed by a scream or noise).\n\n7. Reactions and Collective Judgment\n- Describe the expressions and murmurs of observers, reinforcing social tension.\n- Include fragments of speech from secondary characters that demonstrate shock or disapproval.\n\n8. Shocking Language\n- Use shocking terms related to horror, tragedy, and scandal, but always linked to specific images.\n- Avoid excessive sensationalism; maintain authenticity in the shock.\n\n9. Proximity to Pain\n- Directly portray the characters' physical and emotional pain.\n- Avoid euphemisms: describe the severity of the scenes without softening the language.\n\n10. Glimmers of Hope\n- Insert brief flashes of relief or consolation that stand out in the context of the tension.\n\n- These moments should further accentuate the dramatic impact when the scene gains urgency.\n\n11. Coherence of Voice\n- Maintain the same narrative tone from beginning to end: informal, visceral, cinematic.\n- Avoid contradictory styles; maintain a unified tone throughout the text.\n\n12. Vocabulary Choice\n- Prefer strong verbs and incisive adjectives; replace generic adverbs with more specific equivalents.\n- Manage vocabulary to enhance intensity without making the reading exhausting.\n\n13. Prohibitions\n- Avoid philosophical reflections or long digressions.\n- Avoid using elaborate literary vocabulary.\n- Avoid adding instructive sections, vignettes, or subheadings.\n- Avoid inserting descriptions that disrupt the flow of the tone."},{"content":"Provide text in American English, using names and expressions common to U.S. speakers, adapted to reflect American culture. Adapt names, places, and cultural references so that they are natural and recognizable in American English, ensuring they remain relevant and connect with your audience.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3900,260],"id":"cb971220-036c-4749-af21-7e882bf708be","name":"Gerar Capítulo 5","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\"\n\nWrite a new chapter of approximately 500 words that continues the events described above, introducing a shocking twist that completely transforms the narrative. Begin exactly where the previous chapter ended, but at some point, insert a dramatic and unexpected event that radically changes the course of the story, altering relationships, revealing devastating secrets, or transforming the true nature of a main character. Maintain the same style, language, and pace as the original narrative, while building to this abrupt change in a way that leaves the reader in a state of shock. The twist should be so shocking that it makes the reader question everything they thought they knew about the story up to that point. Don't close the plot or definitively resolve conflicts, but use this twist to create an even more shocking ending, leaving the reader desperate to discover the consequences of this life-changing event. Include only the new chapter and don't rewrite the previous chapter without explanation, additional commentary, word count, or special characters.\n\nThe tone of the writing should be simple, direct, and emotional, as if the story were being told by a friend in a casual conversation. Use simple words, short sentences, and a light, spoken-word rhythm. Avoid difficult words, complex structures, or literary language. The narrative should capture attention with clear imagery, universal feelings, and accessible language. Avoid closed endings: end the chapter with a mystery or a question, leaving the reader curious to know what's next.\n\n1. Emotional Intensity\n- Each sentence should convey a raw emotion: fear, pain, shock, compassion.\n- Use strong verbs and adjectives that evoke physical and psychological sensations.\n- Reveal the internal impact on the characters: tightness in the chest, lump in the throat, trembling hands.\n\n2. Urgency and Pace\n- Intersperse short sentences of action with concise descriptions, maintaining a brisk pace.\n- Use punctuation that reinforces cadence (ellipsis, exclamation points, interjections).\n- Avoid excessively long periods; each paragraph should advance the scene without literary pauses.\n\n3. Concrete and Concise Description\n- Focus on essential visual and sensory details, without overloading.\n- Use specific metaphors and comparisons, always related to the moment.\n- Each element (color, sound, texture) should appear in an instantly recognizable way.\n\n4. Cinematic Sense\n- Alternate focus between close-ups (expressions, reactions) and long shots (environment, crowd).\n- Use adverbials of motion to induce the idea of ​​a moving camera.\n- Break up paragraphs to simulate scene cuts.\n\n5. Observant and Close Narrator\n- Adopt the third person, but maintain a conversational tone: natural language, without literary jargon.\n- Avoid overly scholarly terms; prefer constructions that sound like a direct report.\n\n6. Tonal Contrast\n- Create dramatic pauses in which silence or inaction speak as much as actions. - Intersperse sounds and noises in the same sequence (sudden silence followed by a scream or noise).\n\n7. Reactions and Collective Judgment\n- Describe the expressions and murmurs of observers, reinforcing social tension.\n- Include fragments of speech from secondary characters that demonstrate shock or disapproval.\n\n8. Shocking Language\n- Use shocking terms related to horror, tragedy, and scandal, but always linked to specific images.\n- Avoid excessive sensationalism; maintain authenticity in the shock.\n\n9. Proximity to Pain\n- Directly portray the characters' physical and emotional pain.\n- Avoid euphemisms: describe the severity of the scenes without softening the language.\n\n10. Glimmers of Hope\n- Insert brief flashes of relief or consolation that stand out in the context of the tension.\n\n- These moments should further accentuate the dramatic impact when the scene gains urgency.\n\n11. Coherence of Voice\n- Maintain the same narrative tone from beginning to end: informal, visceral, cinematic.\n- Avoid contradictory styles; maintain a unified tone throughout the text.\n\n12. Vocabulary Choice\n- Prefer strong verbs and incisive adjectives; replace generic adverbs with more specific equivalents.\n- Manage vocabulary to enhance intensity without making the reading exhausting.\n\n13. Prohibitions\n- Avoid philosophical reflections or long digressions.\n- Avoid using elaborate literary vocabulary.\n- Avoid adding instructive sections, vignettes, or subheadings.\n- Avoid inserting descriptions that disrupt the flow of the tone."},{"content":"Provide text in American English, using names and expressions common to U.S. speakers, adapted to reflect American culture. Adapt names, places, and cultural references so that they are natural and recognizable in American English, ensuring they remain relevant and connect with your audience.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[4280,260],"id":"cb91e88f-4c74-45e4-bce5-14f7720f528e","name":"Gerar Capítulo 6","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\n{{ $('Gerar Capítulo 6').item.json.message.content }}\"\n\nWrite a new chapter of approximately 500 words that continues the events described above, introducing a shocking twist that completely transforms the narrative. Begin exactly where the previous chapter ended, but at some point, insert a dramatic and unexpected event that radically changes the course of the story, altering relationships, revealing devastating secrets, or transforming the true nature of a main character. Maintain the same style, language, and pace as the original narrative, while building to this abrupt change in a way that leaves the reader in a state of shock. The twist should be so shocking that it makes the reader question everything they thought they knew about the story up to that point. Don't close the plot or definitively resolve conflicts, but use this twist to create an even more shocking ending, leaving the reader desperate to discover the consequences of this life-changing event. Include only the new chapter and don't rewrite the previous chapter without explanation, additional commentary, word count, or special characters.\n\nThe tone of the writing should be simple, direct, and emotional, as if the story were being told by a friend in a casual conversation. Use simple words, short sentences, and a light, spoken-word rhythm. Avoid difficult words, complex structures, or literary language. The narrative should capture attention with clear imagery, universal feelings, and accessible language. Avoid closed endings: end the chapter with a mystery or a question, leaving the reader curious to know what's next.\n\n1. Emotional Intensity\n- Each sentence should convey a raw emotion: fear, pain, shock, compassion.\n- Use strong verbs and adjectives that evoke physical and psychological sensations.\n- Reveal the internal impact on the characters: tightness in the chest, lump in the throat, trembling hands.\n\n2. Urgency and Pace\n- Intersperse short sentences of action with concise descriptions, maintaining a brisk pace.\n- Use punctuation that reinforces cadence (ellipsis, exclamation points, interjections).\n- Avoid excessively long periods; each paragraph should advance the scene without literary pauses.\n\n3. Concrete and Concise Description\n- Focus on essential visual and sensory details, without overloading.\n- Use specific metaphors and comparisons, always related to the moment.\n- Each element (color, sound, texture) should appear in an instantly recognizable way.\n\n4. Cinematic Sense\n- Alternate focus between close-ups (expressions, reactions) and long shots (environment, crowd).\n- Use adverbials of motion to induce the idea of ​​a moving camera.\n- Break up paragraphs to simulate scene cuts.\n\n5. Observant and Close Narrator\n- Adopt the third person, but maintain a conversational tone: natural language, without literary jargon.\n- Avoid overly scholarly terms; prefer constructions that sound like a direct report.\n\n6. Tonal Contrast\n- Create dramatic pauses in which silence or inaction speak as much as actions. - Intersperse sounds and noises in the same sequence (sudden silence followed by a scream or noise).\n\n7. Reactions and Collective Judgment\n- Describe the expressions and murmurs of observers, reinforcing social tension.\n- Include fragments of speech from secondary characters that demonstrate shock or disapproval.\n\n8. Shocking Language\n- Use shocking terms related to horror, tragedy, and scandal, but always linked to specific images.\n- Avoid excessive sensationalism; maintain authenticity in the shock.\n\n9. Proximity to Pain\n- Directly portray the characters' physical and emotional pain.\n- Avoid euphemisms: describe the severity of the scenes without softening the language.\n\n10. Glimmers of Hope\n- Insert brief flashes of relief or consolation that stand out in the context of the tension.\n\n- These moments should further accentuate the dramatic impact when the scene gains urgency.\n\n11. Coherence of Voice\n- Maintain the same narrative tone from beginning to end: informal, visceral, cinematic.\n- Avoid contradictory styles; maintain a unified tone throughout the text.\n\n12. Vocabulary Choice\n- Prefer strong verbs and incisive adjectives; replace generic adverbs with more specific equivalents.\n- Manage vocabulary to enhance intensity without making the reading exhausting.\n\n13. Prohibitions\n- Avoid philosophical reflections or long digressions.\n- Avoid using elaborate literary vocabulary.\n- Avoid adding instructive sections, vignettes, or subheadings.\n- Avoid inserting descriptions that disrupt the flow of the tone."},{"content":"Provide text in American English, using names and expressions common to U.S. speakers, adapted to reflect American culture. Adapt names, places, and cultural references so that they are natural and recognizable in American English, ensuring they remain relevant and connect with your audience.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[4640,260],"id":"c01b56d8-8a67-4c95-957e-1e3585015797","name":"Gerar Capítulo 7","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\n{{ $('Gerar Capítulo 6').item.json.message.content }}\n{{ $('Gerar Capítulo 7').item.json.message.content }}\"\n\nWrite a new chapter of approximately 500 words that continues the events described above, introducing a shocking twist that completely transforms the narrative. Begin exactly where the previous chapter ended, but at some point, insert a dramatic and unexpected event that radically changes the course of the story, altering relationships, revealing devastating secrets, or transforming the true nature of a main character. Maintain the same style, language, and pace as the original narrative, while building to this abrupt change in a way that leaves the reader in a state of shock. The twist should be so shocking that it makes the reader question everything they thought they knew about the story up to that point. Don't close the plot or definitively resolve conflicts, but use this twist to create an even more shocking ending, leaving the reader desperate to discover the consequences of this life-changing event. Include only the new chapter and don't rewrite the previous chapter without explanation, additional commentary, word count, or special characters.\n\nThe tone of the writing should be simple, direct, and emotional, as if the story were being told by a friend in a casual conversation. Use simple words, short sentences, and a light, spoken-word rhythm. Avoid difficult words, complex structures, or literary language. The narrative should capture attention with clear imagery, universal feelings, and accessible language. Avoid closed endings: end the chapter with a mystery or a question, leaving the reader curious to know what's next.\n\n1. Emotional Intensity\n- Each sentence should convey a raw emotion: fear, pain, shock, compassion.\n- Use strong verbs and adjectives that evoke physical and psychological sensations.\n- Reveal the internal impact on the characters: tightness in the chest, lump in the throat, trembling hands.\n\n2. Urgency and Pace\n- Intersperse short sentences of action with concise descriptions, maintaining a brisk pace.\n- Use punctuation that reinforces cadence (ellipsis, exclamation points, interjections).\n- Avoid excessively long periods; each paragraph should advance the scene without literary pauses.\n\n3. Concrete and Concise Description\n- Focus on essential visual and sensory details, without overloading.\n- Use specific metaphors and comparisons, always related to the moment.\n- Each element (color, sound, texture) should appear in an instantly recognizable way.\n\n4. Cinematic Sense\n- Alternate focus between close-ups (expressions, reactions) and long shots (environment, crowd).\n- Use adverbials of motion to induce the idea of ​​a moving camera.\n- Break up paragraphs to simulate scene cuts.\n\n5. Observant and Close Narrator\n- Adopt the third person, but maintain a conversational tone: natural language, without literary jargon.\n- Avoid overly scholarly terms; prefer constructions that sound like a direct report.\n\n6. Tonal Contrast\n- Create dramatic pauses in which silence or inaction speak as much as actions. - Intersperse sounds and noises in the same sequence (sudden silence followed by a scream or noise).\n\n7. Reactions and Collective Judgment\n- Describe the expressions and murmurs of observers, reinforcing social tension.\n- Include fragments of speech from secondary characters that demonstrate shock or disapproval.\n\n8. Shocking Language\n- Use shocking terms related to horror, tragedy, and scandal, but always linked to specific images.\n- Avoid excessive sensationalism; maintain authenticity in the shock.\n\n9. Proximity to Pain\n- Directly portray the characters' physical and emotional pain.\n- Avoid euphemisms: describe the severity of the scenes without softening the language.\n\n10. Glimmers of Hope\n- Insert brief flashes of relief or consolation that stand out in the context of the tension.\n\n- These moments should further accentuate the dramatic impact when the scene gains urgency.\n\n11. Coherence of Voice\n- Maintain the same narrative tone from beginning to end: informal, visceral, cinematic.\n- Avoid contradictory styles; maintain a unified tone throughout the text.\n\n12. Vocabulary Choice\n- Prefer strong verbs and incisive adjectives; replace generic adverbs with more specific equivalents.\n- Manage vocabulary to enhance intensity without making the reading exhausting.\n\n13. Prohibitions\n- Avoid philosophical reflections or long digressions.\n- Avoid using elaborate literary vocabulary.\n- Avoid adding instructive sections, vignettes, or subheadings.\n- Avoid inserting descriptions that disrupt the flow of the tone."},{"content":"Provide text in American English, using names and expressions common to U.S. speakers, adapted to reflect American culture. Adapt names, places, and cultural references so that they are natural and recognizable in American English, ensuring they remain relevant and connect with your audience.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[5020,260],"id":"6cf6f9e9-5d5d-48ad-9be6-1ea4dc5cec7d","name":"Gerar Capítulo 8","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Reescrever Roteiro com Gancho Sensacional').item.json.message.content }}\n{{ $('Gerar Capítulo 1').item.json.message.content }}\n{{ $('Gerar Capítulo 2').item.json.message.content }}\n{{ $('Gerar Capítulo 3').item.json.message.content }}\n{{ $('Gerar Capítulo 4').item.json.message.content }}\n{{ $('Gerar Capítulo 5').item.json.message.content }}\n{{ $('Gerar Capítulo 6').item.json.message.content }}\n{{ $('Gerar Capítulo 7').item.json.message.content }}\n{{ $('Gerar Capítulo 8').item.json.message.content }}\"\n\nWrite a new chapter of approximately 500 words that continues the events described above, introducing a shocking twist that completely transforms the narrative. Begin exactly where the previous chapter ended, but at some point, insert a dramatic and unexpected event that radically changes the course of the story, altering relationships, revealing devastating secrets, or transforming the true nature of a main character. Maintain the same style, language, and pace as the original narrative, while building to this abrupt change in a way that leaves the reader in a state of shock. The twist should be so shocking that it makes the reader question everything they thought they knew about the story up to that point. Don't close the plot or definitively resolve conflicts, but use this twist to create an even more shocking ending, leaving the reader desperate to discover the consequences of this life-changing event. Include only the new chapter and don't rewrite the previous chapter without explanation, additional commentary, word count, or special characters.\n\nThe tone of the writing should be simple, direct, and emotional, as if the story were being told by a friend in a casual conversation. Use simple words, short sentences, and a light, spoken-word rhythm. Avoid difficult words, complex structures, or literary language. The narrative should capture attention with clear imagery, universal feelings, and accessible language. Avoid closed endings: end the chapter with a mystery or a question, leaving the reader curious to know what's next.\n\n1. Emotional Intensity\n- Each sentence should convey a raw emotion: fear, pain, shock, compassion.\n- Use strong verbs and adjectives that evoke physical and psychological sensations.\n- Reveal the internal impact on the characters: tightness in the chest, lump in the throat, trembling hands.\n\n2. Urgency and Pace\n- Intersperse short sentences of action with concise descriptions, maintaining a brisk pace.\n- Use punctuation that reinforces cadence (ellipsis, exclamation points, interjections).\n- Avoid excessively long periods; each paragraph should advance the scene without literary pauses.\n\n3. Concrete and Concise Description\n- Focus on essential visual and sensory details, without overloading.\n- Use specific metaphors and comparisons, always related to the moment.\n- Each element (color, sound, texture) should appear in an instantly recognizable way.\n\n4. Cinematic Sense\n- Alternate focus between close-ups (expressions, reactions) and long shots (environment, crowd).\n- Use adverbials of motion to induce the idea of ​​a moving camera.\n- Break up paragraphs to simulate scene cuts.\n\n5. Observant and Close Narrator\n- Adopt the third person, but maintain a conversational tone: natural language, without literary jargon.\n- Avoid overly scholarly terms; prefer constructions that sound like a direct report.\n\n6. Tonal Contrast\n- Create dramatic pauses in which silence or inaction speak as much as actions. - Intersperse sounds and noises in the same sequence (sudden silence followed by a scream or noise).\n\n7. Reactions and Collective Judgment\n- Describe the expressions and murmurs of observers, reinforcing social tension.\n- Include fragments of speech from secondary characters that demonstrate shock or disapproval.\n\n8. Shocking Language\n- Use shocking terms related to horror, tragedy, and scandal, but always linked to specific images.\n- Avoid excessive sensationalism; maintain authenticity in the shock.\n\n9. Proximity to Pain\n- Directly portray the characters' physical and emotional pain.\n- Avoid euphemisms: describe the severity of the scenes without softening the language.\n\n10. Glimmers of Hope\n- Insert brief flashes of relief or consolation that stand out in the context of the tension.\n\n- These moments should further accentuate the dramatic impact when the scene gains urgency.\n\n11. Coherence of Voice\n- Maintain the same narrative tone from beginning to end: informal, visceral, cinematic.\n- Avoid contradictory styles; maintain a unified tone throughout the text.\n\n12. Vocabulary Choice\n- Prefer strong verbs and incisive adjectives; replace generic adverbs with more specific equivalents.\n- Manage vocabulary to enhance intensity without making the reading exhausting.\n\n13. Prohibitions\n- Avoid philosophical reflections or long digressions.\n- Avoid using elaborate literary vocabulary.\n- Avoid adding instructive sections, vignettes, or subheadings.\n- Avoid inserting descriptions that disrupt the flow of the tone."},{"content":"Provide text in American English, using names and expressions common to U.S. speakers, adapted to reflect American culture. Adapt names, places, and cultural references so that they are natural and recognizable in American English, ensuring they remain relevant and connect with your audience.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[5400,260],"id":"df732b8d-af3f-4edd-b81c-c77331638fab","name":"Gerar Capítulo Final","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"={{ $json.message.content.Prompts[0].prompt }} The story should start with a sensational version of the hook: \"{{ $('Tradução Título').item.json.message.content['Título'] }}\". In this first chapter, make the most of the curious and mysterious elements to intrigue and capture the reader's attention from the start. Describe each unusual event in vivid and engaging detail, creating an atmosphere of anticipation and fascination that keeps the reader eager to find out what happens next. Then, include a short call to action that says, \"Hey, before we continue with this amazing story, I need to give you an important warning! Many subscribers have reported that YouTube canceled their subscriptions without warning. Just check out the red button below to make sure you're still subscribed to the channel! I don't want you to miss any exclusive content coming up... And while you're there, leave that powerful like! It helps me a ton with the algorithm! Oh, and tell me in the comments: what city are you watching from? I love meeting each amazing person who is part of this community! Your participation makes a difference, let's interact!\" Provide only the final text, without explanations, additional comments, word count, or special characters. The story should follow this exact structure:\n\nTITLE: It begins with a sensational version of the hook: \"{{ $('Tradução Título').item.json.message.content['Título'] }}\"\nCHAPTER DEVELOPMENT: In this first chapter, add intriguing and mysterious elements to capture the reader's attention from the start. Describe each unusual event with vivid and engaging details, creating an atmosphere of anticipation and fascination that keeps the reader eager to find out what happens next.\nCTA: At the end of the devel, include this text: \"Hey, before we continue with this incredible story, I need to give you an important warning! Many subscribers have reported that YouTube canceled their subscriptions without warning. Just check out the red button below to make sure you're still subscribed to the channel! I don't want you to miss any exclusive content coming up... And while you're there, leave that powerful like! It helps me a lot with the algorithm! Oh, and let me know in the comments: what city are you watching from? I love meeting all the amazing people who are part of this community! Your participation makes a difference, let's interact!\"\n\nProvide only the final text, strictly adhering to this order: title, chapter outline, and then CTA. Do not include explanations, additional comments, word count, or special characters. Do not write \"TITLE:,\" \"CHAPTER OUTLINE:,\" or \"CTA:\" in the final text.\n\nThe tone of the writing should be simple, direct, and emotional, as if the story were being told by a friend in a casual conversation. Use simple words, short sentences, and a light, speech-like rhythm. Avoid difficult words, complex structures, or literary language. The narrative should capture attention with clear imagery, universal feelings, and accessible language. Avoid closed endings: end the chapter with a mystery or a question, leaving the reader curious to know what comes next.\n\n1. Emotional Intensity\n- Each sentence should convey a raw emotion: fear, pain, shock, compassion.\n- Use strong verbs and adjectives that evoke physical and psychological sensations.\n\n- Reveal the internal impact on the characters: chest tightness, lump in the throat, trembling hands.\n\n2. Urgency and Rhythm\n- Alternate short action sentences with concise descriptions, maintaining a brisk pace.\n- Use punctuation that reinforces cadence (ellipsis, exclamation points, interjections).\n- Avoid excessively long sentences; each paragraph should advance the scene without literary pauses.\n\n3. Concrete and Concise Description\n- Focus on essential visual and sensory details, without overloading.\n- Use specific metaphors and comparisons, always related to the moment.\n- Each element (color, sound, texture) should appear in an instantly recognizable way.\n\n4. Cinematic Sensation\n- Alternate focus between close-ups (expressions, reactions) and long shots (settings, crowd).\n- Use adverbials of movement to evoke the idea of ​​a moving camera. - Divide paragraphs to simulate scene breaks.\n\n5. Observant and Close Narrator\n- Use the third person, but maintain a conversational tone: natural language, no literary jargon.\n- Avoid overly scholarly terms; prefer constructions that sound like a direct report.\n\n6. Contrasting Tones\n- Create dramatic pauses in which silence or inaction have as much value as actions.\n- Intersperse sounds and noises in the same sequence (sudden silence followed by a scream or noise).\n\n7. Reactions and Collective Judgment\n- Describe the expressions and murmurs of observers, reinforcing social tension.\n- Include fragments of speech from secondary characters that demonstrate shock or disapproval.\n\n8. Shocking Language\n- Use shocking terms related to horror, tragedy, and scandal, but always linked to specific images.\n\n- Avoid excessive sensationalism; Maintain authenticity in the impact.\n\n9. Relating to Pain\n- Directly represent the characters' physical and emotional pain. - Avoid euphemisms: describe the severity of the scenes without softening the language.\n\n10. Glimpses of Hope\n- Insert brief bursts of relief or consolation that stand out in the context of tension.\n- These moments should further accentuate the dramatic impact when the scene regains urgency.\n\n11. Consistency of Voice\n- Maintain the same narrative tone from beginning to end: informal, visceral, cinematic.\n- Avoid resorting to contradictory styles; maintain a unified tone throughout the text.\n\n12. Vocabulary Choice\n- Prefer strong verbs and incisive adjectives; replace generic adverbs with more specific equivalents.\n\n- Manage vocabulary to enhance intensity without making the reading tedious.\n\n13. Prohibitions\n- Avoid philosophical reflections or long digressions.\n- Avoid using elaborate literary vocabulary.\n- Avoid adding instructional sections, bullet points, or subheadings. - Do not insert descriptions that disrupt the text."},{"content":"Provide text in American English, using names and expressions common to U.S. speakers, adapted to reflect American culture. Adapt names, places, and cultural references so that they are natural and recognizable in American English, ensuring they remain relevant and connect with your audience.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2020,260],"id":"7c9883f9-1a9d-467d-a740-9a24580fb49d","name":"Reescrever Roteiro com Gancho Sensacional","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Main Objective:\n\nFirst-person story, with a woman as narrator.\n\nTurn any prompt into a single narrative prompt for the first chapter, without ending the story. The result will be a JSON array named `Prompts`, containing exactly one object, with the `prompt` field.\n\n## Tema: \"{{ $('Tradução Título').item.json.message.content['Título'] }}\"\n### Contexto: \"{{ $json.message.content.Contexto }}\"\n\n## Basic Prompt Structure\n\nEach prompt should begin with: \"Write a story of approximately 500 words about...\"\n\n## JSON Technical Specifications\n\n```json\n{\n  \"Prompts\": [\n    {\n      \"prompt\": \"Write a story of approximately 500 words about...\"\n    }\n  ]\n}\n```\n\n## Technical Requirements\n- First-person story, with a woman as narrator\n- Only one object in the \"Prompts\" array\n- Double-quoted string\n- Indentation: 2 spaces\n- No line breaks in the \"prompt\" content\n- Valid JSON with escaped special characters\n\n## Detailed Narrative Structure (First Chapter Only)\n\n1. Protagonist Introduction\n- Name and main characteristics\n- Socio-professional context\n- Initial emotional state\n\n2. Main Setting\n- Temporal and spatial location\n- Atmosphere and environment\n- Unique elements of the narrative world\n\n3. **Narrative Trigger**\n- Catalyzing event that breaks the normality\n- Initiates the initial conflict or main dilemma\n\n4. **Narrative Hook**\n- Element of mystery or tension that clarifies the continuation\n- Unresolved question\n- Ending without concluding the conflict, keeping the story incomplete\n\n## Validation Checklist\n\n1. **JSON**\n- [ ] Only one object within \"Prompts\" - [ ] \"Prompt\" field without line breaks\n- [ ] Strings enclosed in double quotes, without special characters\n\n2. **Narrative**\n- [ ] Unfinished story (the chapter remains open)\n- [ ] Including hooks without resolving the conflict\n- [ ] Not concluding the plot or resolving the main conflict. Instead, create a problem from each solution, making the reader feel like the story still needs to continue. The final feeling should be that there is more to come, never a definitive conclusion.\n- [ ] Ensure the chapter ends with an intriguing hook, creating a mystery or question that leaves the reader eager to read the next chapter, unable to put it down.\n- [ ] Maintain a balance between action and reflection, allowing the character to evolve, but without offering definitive answers or conclusions that resolve outstanding dilemmas.\n\n## Final Note\n\n- Not concluding the plot or resolving the main conflict. Instead, create a problem with each solution, giving the reader the feeling that the story must continue. The final feeling should be that there is more to come, never a definitive conclusion.\n\n- Make sure the chapter ends with an intriguing twist, creating a mystery or a question that leaves the reader eager to read the next chapter, unable to put it down.\n\n- Maintain a balance between action and reflection, allowing the character to evolve, but without offering definitive answers or conclusions that resolve unresolved dilemmas.\n\n- First-person story, with a woman as narrator"},{"content":"Provide text in American English, using names and expressions common to U.S. speakers, adapted to reflect American culture. Adapt names, places, and cultural references so that they are natural and recognizable in American English, ensuring they remain relevant and connect with your audience.","role":"system"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1640,260],"id":"1da0fcce-c4e8-469a-b187-4e8e7b82a24a","name":"Gerar Prompt Narrativo Capítulo 1","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $json['título'] }}\"\n\nPlease provide the above text in American English, using common American names and expressions, adapted to reflect the shared culture of the UNITED STATES. Adapt the names, places, and cultural references so that they are natural and recognizable in American English, ensuring that they remain relevant and connect with your audience.\n\nThe output should look like this:\n\n{\n    \"Título\": \"{{ $json['título'] }}\"\n  }\n}\n\nMake sure the generated key follows the required pattern. NEVER exceed the 95 character limit for optimal impact.\n\n\n"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[440,380],"id":"2c77b980-a88b-497a-b3cf-395b0cec194e","name":"Tradução Título","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=\"{{ $('Iniciar Criação de Roteiro').item.json.premissa }}\"\n\nPlease provide the above text in American English, using common American names and expressions, adapted to reflect the shared culture of the UNITED STATES. Adapt the names, places, and cultural references so that they are natural and recognizable in American English Spanish, ensuring that they remain relevant and connect with your audience.\n\nThe output should look like this:\n\n{\n    \"Contexto\": \"{{ $('Iniciar Criação de Roteiro').item.json.premissa }}\"\n  }\n}\n\nMake sure the generated key follows the required pattern."}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1260,260],"id":"5e014d53-2a9f-4d93-b1a1-ca06f63c62aa","name":"Tradução Contexto","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone","allowFileDiscovery":true}},"options":{}},"id":"c73faf13-819a-45a9-bee9-29ef01142206","name":"Compartilhar Pasta","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[6820,260],"credentials":{"googleDriveOAuth2Api":{"id":"uOMKQ3hoFwWVj3KJ","name":"chroniclesabduction@gmail.com"}}},{"parameters":{"resource":"folder","name":"Texto","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Chave').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[7040,260],"id":"ef80a6fb-ec9c-41fd-96e2-9c10f281df76","name":"Criar Pasta Texto","credentials":{"googleDriveOAuth2Api":{"id":"uOMKQ3hoFwWVj3KJ","name":"chroniclesabduction@gmail.com"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Once you have the transcript, create a summary of the content divided into the main topics, with a total length of between 250 and 500 characters. Then, create a short summary highlighting the video's keywords. Include 10 hashtags related to the keywords. Please follow this template:\n\n\"This video explores [main topic], offering an in-depth and critical analysis of [main aspects]. Based on a rich and relevant historical context, the content addresses controversial aspects of the topic, highlighting their implications for the public and society. The video also examines practical examples and cases, providing a more concrete and applied understanding of the topic. The conclusion offers a reflection on the points raised, emphasizing the importance and impact of the topic today.\n\nKeywords: [Main keywords related to the topic].\n\nHashtags: #MainTopic #HistoricalContext #ControversialAspects #CriticalAnalysis #PracticalExamples #CaseStudies #FinalReflection #SocialImpact #History #Society\"\n\nAvoid an overly uniform writing style, lacking personal nuances, or a systematic and logical approach that may seem typical of an AI. Provide the text without markdown, explanations, additional comments, word count, or special characters, as it will be used directly below the video on YouTube.\n\nRoteiro: \"{{ $item(\"0\").$node[\"Concatenar Capítulos\"].json[\"text\"] }}\""},{"content":"Provide text in American English, using names and expressions common to U.S. speakers, adapted to reflect American culture. Adapt names, places, and cultural references so that they are natural and recognizable in American English, ensuring they remain relevant and connect with your audience.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[6220,260],"id":"0be86d74-d6af-4489-ae06-5af4469803d1","name":"Gerar SEO","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"operation":"createFromText","content":"={{ $('Gerar SEO').item.json.message.content }}","name":"02 - SEO","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Texto').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[7480,260],"id":"4073742d-09e8-4cb2-a1c3-bbc0da011b71","name":"Salvar SEO no Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"uOMKQ3hoFwWVj3KJ","name":"chroniclesabduction@gmail.com"}}},{"parameters":{"operation":"createFromText","content":"={{ $item(\"0\").$node[\"Concatenar Capítulos\"].json[\"text\"] }}","name":"03 - Roteiro","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Texto').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[7260,260],"id":"67e5ef37-d7ca-46d8-ac75-c0e81789bbbd","name":"Salvar Roteiro no Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"uOMKQ3hoFwWVj3KJ","name":"chroniclesabduction@gmail.com"}}},{"parameters":{"resource":"folder","name":"={{ $item(\"0\").$node[\"Gerar Chave UUID\"].json[\"uuid\"] }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"root","mode":"list","cachedResultName":"/ (Root folder)","cachedResultUrl":"https://drive.google.com/drive"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[6600,260],"id":"4dbe4a99-b176-4286-b034-0e3cd4acc055","name":"Criar Pasta Chave","credentials":{"googleDriveOAuth2Api":{"id":"uOMKQ3hoFwWVj3KJ","name":"chroniclesabduction@gmail.com"}}},{"parameters":{"operation":"createFromText","content":"={{ $('Tradução Título').item.json.message.content['Título'] }}","name":"01 - Título","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta Texto').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[7700,260],"id":"b5cce286-c35f-4c4b-bf43-49ab9d154c37","name":"Salvar Título no Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"uOMKQ3hoFwWVj3KJ","name":"chroniclesabduction@gmail.com"}}},{"parameters":{"jsCode":"const texts = [\n  $node[\"Reescrever Roteiro com Gancho Sensacional\"].json.message.content,\n  $node[\"Gerar Capítulo 1\"].json.message.content,\n  $node[\"Gerar Capítulo 2\"].json.message.content,\n  $node[\"Gerar Capítulo 3\"].json.message.content,\n  $node[\"Gerar Capítulo 4\"].json.message.content,\n  $node[\"Gerar Capítulo 5\"].json.message.content,\n  $node[\"Gerar Capítulo 6\"].json.message.content,\n  $node[\"Gerar Capítulo 7\"].json.message.content,\n  $node[\"Gerar Capítulo 8\"].json.message.content,\n  $node[\"Gerar Capítulo Final\"].json.message.content\n];\n\nconst finalText = texts.join(\" \").replace(/\\s+/g, \" \").trim();\n\nreturn [{ json: { text: finalText } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5780,260],"id":"7e176950-3229-4ac0-8d50-0e500b780af7","name":"Concatenar Capítulos"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-40,460],"id":"a8b54bb2-86e6-45dd-93d3-55b23b47065c","name":"Iniciar Criação de Roteiro"},{"parameters":{"assignments":{"assignments":[{"id":"8b57efd5-7568-43e3-ab6c-b6ad8dce4918","name":"pasta","value":"={{ $('Criar Pasta Chave').item.json.id }}","type":"string"},{"id":"d84912a9-366a-43a3-91e5-e207b6f735f5","name":"título","value":"={{ $('Tradução Título').item.json.message.content['Título'] }}","type":"string"},{"id":"4a40500d-4220-435b-99f2-35c7af8e8069","name":"seo","value":"={{ $('Gerar SEO').item.json.message.content }}","type":"string"},{"id":"4533d616-65cf-4cd8-98fd-d0560dda4af8","name":"roteiro","value":"={{ $('Salvar Roteiro no Google Drive').item.json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[7920,260],"id":"6531be6e-ed97-4570-82af-b75aed2ba373","name":"Preparar Dados para Trello"},{"parameters":{"jsCode":"function generateUUIDv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nreturn [\n  {\n    json: {\n      uuid: generateUUIDv4()\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6000,260],"id":"145ac6b1-1070-4aa8-bfb6-1dabfe010d6d","name":"Gerar Chave UUID"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84c3207c-9512-4e47-845b-59c4beb13873","leftValue":"={{ $json.message.content[\"Título\"].length }}","rightValue":100,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1040,320],"id":"c4a8ad1c-118b-4fd3-ab8e-4c0687545b45","name":"Verificar Tamanho do Título"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1340,520],"id":"ad5479ee-5acc-4522-ae8f-a9afbff3892d","name":"Aguardar e Reiniciar Processo","webhookId":"babf5a5b-d0ad-4e3a-b5f4-5c52adc63837"},{"parameters":{"assignments":{"assignments":[{"id":"b9f13f00-8d8a-4727-ba37-a9d507fcceb9","name":"ROTEIRO","value":"684e99f4d2ade5c74efc2407","type":"string"},{"id":"0f61075e-b947-408b-8329-a66be2d1f4e0","name":"Canal","value":"@BlackLegendsoftheApaches","type":"string"},{"id":"f72b75ea-1522-46b8-beaa-c65eb0e97fd5","name":"título","value":"={{ $json[\"título\"] }}","type":"string"},{"id":"716a3116-6b92-4568-b250-926208fb8689","name":"premissa","value":"={{ $json.premissa }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,460],"id":"9a4d1ad1-b1a3-4d12-902e-1db20f8713f1","name":"Organizar Título e Premissa"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,0],"id":"d819f452-1bb7-48cb-b7aa-3873bbd6e61a","name":"Detector de Falhas","disabled":true},{"parameters":{"chatId":"-1002628528187","text":"=03 - CRIA ROTEIROS - PT","additionalFields":{"appendAttribution":false,"message_thread_id":3}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[220,0],"id":"343ec5df-94cb-4402-924c-5fac6e470ec2","name":"Notificação de Erro no Telegram","webhookId":"db5662e1-c461-493e-a4a8-938158c6363a","disabled":true},{"parameters":{"listId":"={{ $item(\"0\").$node[\"Organizar Título e Premissa\"].json[\"ROTEIRO\"] }}","name":"={{ $item(\"0\").$node[\"Organizar Título e Premissa\"].json[\"Canal\"] }}","description":"=\"título\": \"{{ $json['título'] }}\",\n\"seo\": \"{{ $json.seo }}\",\n\"pasta\": \"{{ $json.pasta }}\",\n\"roteiro\": \"{{ $json.roteiro }}\",","additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[8140,260],"id":"3ed7ffbe-4410-47a5-bfd6-20d29d6bf6f1","name":"Criar Cartão em \"ROTEIRO ✅\"","credentials":{"trelloApi":{"id":"6gLxfTJw8EfH7C8E","name":"Trello account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"586fe154-fbff-4f0b-9ed4-0547d6feccce","leftValue":"={{ $json.message.content[\"Título\"] }}","rightValue":"millionaire","operator":{"type":"string","operation":"contains"}},{"id":"89158140-3df0-4eaa-ac2b-f829796ad08e","leftValue":"={{ $json.message.content[\"Título\"] }}","rightValue":"MILLIONAIRE","operator":{"type":"string","operation":"contains"}},{"id":"4326124b-d5b1-4411-94c3-140d9f70f2e6","leftValue":"={{ $json.message.content[\"Título\"] }}","rightValue":"millionaire","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[820,400],"id":"3df88d34-a668-47dc-9bb4-8dde01ab7583","name":"Verificar Palavra-chave no Título","disabled":true}],"connections":{"Gerar Capítulo 1":{"main":[[{"node":"Gerar Capítulo 2","type":"main","index":0}]]},"Gerar Capítulo 2":{"main":[[{"node":"Gerar Capítulo 3","type":"main","index":0}]]},"Gerar Capítulo 3":{"main":[[{"node":"Gerar Capítulo 4","type":"main","index":0}]]},"Gerar Capítulo 4":{"main":[[{"node":"Gerar Capítulo 5","type":"main","index":0}]]},"Gerar Capítulo 5":{"main":[[{"node":"Gerar Capítulo 6","type":"main","index":0}]]},"Gerar Capítulo 6":{"main":[[{"node":"Gerar Capítulo 7","type":"main","index":0}]]},"Gerar Capítulo 7":{"main":[[{"node":"Gerar Capítulo 8","type":"main","index":0}]]},"Gerar Capítulo 8":{"main":[[{"node":"Gerar Capítulo Final","type":"main","index":0}]]},"Gerar Capítulo Final":{"main":[[{"node":"Concatenar Capítulos","type":"main","index":0}]]},"Reescrever Roteiro com Gancho Sensacional":{"main":[[{"node":"Gerar Capítulo 1","type":"main","index":0}]]},"Gerar Prompt Narrativo Capítulo 1":{"main":[[{"node":"Reescrever Roteiro com Gancho Sensacional","type":"main","index":0}]]},"Tradução Título":{"main":[[{"node":"Verificar Palavra-chave no Título","type":"main","index":0}]]},"Tradução Contexto":{"main":[[{"node":"Gerar Prompt Narrativo Capítulo 1","type":"main","index":0}]]},"Compartilhar Pasta":{"main":[[{"node":"Criar Pasta Texto","type":"main","index":0}]]},"Criar Pasta Texto":{"main":[[{"node":"Salvar Roteiro no Google Drive","type":"main","index":0}]]},"Gerar SEO":{"main":[[{"node":"Criar Pasta Chave","type":"main","index":0}]]},"Salvar SEO no Google Drive":{"main":[[{"node":"Salvar Título no Google Drive","type":"main","index":0}]]},"Salvar Roteiro no Google Drive":{"main":[[{"node":"Salvar SEO no Google Drive","type":"main","index":0}]]},"Criar Pasta Chave":{"main":[[{"node":"Compartilhar Pasta","type":"main","index":0}]]},"Salvar Título no Google Drive":{"main":[[{"node":"Preparar Dados para Trello","type":"main","index":0}]]},"Concatenar Capítulos":{"main":[[{"node":"Gerar Chave UUID","type":"main","index":0}]]},"Iniciar Criação de Roteiro":{"main":[[{"node":"Organizar Título e Premissa","type":"main","index":0}]]},"Preparar Dados para Trello":{"main":[[{"node":"Criar Cartão em \"ROTEIRO ✅\"","type":"main","index":0}]]},"Gerar Chave UUID":{"main":[[{"node":"Gerar SEO","type":"main","index":0}]]},"Verificar Tamanho do Título":{"main":[[{"node":"Tradução Contexto","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]},"Aguardar e Reiniciar Processo":{"main":[[{"node":"Organizar Título e Premissa","type":"main","index":0}]]},"Organizar Título e Premissa":{"main":[[{"node":"Tradução Título","type":"main","index":0}]]},"Detector de Falhas":{"main":[[{"node":"Notificação de Erro no Telegram","type":"main","index":0}]]},"Verificar Palavra-chave no Título":{"main":[[{"node":"Verificar Tamanho do Título","type":"main","index":0}],[{"node":"Aguardar e Reiniciar Processo","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"831b19dc-c96d-45c8-be71-bf032bf617a5","triggerCount":0,"tags":[]}