wf04---criar-audio---eng---@unfairstories---nav-1-L0K3Q6VkUcpc3OgO.json
{"createdAt":"2025-07-03T09:39:35.928Z","updatedAt":"2025-07-03T16:52:30.000Z","id":"L0K3Q6VkUcpc3OgO","name":"WF04 - CRIAR AUDIO - ENG - @unfairstories - NAV 1","active":false,"isArchived":true,"nodes":[{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2112,770],"id":"4de27e86-b24b-45a6-bb83-855c1a0db8af","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"resource":"list","operation":"getCards","id":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"ROTEIRO\"] }}","returnAll":true,"additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[-3240,550],"id":"069b4a54-64f9-4b3e-a702-111d967659f4","name":"Buscar Cartões Trello Pendentes","credentials":{"trelloApi":{"id":"6gLxfTJw8EfH7C8E","name":"Trello account"}}},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-2580,550],"id":"419bf566-6a58-488d-9c49-3dd08f81d478","name":"Processar Próximo Cartão"},{"parameters":{"promptType":"define","text":"={{ $json.desc }}","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-2140,550],"id":"c0ae9f94-c331-4b67-b3c1-d7675ce593ed","name":"Analisar Conteúdo do Cartão"},{"parameters":{"jsonSchemaExample":"{\n\"título\": \"{{ $json['título'] }}\",\n\"seo\": \"{{ $json.seo }}\",\n\"pasta\": \"{{ $json.pasta }}\",\n\"roteiro\": \"{{ $json.roteiro }}\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-1992,770],"id":"b69e58f2-7372-49a9-a6fc-b15f0ee1f28b","name":"Formatar Resposta da IA"},{"parameters":{"resource":"folder","name":"Áudios Curtos","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $json.output.pasta }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1760,560],"id":"1f8a05c6-1fdb-4e78-bfdb-39e8a5570e0e","name":"Localizar Pasta de Áudio","credentials":{"googleDriveOAuth2Api":{"id":"uOMKQ3hoFwWVj3KJ","name":"chroniclesabduction@gmail.com"}}},{"parameters":{"url":"=https://drive.google.com/uc?export=download&id={{ $('Analisar Conteúdo do Cartão').item.json.output.roteiro }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1544,550],"id":"5893254a-d33f-4c57-81fd-18c8c39926b8","name":"Baixar Arquivo de Roteiro","retryOnFail":true,"maxTries":2},{"parameters":{"operation":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-1324,550],"id":"95883b15-9d8e-410c-82a2-877aa49dc6e9","name":"Extrair Texto do Roteiro"},{"parameters":{"fieldToSplitOut":"TEXTOS","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-884,550],"id":"5cfac56a-1529-47c1-826f-ef378680d9f4","name":"Separar Partes do Texto"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-664,550],"id":"f078bb7f-d6ed-4cbc-8154-c6aae97b1abc","name":"Processar Segmentos de Texto"},{"parameters":{"fieldToSplitOut":"id","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-444,150],"id":"6354e59b-c3fd-40b8-ac6a-7122aa218ef1","name":"Capturar ID do Arquivo Gerado"},{"parameters":{"assignments":{"assignments":[{"id":"224d430d-8334-4617-839e-9178ccb68c3e","name":"id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-224,150],"id":"c5b417bb-3439-49c9-b3ae-d1f96bf10ec6","name":"Preparar ID para Armazenamento"},{"parameters":{"name":"Áudio","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"root","mode":"list","cachedResultName":"/ (Root folder)","cachedResultUrl":"https://drive.google.com/drive"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-4,550],"id":"aced5b28-192f-4180-9b1f-fffd7d864240","name":"Salvar Áudio na Raiz","credentials":{"googleDriveOAuth2Api":{"id":"uOMKQ3hoFwWVj3KJ","name":"chroniclesabduction@gmail.com"}}},{"parameters":{"jsCode":"// Código para nó “Code” no n8n\n// items é um array onde cada item.json.id contém um ID\nconst result = {};\n\n// Para cada item, cria uma propriedade audio{índice+1} = id\nitems.forEach((item, index) => {\n  result[`audio${index + 1}`] = item.json.id;\n});\n\n// Retorna um único item com todas as chaves\nreturn [\n  {\n    json: result\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4,0],"id":"5b65c0c4-8ea0-4d6e-8934-a198586883c1","name":"Consolidar IDs dos Arquivos de Áudio"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-4,300],"id":"e07bf9d0-7326-498a-9064-bc076eb1ad56","name":"Iterar Arquivos de Áudio"},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"={{ $('Localizar Pasta de Áudio').item.json.id }}","mode":"id"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[216,400],"id":"ac2065cf-9597-47c2-a568-5845403860c1","name":"Mover Áudio para Pasta Final","credentials":{"googleDriveOAuth2Api":{"id":"uOMKQ3hoFwWVj3KJ","name":"chroniclesabduction@gmail.com"}}},{"parameters":{"operation":"get","id":{"__rl":true,"value":"={{ $item(\"0\").$node[\"Processar Próximo Cartão\"].json[\"id\"] }}","mode":"id"},"additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[436,0],"id":"f351d0e6-1fde-41cf-bdd7-dd30073f8aff","name":"Carregar Detalhes do Cartão","credentials":{"trelloApi":{"id":"6gLxfTJw8EfH7C8E","name":"Trello account"}}},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"updateFields":{"desc":"={{ $json.desc }}\n\"audio1\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio1 }}\",\n\"audio2\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio2 }}\",\n\"audio3\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio3 }}\",\n\"audio4\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio4 }}\",\n\"audio5\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio5 }}\",\n\"audio6\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio6 }}\",\n\"audio7\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio7 }}\",\n\"audio8\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio8 }}\",\n\"audio9\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio9 }}\",\n\"audio10\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio10 }}\",\n\"audio11\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio11 }}\",\n\"audio12\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio12 }}\",\n\"audio13\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio13 }}\",\n\"audio14\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio14 }}\",\n\"audio15\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio15 }}\",\n\"audio16\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio16 }}\",\n\"audio17\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio17 }}\",\n\"audio18\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio18 }}\",\n\"audio19\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio19 }}\",\n\"audio20\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio20 }}\",\n\"audio21\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio21 }}\",\n\"audio22\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio22 }}\",\n\"audio23\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio23 }}\",\n\"audio24\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio24 }}\",\n\"audio25\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio25 }}\",\n\"audio26\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio26 }}\",\n\"audio27\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio27 }}\",\n\"audio28\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio28 }}\",\n\"audio29\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio29 }}\",\n\"audio30\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio30 }}\",\n\"audio31\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio31 }}\",\n\"audio32\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio32 }}\",\n\"audio33\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio33 }}\",\n\"audio34\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio34 }}\",\n\"audio35\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio35 }}\",\n\"audio36\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio36 }}\",\n\"audio37\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio37 }}\",\n\"audio38\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio38 }}\",\n\"audio39\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio39 }}\",\n\"audio40\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio40 }}\",\n\"audio41\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio41 }}\",\n\"audio42\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio42 }}\",\n\"audio43\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio43 }}\",\n\"audio44\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio44 }}\",\n\"audio45\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio45 }}\",\n\"audio46\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio46 }}\",\n\"audio47\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio47 }}\",\n\"audio48\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio48 }}\",\n\"audio49\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio49 }}\",\n\"audio50\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio50 }}\",\n\"audio51\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio51 }}\",\n\"audio52\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio52 }}\",\n\"audio53\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio53 }}\",\n\"audio54\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio54 }}\",\n\"audio55\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio55 }}\",\n\"audio56\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio56 }}\",\n\"audio57\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio57 }}\",\n\"audio58\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio58 }}\",\n\"audio59\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio59 }}\",\n\"audio60\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio60 }}\","}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[656,0],"id":"3d04f598-0216-4cc8-ada0-f129747cb1a5","name":"Atualizar Cartão com Links de Áudio","credentials":{"trelloApi":{"id":"6gLxfTJw8EfH7C8E","name":"Trello account"}}},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $item(\"0\").$node[\"Processar Próximo Cartão\"].json[\"id\"] }}","mode":"id"},"updateFields":{"idList":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"ÁUDIOS CURTOS\"] }}"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[436,200],"id":"d23485eb-28d3-4fa7-9dc7-bc17241b77b8","name":"Mover Cartão para \"ÁUDIOS CURTOS ✅\"","credentials":{"trelloApi":{"id":"6gLxfTJw8EfH7C8E","name":"Trello account"}}},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-3680,910],"id":"06cc5b2d-18bb-449d-b18e-11ccd7ae2e27","name":"Detector de Falhas","disabled":true},{"parameters":{"chatId":"-1002628528187","text":"=04 - CRIA ÁUDIOS","additionalFields":{"appendAttribution":false,"message_thread_id":3}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-3460,910],"id":"9faff297-bb99-4ded-9730-5cf6c105ccd0","name":"Notificação de Erro no Telegram","webhookId":"736c1f54-a6c3-4c0f-a442-215c6d587b2f","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"015448b3-2848-46c1-92d6-cc3f867bbed1","leftValue":"={{ $json.name }}","rightValue":"\"STOP\"","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-3020,550],"id":"420d14e2-f0eb-4bc6-a66d-5b19b99ee866","name":"Exclui Cards em \"STOP\""},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"updateFields":{"name":"={{ $json.name }} \"STOP\""}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[-2360,560],"id":"04417d2b-f66b-489c-86ee-1108752f393e","name":"Atualizar Cartão com \"STOP\"","credentials":{"trelloApi":{"id":"6gLxfTJw8EfH7C8E","name":"Trello account"}}},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"updateFields":{"name":"={{ $item(\"0\").$node[\"Processar Próximo Cartão\"].json[\"name\"] }}"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[656,200],"id":"7090f42a-a7af-4be9-afea-cdc344b63fcc","name":"Remove \"STOP\"","credentials":{"trelloApi":{"id":"6gLxfTJw8EfH7C8E","name":"Trello account"}}},{"parameters":{"jsCode":"// 1) Pega o texto de entrada\nconst text = $input.first().json.data || '';\n\n// 2) Separa em sentenças\nconst sentences = text.match(/[^\\.!\\?]+[\\.!\\?]+[\"']?|[^\\.!\\?]+$/g) || [];\nconst totalSentences = sentences.length;\n\n// 3) Define número de pedaços e calcula tamanho base + resto\nconst numChunks = 60;\nconst baseSize = Math.floor(totalSentences / numChunks);\nconst remainder = totalSentences % numChunks;\n\n// 4) Monta os chunks com distribuição uniforme sem cortar frases\nconst parts = [];\nlet idx = 0;\nfor (let i = 0; i < numChunks; i++) {\n  const size = baseSize + (i < remainder ? 1 : 0);\n  const chunkSentences = sentences.slice(idx, idx + size);\n  const chunk = chunkSentences.join(' ').trim();\n  parts.push(chunk);\n  idx += size;\n}\n\n// 5) Garante 60 pedaços (por segurança)\nwhile (parts.length < numChunks) {\n  parts.push('');\n}\n\n// 6) Monta o objeto de saída\nconst output = {\n  TEXTOS: parts.map(segment => ({ texto: segment }))\n};\n\n// 7) Retorna o resultado\nreturn [{ json: output }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1104,550],"id":"fdd77cbd-cba8-48d2-8416-1853d28616a5","name":"Dividir Texto em 60 Segmentos"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[216,625],"id":"871b4add-b346-4854-a987-3986487f79be","name":"Wait","webhookId":"76fb26bc-6c80-40fe-a33e-34224ed96a6d"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[216,200],"id":"f1dabe42-f74a-4027-abc6-a4284b6994be","name":"Limit 2"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[216,0],"id":"3a214bc7-8e30-4b39-8576-48a5ec66db6e","name":"Limit 1"},{"parameters":{"assignments":{"assignments":[{"id":"948aa1b6-75d6-4cf6-9cd1-629b97a571d6","name":"ROTEIRO","value":"684e99f4d2ade5c74efc2407","type":"string"},{"id":"41fb9577-343d-439a-bacf-65018b3f194c","name":"ÁUDIOS CURTOS","value":"684e99f4d2ade5c74efc240c","type":"string"},{"id":"08e16cdb-0f3c-4021-86f8-21a7fa2a32f1","name":"Voz","value":"coral","type":"string"},{"id":"e20a8320-99e9-429d-acd8-0127644250f9","name":"Prompt","value":"Voice: Clear, authoritative, and composed, projecting confidence and professionalism.|Tone: Neutral and informative, maintaining a balance between formality and approachability.Punctuation: Structured with commas and pauses for clarity, ensuring information is digestible and well-paced.Delivery: Steady and measured, with slight emphasis on key figures and deadlines to highlight critical points.","type":"string"},{"id":"11721921-4b76-4955-b89d-0a1b8ed74050","name":"Canal","value":"@unfairstories","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3460,550],"id":"a02d9d48-a366-4f99-99df-db9d0be8be6d","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9890df8a-d5a1-4219-b54c-2ef393c55c7a","leftValue":"={{ $json.name }}","rightValue":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"Canal\"] }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2800,550],"id":"7d5be066-7052-4de9-8a08-86d61d8fec4a","name":"Filtra por Nome do Canal"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-224,550],"id":"29fad815-69ca-4895-86d9-346dba530dc4","name":"Wait1","webhookId":"0a0acf06-d9d9-4d7e-a99a-1a7a28773782"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":26}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-3680,560],"id":"4c6e4190-1b57-4327-81de-5b593c80a21d","name":"00:14"},{"parameters":{"url":"https://www.openai.fm/api/generate","sendQuery":true,"queryParameters":{"parameters":[{"name":"input","value":"={{ $json.TEXTOS.texto }}"},{"name":"prompt","value":"Voice: Clear, authoritative, and composed, projecting confidence and professionalism.|Tone: Neutral and informative, maintaining a balance between formality and approachability.Punctuation: Structured with commas and pauses for clarity, ensuring information is digestible and well-paced.Delivery: Steady and measured, with slight emphasis on key figures and deadlines to highlight critical points."},{"name":"voice","value":"coral"},{"name":"generation","value":"524d7702-2e79-4bc8-ac17-527dbc94dc42"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"sec-ch-ua-platform","value":"\"Windows\""},{"name":"Referer","value":"https://www.openai.fm/"},{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/137.0.0.0 Safari/537.36"},{"name":"sec-ch-ua","value":"\"Google Chrome\";v=\"137\", \"Chromium\";v=\"137\", \"Not/A)Brand\";v=\"24\""},{"name":"Range","value":"bytes=0-"},{"name":"sec-ch-ua-mobile","value":"?0"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-400,440],"id":"47c18c64-15ad-4f36-b88a-f846b51b5d7c","name":"HTTP Request1"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Analisar Conteúdo do Cartão","type":"ai_languageModel","index":0}]]},"Buscar Cartões Trello Pendentes":{"main":[[{"node":"Exclui Cards em \"STOP\"","type":"main","index":0}]]},"Processar Próximo Cartão":{"main":[[{"node":"Atualizar Cartão com \"STOP\"","type":"main","index":0}]]},"Analisar Conteúdo do Cartão":{"main":[[{"node":"Localizar Pasta de Áudio","type":"main","index":0}]]},"Formatar Resposta da IA":{"ai_outputParser":[[{"node":"Analisar Conteúdo do Cartão","type":"ai_outputParser","index":0}]]},"Localizar Pasta de Áudio":{"main":[[{"node":"Baixar Arquivo de Roteiro","type":"main","index":0}]]},"Baixar Arquivo de Roteiro":{"main":[[{"node":"Extrair Texto do Roteiro","type":"main","index":0}]]},"Extrair Texto do Roteiro":{"main":[[{"node":"Dividir Texto em 60 Segmentos","type":"main","index":0}]]},"Separar Partes do Texto":{"main":[[{"node":"Processar Segmentos de Texto","type":"main","index":0}]]},"Processar Segmentos de Texto":{"main":[[{"node":"Capturar ID do Arquivo Gerado","type":"main","index":0}],[{"node":"HTTP Request1","type":"main","index":0}]]},"Capturar ID do Arquivo Gerado":{"main":[[{"node":"Preparar ID para Armazenamento","type":"main","index":0}]]},"Preparar ID para Armazenamento":{"main":[[{"node":"Iterar Arquivos de Áudio","type":"main","index":0},{"node":"Consolidar IDs dos Arquivos de Áudio","type":"main","index":0}]]},"Salvar Áudio na Raiz":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Consolidar IDs dos Arquivos de Áudio":{"main":[[{"node":"Limit 1","type":"main","index":0}]]},"Iterar Arquivos de Áudio":{"main":[[{"node":"Limit 2","type":"main","index":0}],[{"node":"Mover Áudio para Pasta Final","type":"main","index":0}]]},"Mover Áudio para Pasta Final":{"main":[[{"node":"Iterar Arquivos de Áudio","type":"main","index":0}]]},"Carregar Detalhes do Cartão":{"main":[[{"node":"Atualizar Cartão com Links de Áudio","type":"main","index":0}]]},"Mover Cartão para \"ÁUDIOS CURTOS ✅\"":{"main":[[{"node":"Remove \"STOP\"","type":"main","index":0}]]},"Detector de Falhas":{"main":[[{"node":"Notificação de Erro no Telegram","type":"main","index":0}]]},"Exclui Cards em \"STOP\"":{"main":[[{"node":"Filtra por Nome do Canal","type":"main","index":0}]]},"Atualizar Cartão com \"STOP\"":{"main":[[{"node":"Analisar Conteúdo do Cartão","type":"main","index":0}]]},"Dividir Texto em 60 Segmentos":{"main":[[{"node":"Separar Partes do Texto","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Processar Segmentos de Texto","type":"main","index":0}]]},"Limit 2":{"main":[[{"node":"Mover Cartão para \"ÁUDIOS CURTOS ✅\"","type":"main","index":0}]]},"Limit 1":{"main":[[{"node":"Carregar Detalhes do Cartão","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Buscar Cartões Trello Pendentes","type":"main","index":0}]]},"Filtra por Nome do Canal":{"main":[[{"node":"Processar Próximo Cartão","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Salvar Áudio na Raiz","type":"main","index":0}]]},"00:14":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Wait1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:06:38":{"recurrenceRules":[]},"node:00:14":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"9fa505e7-e69e-4fc9-a0cb-557d2ca353b4","triggerCount":1,"tags":[]}