wf04---criar-audio---eng---@wavestruth-jLnGJERvUQqO50aB.json
{"createdAt":"2025-06-25T00:38:14.526Z","updatedAt":"2025-06-27T12:14:34.000Z","id":"jLnGJERvUQqO50aB","name":"WF04 - CRIAR AUDIO - ENG - @wavestruth","active":false,"isArchived":false,"nodes":[{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2112,770],"id":"d9037d14-292a-407b-a01b-df2d96e617fc","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"resource":"list","operation":"getCards","id":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"ROTEIRO\"] }}","returnAll":true,"additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[-3240,550],"id":"211935f6-e280-4670-bb57-4ea3c0e70dc9","name":"Buscar Cartões Trello Pendentes","credentials":{"trelloApi":{"id":"6gLxfTJw8EfH7C8E","name":"Trello account"}}},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-2580,550],"id":"2fb2ac5e-e4d4-4e09-82db-6d395c71c4c6","name":"Processar Próximo Cartão"},{"parameters":{"promptType":"define","text":"={{ $json.desc }}","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-2140,550],"id":"4bae8d1c-5660-45ea-a191-b3ddd76b6eec","name":"Analisar Conteúdo do Cartão"},{"parameters":{"jsonSchemaExample":"{\n\"título\": \"{{ $json['título'] }}\",\n\"seo\": \"{{ $json.seo }}\",\n\"pasta\": \"{{ $json.pasta }}\",\n\"roteiro\": \"{{ $json.roteiro }}\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-1992,770],"id":"48bc4c7c-6bc5-42e1-9031-dd08897e325e","name":"Formatar Resposta da IA"},{"parameters":{"resource":"folder","name":"Áudios Curtos","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $json.output.pasta }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1764,550],"id":"1ef31c79-b59f-464f-a88f-139f355af01b","name":"Localizar Pasta de Áudio","credentials":{"googleDriveOAuth2Api":{"id":"1AdBBODvkqUgEdur","name":"alex.belini.ti@gmail.com"}}},{"parameters":{"url":"=https://drive.google.com/uc?export=download&id={{ $('Analisar Conteúdo do Cartão').item.json.output.roteiro }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1544,550],"id":"58921123-c50d-4269-9cf4-53cde8e6bdb6","name":"Baixar Arquivo de Roteiro","retryOnFail":true,"maxTries":2},{"parameters":{"operation":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-1324,550],"id":"7c92fb36-37d4-422c-bfe4-43fb7d694aab","name":"Extrair Texto do Roteiro"},{"parameters":{"fieldToSplitOut":"TEXTOS","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-884,550],"id":"d9c63d3e-0294-4e39-a60d-e844208c817e","name":"Separar Partes do Texto"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-664,550],"id":"ffc9f3cc-931e-49c5-ae90-9a4693fdea63","name":"Processar Segmentos de Texto"},{"parameters":{"fieldToSplitOut":"id","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-444,150],"id":"fdb3e639-05a6-41de-8639-aaef42ffd1a7","name":"Capturar ID do Arquivo Gerado"},{"parameters":{"assignments":{"assignments":[{"id":"224d430d-8334-4617-839e-9178ccb68c3e","name":"id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-224,150],"id":"5835fe86-92c9-4946-bec6-d57ba685796b","name":"Preparar ID para Armazenamento"},{"parameters":{"name":"Áudio","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"root","mode":"list","cachedResultName":"/ (Root folder)","cachedResultUrl":"https://drive.google.com/drive"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-4,550],"id":"361df47c-4509-4521-8539-b76ebb7cca41","name":"Salvar Áudio na Raiz","credentials":{"googleDriveOAuth2Api":{"id":"1AdBBODvkqUgEdur","name":"alex.belini.ti@gmail.com"}}},{"parameters":{"jsCode":"// Código para nó “Code” no n8n\n// items é um array onde cada item.json.id contém um ID\nconst result = {};\n\n// Para cada item, cria uma propriedade audio{índice+1} = id\nitems.forEach((item, index) => {\n  result[`audio${index + 1}`] = item.json.id;\n});\n\n// Retorna um único item com todas as chaves\nreturn [\n  {\n    json: result\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4,0],"id":"81169beb-cc71-4158-a836-8b72b3edead7","name":"Consolidar IDs dos Arquivos de Áudio"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-4,300],"id":"9d81a318-5c5e-4261-9fa9-df1badc3a155","name":"Iterar Arquivos de Áudio"},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"={{ $('Localizar Pasta de Áudio').item.json.id }}","mode":"id"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[216,400],"id":"1d99dfb0-70c6-4cc8-b44b-3f012822708e","name":"Mover Áudio para Pasta Final","credentials":{"googleDriveOAuth2Api":{"id":"1AdBBODvkqUgEdur","name":"alex.belini.ti@gmail.com"}}},{"parameters":{"operation":"get","id":{"__rl":true,"value":"={{ $item(\"0\").$node[\"Processar Próximo Cartão\"].json[\"id\"] }}","mode":"id"},"additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[436,0],"id":"5f8276ab-0dae-4c48-859e-c7ec76c46865","name":"Carregar Detalhes do Cartão","credentials":{"trelloApi":{"id":"6gLxfTJw8EfH7C8E","name":"Trello account"}}},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"updateFields":{"desc":"={{ $json.desc }}\n\"audio1\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio1 }}\",\n\"audio2\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio2 }}\",\n\"audio3\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio3 }}\",\n\"audio4\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio4 }}\",\n\"audio5\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio5 }}\",\n\"audio6\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio6 }}\",\n\"audio7\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio7 }}\",\n\"audio8\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio8 }}\",\n\"audio9\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio9 }}\",\n\"audio10\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio10 }}\",\n\"audio11\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio11 }}\",\n\"audio12\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio12 }}\",\n\"audio13\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio13 }}\",\n\"audio14\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio14 }}\",\n\"audio15\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio15 }}\",\n\"audio16\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio16 }}\",\n\"audio17\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio17 }}\",\n\"audio18\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio18 }}\",\n\"audio19\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio19 }}\",\n\"audio20\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio20 }}\",\n\"audio21\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio21 }}\",\n\"audio22\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio22 }}\",\n\"audio23\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio23 }}\",\n\"audio24\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio24 }}\",\n\"audio25\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio25 }}\",\n\"audio26\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio26 }}\",\n\"audio27\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio27 }}\",\n\"audio28\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio28 }}\",\n\"audio29\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio29 }}\",\n\"audio30\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio30 }}\",\n\"audio31\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio31 }}\",\n\"audio32\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio32 }}\",\n\"audio33\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio33 }}\",\n\"audio34\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio34 }}\",\n\"audio35\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio35 }}\",\n\"audio36\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio36 }}\",\n\"audio37\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio37 }}\",\n\"audio38\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio38 }}\",\n\"audio39\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio39 }}\",\n\"audio40\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio40 }}\",\n\"audio41\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio41 }}\",\n\"audio42\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio42 }}\",\n\"audio43\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio43 }}\",\n\"audio44\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio44 }}\",\n\"audio45\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio45 }}\",\n\"audio46\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio46 }}\",\n\"audio47\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio47 }}\",\n\"audio48\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio48 }}\",\n\"audio49\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio49 }}\",\n\"audio50\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio50 }}\",\n\"audio51\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio51 }}\",\n\"audio52\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio52 }}\",\n\"audio53\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio53 }}\",\n\"audio54\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio54 }}\",\n\"audio55\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio55 }}\",\n\"audio56\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio56 }}\",\n\"audio57\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio57 }}\",\n\"audio58\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio58 }}\",\n\"audio59\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio59 }}\",\n\"audio60\": \"{{ $('Consolidar IDs dos Arquivos de Áudio').item.json.audio60 }}\","}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[660,0],"id":"85473db1-00be-42f8-9113-0c5314408284","name":"Atualizar Cartão com Links de Áudio","credentials":{"trelloApi":{"id":"6gLxfTJw8EfH7C8E","name":"Trello account"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $item(\"0\").$node[\"Processar Próximo Cartão\"].json[\"id\"] }}","mode":"id"},"updateFields":{"idList":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"ÁUDIOS CURTOS\"] }}"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[436,200],"id":"499d343f-c8d4-4e85-a64c-4361fb88a50f","name":"Mover Cartão para \"ÁUDIOS CURTOS ✅\"","credentials":{"trelloApi":{"id":"6gLxfTJw8EfH7C8E","name":"Trello account"}}},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-3680,910],"id":"3da2a7d8-0076-45a4-9cf7-aa1a5dfd2c79","name":"Detector de Falhas","disabled":true},{"parameters":{"chatId":"-1002628528187","text":"=04 - CRIA ÁUDIOS","additionalFields":{"appendAttribution":false,"message_thread_id":3}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-3460,910],"id":"22ed62f0-7f03-4ade-8d2f-c41ea9e4c9dc","name":"Notificação de Erro no Telegram","webhookId":"5c381fd6-485a-4f6c-9f83-61ff7bb1ac9a","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"015448b3-2848-46c1-92d6-cc3f867bbed1","leftValue":"={{ $json.name }}","rightValue":"\"STOP\"","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-3020,550],"id":"e4682a6e-422e-48de-92f2-5363d8a53721","name":"Exclui Cards em \"STOP\""},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"updateFields":{"name":"={{ $json.name }} \"STOP\""}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[-2360,550],"id":"0fc079c1-49fa-40f7-81fd-502b6646f11f","name":"Atualizar Cartão com \"STOP\"","credentials":{"trelloApi":{"id":"6gLxfTJw8EfH7C8E","name":"Trello account"}}},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"updateFields":{"name":"={{ $item(\"0\").$node[\"Processar Próximo Cartão\"].json[\"name\"] }}"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[656,200],"id":"e26ab477-02fc-4f5e-8315-d72d4374d12c","name":"Remove \"STOP\"","credentials":{"trelloApi":{"id":"6gLxfTJw8EfH7C8E","name":"Trello account"}}},{"parameters":{"jsCode":"// 1) Pega o texto de entrada\nconst text = $input.first().json.data || '';\n\n// 2) Separa em sentenças\nconst sentences = text.match(/[^\\.!\\?]+[\\.!\\?]+[\"']?|[^\\.!\\?]+$/g) || [];\nconst totalSentences = sentences.length;\n\n// 3) Define número de pedaços e calcula tamanho base + resto\nconst numChunks = 60;\nconst baseSize = Math.floor(totalSentences / numChunks);\nconst remainder = totalSentences % numChunks;\n\n// 4) Monta os chunks com distribuição uniforme sem cortar frases\nconst parts = [];\nlet idx = 0;\nfor (let i = 0; i < numChunks; i++) {\n  const size = baseSize + (i < remainder ? 1 : 0);\n  const chunkSentences = sentences.slice(idx, idx + size);\n  const chunk = chunkSentences.join(' ').trim();\n  parts.push(chunk);\n  idx += size;\n}\n\n// 5) Garante 60 pedaços (por segurança)\nwhile (parts.length < numChunks) {\n  parts.push('');\n}\n\n// 6) Monta o objeto de saída\nconst output = {\n  TEXTOS: parts.map(segment => ({ texto: segment }))\n};\n\n// 7) Retorna o resultado\nreturn [{ json: output }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1104,550],"id":"2e161c2d-c7a7-4745-9fb8-f8c26864a960","name":"Dividir Texto em 60 Segmentos"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[216,625],"id":"da771df7-0e2b-43e7-a55b-a810a37ab375","name":"Wait","webhookId":"61d03383-ed8e-4c76-bc68-832134d74490"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[216,200],"id":"ce384ea4-1766-4fc6-bc3c-bb33503a9fbe","name":"Limit 2"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[216,0],"id":"d0d21ac3-4ca3-457e-af96-b5b9f22c0497","name":"Limit 1"},{"parameters":{"assignments":{"assignments":[{"id":"948aa1b6-75d6-4cf6-9cd1-629b97a571d6","name":"ROTEIRO","value":"684e99f4d2ade5c74efc2407","type":"string"},{"id":"41fb9577-343d-439a-bacf-65018b3f194c","name":"ÁUDIOS CURTOS","value":"684e99f4d2ade5c74efc240c","type":"string"},{"id":"08e16cdb-0f3c-4021-86f8-21a7fa2a32f1","name":"Voz","value":"coral","type":"string"},{"id":"e20a8320-99e9-429d-acd8-0127644250f9","name":"Prompt","value":"Voice: Clear, authoritative, and composed, projecting confidence and professionalism — with the natural rhythm, cadence, and intonation characteristic of American English.\nTone: Neutral and informative, striking a balance between formality and approachability — similar to an institutional presentation, a corporate announcement, or a well-structured news report.Punctuation: Structured with commas and natural pauses to ensure clarity, fluency, and ease of understanding — delivered at a steady, accessible pace for an American audience.\nDelivery: Steady and controlled, with subtle emphasis on numbers, dates, deadlines, and key terms — highlighting critical information with precision and restraint, as if reading an official statement or a public service announcement.\n\n","type":"string"},{"id":"11721921-4b76-4955-b89d-0a1b8ed74050","name":"Canal","value":"@wavestruth","type":"string"},{"id":"c044e648-5f7c-4761-8aa5-90fbde801a2e","name":"length","value":"null","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3460,560],"id":"401aeff2-7908-4868-84e7-02f9f5bbe3cb","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9890df8a-d5a1-4219-b54c-2ef393c55c7a","leftValue":"={{ $json.name }}","rightValue":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"Canal\"] }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2800,550],"id":"518dcbb4-3ade-4a36-89c9-e188dd341fdd","name":"Filtra por Nome do Canal"},{"parameters":{"url":"https://www.openai.fm/api/generate","sendQuery":true,"queryParameters":{"parameters":[{"name":"input","value":"={{ $json.TEXTOS.texto }}"},{"name":"prompt","value":"Voice: Clear, authoritative, and composed, projecting confidence and professionalism — with the natural rhythm, cadence, and intonation characteristic of American English.\nTone: Neutral and informative, striking a balance between formality and approachability — similar to an institutional presentation, a corporate announcement, or a well-structured news report.\nPunctuation: Structured with commas and natural pauses to ensure clarity, fluency, and ease of understanding — delivered at a steady, accessible pace for an American audience.\nDelivery: Steady and controlled, with subtle emphasis on numbers, dates, deadlines, and key terms — highlighting critical information with precision and restraint, as if reading an official statement or a public service announcement.\n\n"},{"name":"voice","value":"coral"},{"name":"generation","value":"92e0e616-2625-4170-bd09-5b931260db45"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"sec-ch-ua-platform","value":"\"Windows\""},{"name":"Referer","value":"https://www.openai.fm/"},{"name":"sec-ch-ua","value":"\"Google Chrome\";v=\"137\", \"Chromium\";v=\"137\", \"Not/A)Brand\";v=\"24\""},{"name":"sec-ch-ua-mobile","value":"?0"},{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/137.0.0.0 Safari/537.36"},{"name":"DNT","value":"1"},{"name":"Range","value":"bytes=0-"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-444,550],"id":"30684354-f62a-4140-8624-7bc45029ca2a","name":"HTTP Request","retryOnFail":true,"maxTries":2},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-224,550],"id":"5b23decc-5e28-4306-8af4-975ec91b220e","name":"Wait1","webhookId":"51234518-febe-48ec-96c2-62209a0de846"},{"parameters":{"rule":{"interval":[{"triggerAtHour":1,"triggerAtMinute":47},{"triggerAtHour":9,"triggerAtMinute":46},{"triggerAtHour":17,"triggerAtMinute":48}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-3680,560],"id":"2d3f3fc9-f4f6-428c-9de2-e6599a850545","name":"01:47"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Analisar Conteúdo do Cartão","type":"ai_languageModel","index":0}]]},"Buscar Cartões Trello Pendentes":{"main":[[{"node":"Exclui Cards em \"STOP\"","type":"main","index":0}]]},"Processar Próximo Cartão":{"main":[[{"node":"Atualizar Cartão com \"STOP\"","type":"main","index":0}]]},"Analisar Conteúdo do Cartão":{"main":[[{"node":"Localizar Pasta de Áudio","type":"main","index":0}]]},"Formatar Resposta da IA":{"ai_outputParser":[[{"node":"Analisar Conteúdo do Cartão","type":"ai_outputParser","index":0}]]},"Localizar Pasta de Áudio":{"main":[[{"node":"Baixar Arquivo de Roteiro","type":"main","index":0}]]},"Baixar Arquivo de Roteiro":{"main":[[{"node":"Extrair Texto do Roteiro","type":"main","index":0}]]},"Extrair Texto do Roteiro":{"main":[[{"node":"Dividir Texto em 60 Segmentos","type":"main","index":0}]]},"Separar Partes do Texto":{"main":[[{"node":"Processar Segmentos de Texto","type":"main","index":0}]]},"Processar Segmentos de Texto":{"main":[[{"node":"Capturar ID do Arquivo Gerado","type":"main","index":0}],[{"node":"HTTP Request","type":"main","index":0}]]},"Capturar ID do Arquivo Gerado":{"main":[[{"node":"Preparar ID para Armazenamento","type":"main","index":0}]]},"Preparar ID para Armazenamento":{"main":[[{"node":"Iterar Arquivos de Áudio","type":"main","index":0},{"node":"Consolidar IDs dos Arquivos de Áudio","type":"main","index":0}]]},"Salvar Áudio na Raiz":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Consolidar IDs dos Arquivos de Áudio":{"main":[[{"node":"Limit 1","type":"main","index":0}]]},"Iterar Arquivos de Áudio":{"main":[[{"node":"Limit 2","type":"main","index":0}],[{"node":"Mover Áudio para Pasta Final","type":"main","index":0}]]},"Mover Áudio para Pasta Final":{"main":[[{"node":"Iterar Arquivos de Áudio","type":"main","index":0}]]},"Carregar Detalhes do Cartão":{"main":[[{"node":"Atualizar Cartão com Links de Áudio","type":"main","index":0}]]},"Mover Cartão para \"ÁUDIOS CURTOS ✅\"":{"main":[[{"node":"Remove \"STOP\"","type":"main","index":0}]]},"Detector de Falhas":{"main":[[{"node":"Notificação de Erro no Telegram","type":"main","index":0}]]},"Exclui Cards em \"STOP\"":{"main":[[{"node":"Filtra por Nome do Canal","type":"main","index":0}]]},"Atualizar Cartão com \"STOP\"":{"main":[[{"node":"Analisar Conteúdo do Cartão","type":"main","index":0}]]},"Dividir Texto em 60 Segmentos":{"main":[[{"node":"Separar Partes do Texto","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Processar Segmentos de Texto","type":"main","index":0}]]},"Limit 2":{"main":[[{"node":"Mover Cartão para \"ÁUDIOS CURTOS ✅\"","type":"main","index":0}]]},"Limit 1":{"main":[[{"node":"Carregar Detalhes do Cartão","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Buscar Cartões Trello Pendentes","type":"main","index":0}]]},"Filtra por Nome do Canal":{"main":[[{"node":"Processar Próximo Cartão","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Salvar Áudio na Raiz","type":"main","index":0}]]},"01:47":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:06:38":{"recurrenceRules":[]},"node:01:47":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"e8499340-f3f9-4dce-81e2-c32857fe258d","triggerCount":1,"tags":[]}