wf06---criar-imagem---eng---@najboljelegende-FKJy7suLDngBCnbz.json
{"createdAt":"2025-07-01T21:12:59.960Z","updatedAt":"2025-07-04T03:10:43.000Z","id":"FKJy7suLDngBCnbz","name":"WF06 - CRIAR IMAGEM - ENG - @Najboljelegende","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-4920,840],"id":"675d3779-474a-41f8-aa42-ea92076cd3b4","name":"Detector de Falhas","disabled":true},{"parameters":{"chatId":"-1002628528187","text":"=06 - CRIA IMAGENS","additionalFields":{"appendAttribution":false,"message_thread_id":3}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-4700,840],"id":"1f830746-5c46-43ce-85bc-fa56f13b93e9","name":"Notificação de Erro no Telegram","webhookId":"41d9b992-ffd2-49f6-899e-4503e05606d8","disabled":true},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-3572,700],"id":"9ee52547-058a-491f-8ecb-50e76eaedffd","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"resource":"list","operation":"getCards","id":"={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"ÁUDIOS LONGOS\"] }}","returnAll":true,"additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[-4480,480],"id":"0f878754-4fe9-496b-9fa0-b746cc91abac","name":"Buscar Cartões com Solicitações de Imagem1","credentials":{"trelloApi":{"id":"6gLxfTJw8EfH7C8E","name":"Trello account"}}},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-4040,480],"id":"3f995143-1855-418d-a3d4-675b3872d4b8","name":"Selecionar Próximo Cartão da Fila1"},{"parameters":{"promptType":"define","text":"={{ $json.desc }}","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-3600,480],"id":"dea00a24-99ee-4d3a-8757-b21b8a5dfe5f","name":"Extrair Dados do Cartão1"},{"parameters":{"jsonSchemaExample":"{\n\"título\": \"{{ $('Edit Fields2').item.json['título'] }}\",\n\"seo\": \"{{ $('Edit Fields2').item.json.seo }}\",\n\"pasta\": \"{{ $('Edit Fields2').item.json.pasta }}\",\n\"card\": \"{{ $('Edit Fields2').item.json.card }}\",\n\"audiolongo1\": \"{{ $('Edit Fields2').item.json.audiolongo1 }}\",\n\"audiolongo2\": \"{{ $('Edit Fields2').item.json.audiolongo2 }}\",\n\"audiolongo3\": \"{{ $('Edit Fields2').item.json.audiolongo3 }}\",\n\"audiolongo4\": \"{{ $('Edit Fields2').item.json.audiolongo4 }}\",\n\"audiolongo5\": \"{{ $('Edit Fields2').item.json.audiolongo5 }}\",\n\"audiolongo6\": \"{{ $('Edit Fields2').item.json.audiolongo6 }}\",\n\"audiolongo7\": \"{{ $('Edit Fields2').item.json.audiolongo7 }}\",\n\"audiolongo8\": \"{{ $('Edit Fields2').item.json.audiolongo8 }}\",\n\"audiolongo9\": \"{{ $('Edit Fields2').item.json.audiolongo9 }}\",\n\"audiolongo10\": \"{{ $('Edit Fields2').item.json.audiolongo10 }}\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-3452,700],"id":"c1a72e12-0b7d-4187-a855-83c1f6cce8a6","name":"Formatar Saída Estruturada1"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"output"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-3224,480],"id":"51c31a4c-a60d-4f03-99f6-7aeac9f582c7","name":"Consolidar Dados do Cartão1"},{"parameters":{"resource":"folder","name":"Imagens","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $json.output[0].pasta }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-3004,480],"id":"d27a021f-ab18-47ec-bf97-cd18633998bc","name":"Criar Pasta para Imagens no Drive1","credentials":{"googleDriveOAuth2Api":{"id":"uOMKQ3hoFwWVj3KJ","name":"chroniclesabduction@gmail.com"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Create a prompt for ChatGPT to create an image like a professional photograph based on the theme: {{ $item(\"0\").$node[\"Consolidar Dados do Cartão1\"].json[\"output\"][\"0\"][\"título\"] }}. Show a clear and intense emotional expression [choose one: sadness/joy/anger/surprise/fear] appropriate to the title's context. Use lighting that highlights the main subject. Keep the realistic style with vivid colors. No text in the image. High resolution. Provide only the prompt. Return the text without double quotes, with a maximum of 300 characters, clearly and objectively."}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-2784,480],"id":"ae2a74f6-1e1a-48ce-a050-67ada5ac17ab","name":"Gerar Descrição para Imagem1","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"ff5f86c0-dc5e-43d6-9990-9d264d447804","name":"message.content0","value":"={{ $json.message.content }}","type":"string"},{"id":"70b3db8c-461c-4c13-97a5-ca51cddb293c","name":"message.content1","value":"={{ $json.message.content }}","type":"string"},{"id":"d9a6e1ae-34af-4cc5-8bdd-a7733f563dcd","name":"message.content2","value":"={{ $json.message.content }}","type":"string"},{"id":"294ac06b-3269-488f-9330-5f9b45e38c2c","name":"message.content3","value":"={{ $json.message.content }}","type":"string"},{"id":"05542c2a-a8fb-49e6-8697-79767754b75e","name":"message.content4","value":"={{ $json.message.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2408,480],"id":"8de4d2bc-264a-4260-af3e-bc51ab420ce7","name":"Preparar Múltiplas Descrições1"},{"parameters":{"fieldToSplitOut":"message","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2188,480],"id":"3db09033-090c-4549-8b5a-2b6c9e0cbe33","name":"Separar Descrições Individuais1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1968,480],"id":"e787d679-7555-4974-b66a-f807d745a578","name":"Processar Cada Descrição1"},{"parameters":{"method":"POST","url":"https://api.together.xyz/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $item(\"0\").$node[\"Edit Fields1\"].json[\"Together API Key\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"black-forest-labs/FLUX.1-schnell\",\n  \"prompt\": {{ JSON.stringify($json.message) }},\n  \"width\": 1280,\n  \"height\": 720,\n  \"steps\": 4,\n  \"n\": 1,\n  \"response_format\": \"b64_json\"\n}","options":{"batching":{"batch":{"batchSize":2,"batchInterval":10000}}}},"id":"fb139e10-1d23-41e0-a8ce-4718c1cb6e11","name":"Solicitar Imagem à Together.xyz1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1748,480],"retryOnFail":true,"maxTries":2},{"parameters":{"operation":"toBinary","sourceProperty":"output.choices[0].image_base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-1528,480],"id":"0a3ee3ed-6106-4fe6-bc89-4bb945a755d0","name":"Converter Base64 para Arquivo1"},{"parameters":{"operation":"text","text":"={{ $('Selecionar Próximo Cartão da Fila1').item.json.name }}","fontSize":50,"fontColor":"#FFFFFF","positionX":40,"positionY":80,"options":{"font":"/usr/share/fonts/truetype/msttcorefonts/Arial_Bold.ttf","format":"jpeg"}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[-1308,480],"id":"4154cc49-f1d5-46db-856b-0a71aa935fe2","name":"Adicionar Marca d'água1","disabled":true},{"parameters":{"name":"img","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Criar Pasta para Imagens no Drive1').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1088,480],"id":"851e804e-f5f9-4951-ad86-1faf17c6af67","name":"Salvar Imagem no Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"uOMKQ3hoFwWVj3KJ","name":"chroniclesabduction@gmail.com"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-868,555],"id":"96e9b215-5ed5-44c4-8acb-cb650f374314","name":"Aguardar Processamento1","webhookId":"156a5073-1c38-45c2-8108-d7f7ed87ff58"},{"parameters":{"fieldToSplitOut":"id","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1748,280],"id":"080d719a-0e16-4f50-a187-57756a8dbb0d","name":"Separar IDs das Imagens1"},{"parameters":{"aggregate":"={{ $json.id }}","fieldsToAggregate":{"fieldToAggregate":[{}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-1528,280],"id":"40314339-832c-4bd4-b2f9-3acf1cc4276e","name":"Agrupar IDs de Imagens1"},{"parameters":{"assignments":{"assignments":[{"id":"a17bebb8-7f04-4f2e-bdd7-a6e4be63b784","name":"img1","value":"={{ $json.data[0].id }}","type":"string"},{"id":"4af0684d-d1f5-4ff2-abfa-bebb37541b38","name":"img2","value":"={{ $json.data[1].id }}","type":"string"},{"id":"06d07776-31a3-4d16-96ca-dc3921f38d72","name":"img3","value":"={{ $json.data[2].id }}","type":"string"},{"id":"c5578725-5ab1-4791-84fc-33cc240d7334","name":"img4","value":"={{ $json.data[3].id }}","type":"string"},{"id":"b81e2d42-39c3-4473-bb46-1de60302bbec","name":"img5","value":"={{ $json.data[4].id }}","type":"string"},{"id":"2bef0356-8b6a-4157-a38c-4dce875aff69","name":"img6","value":"={{ $json.data[5].id }}","type":"string"},{"id":"eafad461-9b99-4aa0-b7e5-68aff9c82a8a","name":"img7","value":"={{ $json.data[6].id }}","type":"string"},{"id":"db040239-d6c0-47e4-9515-dd4fcaad7f76","name":"img8","value":"={{ $json.data[7].id }}","type":"string"},{"id":"1028a556-10a5-4b79-b198-f95622eabef7","name":"img9","value":"={{ $json.data[8].id }}","type":"string"},{"id":"5044bbf1-0d4c-447b-bd2a-92ab1d361ce9","name":"img10","value":"={{ $json.data[9].id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1308,280],"id":"366ecbbc-cabd-4bee-9c22-c651a8771e36","name":"Formatar IDs para Trello1"},{"parameters":{"operation":"get","id":{"__rl":true,"value":"={{ $item(\"0\").$node[\"Selecionar Próximo Cartão da Fila1\"].json[\"id\"] }}","mode":"id"},"additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[-1088,280],"id":"540bce90-e4fa-4719-b2d6-4fb3dd7dfa33","name":"Carregar Detalhes do Cartão1","credentials":{"trelloApi":{"id":"6gLxfTJw8EfH7C8E","name":"Trello account"}}},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"updateFields":{"desc":"={{ $json.desc }}\n\"img1\": \"{{ $('Formatar IDs para Trello1').item.json.img1 }}\",\n\"img2\": \"{{ $('Formatar IDs para Trello1').item.json.img2 }}\",\n\"img3\": \"{{ $('Formatar IDs para Trello1').item.json.img3 }}\",\n\"img4\": \"{{ $('Formatar IDs para Trello1').item.json.img4 }}\",\n\"img5\": \"{{ $('Formatar IDs para Trello1').item.json.img5 }}\","}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[-868,280],"id":"0f95d6fc-4a9b-408f-a79a-aa43a2a1ec59","name":"Atualizar Cartão com Links das Imagens1","credentials":{"trelloApi":{"id":"6gLxfTJw8EfH7C8E","name":"Trello account"}}},{"parameters":{"chatId":"-1002628528187","text":"=06 - CRIA IMAGENS","additionalFields":{"appendAttribution":false,"message_thread_id":3}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-4920,1100],"id":"f1930e9a-8d9a-4faa-bae7-61f099b482ed","name":"Notificação de Erro no Telegram1","webhookId":"d0e5f20a-b3e4-44cb-a04d-f4b3b1f48d0f","disabled":true},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $item(\"0\").$node[\"Selecionar Próximo Cartão da Fila1\"].json[\"id\"] }}","mode":""},"updateFields":{"idList":"={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"IMAGENS\"] }}"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[-648,280],"id":"d178a967-af49-4396-a653-853c0b8b9a01","name":"Mover Cartão para \"IMAGENS ✅\"1","credentials":{"trelloApi":{"id":"6gLxfTJw8EfH7C8E","name":"Trello account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"015448b3-2848-46c1-92d6-cc3f867bbed1","leftValue":"={{ $json.name }}","rightValue":"\"STOP\"","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-4260,480],"id":"6e538903-0ae0-41ce-8296-8f188b41e8eb","name":"Exclui Cards em \"STOP\"1"},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"updateFields":{"name":"={{ $json.name }} \"STOP\""}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[-3820,480],"id":"35668683-7389-4121-9ff3-1199d97a74d4","name":"Atualizar Cartão com \"STOP\"1","credentials":{"trelloApi":{"id":"6gLxfTJw8EfH7C8E","name":"Trello account"}}},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"updateFields":{"name":"={{ $item(\"0\").$node[\"Selecionar Próximo Cartão da Fila1\"].json[\"name\"] }}"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[-428,280],"id":"9d2d4c9b-f681-462b-8e88-9902cb7bf371","name":"Remove \"STOP\"1","retryOnFail":true,"credentials":{"trelloApi":{"id":"6gLxfTJw8EfH7C8E","name":"Trello account"}}},{"parameters":{"assignments":{"assignments":[{"id":"948aa1b6-75d6-4cf6-9cd1-629b97a571d6","name":"ÁUDIOS LONGOS","value":"684e99f4d2ade5c74efc240e","type":"string"},{"id":"41fb9577-343d-439a-bacf-65018b3f194c","name":"IMAGENS","value":"684e99f4d2ade5c74efc240b","type":"string"},{"id":"f42a20f1-0812-4b36-bd40-5d779ca6e7ad","name":"Together API Key","value":"6a22e414358b3232820a65a17b23613f4176cb89329e373fb1cf2d0b5aeac235","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4700,480],"id":"e7be070a-48ee-46c9-98aa-652d4c5dabea","name":"Edit Fields1"},{"parameters":{"rule":{"interval":[{"triggerAtHour":2,"triggerAtMinute":47},{"triggerAtHour":9,"triggerAtMinute":12}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-4920,480],"id":"17156d4c-19dd-4cab-8780-d8609a09cb31","name":"00:43"}],"connections":{"Detector de Falhas":{"main":[[{"node":"Notificação de Erro no Telegram","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Extrair Dados do Cartão1","type":"ai_languageModel","index":0}]]},"Buscar Cartões com Solicitações de Imagem1":{"main":[[{"node":"Exclui Cards em \"STOP\"1","type":"main","index":0}]]},"Selecionar Próximo Cartão da Fila1":{"main":[[{"node":"Atualizar Cartão com \"STOP\"1","type":"main","index":0}]]},"Extrair Dados do Cartão1":{"main":[[{"node":"Consolidar Dados do Cartão1","type":"main","index":0}]]},"Formatar Saída Estruturada1":{"ai_outputParser":[[{"node":"Extrair Dados do Cartão1","type":"ai_outputParser","index":0}]]},"Consolidar Dados do Cartão1":{"main":[[{"node":"Criar Pasta para Imagens no Drive1","type":"main","index":0}]]},"Criar Pasta para Imagens no Drive1":{"main":[[{"node":"Gerar Descrição para Imagem1","type":"main","index":0}]]},"Gerar Descrição para Imagem1":{"main":[[{"node":"Preparar Múltiplas Descrições1","type":"main","index":0}]]},"Preparar Múltiplas Descrições1":{"main":[[{"node":"Separar Descrições Individuais1","type":"main","index":0}]]},"Separar Descrições Individuais1":{"main":[[{"node":"Processar Cada Descrição1","type":"main","index":0}]]},"Processar Cada Descrição1":{"main":[[{"node":"Separar IDs das Imagens1","type":"main","index":0}],[{"node":"Solicitar Imagem à Together.xyz1","type":"main","index":0}]]},"Solicitar Imagem à Together.xyz1":{"main":[[{"node":"Converter Base64 para Arquivo1","type":"main","index":0}]]},"Converter Base64 para Arquivo1":{"main":[[{"node":"Adicionar Marca d'água1","type":"main","index":0}]]},"Adicionar Marca d'água1":{"main":[[{"node":"Salvar Imagem no Google Drive1","type":"main","index":0}]]},"Salvar Imagem no Google Drive1":{"main":[[{"node":"Aguardar Processamento1","type":"main","index":0}]]},"Aguardar Processamento1":{"main":[[{"node":"Processar Cada Descrição1","type":"main","index":0}]]},"Separar IDs das Imagens1":{"main":[[{"node":"Agrupar IDs de Imagens1","type":"main","index":0}]]},"Agrupar IDs de Imagens1":{"main":[[{"node":"Formatar IDs para Trello1","type":"main","index":0}]]},"Formatar IDs para Trello1":{"main":[[{"node":"Carregar Detalhes do Cartão1","type":"main","index":0}]]},"Carregar Detalhes do Cartão1":{"main":[[{"node":"Atualizar Cartão com Links das Imagens1","type":"main","index":0}]]},"Atualizar Cartão com Links das Imagens1":{"main":[[{"node":"Mover Cartão para \"IMAGENS ✅\"1","type":"main","index":0}]]},"Mover Cartão para \"IMAGENS ✅\"1":{"main":[[{"node":"Remove \"STOP\"1","type":"main","index":0}]]},"Exclui Cards em \"STOP\"1":{"main":[[{"node":"Selecionar Próximo Cartão da Fila1","type":"main","index":0}]]},"Atualizar Cartão com \"STOP\"1":{"main":[[{"node":"Extrair Dados do Cartão1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Buscar Cartões com Solicitações de Imagem1","type":"main","index":0}]]},"00:43":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:07:09":{"recurrenceRules":[]},"node:00:43":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"14a8b9f2-a73d-4cb9-ba2a-370d002cb4e5","triggerCount":1,"tags":[]}