wf08---video-do-dia---eng---@threadsfate-33CbArshzyzjqaGp.json
{"createdAt":"2025-06-22T12:09:43.985Z","updatedAt":"2025-06-28T14:23:01.000Z","id":"33CbArshzyzjqaGp","name":"WF08 - VIDEO DO DIA - ENG - @threadsfate","active":false,"isArchived":false,"nodes":[{"parameters":{"fieldToSplitOut":"name, id","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-660,160],"id":"55be4cbd-6660-4102-97c9-f65eb0981945","name":"Extrair Nome e ID dos Cartões"},{"parameters":{"compare":"selectedFields","fieldsToCompare":"name","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[-440,160],"id":"7c833cf0-a7a2-46d0-81fa-d20e6748bcbb","name":"Eliminar Cartões Duplicados"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-220,160],"id":"993ab7f8-fccc-4e62-93b7-1735dbd26724","name":"Processar Cartões Individualmente"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[0,0],"id":"65cd13ec-dc83-43f5-bbd5-32578493386d","name":"Finalizar Processamento"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-1540,460],"id":"b10bdedb-5699-498d-90e3-ff2e4eb3778e","name":"Detector de Falhas","disabled":true},{"parameters":{"chatId":"-1002628528187","text":"=07 - EDITA VÍDEOS","additionalFields":{"appendAttribution":false,"message_thread_id":3}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1320,460],"id":"99ced1ae-dab7-4e69-a495-3b452ead00e0","name":"Notificação de Erro no Telegram","webhookId":"45a9fc2d-0c0f-4cb6-9c9a-6dbc09bca855","disabled":true},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $json.id }}","mode":""},"updateFields":{"idList":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"EM FILA\"] }}"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[0,200],"id":"19bccab2-f4bf-4f7a-8878-6500556ec7c4","name":"Mover Cartão para \"EM FILA ⌛\"","credentials":{"trelloApi":{"id":"6gLxfTJw8EfH7C8E","name":"Trello account"}}},{"parameters":{"resource":"list","operation":"getCards","id":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"EDITANDO\"] }}","returnAll":true,"additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[-1100,160],"id":"44221575-6d00-4334-89c2-21c8489ce66a","name":"Buscar Cartões em \"EDITANDO ⌛\"","credentials":{"trelloApi":{"id":"6gLxfTJw8EfH7C8E","name":"Trello account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"015448b3-2848-46c1-92d6-cc3f867bbed1","leftValue":"={{ $json.name }}","rightValue":"\"STOP\"","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-880,160],"id":"9208faab-ba0a-4aa5-83ff-7c207ad44a88","name":"Exclui Cards em \"STOP\""},{"parameters":{"assignments":{"assignments":[{"id":"948aa1b6-75d6-4cf6-9cd1-629b97a571d6","name":"EDITANDO","value":"684e99f4d2ade5c74efc240d","type":"string"},{"id":"41fb9577-343d-439a-bacf-65018b3f194c","name":"EM FILA","value":"684e99f4d2ade5c74efc2410","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1320,160],"id":"8f4048ba-f755-44ac-8b26-37dbc783aacb","name":"Edit Fields"},{"parameters":{"rule":{"interval":[{"triggerAtHour":1,"triggerAtMinute":8},{"triggerAtHour":9,"triggerAtMinute":7},{"triggerAtHour":17,"triggerAtMinute":9}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1540,160],"id":"b805a3b2-2360-4b55-b549-36626196ff7b","name":"07:34"}],"connections":{"Extrair Nome e ID dos Cartões":{"main":[[{"node":"Eliminar Cartões Duplicados","type":"main","index":0}]]},"Eliminar Cartões Duplicados":{"main":[[{"node":"Processar Cartões Individualmente","type":"main","index":0}]]},"Processar Cartões Individualmente":{"main":[[{"node":"Finalizar Processamento","type":"main","index":0}],[{"node":"Mover Cartão para \"EM FILA ⌛\"","type":"main","index":0}]]},"Detector de Falhas":{"main":[[{"node":"Notificação de Erro no Telegram","type":"main","index":0}]]},"Mover Cartão para \"EM FILA ⌛\"":{"main":[[{"node":"Processar Cartões Individualmente","type":"main","index":0}]]},"Buscar Cartões em \"EDITANDO ⌛\"":{"main":[[{"node":"Exclui Cards em \"STOP\"","type":"main","index":0}]]},"Exclui Cards em \"STOP\"":{"main":[[{"node":"Extrair Nome e ID dos Cartões","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Buscar Cartões em \"EDITANDO ⌛\"","type":"main","index":0}]]},"07:34":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:07:34":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"aa90bf33-a7a7-4539-a933-2c7e8d1fb9c1","triggerCount":1,"tags":[]}