wf08---video-do-dia---filip---@nextchaptertalesx-V2JPn8h5pTruBtSF.json
{"createdAt":"2025-06-27T20:48:47.266Z","updatedAt":"2025-07-05T10:02:04.000Z","id":"V2JPn8h5pTruBtSF","name":"WF08 - VIDEO DO DIA - FILIP - @NextChapterTalesx","active":false,"isArchived":false,"nodes":[{"parameters":{"fieldToSplitOut":"name, id","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-660,160],"id":"228656e6-e901-48a8-99cc-cbdaab088de4","name":"Extrair Nome e ID dos Cartões"},{"parameters":{"compare":"selectedFields","fieldsToCompare":"name","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[-440,160],"id":"8978dd03-f496-4777-8314-e79b0d2e9c3a","name":"Eliminar Cartões Duplicados"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-220,160],"id":"a90976d2-6899-4ce4-b787-4e265b5928f8","name":"Processar Cartões Individualmente"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[0,0],"id":"9cd9f637-9e39-44dc-931c-f7c4d3886a6d","name":"Finalizar Processamento"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-1540,460],"id":"e968ed08-69fa-4356-a9fe-14a5fb0bec98","name":"Detector de Falhas","disabled":true},{"parameters":{"chatId":"-1002628528187","text":"=07 - EDITA VÍDEOS","additionalFields":{"appendAttribution":false,"message_thread_id":3}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1320,460],"id":"5d018cf6-02cb-4654-ae8a-de995ca926f1","name":"Notificação de Erro no Telegram","webhookId":"050d8af2-7c64-484a-8956-c4ed0072159e","disabled":true},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $json.id }}","mode":""},"updateFields":{"idList":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"EM FILA\"] }}"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[0,200],"id":"199fe252-5335-43fa-98e8-c2ef7ae09e0e","name":"Mover Cartão para \"EM FILA ⌛\"","credentials":{"trelloApi":{"id":"6gLxfTJw8EfH7C8E","name":"Trello account"}}},{"parameters":{"resource":"list","operation":"getCards","id":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"EDITANDO\"] }}","returnAll":true,"additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[-1100,160],"id":"85d7871e-d93e-49f4-975d-286de874aaff","name":"Buscar Cartões em \"EDITANDO ⌛\"","credentials":{"trelloApi":{"id":"6gLxfTJw8EfH7C8E","name":"Trello account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"015448b3-2848-46c1-92d6-cc3f867bbed1","leftValue":"={{ $json.name }}","rightValue":"\"STOP\"","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-880,160],"id":"58f513bb-804d-4865-b001-f47bc2734599","name":"Exclui Cards em \"STOP\""},{"parameters":{"assignments":{"assignments":[{"id":"948aa1b6-75d6-4cf6-9cd1-629b97a571d6","name":"EDITANDO","value":"684e99f4d2ade5c74efc240d","type":"string"},{"id":"41fb9577-343d-439a-bacf-65018b3f194c","name":"EM FILA","value":"684e99f4d2ade5c74efc2410","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1320,160],"id":"692f7e69-29e0-404e-b1c3-cafe58c0ed4e","name":"Edit Fields"},{"parameters":{"rule":{"interval":[{"triggerAtHour":4,"triggerAtMinute":43},{"triggerAtHour":11,"triggerAtMinute":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1540,160],"id":"37091f7e-cfc1-4824-88d0-9edad3f0586b","name":"07:34"}],"connections":{"Extrair Nome e ID dos Cartões":{"main":[[{"node":"Eliminar Cartões Duplicados","type":"main","index":0}]]},"Eliminar Cartões Duplicados":{"main":[[{"node":"Processar Cartões Individualmente","type":"main","index":0}]]},"Processar Cartões Individualmente":{"main":[[{"node":"Finalizar Processamento","type":"main","index":0}],[{"node":"Mover Cartão para \"EM FILA ⌛\"","type":"main","index":0}]]},"Detector de Falhas":{"main":[[{"node":"Notificação de Erro no Telegram","type":"main","index":0}]]},"Mover Cartão para \"EM FILA ⌛\"":{"main":[[{"node":"Processar Cartões Individualmente","type":"main","index":0}]]},"Buscar Cartões em \"EDITANDO ⌛\"":{"main":[[{"node":"Exclui Cards em \"STOP\"","type":"main","index":0}]]},"Exclui Cards em \"STOP\"":{"main":[[{"node":"Extrair Nome e ID dos Cartões","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Buscar Cartões em \"EDITANDO ⌛\"","type":"main","index":0}]]},"07:34":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:07:34":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"8d53a9fc-79b0-4ae1-972d-0859ee1b3733","triggerCount":1,"tags":[]}