wf08---video-do-dia---eng---@threadsfate-manha-2-HCdPHxWE4kjTfMBL.json
{"createdAt":"2025-06-25T03:08:48.329Z","updatedAt":"2025-06-25T03:33:02.000Z","id":"HCdPHxWE4kjTfMBL","name":"WF08 - VIDEO DO DIA - ENG - @threadsfate MANHA 2","active":false,"isArchived":true,"nodes":[{"parameters":{"fieldToSplitOut":"name, id","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-660,160],"id":"91162c20-7a35-48be-928c-5d37698abd7f","name":"Extrair Nome e ID dos Cartões"},{"parameters":{"compare":"selectedFields","fieldsToCompare":"name","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[-440,160],"id":"c7aad14d-b6a2-4557-9720-c7ee419e69b0","name":"Eliminar Cartões Duplicados"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-220,160],"id":"73ddbf84-10a5-4fd4-bf86-3fd5f479f5d6","name":"Processar Cartões Individualmente"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[0,0],"id":"296f2e21-6851-4c42-a056-29a585b33e6a","name":"Finalizar Processamento"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-1540,460],"id":"c110a394-f95d-4379-9f82-d167ed35c5a8","name":"Detector de Falhas","disabled":true},{"parameters":{"chatId":"-1002628528187","text":"=07 - EDITA VÍDEOS","additionalFields":{"appendAttribution":false,"message_thread_id":3}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1320,460],"id":"b376a641-0952-4aff-946e-b59e3c84e282","name":"Notificação de Erro no Telegram","webhookId":"9c8c8976-7a3e-4da9-b33f-d9ea9b0cbbcb","disabled":true},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $json.id }}","mode":""},"updateFields":{"idList":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"EM FILA\"] }}"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[0,200],"id":"b701b142-cdb4-4740-bb36-8b07688d5bf0","name":"Mover Cartão para \"EM FILA ⌛\"","credentials":{"trelloApi":{"id":"6gLxfTJw8EfH7C8E","name":"Trello account"}}},{"parameters":{"resource":"list","operation":"getCards","id":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"EDITANDO\"] }}","returnAll":true,"additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[-1100,160],"id":"1ee36a00-8b53-487e-8615-1cc5342fd4bb","name":"Buscar Cartões em \"EDITANDO ⌛\"","credentials":{"trelloApi":{"id":"6gLxfTJw8EfH7C8E","name":"Trello account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"015448b3-2848-46c1-92d6-cc3f867bbed1","leftValue":"={{ $json.name }}","rightValue":"\"STOP\"","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-880,160],"id":"511fdbf5-0dc1-4fc7-aeb9-10979ede2add","name":"Exclui Cards em \"STOP\""},{"parameters":{"assignments":{"assignments":[{"id":"948aa1b6-75d6-4cf6-9cd1-629b97a571d6","name":"EDITANDO","value":"684e99f4d2ade5c74efc240d","type":"string"},{"id":"41fb9577-343d-439a-bacf-65018b3f194c","name":"EM FILA","value":"684e99f4d2ade5c74efc2410","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1320,160],"id":"d23d0e7c-3e05-496a-917b-8c0d35bf79b7","name":"Edit Fields"},{"parameters":{"rule":{"interval":[{"triggerAtHour":9,"triggerAtMinute":7}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1540,160],"id":"6319b8fb-69a8-4434-8a9a-533df679a009","name":"09:07"}],"connections":{"Extrair Nome e ID dos Cartões":{"main":[[{"node":"Eliminar Cartões Duplicados","type":"main","index":0}]]},"Eliminar Cartões Duplicados":{"main":[[{"node":"Processar Cartões Individualmente","type":"main","index":0}]]},"Processar Cartões Individualmente":{"main":[[{"node":"Finalizar Processamento","type":"main","index":0}],[{"node":"Mover Cartão para \"EM FILA ⌛\"","type":"main","index":0}]]},"Detector de Falhas":{"main":[[{"node":"Notificação de Erro no Telegram","type":"main","index":0}]]},"Mover Cartão para \"EM FILA ⌛\"":{"main":[[{"node":"Processar Cartões Individualmente","type":"main","index":0}]]},"Buscar Cartões em \"EDITANDO ⌛\"":{"main":[[{"node":"Exclui Cards em \"STOP\"","type":"main","index":0}]]},"Exclui Cards em \"STOP\"":{"main":[[{"node":"Extrair Nome e ID dos Cartões","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Buscar Cartões em \"EDITANDO ⌛\"","type":"main","index":0}]]},"09:07":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:07:34":{"recurrenceRules":[]},"node:09:07":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"caecc19b-5464-49cd-8e4f-f1097b925df7","triggerCount":1,"tags":[]}