wf08---video-do-dia---cro---@najboljelegende-MwE5NKL64DjkvhM7.json
{"createdAt":"2025-07-01T21:14:50.680Z","updatedAt":"2025-07-05T10:02:31.000Z","id":"MwE5NKL64DjkvhM7","name":"WF08 - VIDEO DO DIA - CRO - @Najboljelegende","active":false,"isArchived":false,"nodes":[{"parameters":{"fieldToSplitOut":"name, id","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-660,160],"id":"d985994e-c565-4d8c-bf3f-4512d0f33cc6","name":"Extrair Nome e ID dos Cartões"},{"parameters":{"compare":"selectedFields","fieldsToCompare":"name","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[-440,160],"id":"4593c756-6f33-4155-99f0-c6e9a841ae86","name":"Eliminar Cartões Duplicados"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-220,160],"id":"56699d54-b086-475a-b668-c21d7d3f43a7","name":"Processar Cartões Individualmente"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[0,0],"id":"118e0ac8-389a-4f56-b92c-18305d6fcdc2","name":"Finalizar Processamento"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-1540,460],"id":"0991afda-0122-4467-88dc-da8507c6dc8a","name":"Detector de Falhas","disabled":true},{"parameters":{"chatId":"-1002628528187","text":"=07 - EDITA VÍDEOS","additionalFields":{"appendAttribution":false,"message_thread_id":3}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1320,460],"id":"f8368c79-6522-4639-a99f-c62d4d2cda67","name":"Notificação de Erro no Telegram","webhookId":"2b6c0548-4498-4fff-8e2d-347f7a88c33e","disabled":true},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $json.id }}","mode":""},"updateFields":{"idList":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"EM FILA\"] }}"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[0,200],"id":"15187575-2206-4fb5-8221-1a222efe1807","name":"Mover Cartão para \"EM FILA ⌛\"","credentials":{"trelloApi":{"id":"6gLxfTJw8EfH7C8E","name":"Trello account"}}},{"parameters":{"resource":"list","operation":"getCards","id":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"EDITANDO\"] }}","returnAll":true,"additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[-1100,160],"id":"32d11038-cc93-401b-907f-09781ec4026d","name":"Buscar Cartões em \"EDITANDO ⌛\"","credentials":{"trelloApi":{"id":"6gLxfTJw8EfH7C8E","name":"Trello account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"015448b3-2848-46c1-92d6-cc3f867bbed1","leftValue":"={{ $json.name }}","rightValue":"\"STOP\"","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-880,160],"id":"887e4ef4-a32e-4a38-8b4c-f04a8051fe0e","name":"Exclui Cards em \"STOP\""},{"parameters":{"assignments":{"assignments":[{"id":"948aa1b6-75d6-4cf6-9cd1-629b97a571d6","name":"EDITANDO","value":"684e99f4d2ade5c74efc240d","type":"string"},{"id":"41fb9577-343d-439a-bacf-65018b3f194c","name":"EM FILA","value":"684e99f4d2ade5c74efc2410","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1320,160],"id":"8429dc63-771f-4be9-946f-cf0dc64b77c2","name":"Edit Fields"},{"parameters":{"rule":{"interval":[{"triggerAtHour":4,"triggerAtMinute":45},{"triggerAtHour":11,"triggerAtMinute":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1540,160],"id":"5b08a294-e902-4247-a3cb-0d422ed03302","name":"07:34"}],"connections":{"Extrair Nome e ID dos Cartões":{"main":[[{"node":"Eliminar Cartões Duplicados","type":"main","index":0}]]},"Eliminar Cartões Duplicados":{"main":[[{"node":"Processar Cartões Individualmente","type":"main","index":0}]]},"Processar Cartões Individualmente":{"main":[[{"node":"Finalizar Processamento","type":"main","index":0}],[{"node":"Mover Cartão para \"EM FILA ⌛\"","type":"main","index":0}]]},"Detector de Falhas":{"main":[[{"node":"Notificação de Erro no Telegram","type":"main","index":0}]]},"Mover Cartão para \"EM FILA ⌛\"":{"main":[[{"node":"Processar Cartões Individualmente","type":"main","index":0}]]},"Buscar Cartões em \"EDITANDO ⌛\"":{"main":[[{"node":"Exclui Cards em \"STOP\"","type":"main","index":0}]]},"Exclui Cards em \"STOP\"":{"main":[[{"node":"Extrair Nome e ID dos Cartões","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Buscar Cartões em \"EDITANDO ⌛\"","type":"main","index":0}]]},"07:34":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:07:34":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"45bbda4e-ed44-45a9-8e2c-10622bb555e6","triggerCount":1,"tags":[]}