wf11---atualiza-thumb---eng---@blacklegendsoftheapaches-tyR8S8Rzb7BkVrNI.json
{"createdAt":"2025-06-26T15:28:21.648Z","updatedAt":"2025-06-28T18:48:56.000Z","id":"tyR8S8Rzb7BkVrNI","name":"WF11 - ATUALIZA THUMB - ENG - @BlackLegendsoftheApaches","active":false,"isArchived":true,"nodes":[{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2000,140],"id":"6943e409-1090-4fc4-bf83-db507045d2a4","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"resource":"list","operation":"getCards","id":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"THUMB\"] }}","returnAll":true,"additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[-3140,-80],"id":"4cfe319a-95fe-42b5-9b93-8fddfdb69945","name":"Buscar V칤deos Prontos para Miniatura","credentials":{"trelloApi":{"id":"6gLxfTJw8EfH7C8E","name":"Trello account"}}},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-2480,-80],"id":"b2ee11eb-c0e7-42f0-9249-87e4a4256fd3","name":"Selecionar Pr칩ximo V칤deo"},{"parameters":{"promptType":"define","text":"={{ $json.desc }}","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-2040,-80],"id":"016882a5-380f-4842-82f4-3e3a2a444b85","name":"Extrair Dados do V칤deo"},{"parameters":{"jsonSchemaExample":"{\n\"t칤tulo\": \"{{ $('Edit Fields2').item.json.pasta }}\",\n\"pasta\": \"{{ $('Edit Fields2').item.json.pasta }}\",\n\"id\": \"{{ $('Edit Fields2').item.json.audiolongo1 }}\",\n\"url\": \"{{ $('Edit Fields2').item.json.audiolongo2 }}\",\n\"data\": \"{{ $('Edit Fields2').item.json.audiolongo2 }}\",\n\"thumb\": \"{{ $('Edit Fields2').item.json.audiolongo2 }}\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-1880,140],"id":"b6f9832c-31ee-4259-bb91-ca129a76c31c","name":"Formatador de Dados JSON"},{"parameters":{"command":"=npx n8n export:credentials --backup --decrypted --output=/home/node/n8n/backups/credentials/"},"id":"7bb5a07e-4288-450b-9075-5c780a13f518","name":"Exportar Credenciais do YouTube","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-1220,-80]},{"parameters":{"fileSelector":"=/home/node/n8n/backups/credentials/*.json"},"id":"7cacde6e-93d9-4f73-90da-ca5639dcf4b6","name":"Ler Arquivos de Credenciais","type":"n8n-nodes-base.readBinaryFiles","typeVersion":1,"position":[-1000,-80]},{"parameters":{"options":{}},"id":"dc245ae7-4fe8-4d72-9bda-eef36542cd26","name":"Converter JSON para Bin치rio","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-780,-80]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2ba115bc-f294-421f-b1ca-1388605a23e7","leftValue":"={{ $json.name }}","rightValue":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"Canal\"] }}","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-560,-80],"id":"de0ee88f-4338-4779-adc7-447ce517424e","name":"Filtrar Credencial do Canal"},{"parameters":{"url":"=https://drive.google.com/uc?export=download&id={{ $item(\"0\").$node[\"Extrair Dados do V칤deo\"].json[\"output\"][\"thumb\"] }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-340,-80],"id":"56ea41ef-4238-4f67-89b0-ffab116c61b8","name":"Baixar Imagem de Miniatura","retryOnFail":true},{"parameters":{"method":"POST","url":"https://www.googleapis.com/upload/youtube/v3/thumbnails/set","sendQuery":true,"queryParameters":{"parameters":[{"name":"videoId","value":"={{ $item(\"0\").$node[\"Extrair Dados do V칤deo\"].json[\"output\"][\"id\"] }}"},{"name":"uploadType","value":"media"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.data.oauthTokenData.access_token }}"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-120,-80],"id":"5246a95a-e303-4db7-a79a-b5811d5787d5","name":"Enviar Miniatura para YouTube","retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $('Selecionar Pr칩ximo V칤deo').item.json.id }}","mode":"id"},"updateFields":{"desc":"={{ $('Extrair Dados do V칤deo').item.json.output[\"t칤tulo\"] }}\n---\n\n游늰 V칤deo programado para **{{ $item(\"0\").$node[\"Extrair Dados do V칤deo\"].json[\"output\"][\"data\"] }}** 맙 **20h**\n\n\n郊윒잺 [Assista ao v칤deo]( {{ $('Extrair Dados do V칤deo').item.json.output.url }} )\n"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[100,-180],"id":"d66693e3-9d2a-4185-b81f-7dac2f3b02c0","name":"Atualizar Detalhes do Cart칚o","credentials":{"trelloApi":{"id":"6gLxfTJw8EfH7C8E","name":"Trello account"}}},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"updateFields":{"idList":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"FINALIZADOS\"] }}"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[320,-180],"id":"f76beafb-055a-4780-af3c-39cc5d9b93c1","name":"Mover Cart칚o para \"FINALIZADOS 九\"","credentials":{"trelloApi":{"id":"6gLxfTJw8EfH7C8E","name":"Trello account"}}},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-3580,280],"id":"22fb4d96-3fbd-4845-a55b-045d47bee413","name":"Detector de Falhas","disabled":true},{"parameters":{"chatId":"-1002628528187","text":"=11 - ATUALIZA THUMB","additionalFields":{"appendAttribution":false,"message_thread_id":3},"path":"2a173ee6-23fe-4c6e-bea2-136b0ad342a7"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-3360,280],"id":"0cec453f-9fd4-4d7d-ad27-e21579dfea5f","name":"Notifica칞칚o de Erro no Telegram","webhookId":"2a173ee6-23fe-4c6e-bea2-136b0ad342a7","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"015448b3-2848-46c1-92d6-cc3f867bbed1","leftValue":"={{ $json.name }}","rightValue":"\"STOP\"","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2920,-80],"id":"5ad7a4b9-39f6-4c3c-91bd-050f2c22c6ce","name":"Exclui Cards em \"STOP\""},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"updateFields":{"name":"={{ $item(\"0\").$node[\"Selecionar Pr칩ximo V칤deo\"].json[\"name\"] }} \"STOP\""}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[-2260,-80],"id":"ccfc111e-be7b-40c6-8651-46a777010f0f","name":"Atualizar Cart칚o com \"STOP\"","credentials":{"trelloApi":{"id":"6gLxfTJw8EfH7C8E","name":"Trello account"}}},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"updateFields":{"name":"={{ $item(\"0\").$node[\"Selecionar Pr칩ximo V칤deo\"].json[\"name\"] }}"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[540,-180],"id":"452712ce-7821-41e3-9ba3-f71710f40850","name":"Remove \"STOP\"","credentials":{"trelloApi":{"id":"6gLxfTJw8EfH7C8E","name":"Trello account"}}},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $item(\"0\").$node[\"Selecionar Pr칩ximo V칤deo\"].json[\"id\"] }}","mode":"id"},"updateFields":{"name":"={{ $item(\"0\").$node[\"Selecionar Pr칩ximo V칤deo\"].json[\"name\"] }}"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[120,20],"id":"f28921ab-d0d3-4736-ba8f-80907f11c2bf","name":"Remove \"STOP\" 2","credentials":{"trelloApi":{"id":"6gLxfTJw8EfH7C8E","name":"Trello account"}}},{"parameters":{"chatId":"-1002628528187","text":"=11 - ATUALIZA THUMB","additionalFields":{"appendAttribution":false,"message_thread_id":3},"path":"8f0e8655-757a-4c4a-a580-ea6d05cf0ad4"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[320,20],"id":"ad3840be-7b48-4554-9f19-d164f63b0032","name":"Notifica칞칚o de Erro no Telegram 2","webhookId":"8f0e8655-757a-4c4a-a580-ea6d05cf0ad4","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"41fb9577-343d-439a-bacf-65018b3f194c","name":"THUMB","value":"684e99f4d2ade5c74efc2408","type":"string"},{"id":"948aa1b6-75d6-4cf6-9cd1-629b97a571d6","name":"FINALIZADOS","value":"684e99f4d2ade5c74efc240f","type":"string"},{"id":"8ae9c544-1471-41fb-aaa2-22ca9c379bb0","name":"Canal","value":"@threadsfate","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3360,-80],"id":"1acde819-02bf-4fa0-9f60-a8fc14acb34f","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84fe8237-2afc-4558-bd5c-27884d56222e","leftValue":"={{ $json.name }}","rightValue":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"Canal\"] }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2700,-80],"id":"152279b7-944f-42ff-8cd1-0c0a8b133204","name":"Filtra por Nome do Canal"},{"parameters":{"path":"b2710277-02da-4aaf-ab8f-d4e7db42796e"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1440,-80],"id":"97d92cf8-eb0e-4aac-a5a4-14a2475335c4","name":"Wait","webhookId":"b2710277-02da-4aaf-ab8f-d4e7db42796e"},{"parameters":{"resource":"folder","operation":"deleteFolder","folderNoRootId":{"__rl":true,"value":"={{ $('Extrair Dados do V칤deo').item.json.output.pasta }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[760,-180],"id":"e7aafd47-d898-4f8e-aeb8-adb0640ecd71","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"1AdBBODvkqUgEdur","name":"alex.belini.ti@gmail.com"}}},{"parameters":{"workflowId":{"__rl":true,"value":"GDYCpuMEtCIaTerO","mode":"list","cachedResultName":"WF13 - CREDENCIAL - @"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-1660,-80],"id":"79151e22-5304-4577-9734-041f4e062ddf","name":"Execute Workflow1"},{"parameters":{"rule":{"interval":[{"triggerAtHour":1,"triggerAtMinute":35},{"triggerAtHour":9,"triggerAtMinute":34},{"triggerAtHour":17,"triggerAtMinute":36}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-3580,-80],"id":"3e66449d-ae01-4b20-9318-20dc75f95cb8","name":"01:35"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Extrair Dados do V칤deo","type":"ai_languageModel","index":0}]]},"Buscar V칤deos Prontos para Miniatura":{"main":[[{"node":"Exclui Cards em \"STOP\"","type":"main","index":0}]]},"Selecionar Pr칩ximo V칤deo":{"main":[[{"node":"Atualizar Cart칚o com \"STOP\"","type":"main","index":0}]]},"Extrair Dados do V칤deo":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}]]},"Formatador de Dados JSON":{"ai_outputParser":[[{"node":"Extrair Dados do V칤deo","type":"ai_outputParser","index":0}]]},"Exportar Credenciais do YouTube":{"main":[[{"node":"Ler Arquivos de Credenciais","type":"main","index":0}]]},"Ler Arquivos de Credenciais":{"main":[[{"node":"Converter JSON para Bin치rio","type":"main","index":0}]]},"Converter JSON para Bin치rio":{"main":[[{"node":"Filtrar Credencial do Canal","type":"main","index":0}]]},"Filtrar Credencial do Canal":{"main":[[{"node":"Baixar Imagem de Miniatura","type":"main","index":0}]]},"Baixar Imagem de Miniatura":{"main":[[{"node":"Enviar Miniatura para YouTube","type":"main","index":0}]]},"Enviar Miniatura para YouTube":{"main":[[{"node":"Atualizar Detalhes do Cart칚o","type":"main","index":0}],[{"node":"Remove \"STOP\" 2","type":"main","index":0}]]},"Atualizar Detalhes do Cart칚o":{"main":[[{"node":"Mover Cart칚o para \"FINALIZADOS 九\"","type":"main","index":0}]]},"Mover Cart칚o para \"FINALIZADOS 九\"":{"main":[[{"node":"Remove \"STOP\"","type":"main","index":0}]]},"Detector de Falhas":{"main":[[{"node":"Notifica칞칚o de Erro no Telegram","type":"main","index":0}]]},"Exclui Cards em \"STOP\"":{"main":[[{"node":"Filtra por Nome do Canal","type":"main","index":0}]]},"Atualizar Cart칚o com \"STOP\"":{"main":[[{"node":"Extrair Dados do V칤deo","type":"main","index":0}]]},"Remove \"STOP\" 2":{"main":[[{"node":"Notifica칞칚o de Erro no Telegram 2","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Buscar V칤deos Prontos para Miniatura","type":"main","index":0}]]},"Filtra por Nome do Canal":{"main":[[{"node":"Selecionar Pr칩ximo V칤deo","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Exportar Credenciais do YouTube","type":"main","index":0}]]},"Remove \"STOP\"":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Execute Workflow1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"01:35":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:08:02":{"recurrenceRules":[]},"node:01:35":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"db90adc2-5b74-4266-9052-8b0fcdace609","triggerCount":1,"tags":[]}