wf11---atualiza-thumb---eng---@wavestruth-ZFOOi3fVDSxsAblb.json
{"createdAt":"2025-06-25T00:40:12.932Z","updatedAt":"2025-06-27T12:14:43.000Z","id":"ZFOOi3fVDSxsAblb","name":"WF11 - ATUALIZA THUMB - ENG - @wavestruth","active":false,"isArchived":false,"nodes":[{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2000,140],"id":"cda4c9e2-886d-4a89-a2c8-c5ffb6c8d650","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"resource":"list","operation":"getCards","id":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"THUMB\"] }}","returnAll":true,"additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[-3140,-80],"id":"2487ac7e-f946-4e7e-bceb-ec55d77f1ef7","name":"Buscar V칤deos Prontos para Miniatura","credentials":{"trelloApi":{"id":"6gLxfTJw8EfH7C8E","name":"Trello account"}}},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-2480,-80],"id":"36a6def5-3a24-4469-b797-0244d3014e54","name":"Selecionar Pr칩ximo V칤deo"},{"parameters":{"promptType":"define","text":"={{ $json.desc }}","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-2040,-80],"id":"a66f7f62-dd35-4ccf-9926-f6b6cb51479a","name":"Extrair Dados do V칤deo"},{"parameters":{"jsonSchemaExample":"{\n\"t칤tulo\": \"{{ $('Edit Fields2').item.json.pasta }}\",\n\"pasta\": \"{{ $('Edit Fields2').item.json.pasta }}\",\n\"id\": \"{{ $('Edit Fields2').item.json.audiolongo1 }}\",\n\"url\": \"{{ $('Edit Fields2').item.json.audiolongo2 }}\",\n\"data\": \"{{ $('Edit Fields2').item.json.audiolongo2 }}\",\n\"thumb\": \"{{ $('Edit Fields2').item.json.audiolongo2 }}\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-1880,140],"id":"204f6153-642f-4fa5-adcb-2f4fa9f5c686","name":"Formatador de Dados JSON"},{"parameters":{"command":"=npx n8n export:credentials --backup --decrypted --output=/home/node/n8n/backups/credentials/"},"id":"41389f49-e963-4d97-a8ad-9b9eff394dc2","name":"Exportar Credenciais do YouTube","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-1220,-80]},{"parameters":{"fileSelector":"=/home/node/n8n/backups/credentials/*.json"},"id":"76dd7d96-2608-40b4-930b-f9e817a2c31c","name":"Ler Arquivos de Credenciais","type":"n8n-nodes-base.readBinaryFiles","typeVersion":1,"position":[-1000,-80]},{"parameters":{"options":{}},"id":"c1c379f6-2cd0-4db3-aaad-b60d3895d78c","name":"Converter JSON para Bin치rio","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-780,-80]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2ba115bc-f294-421f-b1ca-1388605a23e7","leftValue":"={{ $json.name }}","rightValue":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"Canal\"] }}","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-560,-80],"id":"ddbfe130-06e2-404f-bb78-6cfaaf446f00","name":"Filtrar Credencial do Canal"},{"parameters":{"url":"=https://drive.google.com/uc?export=download&id={{ $item(\"0\").$node[\"Extrair Dados do V칤deo\"].json[\"output\"][\"thumb\"] }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-340,-80],"id":"1a6b5223-60f6-4648-9d78-df375f91f3cb","name":"Baixar Imagem de Miniatura","retryOnFail":true},{"parameters":{"method":"POST","url":"https://www.googleapis.com/upload/youtube/v3/thumbnails/set","sendQuery":true,"queryParameters":{"parameters":[{"name":"videoId","value":"={{ $item(\"0\").$node[\"Extrair Dados do V칤deo\"].json[\"output\"][\"id\"] }}"},{"name":"uploadType","value":"media"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.data.oauthTokenData.access_token }}"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-120,-80],"id":"7fbf9a4b-9a11-44c9-b7d5-9deefd820eb5","name":"Enviar Miniatura para YouTube","retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $('Selecionar Pr칩ximo V칤deo').item.json.id }}","mode":"id"},"updateFields":{"desc":"={{ $('Extrair Dados do V칤deo').item.json.output[\"t칤tulo\"] }}\n---\n\n游늰 V칤deo programado para **{{ $item(\"0\").$node[\"Extrair Dados do V칤deo\"].json[\"output\"][\"data\"] }}** 맙 **20h**\n\n\n郊윒잺 [Assista ao v칤deo]( {{ $('Extrair Dados do V칤deo').item.json.output.url }} )\n"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[100,-180],"id":"cd3e2b4f-2cd7-4780-bcd8-41fcb5315d4e","name":"Atualizar Detalhes do Cart칚o","credentials":{"trelloApi":{"id":"6gLxfTJw8EfH7C8E","name":"Trello account"}}},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"updateFields":{"idList":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"FINALIZADOS\"] }}"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[320,-180],"id":"14c8f47a-01b1-46a2-bd0a-823951066810","name":"Mover Cart칚o para \"FINALIZADOS 九\"","credentials":{"trelloApi":{"id":"6gLxfTJw8EfH7C8E","name":"Trello account"}}},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-3580,280],"id":"2d1c47c6-7d14-4a29-a53b-a037c5b8379b","name":"Detector de Falhas","disabled":true},{"parameters":{"chatId":"-1002628528187","text":"=11 - ATUALIZA THUMB","additionalFields":{"appendAttribution":false,"message_thread_id":3}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-3360,280],"id":"d1dd0120-13f9-46cb-9552-5b230089bf00","name":"Notifica칞칚o de Erro no Telegram","webhookId":"98c50e41-0c69-455c-a4f8-0d99dd8dc5ef","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"015448b3-2848-46c1-92d6-cc3f867bbed1","leftValue":"={{ $json.name }}","rightValue":"\"STOP\"","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2920,-80],"id":"642dfd78-31ce-47dc-b179-b469a5766e8b","name":"Exclui Cards em \"STOP\""},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"updateFields":{"name":"={{ $item(\"0\").$node[\"Selecionar Pr칩ximo V칤deo\"].json[\"name\"] }} \"STOP\""}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[-2260,-80],"id":"c07f0141-af6c-4061-818d-6c5d728e357f","name":"Atualizar Cart칚o com \"STOP\"","credentials":{"trelloApi":{"id":"6gLxfTJw8EfH7C8E","name":"Trello account"}}},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"updateFields":{"name":"={{ $item(\"0\").$node[\"Selecionar Pr칩ximo V칤deo\"].json[\"name\"] }}"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[540,-180],"id":"22c3e149-5e27-471b-852d-1aaf37d2fc39","name":"Remove \"STOP\"","credentials":{"trelloApi":{"id":"6gLxfTJw8EfH7C8E","name":"Trello account"}}},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $item(\"0\").$node[\"Selecionar Pr칩ximo V칤deo\"].json[\"id\"] }}","mode":"id"},"updateFields":{"name":"={{ $item(\"0\").$node[\"Selecionar Pr칩ximo V칤deo\"].json[\"name\"] }}"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[120,20],"id":"d6efbb83-9026-47d7-8857-25e3e7b3b4a1","name":"Remove \"STOP\" 2","credentials":{"trelloApi":{"id":"6gLxfTJw8EfH7C8E","name":"Trello account"}}},{"parameters":{"chatId":"-1002628528187","text":"=11 - ATUALIZA THUMB","additionalFields":{"appendAttribution":false,"message_thread_id":3}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[320,20],"id":"c2f23998-9f3a-4d53-a465-4227ce1d4603","name":"Notifica칞칚o de Erro no Telegram 2","webhookId":"527c9c7b-c168-4110-94eb-3160875fc330","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"41fb9577-343d-439a-bacf-65018b3f194c","name":"THUMB","value":"684e99f4d2ade5c74efc2408","type":"string"},{"id":"948aa1b6-75d6-4cf6-9cd1-629b97a571d6","name":"FINALIZADOS","value":"684e99f4d2ade5c74efc240f","type":"string"},{"id":"8ae9c544-1471-41fb-aaa2-22ca9c379bb0","name":"Canal","value":"@wavestruth","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3360,-80],"id":"60a8b19f-e5ae-496f-8798-46cf7c2318f4","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84fe8237-2afc-4558-bd5c-27884d56222e","leftValue":"={{ $json.name }}","rightValue":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"Canal\"] }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2700,-80],"id":"04b6fbce-7972-4a04-be49-fb658439c6ba","name":"Filtra por Nome do Canal"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1440,-80],"id":"2075c6b1-ad41-4f6d-a8d3-36fd745d1f8f","name":"Wait","webhookId":"1056c002-69c9-4aca-9087-8111b8c27492"},{"parameters":{"workflowId":{"__rl":true,"value":"LploR6htERXZD3j1","mode":"list","cachedResultName":"WF13 - CREDENCIAL - @wavestruth"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-1660,-80],"id":"20740bfd-658e-49e8-a335-d8a85e09d3b6","name":"Execute Workflow1"},{"parameters":{"resource":"folder","operation":"deleteFolder","folderNoRootId":{"__rl":true,"value":"={{ $('Extrair Dados do V칤deo').item.json.output.pasta }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[760,-180],"id":"e2a9aad0-49d5-4a49-878f-053651b995c4","name":"Delete folder","credentials":{"googleDriveOAuth2Api":{"id":"1AdBBODvkqUgEdur","name":"alex.belini.ti@gmail.com"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":3,"triggerAtMinute":10},{"triggerAtHour":11,"triggerAtMinute":9},{"triggerAtHour":17,"triggerAtMinute":36}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-3580,-80],"id":"98055047-ca21-4d90-a7a7-e50c9b22a2d6","name":"03:10"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Extrair Dados do V칤deo","type":"ai_languageModel","index":0}]]},"Buscar V칤deos Prontos para Miniatura":{"main":[[{"node":"Exclui Cards em \"STOP\"","type":"main","index":0}]]},"Selecionar Pr칩ximo V칤deo":{"main":[[{"node":"Atualizar Cart칚o com \"STOP\"","type":"main","index":0}]]},"Extrair Dados do V칤deo":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}]]},"Formatador de Dados JSON":{"ai_outputParser":[[{"node":"Extrair Dados do V칤deo","type":"ai_outputParser","index":0}]]},"Exportar Credenciais do YouTube":{"main":[[{"node":"Ler Arquivos de Credenciais","type":"main","index":0}]]},"Ler Arquivos de Credenciais":{"main":[[{"node":"Converter JSON para Bin치rio","type":"main","index":0}]]},"Converter JSON para Bin치rio":{"main":[[{"node":"Filtrar Credencial do Canal","type":"main","index":0}]]},"Filtrar Credencial do Canal":{"main":[[{"node":"Baixar Imagem de Miniatura","type":"main","index":0}]]},"Baixar Imagem de Miniatura":{"main":[[{"node":"Enviar Miniatura para YouTube","type":"main","index":0}]]},"Enviar Miniatura para YouTube":{"main":[[{"node":"Atualizar Detalhes do Cart칚o","type":"main","index":0}],[{"node":"Remove \"STOP\" 2","type":"main","index":0}]]},"Atualizar Detalhes do Cart칚o":{"main":[[{"node":"Mover Cart칚o para \"FINALIZADOS 九\"","type":"main","index":0}]]},"Mover Cart칚o para \"FINALIZADOS 九\"":{"main":[[{"node":"Remove \"STOP\"","type":"main","index":0}]]},"Detector de Falhas":{"main":[[{"node":"Notifica칞칚o de Erro no Telegram","type":"main","index":0}]]},"Exclui Cards em \"STOP\"":{"main":[[{"node":"Filtra por Nome do Canal","type":"main","index":0}]]},"Atualizar Cart칚o com \"STOP\"":{"main":[[{"node":"Extrair Dados do V칤deo","type":"main","index":0}]]},"Remove \"STOP\" 2":{"main":[[{"node":"Notifica칞칚o de Erro no Telegram 2","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Buscar V칤deos Prontos para Miniatura","type":"main","index":0}]]},"Filtra por Nome do Canal":{"main":[[{"node":"Selecionar Pr칩ximo V칤deo","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Exportar Credenciais do YouTube","type":"main","index":0}]]},"Remove \"STOP\"":{"main":[[{"node":"Delete folder","type":"main","index":0}]]},"Execute Workflow1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"03:10":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:08:02":{"recurrenceRules":[]},"node:03:10":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"6f52e09d-8912-4da4-bfc2-2bd23e82058e","triggerCount":1,"tags":[]}