wf11---atualiza-thumb---eng---@threadsfate-manha-2-JEsuWNf8IH301FBX.json
{"createdAt":"2025-06-25T03:28:03.931Z","updatedAt":"2025-06-25T03:33:23.000Z","id":"JEsuWNf8IH301FBX","name":"WF11 - ATUALIZA THUMB - ENG - @threadsfate MANHA 2","active":false,"isArchived":true,"nodes":[{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2000,140],"id":"0e48efdc-e918-429a-b28a-4399826a1294","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"kJFBDdj4hIWEcn59","name":"OpenAi account"}}},{"parameters":{"resource":"list","operation":"getCards","id":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"THUMB\"] }}","returnAll":true,"additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[-3140,-80],"id":"97660caf-38ef-41fe-bb97-e8f3e650f6e4","name":"Buscar V칤deos Prontos para Miniatura","credentials":{"trelloApi":{"id":"6gLxfTJw8EfH7C8E","name":"Trello account"}}},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-2480,-80],"id":"b5794401-a07e-4f74-90cc-9e4b731f01a0","name":"Selecionar Pr칩ximo V칤deo"},{"parameters":{"promptType":"define","text":"={{ $json.desc }}","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-2040,-80],"id":"a7655361-b168-4fbe-83bf-c8e73345c533","name":"Extrair Dados do V칤deo"},{"parameters":{"jsonSchemaExample":"{\n\"t칤tulo\": \"{{ $('Edit Fields2').item.json.pasta }}\",\n\"pasta\": \"{{ $('Edit Fields2').item.json.pasta }}\",\n\"id\": \"{{ $('Edit Fields2').item.json.audiolongo1 }}\",\n\"url\": \"{{ $('Edit Fields2').item.json.audiolongo2 }}\",\n\"data\": \"{{ $('Edit Fields2').item.json.audiolongo2 }}\",\n\"thumb\": \"{{ $('Edit Fields2').item.json.audiolongo2 }}\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-1880,140],"id":"a2f59791-3399-44b5-91a8-34afab720d8a","name":"Formatador de Dados JSON"},{"parameters":{"command":"=npx n8n export:credentials --backup --decrypted --output=/home/node/n8n/backups/credentials/"},"id":"ed7dcfe7-a8a4-441b-a657-24256293780c","name":"Exportar Credenciais do YouTube","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-1220,-80]},{"parameters":{"fileSelector":"=/home/node/n8n/backups/credentials/*.json"},"id":"c0086a7a-fc8f-4cef-a67d-47c6adc191ff","name":"Ler Arquivos de Credenciais","type":"n8n-nodes-base.readBinaryFiles","typeVersion":1,"position":[-1000,-80]},{"parameters":{"options":{}},"id":"87169088-02ab-4030-81fb-8153f4eb23fa","name":"Converter JSON para Bin치rio","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-780,-80]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2ba115bc-f294-421f-b1ca-1388605a23e7","leftValue":"={{ $json.name }}","rightValue":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"Canal\"] }}","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-560,-80],"id":"f7a965df-67eb-41ea-985b-32517225c67f","name":"Filtrar Credencial do Canal"},{"parameters":{"url":"=https://drive.google.com/uc?export=download&id={{ $item(\"0\").$node[\"Extrair Dados do V칤deo\"].json[\"output\"][\"thumb\"] }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-340,-80],"id":"35b25e2b-bcba-463c-a084-8a87a47f170b","name":"Baixar Imagem de Miniatura","retryOnFail":true},{"parameters":{"method":"POST","url":"https://www.googleapis.com/upload/youtube/v3/thumbnails/set","sendQuery":true,"queryParameters":{"parameters":[{"name":"videoId","value":"={{ $item(\"0\").$node[\"Extrair Dados do V칤deo\"].json[\"output\"][\"id\"] }}"},{"name":"uploadType","value":"media"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.data.oauthTokenData.access_token }}"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-120,-80],"id":"5305ff8f-ed4e-4e92-93a7-c983b8444e19","name":"Enviar Miniatura para YouTube","retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $('Selecionar Pr칩ximo V칤deo').item.json.id }}","mode":"id"},"updateFields":{"desc":"={{ $('Extrair Dados do V칤deo').item.json.output[\"t칤tulo\"] }}\n---\n\n游늰 V칤deo programado para **{{ $item(\"0\").$node[\"Extrair Dados do V칤deo\"].json[\"output\"][\"data\"] }}** 맙 **20h**\n\n\n郊윒잺 [Assista ao v칤deo]( {{ $('Extrair Dados do V칤deo').item.json.output.url }} )\n"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[100,-180],"id":"070b239c-2d6f-43e7-92a0-fd0b09c6fe66","name":"Atualizar Detalhes do Cart칚o","credentials":{"trelloApi":{"id":"6gLxfTJw8EfH7C8E","name":"Trello account"}}},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"updateFields":{"idList":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"FINALIZADOS\"] }}"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[320,-180],"id":"539b6d25-e273-4987-8c91-a46fba380e8e","name":"Mover Cart칚o para \"FINALIZADOS 九\"","credentials":{"trelloApi":{"id":"6gLxfTJw8EfH7C8E","name":"Trello account"}}},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-3580,280],"id":"ff6dfd1f-9523-4fc5-8016-c5980eed10ca","name":"Detector de Falhas","disabled":true},{"parameters":{"chatId":"-1002628528187","text":"=11 - ATUALIZA THUMB","additionalFields":{"appendAttribution":false,"message_thread_id":3}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-3360,280],"id":"a5ca5f7a-bddc-424a-bf68-5c21e797530a","name":"Notifica칞칚o de Erro no Telegram","webhookId":"48ab9441-4694-4f8c-9743-f3503b5991b3","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"015448b3-2848-46c1-92d6-cc3f867bbed1","leftValue":"={{ $json.name }}","rightValue":"\"STOP\"","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2920,-80],"id":"e5439377-44a2-4a9c-a8d4-4ac61e234e26","name":"Exclui Cards em \"STOP\""},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"updateFields":{"name":"={{ $item(\"0\").$node[\"Selecionar Pr칩ximo V칤deo\"].json[\"name\"] }} \"STOP\""}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[-2260,-80],"id":"5b078017-ae3b-44f5-b8b0-90fc3c3fbb9b","name":"Atualizar Cart칚o com \"STOP\"","credentials":{"trelloApi":{"id":"6gLxfTJw8EfH7C8E","name":"Trello account"}}},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"updateFields":{"name":"={{ $item(\"0\").$node[\"Selecionar Pr칩ximo V칤deo\"].json[\"name\"] }}"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[540,-180],"id":"4c39d77b-d2b9-4eba-843f-761d9892b1ed","name":"Remove \"STOP\"","credentials":{"trelloApi":{"id":"6gLxfTJw8EfH7C8E","name":"Trello account"}}},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $item(\"0\").$node[\"Selecionar Pr칩ximo V칤deo\"].json[\"id\"] }}","mode":"id"},"updateFields":{"name":"={{ $item(\"0\").$node[\"Selecionar Pr칩ximo V칤deo\"].json[\"name\"] }}"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[120,20],"id":"544a0f14-04f7-44ff-a16f-756a51dfe25b","name":"Remove \"STOP\" 2","credentials":{"trelloApi":{"id":"6gLxfTJw8EfH7C8E","name":"Trello account"}}},{"parameters":{"chatId":"-1002628528187","text":"=11 - ATUALIZA THUMB","additionalFields":{"appendAttribution":false,"message_thread_id":3}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[320,20],"id":"cf05d682-ab14-44b8-a035-dbec79206079","name":"Notifica칞칚o de Erro no Telegram 2","webhookId":"fb840a1b-2db3-472a-95a2-05932313f637","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"41fb9577-343d-439a-bacf-65018b3f194c","name":"THUMB","value":"684e99f4d2ade5c74efc2408","type":"string"},{"id":"948aa1b6-75d6-4cf6-9cd1-629b97a571d6","name":"FINALIZADOS","value":"684e99f4d2ade5c74efc240f","type":"string"},{"id":"8ae9c544-1471-41fb-aaa2-22ca9c379bb0","name":"Canal","value":"@threadsfate","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3360,-80],"id":"2f772b5b-6d16-40cf-955e-c3f327a78aa5","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84fe8237-2afc-4558-bd5c-27884d56222e","leftValue":"={{ $json.name }}","rightValue":"={{ $item(\"0\").$node[\"Edit Fields\"].json[\"Canal\"] }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2700,-80],"id":"762c20e2-b491-4062-837e-7ca1af69ffc3","name":"Filtra por Nome do Canal"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1440,-80],"id":"6d2e72a3-16d5-428a-929c-dec1d7878076","name":"Wait","webhookId":"5a9910b5-373e-455f-9253-45ab8222eaf8"},{"parameters":{"resource":"folder","operation":"deleteFolder","folderNoRootId":{"__rl":true,"value":"={{ $('Extrair Dados do V칤deo').item.json.output.pasta }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[760,-180],"id":"702805e7-3f0a-44ad-8f69-5b917839452e","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"1AdBBODvkqUgEdur","name":"alex.belini.ti@gmail.com"}}},{"parameters":{"workflowId":{"__rl":true,"value":"GDYCpuMEtCIaTerO","mode":"list","cachedResultName":"WF13 - CREDENCIAL - @"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-1660,-80],"id":"4fb7b5c9-a3c8-402b-a1f2-efc9905d3dbe","name":"Execute Workflow1"},{"parameters":{"rule":{"interval":[{"triggerAtHour":9,"triggerAtMinute":34}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-3580,-80],"id":"939da408-fef0-48f0-8587-19d9697393f4","name":"09:34"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Extrair Dados do V칤deo","type":"ai_languageModel","index":0}]]},"Buscar V칤deos Prontos para Miniatura":{"main":[[{"node":"Exclui Cards em \"STOP\"","type":"main","index":0}]]},"Selecionar Pr칩ximo V칤deo":{"main":[[{"node":"Atualizar Cart칚o com \"STOP\"","type":"main","index":0}]]},"Extrair Dados do V칤deo":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}]]},"Formatador de Dados JSON":{"ai_outputParser":[[{"node":"Extrair Dados do V칤deo","type":"ai_outputParser","index":0}]]},"Exportar Credenciais do YouTube":{"main":[[{"node":"Ler Arquivos de Credenciais","type":"main","index":0}]]},"Ler Arquivos de Credenciais":{"main":[[{"node":"Converter JSON para Bin치rio","type":"main","index":0}]]},"Converter JSON para Bin치rio":{"main":[[{"node":"Filtrar Credencial do Canal","type":"main","index":0}]]},"Filtrar Credencial do Canal":{"main":[[{"node":"Baixar Imagem de Miniatura","type":"main","index":0}]]},"Baixar Imagem de Miniatura":{"main":[[{"node":"Enviar Miniatura para YouTube","type":"main","index":0}]]},"Enviar Miniatura para YouTube":{"main":[[{"node":"Atualizar Detalhes do Cart칚o","type":"main","index":0}],[{"node":"Remove \"STOP\" 2","type":"main","index":0}]]},"Atualizar Detalhes do Cart칚o":{"main":[[{"node":"Mover Cart칚o para \"FINALIZADOS 九\"","type":"main","index":0}]]},"Mover Cart칚o para \"FINALIZADOS 九\"":{"main":[[{"node":"Remove \"STOP\"","type":"main","index":0}]]},"Detector de Falhas":{"main":[[{"node":"Notifica칞칚o de Erro no Telegram","type":"main","index":0}]]},"Exclui Cards em \"STOP\"":{"main":[[{"node":"Filtra por Nome do Canal","type":"main","index":0}]]},"Atualizar Cart칚o com \"STOP\"":{"main":[[{"node":"Extrair Dados do V칤deo","type":"main","index":0}]]},"Remove \"STOP\" 2":{"main":[[{"node":"Notifica칞칚o de Erro no Telegram 2","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Buscar V칤deos Prontos para Miniatura","type":"main","index":0}]]},"Filtra por Nome do Canal":{"main":[[{"node":"Selecionar Pr칩ximo V칤deo","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Exportar Credenciais do YouTube","type":"main","index":0}]]},"Remove \"STOP\"":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Execute Workflow1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"09:34":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:08:02":{"recurrenceRules":[]},"node:09:34":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"3bc7781b-8bc2-43a2-aaf4-6a66aad0ff1d","triggerCount":1,"tags":[]}